@{
    ViewBag.Title = "User Profile";
}



<div class="modal fade my-modal" id="companyProfileDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-content partial-contents" style="background-color:#FFFFFF;border-radius:5px;width:790px;margin-left:-116px;margin-top:-1px;" id="">
                <div class="modal-header" id="">
                    <span class="modal-title " style="font-size:24px;">Update Company Details</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="row" id="">

                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="tab-pane fade in active" data-bind="with: $root.selectedCompany" id="tab-generalinfo">

                            <div class="col-lg-12 form-horizontal">
                                <h4  style="margin-top:20px; display:none;">
                                    Company Info
                                </h4>
                                <div class="col-lg-9" style="margin-top: 12px;">
                                    <div class="col-lg-12">
                                        @*<div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Advertising Contact</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" data-bind="value: advert">
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Company Name</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: CompanyName">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Sales line</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: Tel1">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Sales line 2</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: Tel2">
                                            </div>
                                        </div>
                                  
                                    
                                  
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Sales Email</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: SalesEmail">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Website</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: WebsiteLink">
                                            </div>
                                        </div>
                                   
                                       
                                   

                                        @*<div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">&nbsp;</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="col-md-3" style="text-align:right;margin-left: 10px;">
                                                        <div class="fileUpload btn btn-primary">
                                                            <span>Image / Logo </span>
                                                            
                                                            <input type="file" class="upload" id="image_files" onchange="readPhotoURL(this);" />
                                                        </div>
                                                        <div class="bs-example-tooltips tooltip-float-width" style="    margin-top: 10px;">
                                                            <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="  760 pixels  by 200 pixels" title="  760 pixels  by 200 pixels">
                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        
                                                        <img id="vehicleImage" alt="" style="width: auto;height:120px" data-bind="attr:{src:Logo }" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@


                                        <div class="form-group" style="margin-bottom:25px;" >
                                            <div class="col-lg-4 text-right" >
                                                <label for="txtUploadLogo" class="control-label text-right tooltip-float floatNone defaultThemeTxtClr defaultImgUploadImageBtn">Upload Logo</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="defaultImgUploadImage pull-left" style="width:270px;cursor:pointer;text-align:center">
                                                    <img style="width:auto;max-width:236px; min-height:150px;" data-bind="visible: LogoImageBase64() != '',attr: { src: LogoImageBase64  }" src="/Content/Images/Company_Default.png" onclick="showUploadDialog();" />
                                                    <img style="width:auto;max-width:236px; min-height:150px;" data-bind="visible: Logo() != '' ,attr: { src: Logo()  }" onclick="showUploadDialog();" />
                                                    <div style="height:auto;width:236px; min-height:150px;" onclick="showUploadDialog();" data-bind="visible: Logo() == '' &&   LogoImageBase64() == ''"></div>
                                                    <div style="    padding-top: 10px;    text-align: center;    font-size: 12px;    color: gray;">
                                                        (300 x 150 pixels)
                                                    </div>
                                                </div>
                                                <div class="defaultImgUploadImageBtn pull-left" style="">
                                                    <div class="fileUpload">
                                                        <span>change </span>
                                                        <input type="file" class="upload" id="logo_image_file" data-bind="files: { onLoaded: $root.LogoUrlImageCallback, fileFilter: 'image.*'}" />
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    &nbsp;
                                                </div>
                                            </div>
                                            
                                        </div>



                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Coupon redemption key</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: VoucherSecretKey">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-12 form-horizontal">
                                <h4  style="margin-top:20px; display:none;">
                                    Social Media Handles
                                </h4>

                                <div class="col-lg-9" style="margin-top: 12px;">
                                    <div class="col-lg-12">

                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Social Media Handle</label>
                                            </div>
                                            <div class="col-lg-6">
                                                @*<input type="text" class="form-control" data-bind="value: TwitterHandle() !='undefined' ? TwitterHandle :'( Not Configured )'">*@
                                                <select class="form-control">
                                                    <option style="background-image:url(~/Content/Images/TwitterNew.png)"></option>
                                                    @*<option><img src="~/Content/Images/facebookNew.png" /></option>
                                                    <option><img src="~/Content/Images/LinkedInNew.png" /></option>*@
                                                   
                                                    
                                                </select>
                                                
                                            </div>

                                        </div>



                                        <div class="form-group" style="display:none;">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Facebook Handle</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: FacebookHandle() !='undefined' ? FacebookHandle :'( Not Configured )'">
                                            </div>

                                        </div>



                                        <div class="form-group" style="display:none;">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Instagram Handle</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: InstagramHandle() !='undefined' ? InstagramHandle :'( Not Configured )'">
                                            </div>

                                        </div>



                                        <div class="form-group" style="display:none;">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Pinterest Handle</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: PinterestHandle() !='undefined' ? PinterestHandle :'( Not Configured )'">
                                            </div>

                                        </div>

                                    </div>
                                </div>



                                    </div>
                                    <div class="col-lg-12 form-horizontal">
                                        <h4  style="margin-top:20px; display:none;">
                                            Credit Card Information
                                        </h4>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Stripe Account</label>
                                                </div>
                                                <div class="col-lg-4">
                                                    <input type="text" readonly class="form-control" data-bind="value: StripeCustomerId() !='undefined' ? StripeCustomerId :'( Not Configured )'">
                                                </div>
                                                <div class="col-lg-2">
                                                    <button class="btn  btn-info" id="saveBtn" data-bind="click: $root.chargeCustomer, text:StripeCustomerId() =='undefined' ? 'Configure':'Update' ">Processing...</button>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                            <div class="col-lg-12 form-horizontal">
                                <h4 style="margin-top:20px; display:none;">
                                    Billing Information
                                </h4>
                                <div class="col-lg-9" style="margin-top: 12px;">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Address 1</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: BillingAddressLine1">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Address 2</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: BillingAddressLine2">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Country</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.countries, optionsText: 'CountryName', optionsValue: 'CountryId', optionsCaption: '&lt;' + 'Select Country'+ '&gt;' , value:BillingCountryId,event:{ change: $root.getCitiesByCountryId}"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">City</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.cities, optionsText: 'CityName', optionsValue: 'CityId', optionsCaption: '&lt;' + 'Select City'+ '&gt;' , value:BillingCityId"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">State</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: BillingState">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Zip Code</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: BillingZipCode">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Billing Phone</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: BillingPhone">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float">Billing Email</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: BillingEmail">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>


                                </div>


                                <!-- ko stopBinding: true -->
                                @Html.Partial("~/Areas/Common/Views/Shared/_StripeChargeCustomerDialog.cshtml")

                                <!-- /ko -->
                                <!-- ko stopBinding: true -->
                                @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
                                <!-- /ko -->
                            </div>
                </div>



                <div class="modal-footer" style="padding-left:0px;padding-right:0px;padding-bottom:5px;">

                    <div style="padding-right:8px;">
                        <button class="btn  btn-info" id="saveBtn" data-bind="click:$root.onUpdateProfile , enable: $root.hasChangesOnProfile, css: { 'btn-warning': $root.hasChangesOnProfile }">Save</button>
                        <a class="btn btn-default" aria-hidden="true" data-bind="click: $root.onCloseUserProfileDialog" data-dismiss="modal" id="" style="float: right;margin-bottom: 10px;visibility:visible; ">Close</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        require(["common/userProfile.view", "common/confirmation.view", "common/stripeChargeCustomer.view"]);

    </script>

    <script>
        function getParameter(url, param) {
            if (url.indexOf('?') == -1)
                return 1;
            url = url.split('?');
            var pattern = new RegExp(param + '=(.*?)(;|&|$)', 'gi');
            return url[1].split(pattern)[1];
        }
    </script>
}
