<div id="dialog-confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogConfirmModalLabel" aria-hidden="true" style="z-index: 100000">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="dismiss" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel" data-bind="text: headingText">Confirmation</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <div>
                            <span data-bind="text: messageText"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="dialog-confirm-yes" class="btn btn-primary"  data-bind="click: proceed,text: yesBtnText" style="margin-left: 0px;"></button>
                <button type="button" id="dialog-confirm-no" class="btn btn-default" data-bind="click: $root.cancel,text: noBtnText,visible: IsCancelVisible"></button>
            </div>
        </div>
    </div>
</div>
<div id="dialog-ok" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogOkodalLabel" aria-hidden="true" style="z-index: 100000">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="dismiss" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel" data-bind="text: headingText">Alert</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <div>
                            <span data-bind="text: messageText"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="dialog-confirm-yes" class="btn btn-primary" data-bind="click: proceed" style="margin-left: 0px;">Ok</button>
                <button type="button" id="dialog-confirm-no" class="btn btn-default" data-bind="click: $root.Warningcancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-okLicensing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogOkModalLabel" aria-hidden="true" style="z-index: 100000">
    <div class="modal-dialog">
        <div class="modal-content" style="border: 3px solid #2c3e50 !important;">
            <div class=" modal-header" style="background-color: #2c3e50; color: #ffffff">
            <button type="button" class="close" id="dismiss" data-dismiss="modal"><span aria-hidden="true" style="color: #ffffff">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Alert!</h4>
        </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <h4 style="margin-top: 10px; text-align: center; color: red" data-bind="text: messageText"></h4>
                        <div class="pricing-package ">
                            <h2 style="text-align: center">What's included in all plans</h2>
                            <ul class="package-features" style="margin-left: 10%">
                                <li class="has-feature">Multiple live Private or Public Store front.</li>
                                <li class="has-feature">Full access to order management and download artwork.</li>
                            </ul>
                            
                        </div>
                        <h4 style="margin-top: 10px; text-align: center">Starting from USD $99 per month.</h4>
                        <div class="row" style="text-align: center">
                            <button type="button" id="dialog-confirm-yes" class="btn btn-danger" data-bind="click: $root.proceed" style="background-color: #fc813b; margin-top: 10px;">UPGRADE PLAN</button>
                        </div>
                        <h4 style="margin-top: 20px; text-align: center">Downgrade or cancel at any time.</h4>
                    </form>
                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" id="dialog-confirm-yes" class="btn btn-primary" data-bind="click: proceed" style="margin-left: 0;">Ok</button>
                <button type="button" id="dialog-confirm-no" class="btn btn-default" data-bind="click: $root.Warningcancel">Cancel</button>
            </div>*@
        </div>
    </div>
</div>


<div id="dialog-okUserActionLog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogOkModalLabel" aria-hidden="true" style="z-index: 100000">
    <div class="modal-dialog">
        <div class="modal-content" style="border: 3px solid #2c3e50 !important;">
            <div class=" modal-header" style="background-color: #2c3e50; color: #ffffff">
                <button type="button" class="close" id="dismiss" data-dismiss="modal"><span aria-hidden="true" style="color: #ffffff">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Alert!</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <div>
                            <span>Please enter reason to delete store</span>
                         <br />
                            <br />
                           
                            <textarea required class="form-control textAreaHeight" style="height:130px !important;" id="txtareaProdSpec" rows="3" data-bind="value: comment"></textarea>
                            <br />
                            <br />
                            <span>Please enter number below</span>
                            <br />
                            <br />
                            <input type="text" class="form-control" id="txtCompanyName" placeholder="Enter Number" style="width:130px;" data-bind="value:UserRandomNum">
                           
                            <span data-bind="text: RandomNumber" style="color:red;font-size: 19px;font-weight: bold;margin-left: 26px;"></span>


                         </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="dialog-confirm-yes" class="btn btn-primary" data-bind="click: proceedAction" style="margin-left: 0;">Submit</button>
                    
              </div>
        </div>
    </div>
</div>