


    <div class="modal fade my-modal" id="phraseLibraryDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-content partial-contents" style="background-color:#FFFFFF;border-radius:5px;width:600px;" id="phraseLibraryDialog">
                <div class="modal-header" id="child-dialog-title">
                    <span class="modal-title" style="font-size:12pt;">Edit Phrase Library</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-12 clearfix">

                        <h3 style="border-bottom:none!important;">Configure text for titles, description and labels </h3>
                        <div>
                            <div class="form-group col-lg-12" style="margin-bottom:0px;">
                                <div class="col-lg-7" style="margin-top:0px;margin-bottom:0px; padding-left:0px;">
                                    <p class="group-header-description">The phrase library is used to define language terminology for use on estimates and reports</p>

                                </div>
                                <div class="col-lg-5" style="padding-right:0px;">
                                    <div data-bind="visible:$root.IsDisplayAddPhBtn()" class=" filter-block pull-right" title="Add Phrase">

                                        <button data-bind=" click:$root.addPhrase,visible:$root.isOpenFromPhraseLibrary" class="btn btn-primary" style="margin-right:5px;border-radius:5px;">
                                            Add New Phrase
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5" style="margin-top:20px;padding-left:0px;">

                            <div class="table-responsive">
                                <table class="table" id="phrase-section-table">
                                    <thead>
                                        <tr>
                                            <th style="border-bottom-width: 0px;padding-bottom: 3px;">
                                                <span id="phrase-header-phrase">SECTION</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border:none;padding-top:7px;">
                                                <div class="category" id="nestable2" style="margin-top: 0px; border-top-width: 1px;">
                                                    <ol class="dd-list" id="child-phrase">
                                                        <!-- ko template: { name: 'sectionIemTemplate', foreach: $root.sections }-->
                                                        <!-- /ko -->
                                                    </ol>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <br />

                                <div style="max-height: 500px !important;overflow-y: auto">
                                    <table class="table table-striped table-hover" id="phrase-records">
                                        <thead>
                                            <tr>
                                                <th class="col-lg-9"><span id="phrase-header-phrase">Phrases</span></th>
                                                <th class="col-lg-3"><span></span></th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody id="tbody-phrase-records">

                                            <!-- ko template: { name: $root.templateToUse , foreach: $root.Phrases } -->
                                            <!-- /ko -->
                                        </tbody>
                                    </table>
                                    <h4 data-bind="visible:$root.IsPharsesAvailiable()">There are no phrases in this Section!</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding-left:0px;padding-right:0px;padding-bottom:5px;">
                    <hr style="margin-bottom:15px;margin-top:0px;" />
                    <div style="padding-right:8px;">
                        <button type="button" class="btn btn-primary" data-bind="click: $root.savePhraseData">Save</button>
                        <a class="btn btn-default" aria-hidden="true" data-bind="click: $root.PhraseLibraryPopUpClose" data-dismiss="modal" id="phrase-libraryCloseButton" style="float: right;margin-bottom: 10px;visibility:visible; ">Close</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script id="sectionIemTemplate" type="text/html">
    <li class="dd-item dd-item-list" data-id="15">
        <div class="dd-handle-list" data-bind="click: $root.onSelectSection" style="cursor: pointer"><i class="fa fa-chevron-circle-right"></i></div>
        <div class="dd-handle" id="SectionName" data-bind="click: $root.onSelectSection, css: { selectedRow: $root.selectedSection() === $data }" style="cursor: pointer">
            <span id="SectionNameSpan" data-bind="text:name"></span>
            <div class="nested-links">
                <a href="#" class="nested-link" title="Edit Category"></a>
            </div>
        </div>
        
        @*<ol class="dd-list" data-bind="visible:isExpanded()">
            <!-- ko template: { name: 'childSectionIemTemplate', foreach: phrasesFields }-->
            <!-- /ko -->
        </ol>*@
    </li>
</script>

<script id="childSectionIemTemplate" type="text/html">
    <li class="dd-item dd-item-list" data-bind="click: $root.selectPhraseField, css: { selectedRow: $root.selectedPhraseField() === $data }" data-id="16" style="cursor:pointer;">
        <div class="dd-handle-list"><i class="fa fa-minus-square"></i></div>
        <div class="dd-handle txt-blue-hover" data-bind="click: $root.selectPhraseField, css: { selectedRow: $root.selectedPhraseField() === $data }">
            <span data-bind="text: fieldName"></span>
            <div class="nested-links">
            </div>
        </div>
    </li>
</script>

<script id="phraseEditItemTemplate" type="text/html">
    <tr class="phrase-rows" data-bind="visible:!IsDeleted()">
        <td>
            <input type="text" class="form-control" placeholder="Enter Phrase String" data-bind="value:phraseText">
        </td>
        <td class="text-right" style="width:50px;">
            <a href="#" class="table-link danger" data-bind="click:$root.deletePhrase">
                <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </td>
    </tr>
</script>

<script id="phraseItemTemplate" type="text/html">
    <tr class="phraseHover">
        @*<td style="width:50px;" data-bind="click :$root.selectPhrase">
                <span>&nbsp;&nbsp;</span>
            </td>*@
        <td class="col-lg-6">
            <input type="text" class="form-control" placeholder="Enter Phrase Name" data-bind="value:phraseTextv">
        </td>
        <td class="text-right col-lg-5">
            <!-- ko template: { name: 'phraseActionTemplateDelete' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
@* Action Template Delete*@
<script id="phraseActionTemplateDelete" type="text/html">

    <div class="delPhrase">
        <a href="#" class="table-link danger" data-bind="click:$root.deletePhrase">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <button class="btn btn-success" data-bind="click :$root.selectPhrase">Apply</button>
    </div>


    @*<td style="width:50px;" >

        </td>*@
</script>

@* Action Template Apply*@
<script id="phraseActionTemplateDelete" type="text/html">
    <a href="#" class="table-link danger" data-bind="click:$root.deletePhrase">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</script>


 

<script>
   
    $(document).ready(function () {
        $("#phrase-null-span").hide();

        setTimeout(function () {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            $.unblockUI(spinner);
        }, 1000);



        page = Request.QueryString("status").toString();

        if (page != null) {
            if (page == 'phraselibrary') {

                $(".partial-contents").addClass("main-box-body clearfix");
                $(".partial-contents").removeClass("modal-content");

                $("#child-dialog-title").hide();

                $("#phrase-libraryCloseButton").css("visibility", "hidden");
            }
            else if (page == 'null') {


                $(".partial-contents").removeClass("main-box-body clearfix");
                $(".partial-contents").addClass("modal-content");

                $("#child-dialog-title").show();

                $("#phrase-libraryCloseButton").css("visibility", "visible");


            }
        }
    });

    function visibleDelApply() {
        $(this).children().next().children().css("visibility", "visible");
    }
    function HideDelApply() {
        $(this).children().next().children().css("visibility", "hidden");
    }
</script>
















