

<div class="modal fade" id="phraseLibraryDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; max-height: 700px; overflow-y: auto;">
    <div style="width:796px;" class="modal-dialog">
        @Html.Partial("~/Areas/Common/Views/Shared/_PhraseLibrary.cshtml")
    </div>

</div>






