<div id="stripeChargeCustomerDialog">
    <form>
        <script src="https://checkout.stripe.com/checkout.js">
        </script>
        <button id="stripeChargeCustomerButton" style="display: none">Pay</button>
    </form>
</div>

