@{
    ViewBag.Title = "User Profile";
}



<div class="modal fade" id="userProfileDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; max-height: 700px; overflow-y: auto;">
    <div style="width:796px;" class="modal-dialog">


        <div class="row" id="userProfileBinding">
            <div class="col-lg-12 col-md-8 col-sm-8" style="padding-bottom: 10px;">
                <div class="clearfix ">
                    <div class="col-xs-12" style="text-align: right; padding-right:0;margin-bottom:10px;">
                        <button class="btn  btn-info" id="saveBtn" data-bind="click:$root.onUpdateProfile , enable: $root.hasChangesOnProfile, css: { 'btn-warning': $root.hasChangesOnProfile }">Update</button>
                        <!-- ko if: $root.isUserEdit() -->
                        <button class="btn  btn-default" id="saveBtn" data-bind="click:$root.onCloseUserEdit">Close</button>
                        <!-- /ko -->

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="main-box clearfix" id="tabsHeader">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active" id="generalInfoTab"><a href="#tab-generalinfo" data-toggle="tab">User Profile</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" data-bind="with: $root.selectedUser" id="tab-generalinfo">
                                <div class="col-lg-12 form-horizontal">
                                    <h3 class="group-header" style="margin-top:20px;">
                                        Personal Info
                                    </h3>
                                    <div class="col-lg-9" style="margin-top: 12px;">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Full Name</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" data-bind="value: fullName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Gender</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control" data-bind="options: $root.genderList, optionsText: 'name', optionsValue: 'id', optionsCaption: '&lt;' + 'Select Gender'+ '&gt;' , value:gender"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">DOB</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" data-bind="datepicker:dob, datepickerOptions: { yearRange: '-60:+0' }">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Education</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control" data-bind="options: $root.educations, optionsText: 'EducationName', optionsValue: 'EducationId', optionsCaption:  'Select ...' , value:educationId"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Job Title</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" data-bind="value: jobTitle">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Profession</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control" data-bind="options: $root.industries, optionsText: 'IndusteryName', optionsValue: 'IndusteryId', optionsCaption:  'Select ...', value:industeryId"></select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-12" data-bind="visible: $root.isChangePasswordVisible">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Current Password</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="password" class="form-control" data-bind="value: $root.OldPassword">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" data-bind="visible: $root.isChangePasswordVisible">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">New Password</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="password" class="form-control" data-bind="value: Password, validationTooltip: Password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" data-bind="visible: $root.isChangePasswordVisible">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Confirm Password</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="password" class="form-control" data-bind="value: ConfirmPassword, validationTooltip: ConfirmPassword">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-9"></div>
                                        <div class="col-lg-3">
                                            <button class="btn btn-info" style="float:right;" id="saveBtn" data-bind="click: $root.ChangePassword">Change Password</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-horizontal changepasswordTop">
                                    <h3 class="group-header" style="margin-top:20px;">
                                        Contact Info
                                    </h3>

                                    <div class="col-lg-9" style="margin-top: 12px;">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Email</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" disabled class="form-control" data-bind="value: email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Phone 1</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" data-bind="value: phone1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Phone 2</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" data-bind="value: phone2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Contact Notes</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <textarea class="form-control" data-bind="text: contactNotes"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ko if: $root.isUserEdit() -->
                                        <div class="col-lg-12">

                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">

                                                    <label class="control-label text-right tooltip-float">Role</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <select class="form-control" data-bind="options: $root.roles, optionsText: 'RoleName', optionsValue: 'RoleId', value:RoleId"></select>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </div>


                            </div>
                            @Html.Partial("~/Areas/User/Views/Shared/_ChangePassword.cshtml")
                        </div>
                    </div>
                </div>
                <!-- ko stopBinding: true -->
                @Html.Partial("~/Areas/Common/Views/Shared/_StripeChargeCustomerDialog.cshtml")

                <!-- /ko -->
            </div>
        </div>



        <!-- ko stopBinding: true -->
        @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
        <!-- /ko -->
        @section Scripts{
            <script type="text/javascript">
                require(["common/userProfile.view", "common/confirmation.view", "common/stripeChargeCustomer.view"]);

            </script>

            <script>
                function getParameter(url, param) {
                    if (url.indexOf('?') == -1)
                        return 1;
                    url = url.split('?');
                    var pattern = new RegExp(param + '=(.*?)(;|&|$)', 'gi');
                    return url[1].split(pattern)[1];
                }
            </script>
        }
    </div>

</div>