@{
    ViewBag.Title = "Survey Questions For Approval";
}

<div class="row" id="SurveyQuestionBindingSpot">
    <div class="col-lg-12" data-bind="visible: !$root.isEditorVisible()">
        <div class="row">
            <div class="col-lg-12">
                @*<ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">&nbsp;</a></li>
                </ol>*@
                <div class="clearfix">
                    <h1 class="pull-left" style="padding-left:7px;font-size:24px;color:#fff">Polls for approval</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="margin-left:6px;padding-right:37px;">
                <div class=" main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="surveyQuestionLVTable">
                            <thead>
                                <tr>
                                    <th class="col-lg-3 th-pointer"><span id="1">Question<span class="icon-up"></span></span></th>

                                    <th class="col-lg-2 th-pointer"><span id="4">SUBMITTED BY<span></span></span></th>
                                    <th class="col-lg-2 th-pointer"><span id="5">Submission Date<span></span></span></th>
                                    <th class="col-lg-1">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko template: { name: 'ServeyQuestionTemplate' , foreach: questions } -->
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                <div id="pagerDivForStore" class="pull-right">
                    <!-- ko with: pager -->
                    @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                    <!-- /ko -->
                </div>
            </div>
        </div>


        <script id="ServeyQuestionTemplate" type="text/html">
            <tr style="cursor: pointer" data-bind="click:$root.onEditQuestion">
                <td>
                    <p data-bind="text:question"></p>
                </td>

              
                <td>
                    <p data-bind="text:Company"></p>
                </td>
                <td>
                    <p data-bind="dateString:submissionDate,datePattern: 'DD/MM/YYYY'"></p>
                </td>
                <td>
                    <a class="table-link" style="float: right">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse" data-bind="click:$root.onEditQuestion"></i>
                        </span>
                    </a>
                </td>
            </tr>
        </script>
    </div>


    <div data-bind="visible: $root.isEditorVisible()" style="display: none">
        <div class="col-lg-12">

            <div class="row" id="user-profile">
                <div class="col-lg-12 col-md-8 col-sm-8" style="padding-bottom: 10px;">
                    <div class="clearfix ">
                        <div class="col-xs-12" style="text-align: right; padding-right:23px;margin-bottom:1px; margin-top:10px;">

                            <div style="float:right;margin-top:-9px;"><img data-bind="click: $root.closeEditDialog" src="/Content/Images/Close_Button.png" style="width:20px;height:20px;float:right;cursor:pointer;"></div>
                            @*<button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeEditDialog">Close</button>*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:8px;padding-right:41px;">
                    <div class="main-box clearfix" id="tabsHeader">
                        <div class="tabs-wrapper profile-tabs">
                            <ul class="nav nav-tabs" style="display:none;">
                                <li class="active" id="generalInfoTab"><a href="#tab-generalinfo" data-toggle="tab">General Info</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-generalinfo">
                                    <div class="col-lg-12 form-horizontal">
                                        <h3 class="group-header" style="margin-top:20px;">
                                            Approve - Reject Polls
                                        </h3>
                                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom:20px" data-bind="with:$root.selectedCompany">
                                            <div style="padding-left:0px;padding-right:0px;padding-bottom:5px; min-height: 318.90px;background-color:#f9f9f9;">
                                                <div class="col-lg-4 text-left">
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4">
                                                            <label class="control-label" style="padding-top:10px;padding-left:10px;font-weight:bold">Account Profile</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Title:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:FirstName" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">E-mail address:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:Email" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Gender:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:Gender==1?'Male':'Female'" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right" style="font-size:11px">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Mobile no:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:Mobile" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right" style="font-size:11px">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Date of birth:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="dateString:DateOfBirth,datePattern: 'DD/MM/YYYY'" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;display:none">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">ID no:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:PassportNumber" style="font-size:small"></label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-lg-4 text-left">
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:10px;padding-left:10px;font-size:11px;font-size:11px;color:lightgray">Business Name:</label>
                                                        </div>
                                                        <div class="col-lg-8" style="padding-top:10px;">
                                                            <label data-bind="text:CompanyName" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;font-size:11px;color:lightgray">Website:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <a data-bind="text:WebsiteLink,attr: { href: WebsiteLink }" target="_blank" style="font-size:11px"></a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;font-size:11px;color:lightgray">Sale phone no:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:SalesPhone" style="font-size:small"></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-bottom:0px;display:none">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Company Type:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:$root.company()" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;display:none">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;font-size:11px;font-size:11px;color:lightgray">Company Reg No:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:CompanyRegistrationNo" style="font-size: small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Sales Tex No:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:VatNumber" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">B.Start Date:</label>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label data-bind="dateString:BusinessStartDate,datePattern: 'DD/MM/YYYY'" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Credit Card:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:StripeCustomerId==null ?'No':'Yes'" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 text-left">
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-6">
                                                            <label class="control-label" style="padding-top:10px;padding-left:10px;font-weight:bold">Billing Address</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing Address 1:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:BillingAddressLine1" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing City:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:BillingCity" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing State:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:BillingState" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing Country:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label style="font-size:small" data-bind="text:BillingCountryName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing E-mail:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:BillingEmail" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing phone no:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:BillingPhone" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label style="font-size:11px;color:lightgray">Logo:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <img id="vehicleImage" alt="" style="width:60%;height:auto" data-bind="attr:{src:Logo!=null && Logo.startsWith('http') ? Logo : '/' + Logo }" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-bind="with: $root.selectedQuestion">
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float defaultImgUploadImageBtn">Poll Question</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" readonly class="form-control" data-bind="value:question">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-9" style="display:none">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float defaultImgUploadImageBtn">Survey Answer Required</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" readonly class="form-control" data-bind="value: AnswerNeeded">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-9" style="display:none">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float defaultImgUploadImageBtn">Amount to be charged</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" readonly class="form-control" data-bind="value: AmountCharged">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-9" style="display:none">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float defaultImgUploadImageBtn">Projected Reach</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" readonly class="form-control" data-bind="value: ProjectedReach">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-9" style="display:none">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float defaultImgUploadImageBtn">Submitted By</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label class="form-control" data-bind="text: Company">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float defaultImgUploadImageBtn">Submission Date</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label class="form-control" data-bind="dateString:submissionDate,datePattern: 'DD/MM/YYYY'">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-9 marginBottom12">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float defaultImgUploadImageBtn">Images</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img id="vehicleImage" alt="" style="width: 75%;height:auto" data-bind="attr:{src:leftImage }" />
                                                        <h5>Card 1<span></span></h5>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img id="vehicleImage" alt="" style="width: 75%;height:auto" data-bind="attr:{src:rightImage }" />
                                                        <h5>Card 2<span></span></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div style="padding-left:0px;padding-right:0px;padding-bottom:5px;padding:15px; min-height: 128.90px;background-color:#f9f9f9">
                                                    <div class="col-lg-9" data-bind="visible:!isApproved()">
                                                        <div class="form-group">
                                                            <div class="col-lg-4 text-right">
                                                                <label class="control-label text-right tooltip-float defaultImgUploadImageBtn">Rejection Reason</label>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <textarea placeholder="Enter rejection reason " style="resize: none" class="form-control" data-bind="value: rejectionReason"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9" data-bind="visible:!isApproved()">
                                                        <div class="form-group">
                                                            <div class="col-lg-4 text-right">
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <button class="btn btn-success" id="saveBtn" data-bind="click:$root.onApproveQuestion,visible:rejectionReason()==null ||rejectionReason()==''">Approve</button>
                                                                <button class="btn " id="saveBtn" data-bind="click:$root.onRejectQuestion, enable: $root.hasChangesOnQuestion, css: { 'btn-danger': $root.hasChangesOnQuestion }">Reject</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section Scripts{
    <script type="text/javascript">
        require(["FranchiseDashboard/surveyQuestionApp.view", "common/confirmation.view", "common/stripeChargeCustomer.view"]);
        $("#btnPollsApprov").css("background-color", "#34b9c7");
    </script>

}
