<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.1.1" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.Client.UI" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.4.13329" targetFramework="net40" />
  <package id="FluentScheduler" version="3.1.42" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="LinqToTwitter" version="2.1.11" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
  <package id="recaptcha" version="1.0.5.0" targetFramework="net40" />
  <package id="toastr" version="2.0.1" targetFramework="net40" />
  <package id="TwitterOAuth" version="0.50.25.1928" targetFramework="net40" />
</packages>