#inventoryCategoriesBinding #addInventory {
  margin-top: 25px;
}
#inventoryCategoriesBinding #filter {
  height: 62px !important;
}
#inventoryCategoriesBinding #topArea {
  margin-bottom: -11px;
}
#inventoryCategoriesBinding #detailArea {
  margin-top: 3px;
}
