/*Import Other Less Files*/
#IsLInkedQuestionParah {
  font-weight: bolder;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
}
#hasLinkedtableHeader {
  width: 9%;
}
.marginBottom12 {
  margin-bottom: 12px;
}
.lang_newcnt {
  position: relative;
}
.count_city_newcnt {
  position: relative;
}
.lang_del {
  position: absolute;
  top: 7px;
  right: 12px;
  cursor: pointer;
}
.coun_in_ex_cnt {
  width: 30%;
  float: left;
  border: 1px solid #e7ebee !important;
  border-right: 0px !important;
}
.count_token_opt_cnt {
  float: left;
  width: 69%;
  border: 1px solid #e7ebee !important;
  border-left: 0px !important;
}
#searchCampaignLocations {
  width: 280px!important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: none;
  height: 33px;
  margin-left: 2px;
}
#searchLanguages {
  width: 280px!important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: none;
  height: 33px;
  margin-left: 2px;
}
#in_ex_count_opt {
  border: none !important;
}
div.Tokenize ul.TokensContainer,
div.Tokenize ul.Dropdown {
  border: none !important;
}
.sep-line {
  width: 1px;
  float: left;
  margin-top: 4px;
  border-left: 1px solid #e7ebee;
  height: 25px;
}
#land_edt {
  border: 1px solid #e7ebee;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  height: 38px;
}
.lang_nr_box {
  cursor: default !important;
  background-color: #fff !important;
  border: none;
}
#lang_token_cnt {
  border: 1px solid #e7ebee;
  border-bottom: none;
}
#coun_token_cnt {
  border: 1px solid #e7ebee;
  border-bottom: none;
}
#count_edt {
  border: 1px solid #e7ebee;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.lang_delSurvey {
  position: relative;
  cursor: pointer;
}
.langIncludeExclText {
  width: 36%;
  display: inline;
  float: left;
}
.areaCity {
  width: 60%;
  display: inline;
  float: left;
}
.count_city_newcnt {
  width: 100%;
  display: block;
  clear: both;
}
.locRadius {
  width: 165px;
  height: 33px;
  display: inline-block;
  margin: 5px 0px;
}
.locVisibility,
.locMap {
  display: none;
}
.LanguageLbl {
  width: 90%;
  display: inline;
  float: left;
}
.tt-dropdown-menu {
  width: 286px !important;
}
.defaultImgUploadImage {
  width: 260px;
  float: left;
  text-align: center;
}
.defaultImgUploadImageBtn {
  margin-top: 15px;
  text-align: center;
  padding-right: 0px;
  float: left;
}
.mright60 {
  margin-right: 60px;
}
.ad_h4 {
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid #f0f0f0;
  padding-left: 10px;
}
.range_dash {
  width: 10px;
  font-size: 20px;
  padding: 0px 17px 0px 10px;
}
._1gab {
  max-height: 300px;
  overflow: hidden;
  -webkit-transition: max-height 1s ease;
}
._1g9- {
  display: inline-block;
}
.lfloat {
  float: left;
}
._1g9_ {
  display: inline-block;
  position: relative;
  width: 110px;
}
.sp_NQc91B1T0mb.sx_f05cb6 {
  width: 5px;
  height: 39px;
}
i.img {
  -ms-high-contrast-adjust: none;
  _overflow: hidden;
}
._1ga0 {
  height: 39px;
  left: 54px;
  position: absolute;
  top: 6px;
  -webkit-transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform ease 0.7s;
  width: 4px;
}
.sp_NQc91B1T0mb {
  background-image: url('/Content/Images/pin.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
}
.sp_NQc91B1T0mb.sx_0eeab0 {
  width: 89px;
  height: 45px;
  /*background-position: -601px -667px;*/
}
._1ga1 {
  height: 44px;
  margin-left: 12px;
  width: 87px;
}
.sp_NQc91B1T0mb3 {
  background-image: url('/Content/Images/meter.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
}
._1ga2,
._1g9z {
  color: #6a7180;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
}
._1ga2 {
  font-size: 10px;
  width: 110px;
}
._5p3y .fsm,
._5p3y .uiHeader h3,
._5p3y h4,
._5p3y h5,
._5p3y h6,
._5p3y .UFICommentContent ._5v47 {
  font-size: 12px;
}
.fsm {
  font-size: 11px;
}
._1ga4 {
  margin-top: -2px;
  width: 100px;
}
.fsm {
  font-size: 11px;
}
.rfloat {
  float: right;
}
.broad_aud {
  -webkit-transform: rotate(74deg);
}
.defined_aud {
  -webkit-transform: rotate(0deg);
}
.spec_aud {
  -webkit-transform: rotate(-74deg);
}
.ad_h4_noborder {
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 10px;
}
.aud_cnt {
  width: 270px;
  background: #f3f3f3;
  padding: 10px;
  border: 5px;
  /*position: fixed;*/
  top: 200px;
}
.fsm_bold {
  font-size: 10px;
  font-weight: bold;
}
.pad-11 {
  padding-left: 11px;
}
.li-audul {
  top: 10px;
}
.aud_licontent {
  margin-top: 5px;
  /* margin-left: 12px; */
  font-size: 12px;
}
._4zmf {
  border: 1px solid #bdc1c9;
  border-bottom: none;
  padding-bottom: 8px;
}
._4zmg {
  max-height: 280px;
}
._53ga:first-child {
  padding-top: 4px;
}
._53ga {
  line-height: 29px;
}
._53gb {
  color: #9197a3;
  padding: 0 0 0 12px;
  position: relative;
}
._4bl7,
._4bl9 {
  word-wrap: break-word;
}
._4bl7 {
  float: left;
  min-height: 1px;
}
._4bl8 {
  float: right;
}
._47la {
  cursor: pointer;
  display: inline-block;
  padding: 0 12px;
}
._4bl7,
._4bl9 {
  word-wrap: break-word;
}
._4bl9 {
  overflow: hidden;
}
._40m_ {
  color: #141823;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
._5upp {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  font-size: 0 !important;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}
._50zz {
  height: 10px;
  width: 10px;
}
._42ft {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}
.sp_NQc91B1T0mb.sx_d7a1cb {
  width: 10px;
  height: 14px;
  background-position: -724px -274px;
}
._40n0 {
  margin: 0 6px 0 24px;
  vertical-align: text-bottom;
}
.sp_NQc91B1T0mb {
  background-image: url(../Images/CZ_AOFDdEE7.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}
._3bsr {
  font-size: 12px;
}
.radius_ddp {
  background: #f3f3f3;
  width: 95px;
  padding: 0px;
  height: 25px;
  margin: 5px;
}
#coun_token_cnt li {
  list-style: none;
}
#ui-datepicker-div {
  z-index: 999999999 !important;
}
.count_token_opt_cnt_map {
  float: left;
  width: 100%;
  border: 1px solid #e7ebee;
}
.yourBudgtHeadingCnt {
  float: left;
  width: 40%;
  margin-top: 7px;
}
.yourBudgtBoxCnt {
  float: left;
  width: 30%;
}
.noCriteria {
  background: none !important;
  font-size: 13px !important;
  padding-left: 20px;
}
.lang_newcnt {
  position: relative;
}
.count_city_newcnt {
  position: relative;
}
.lang_del {
  position: absolute;
  top: 7px;
  right: 12px;
  cursor: pointer;
}
.coun_in_ex_cnt {
  width: 30%;
  float: left;
  border: 1px solid #e7ebee;
}
.count_token_opt_cnt {
  float: left;
  width: 69%;
  border: 1px solid #e7ebee;
}
#searchSurveyLocations {
  width: 280px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: none;
  height: 33px;
  margin-left: 2px;
}
#searchLanguages,
#searchIndustries,
#searchEducations {
  width: 280px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: none;
  height: 33px;
  margin-left: 2px;
}
#in_ex_count_opt {
  border: none !important;
}
div.Tokenize ul.TokensContainer,
div.Tokenize ul.Dropdown {
  border: none !important;
}
.sep-line {
  width: 1px;
  float: left;
  margin-top: 4px;
  border-left: 1px solid #e7ebee;
  height: 25px;
}
#land_edt {
  border: 1px solid #e7ebee;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  height: 38px;
}
.lang_nr_box {
  cursor: default !important;
  background-color: #fff !important;
  border: none;
}
#lang_token_cnt {
  border: 1px solid #e7ebee;
  border-bottom: none;
}
#coun_token_cnt {
  border: 1px solid #e7ebee;
  border-bottom: none;
}
#count_edt {
  border: 1px solid #e7ebee;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.lang_delSurvey {
  position: relative;
  cursor: pointer;
}
.langIncludeExclText {
  width: 36%;
  display: inline;
  float: left;
}
.areaCity {
  width: 60%;
  display: inline;
  float: left;
}
.count_city_newcnt {
  width: 100%;
  display: block;
  clear: both;
}
.locRadius {
  width: 165px;
  height: 33px;
  display: inline-block;
  margin: 5px 0px;
}
.locVisibility,
.locMap {
  display: none;
}
.LanguageLbl {
  width: 90%;
  display: inline;
  float: left;
}
.tt-dropdown-menu {
  width: 286px !important;
}
.range_dash {
  width: 10px;
  font-size: 20px;
  padding: 0px 17px 0px 10px;
}
.sp_NQc91B1T0mb {
  width: 10px;
  height: 14px;
  background-position: -724px -244px;
}
.meterPin {
  background-image: url('/Content/Images/pin.png') !important;
  background-position: center !important;
}
.count_token_opt_cnt_map {
  float: left;
  width: 100%;
  border: 1px solid #e7ebee;
}
.noCriteria {
  background: none !important;
  font-size: 13px !important;
  padding-left: 20px;
}
/* Common Styles */
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.inlineGrid table {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}
.inlineGrid table td {
  padding: 4px 5px;
  vertical-align: middle;
}
.inlineGrid table tr td select,
.inlineGrid table textarea,
.inlineGrid table input[type="text"],
.inlineGrid table input[type="password"],
.inlineGrid table input[type="datetime"],
.inlineGrid table input[type="datetime-local"],
.inlineGrid table input[type="date"],
.inlineGrid table input[type="month"],
.inlineGrid table input[type="time"],
.inlineGrid table input[type="week"],
.inlineGrid table input[type="number"],
.inlineGrid table input[type="email"],
.inlineGrid table input[type="url"],
.inlineGrid table input[type="search"],
.inlineGrid table input[type="tel"],
.inlineGrid table input[type="color"],
.inlineGrid table .uneditable-input {
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1px;
  margin-right: 2px;
}
.inlineGrid table .selectedRow label {
  color: #8B8B8B;
  font-size: 13px;
  text-align: left;
}
.my-modal {
  overflow: auto !important;
}
.closeSaveButtonMarginRemove {
  margin-left: 0;
}
/* Form Group in Details Page */
.filter-block .form-group {
  margin-bottom: 0;
}
.filter-block .from-group-filterText {
  margin-right: 0;
}
.form-group .input-group-addon {
  text-decoration: none;
  border: 0;
  cursor: pointer;
}
.form-group .input-group .input-group-addon {
  border: 1px solid #ccc;
}
.my-tabsHeader {
  border: 1px solid silver;
  -moz-box-shadow: 1px 1px 1px silver;
  -webkit-box-shadow: 1px 1px 1px silver;
  box-shadow: 1px 1px 1px silver;
}
.set-filter-margin {
  margin-top: 25px;
  margin-bottom: 25px;
}
/* Form Group in Details Page */
/* Validation Summary */
.validationSummaryContainer .validationSummaryLink {
  margin-left: 15px;
}
.validationSummaryContainer ul {
  padding-left: 20px;
}
.validationSummaryContainer a {
  color: red;
}
.errorFill {
  border: 1px solid red !important;
  background-color: #fdd !important;
}
.errorFillRow {
  border: 3px solid red !important;
}
/* For Elements That use ValidationTooltip + Css: { 'errorFill': someValue } , css should be css: { 'errorFillWithValidation': someValue }  */
.errorFillWithValidation {
  border: 1px solid red !important;
  background-color: #fdd !important;
}
.errorMsgText {
  color: red !important;
  cursor: pointer !important;
}
div#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000000011;
  border: 2px solid #eeeeee;
  font-size: 40px;
  width: 1em;
  height: 1em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  -ms-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top-color: #2eaef0;
}
/* Validation Summary */
/* Selected Row Highlight */
.selectedRow {
  background: lightgray !important;
}
/* Selected Row Highlight */
/*Custom ON OFF Switch for Store Live*/
.onoffswitchlive {
  position: relative;
  width: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-right: 20px;
}
.onoffswitchlive-checkbox {
  display: none;
}
.onoffswitchlive-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 20px;
}
.onoffswitchlive-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitchlive-inner:before,
.onoffswitchlive-inner:after {
  float: left;
  width: 50%;
  height: 40px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5px;
}
.onoffswitchlive-inner:before {
  content: "LIVE";
  padding-left: 10px;
  background-color: #2ecc71;
  color: #FFFFFF;
}
.onoffswitchlive.onoffswitchlive-success .onoffswitchlive-inner:before {
  background-color: #2ecc71;
}
.onoffswitchlive.onoffswitchlive-danger .onoffswitchlive-inner:before {
  background-color: #e74c3c;
}
.onoffswitchlive.onoffswitchlive-warning .onoffswitchlive-inner:before {
  background-color: #f1c40f;
}
.onoffswitchlive-inner:after {
  content: "OFFLINE";
  padding-right: 10px;
  background-color: #f1c40f;
  color: #FFFFFF;
  text-align: right;
}
.onoffswitchlive-switch {
  width: 26px;
  margin: 7px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 80px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.onoffswitchlive-checkbox:checked + .onoffswitchlive-label .onoffswitchlive-inner {
  margin-left: 0;
}
.onoffswitchlive-checkbox:checked + .onoffswitchlive-label .onoffswitchlive-switch {
  right: 0;
}
/*Custom ON OFF Flag CSS ends */
.icon-up {
  background-image: url('../images/arrow-up-small.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  display: inline-block;
}
.icon-down {
  background-image: url('../images/arrow-down-small.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  display: inline-block;
}
/* Common Styles */
.th-pointer {
  cursor: pointer;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-hint {
  display: block;
  width: 100%;
  height: 34px;
  padding: 2px 2px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #999;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  position: relative;
}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}
