/*Import Other Less Files*/
#IsLInkedQuestionParah {
  font-weight: bolder;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
}
#hasLinkedtableHeader {
  width: 9%;
}
.marginBottom12 {
  margin-bottom: 12px;
}
.lang_newcnt {
  position: relative;
}
.count_city_newcnt {
  position: relative;
}
.lang_del {
  position: absolute;
  top: 7px;
  right: 12px;
  cursor: pointer;
}
.coun_in_ex_cnt {
  width: 30%;
  float: left;
  /*border: 1px solid #e7ebee !important;
    border-right: 0px !important;*/
}
.count_token_opt_cnt {
  float: left;
  width: 100%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e7ebee;
  height: 37px;
}
#searchCampaignLocations {
  width: 100% !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: none;
  height: 33px;
  margin-left: 2px;
}
#searchLanguages {
  width: 280px!important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: none;
  height: 33px;
  margin-left: 2px;
}
#in_ex_count_opt {
  border: none !important;
}
div.Tokenize ul.TokensContainer,
div.Tokenize ul.Dropdown {
  border: none !important;
}
.sep-line {
  width: 1px;
  float: left;
  margin-top: 4px;
  border-left: 1px solid #e7ebee;
  height: 25px;
}
#land_edt {
  border: 1px solid #e7ebee;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  height: 38px;
}
.lang_nr_box {
  cursor: default !important;
  background-color: #fff !important;
  border: none;
}
#lang_token_cnt {
  border: 1px solid #e7ebee;
  border-bottom: none;
}
#coun_token_cnt {
  border: 1px solid #e7ebee;
  border-bottom: none;
}
#count_edt {
  /*border: 1px solid #e7ebee;*/
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.lang_delSurvey {
  position: relative;
  cursor: pointer;
}
.langIncludeExclText {
  width: 36%;
  display: inline;
  float: left;
}
.areaCity {
  width: 60%;
  display: inline;
  float: left;
}
.count_city_newcnt {
  width: 100%;
  display: block;
  clear: both;
}
.locRadius {
  width: 165px;
  height: 33px;
  display: inline-block;
  margin: 5px 0px;
}
.locVisibility,
.locMap {
  display: none;
}
.LanguageLbl {
  width: 90%;
  display: inline;
  float: left;
}
.tt-dropdown-menu {
  width: 286px !important;
}
.defaultImgUploadImageBtn {
  margin-left:9px;
  text-align: left;
  padding-right: 0px;
  float: left;
  color: #7f8c8d !important;
}
.mright60 {
  margin-right: 60px;
}
.ad_h4 {
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: bold;
  padding-bottom: 5px;
  /* border-bottom: 2px solid #f0f0f0; */
  padding-left: 10px;
  padding-top: 3px;
}
.range_dash {
  width: 10px;
  font-size: 20px;
  padding: 0px 17px 0px 10px;
}
._1gab {
  max-height: 300px;
  overflow: hidden;
  -webkit-transition: max-height 1s ease;
}
._1g9- {
  display: inline-block;
}
.lfloat {
  float: left;
}
._1g9_ {
  display: inline-block;
  position: relative;
  width: 110px;
}
.sp_NQc91B1T0mb.sx_f05cb6 {
  width: 5px;
  height: 39px;
}
i.img {
  -ms-high-contrast-adjust: none;
  _overflow: hidden;
}
._1ga0 {
  height: 39px;
  left: 54px;
  position: absolute;
  top: 6px;
  -webkit-transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform ease 0.7s;
  width: 4px;
}
.sp_NQc91B1T0mb {
  background-image: url('/Content/Images/pin.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
}
.sp_NQc91B1T0mb.sx_0eeab0 {
  width: 89px;
  height: 45px;
  /*background-position: -601px -667px;*/
}
._1ga1 {
  height: 44px;
  margin-left: 12px;
  width: 87px;
}
.sp_NQc91B1T0mb3 {
  background-image: url('/Content/Images/meter.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
}
._1ga2,
._1g9z {
  color: #6a7180;
  font-family: helvetica, arial, 'lucida grande', sans-serif;
}
._1ga2 {
  font-size: 10px;
  width: 110px;
}
._5p3y .fsm,
._5p3y .uiHeader h3,
._5p3y h4,
._5p3y h5,
._5p3y h6,
._5p3y .UFICommentContent ._5v47 {
  font-size: 12px;
}
.fsm {
  font-size: 11px;
}
._1ga4 {
  margin-top: -2px;
  width: 100px;
}
.fsm {
  font-size: 11px;
}
.rfloat {
  float: right;
}
.broad_aud {
  -webkit-transform: rotate(74deg);
}
.defined_aud {
  -webkit-transform: rotate(0deg);
}
.spec_aud {
  -webkit-transform: rotate(-74deg);
}
.ad_h4_noborder {
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 10px;
}
.aud_cnt {
  background: #6B6AFE;
  /*padding: 10px;
    border: 5px;*/
  /* position: fixed; */
  /*top: 200px;*/
  color: white;
}
.fsm_bold {
  font-size: 10px;
  font-weight: bold;
}
.pad-11 {
  padding-left: 11px;
}
.li-audul {
  top: 10px;
}
.aud_licontent {
  margin-top: 5px;
  /* margin-left: 12px; */
  font-size: 12px;
}
._4zmf {
  border: 1px solid #bdc1c9;
  border-bottom: none;
  padding-bottom: 8px;
}
._4zmg {
  max-height: 280px;
}
._53ga:first-child {
  padding-top: 4px;
}
._53ga {
  line-height: 29px;
}
._53gb {
  color: #9197a3;
  padding: 0 0 0 0px;
  position: relative;
}
._4bl7,
._4bl9 {
  word-wrap: break-word;
}
._4bl7 {
  float: left;
  min-height: 1px;
}
._4bl8 {
  float: right;
}
._47la {
  cursor: pointer;
  display: inline-block;
  padding: 0 12px;
}
._4bl7,
._4bl9 {
  word-wrap: break-word;
}
._4bl9 {
  overflow: hidden;
}
._40m_ {
  color: #141823;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
._5upp {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  font-size: 0 !important;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}
._50zz {
  height: 10px;
  width: 10px;
}
._42ft {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}
.sp_NQc91B1T0mb.sx_d7a1cb {
  width: 14px;
  height: 14px;
  background-position: 0 0;
}
._40n0 {
  margin: 0 6px 0 24px;
  vertical-align: text-bottom;
}
.sp_NQc91B1T0mb {
  background-image: url(../Images/a5485b563efc4511e0cd8bd04ad0fe9e.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}
._3bsr {
  font-size: 12px;
}
.radius_ddp {
  background:#81d3dc;
  width: 95px;
  padding: 0px;
  height: 25px;
  margin: 5px;
  margin-left:53px;
  color:white;
}
#coun_token_cnt li {
  list-style: none;
  padding-left: 5px;
  border-bottom: 1px solid #f3f3f3;
}
#ui-datepicker-div {
  z-index: 999999999 !important;
}
.count_token_opt_cnt_map {
  float: left;
  width: 100%;
  border: 1px solid #e7ebee;
}
.yourBudgtHeadingCnt {
  float: left;
  width: 100%;
}
.yourBudgtBoxCnt {
  float: left;
  width: 35%;
  margin-top: -8px;
}
.noCriteria {
  background: none !important;
  font-size: 13px !important;
  padding-left: 20px;
}
.social-box .social-action {
  font-size: 14PX !important;
  clear: both;
}
.social-box-wrapper > div.social-box {
  background: #6d6efa !important;
}
.ctCampaign {
  background: #6d6efa !important;
  color: white;
  border: none;
  border-radius: 0px;
  width: 200px;
  margin-top: 2px;
  height: 35px;
}
.statusbg {
  padding: 7px;
  width: 166px;
  color: white;
  border-radius: 5px;
  font-size: 13px;
}
.formcontrol-bg {
  background: #f3f3f3;
  padding: 20px;
}
.text-campaign-left {
  text-align: left !important;
  padding-left: 0px !important;
}
#btnSubmitForApproval {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  height: 45px;
}
@media (min-width: 320px) {
  .floatNone {
    float: none !important;
  }
}
@media (min-width: 481px) {
  .floatNone {
    float: none !important;
  }
}
@media (min-width: 641px) {
  .floatNone {
    float: none !important;
  }
}
@media (min-width: 996px) {
  .floatNone {
    float: right !important;
  }
}
@media (min-width: 1025px) {
  .floatNone {
    float: right !important;
  }
}
.lang_newcnt {
  position: relative;
}
.count_city_newcnt {
  position: relative;
}
.lang_del {
  position: absolute;
  top: 7px;
  right: 12px;
  cursor: pointer;
}
.coun_in_ex_cnt {
  width: 30%;
  float: left;
}

.count_token_opt_prof_cnt {
  float: left;
  width: 100% !important;
}
#searchSurveyLocations {
  width: 280px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: none;
  height: 33px;
  margin-left: 2px;
}
#searchLanguages,
#searchIndustries,
#searchEducations {
  width: 280px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: none;
  height: 33px;
  margin-left: 2px;
}
#in_ex_count_opt {
  border: none !important;
}
div.Tokenize ul.TokensContainer,
div.Tokenize ul.Dropdown {
  border: none !important;
}
.sep-line {
  width: 1px;
  float: left;
  margin-top: 4px;
  border-left: 1px solid #e7ebee;
  height: 25px;
}
#land_edt {
  border: 1px solid #e7ebee;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  height: 38px;
}
.lang_nr_box {
  cursor: default !important;
  background-color: #fff !important;
  border: none;
}
#lang_token_cnt {
  border: 1px solid #e7ebee;
  border-bottom: none;
}
#coun_token_cnt {
  border: 1px solid #e7ebee;
  border-bottom: none;
}
#count_edt {
  border: 1px solid #e7ebee;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.lang_delSurvey {
  position: relative;
  cursor: pointer;
}
.langIncludeExclText {
  width: 36%;
  display: inline;
  float: left;
}
.areaCity {
  width: 60%;
  display: inline;
  float: left;
}
.count_city_newcnt {
  width: 100%;
  display: block;
  clear: both;
}
.locRadius {
  width: 165px;
  height: 33px;
  display: inline-block;
  margin: 5px 0px;
}
.locVisibility,
.locMap {
  display: none;
}
.LanguageLbl {
  width: 90%;
  display: inline;
  float: left;
}
.tt-dropdown-menu {
  width: 286px !important;
}
.range_dash {
  width: 10px;
  font-size: 20px;
  padding: 0px 17px 0px 10px;
}
.sp_NQc91B1T0mb {
  width: 10px;
  height: 14px;
  background-position: -724px -244px;
}
.meterPin {
  background-image: url('/Content/Images/pin.png') !important;
  background-position: center !important;
}
.count_token_opt_cnt_map {
  float: left;
  width: 100%;
  border: 1px solid #e7ebee;
}
.noCriteria {
  background: none !important;
  font-size: 13px !important;
  padding-left: 20px;
}
.surveyLeftImagePc {
  background-image: url(/Images/select_image.jpg);
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-left: 5px;
  height: 184px;
  background-position-y: -53px;
  background-position-x: -16px;
}
#ddpEducation,
#ddpIndustory {
  border: none !important;
}
.aud_cnt_head {
  color: white;
  text-align: center;
  height: 49px;
  padding: 5px 5px 5px 5px;
  font-size: 18px;
}
.aud_cnt_foot {
  color: white;
  text-align: center;
  height: 150px;
  padding: 14px 5px 5px 5px;
}
.aud_cnt div {
  padding: 5px 0px 0px 0px;
}
.btnSubmitApproval {
  margin-top: 17px;
}
/* Common Styles */
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.inlineGrid table {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}
.inlineGrid table td {
  padding: 4px 5px;
  vertical-align: middle;
}
.inlineGrid table tr td select,
.inlineGrid table textarea,
.inlineGrid table input[type="text"],
.inlineGrid table input[type="password"],
.inlineGrid table input[type="datetime"],
.inlineGrid table input[type="datetime-local"],
.inlineGrid table input[type="date"],
.inlineGrid table input[type="month"],
.inlineGrid table input[type="time"],
.inlineGrid table input[type="week"],
.inlineGrid table input[type="number"],
.inlineGrid table input[type="email"],
.inlineGrid table input[type="url"],
.inlineGrid table input[type="search"],
.inlineGrid table input[type="tel"],
.inlineGrid table input[type="color"],
.inlineGrid table .uneditable-input {
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1px;
  margin-right: 2px;
}
.inlineGrid table .selectedRow label {
  color: #8B8B8B;
  font-size: 13px;
  text-align: left;
}
.my-modal {
  overflow: auto !important;
}
.closeSaveButtonMarginRemove {
  margin-left: 0;
}
/* Form Group in Details Page */
.filter-block .form-group {
  margin-bottom: 0;
}
.filter-block .from-group-filterText {
  margin-right: 0;
}
.form-group .input-group-addon {
  text-decoration: none;
  border: 0;
  cursor: pointer;
}
.form-group .input-group .input-group-addon {
  border: 1px solid #ccc;
}
.my-tabsHeader {
  border: 1px solid silver;
  -moz-box-shadow: 1px 1px 1px silver;
  -webkit-box-shadow: 1px 1px 1px silver;
  box-shadow: 1px 1px 1px silver;
}
.set-filter-margin {
  margin-top: 25px;
  margin-bottom: 25px;
}
/* Form Group in Details Page */
/* Validation Summary */
.validationSummaryContainer .validationSummaryLink {
  margin-left: 15px;
}
.validationSummaryContainer ul {
  padding-left: 20px;
}
.validationSummaryContainer a {
  color: red;
}
.errorFill {
  border: 1px solid red !important;
  background-color: #fdd !important;
}
.errorFillRow {
  border: 3px solid red !important;
}
/* For Elements That use ValidationTooltip + Css: { 'errorFill': someValue } , css should be css: { 'errorFillWithValidation': someValue }  */
.errorFillWithValidation {
  border: 1px solid red !important;
  background-color: #fdd !important;
}
.errorMsgText {
  color: red !important;
  cursor: pointer !important;
}
div#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000000011;
  border: 2px solid #eeeeee;
  font-size: 40px;
  width: 1em;
  height: 1em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  -ms-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top-color: #2eaef0;
}
/* Validation Summary */
/* Selected Row Highlight */
.selectedRow {
  background: lightgray !important;
}
/* Selected Row Highlight */
/*Custom ON OFF Switch for Store Live*/
.onoffswitchlive {
  position: relative;
  width: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-right: 20px;
}
.onoffswitchlive-checkbox {
  display: none;
}
.onoffswitchlive-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 20px;
}
.onoffswitchlive-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitchlive-inner:before,
.onoffswitchlive-inner:after {
  float: left;
  width: 50%;
  height: 40px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5px;
}
.onoffswitchlive-inner:before {
  content: "LIVE";
  padding-left: 10px;
  background-color: #2ecc71;
  color: #FFFFFF;
}
.onoffswitchlive.onoffswitchlive-success .onoffswitchlive-inner:before {
  background-color: #2ecc71;
}
.onoffswitchlive.onoffswitchlive-danger .onoffswitchlive-inner:before {
  background-color: #e74c3c;
}
.onoffswitchlive.onoffswitchlive-warning .onoffswitchlive-inner:before {
  background-color: #f1c40f;
}
.onoffswitchlive-inner:after {
  content: "OFFLINE";
  padding-right: 10px;
  background-color: #f1c40f;
  color: #FFFFFF;
  text-align: right;
}
.onoffswitchlive-switch {
  width: 26px;
  margin: 7px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 80px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.onoffswitchlive-checkbox:checked + .onoffswitchlive-label .onoffswitchlive-inner {
  margin-left: 0;
}
.onoffswitchlive-checkbox:checked + .onoffswitchlive-label .onoffswitchlive-switch {
  right: 0;
}
/*Custom ON OFF Flag CSS ends */
.icon-up {
  background-image: url('../images/arrow-up-small.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  display: inline-block;
}
.icon-down {
  background-image: url('../images/arrow-down-small.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  display: inline-block;
}
/* Common Styles */
.th-pointer {
  cursor: pointer;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-hint {
  display: block;
  width: 100%;
  height: 34px;
  padding: 2px 2px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #999;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  position: relative;
}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}
.btnSmall {
  width: 110px;
}
.rightAlign {
  float: right;
}
.store-user-link {
  font-weight: bold;
}
.ads-numbering-main {
  color: gainsboro;
}
.font14 {
  font-size: 14px !important;
}
.tooltips {
  z-index: 1030 !important;
}
/*  branch and categorty classes*/
.lablelColour {
  color: #3498db !important;
  font-weight: bold;
  width: 11em;
  margin-right: 0em;
  margin-top: 7px;
}
.labelNewline {
  font-weight: bold;
  width: 10em;
  margin-right: 0em;
  margin-top: 12px;
}
.labelColour {
  color: #3498db !important;
  
}
.labelNewlineGeoX {
  color: #3498db !important;
  font-weight: bold;
  width: 11em;
  margin-right: 0em;
  margin-top: 14px;
}
.labelFontBranch {
      margin-top: 18px;
    /* font-size: 16px; */
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-left:170px
    
}
#btnNext,#btnBack {
    
 background-color: #127abd!important;
 border-color:#127abd!important;

}
.filterbtnclrs {
    background-color: #81d3dc!important;
    border-color: #81d3dc!important;
    height:38px!important;
    width:144px!important;
}
.filtersDiv_width {
    width:150px;
}
.margin-btm26 {
    margin-bottom:26px!important;
}

.grideditbtn {
    width:28px;height:28px;background-color:#3498db ; border-color:#3498db;margin-left:12px;padding-top:0px;
}
.gridDeletebtn {
    width:28px;height:28px;background-color:red; border-color:red;padding-top:0px;
}
.whiteclr {
    color:white!important;
}
.listlabels {
    font-size:16px;color:black !important;
}
.dam_header {
    background-color:#0f68a1!important;
    text-align:center;
    border-radius: 4px;
}
.damHeading {
    font-size:24px;color: #ffffff; line-height: 2.5 !important;
}
.Border_right {
        border-right: 1px solid rgb(220,220,220);
}
.greycolor {
   color: #7f8c8d !important;
}
.dampanel {
    height: 38px!important;
    text-align: center;
    padding-top: 8px;
}
.bluethemeclr {
  background-color:#81d3dc!important;
  border-color:#00bcd4!important;
}

.drafthov :hover{
    background-color:#00bcd4!important;
}
.placeholders {
    height: 110px;
    width: 110px;
    background-color: #e9e9e9;
    padding-top: 46px;
    text-align: center;
}

.close>span {
    color:white!important;
}
.loginMenu {
        left: auto !important;
    right: 0px;
}
.homePanels {
  background-color: #1d3d52;
    min-height: 48px;
    border-radius: 5px;
    width: 225px;
    padding: 10px;
    margin: 3px;
    cursor:pointer;
    height:180px;
}
.space {
    width:20px;
}
.pg >div{
    color:#d3d3d3!important;
    font-size:12px!important;
    margin:0px;
    padding:0px!important;
    font-family: 'PT Sans', sans-serif!important;
}
.homePanels_headers {
    font-size:1.2em;
    color:rgb(103, 103, 103);
}

.whiteclr {
    color:#fff!important;
}
.greyclr {
     color:#d3d3d3!important;
}
.fontsize4 {
    font-size:4px!important;
}
.font-size13 {
    font-size:19px!important;
    color:#676767!important;
}
.graph_panels {
    background-color: #f9f9f9;
    height: auto;
    margin: 10px;
    width: 265px;
    padding:9px;
}
.graphParent_div {
    padding:6px;
    height:auto;
}
.btnpanels {
    padding: 3px;
    width: 100%;
    height: 48px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 9px;
}
.blueclr {
    background-color:#127abd;
}
.greypanel {
    width:100%;
    margin-top:5px;
    background-color:#e4e0e0;
    height:auto;
    padding: 10px;
}
.gheader {
   width: 100%;
    font-size: 16px;
    color: black;
    
}

.couters_left {
    color:white;
    font-size:15px;
    padding-left:14px;
}
.cnt_left_width {
    width:122px;
}

.couters_Right {
       
      color: white;
    font-size: 15px;
    
    text-align: right;
    padding-right: 16px;
}
.cnt_right_right {
    width:80px;
}
.margintop8px {
    margin-top:8px;
}
.gwhitepanels {
     background: #FFFFFF;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 5px;
    height:auto;
    padding:10px;
}
.bluebck {
   background-color:#0f6aa5!important;
}
.width180px {
    width:180px;
}
.datespan {
    color:gainsboro;
    font-size:12px;
}
.conspan {
    font-size:16px;
}
.lightgreen {
   color:#66CD00;
}
.lightgreenbc {
    background-color:#87c747;
}
.lightblue {
    color:#34afff;
}
.skyclr {
    background-color:#81d3dc;
}
.blueclor {
    background-color:blue;
}
.gtable {
    width:60%;

}
.setStacksDeals {
    margin-top: 8px;
    height: 123px;
    position: absolute;
    width: 224px;
    background-color: #1d3d52;
    z-index: 2;
    border-radius: 5px;
    left: 3px;
    top: 63px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
  
    
}
.setStacksVideoAds {
    margin-top: 8px;
    height: 123px;
    position: absolute;
    width: 224px;
    background-color: #1d3d52;
    z-index: 2;
    border-radius: 5px;
    left: 233px;
    top: 63px;
    color: #fff;
     padding-left: 10px;
    padding-right: 10px;
    
}

.setStacksDisplayAds {
    margin-top: 8px;
    height: 123px;
    position: absolute;
    width: 224px;
    background-color: #1d3d52;
    z-index: 2;
    border-radius: 5px;
    left:463px;
    top: 63px;
    color: #fff;
     padding-left: 10px;
    padding-right: 10px;
  
}

.setStackspolls {
    margin-top: 8px;
    height: 123px;
    position: absolute;
    width: 224px;
    background-color: #1d3d52;
    z-index: 2;
    border-radius: 5px;
    left:693px;
    top: 63px;
    color: #fff;
     padding-left: 10px;
    padding-right: 10px;
  
}
.setStackssurveys {
    margin-top: 8px;
    height: 123px;
    position: absolute;
    width: 224px;
    background-color: #1d3d52;
    z-index: 2;
    border-radius: 5px;
    left:923px;
    top: 63px;
    color: #fff;
     padding-left: 10px;
    padding-right: 10px;
    
}
.fbold {
    font-weight:bold;
}
.panel_Image {
    
    text-align:center;
   
}

.images {
    width:109px;
    height:105px;
}
.Dealdescription_panel {
    display:none;
}
.deals_image {
    width: 88px;
    height: 79px;
}
.standard_img_size {
    width:60px;
    height:60px;
}
.polls_Images {
        width: 125px;
    height: 86px;
}
.potentreachclr {
    color:#5fb761!important;
}
.margintop13 {
    margin-top:13px;
}
.filterbloclkspos {
margin-top:2px;
}
.panelbtnImg {
    background-color:#127abd;
}
.dealsImage {
         height: 36px;
    margin-right: 4px;
    width: 34px;

}
.vid_image {
    height:50px;
    width: 60px;
}
.defvideoimage {
    height: 48px;
    width: 59px;
}
.Game_image {
   
    height: 32px;
   
    width: 37px;
}
.polls_image {
       
    height: 32px;
    width: 37px;
    
}
.width80percent {
    width:80%!important;
}
.closecls {
    height:20px;
    width:20px;
    cursor:pointer;
    
}
.closecls_main {
    height:20px;
    width:20px;
    cursor:pointer;
    
}
.statusesdiv {
    width: 258px;
    text-align: left;
    padding-left: 20px;
}
.datespansclr {
    color:#a4a4a4;
    font-style: italic;
    font-size:12px;
}

.datespanheader {
    font-size:21px;
    color:#7f8c8d ;
}
.dealsstatus_img {
        height: 60px;
    width:60px;
}
.pollsstatus_img {
    height:60px;
    width: 60px;
}
.backgroundbtn {
}
.paddingright0px {
    padding-right:0px!important;
}
.paddingleft0px {
    padding-left:0px!important;
}
.fontsize13px {
    font-size:13px!important;
}
.fontitalic {
    font-style:italic;
}
.padding0px {
    padding:0px!important;
}
.margin_panelbtns {
    margin-top:9px!important;
}
.textalignright {
    text-align:right;
}
.textalignleft {
    text-align:right;
}
.message_label {
    font-size:16px;
    color: #7f8c8d;
    margin-top:17px;
}
#headdesc {
    font-style:italic;
}
.create_deal_btn {
  background: url(/Content/Images/Deals_Small_36.png)!important;
    background-position: 2px 0px!important;
    padding: 10px 32px 8px 49px!important;
    background-repeat: no-repeat!important;
    background-color: #27ae60!important;
}
.create_invite_btn {
  background: url(/Content/Images/Email_icon.png)!important;
    background-position: 2px 0px!important;
    padding: 10px 32px 8px 49px!important;
    background-repeat: no-repeat!important;
    background-color: #3071a9!important;
}

.create_Campaign_btn {
      background: url(/Content/Images/Videos_small_36.png)!important;
    background-position: 6px 1px!important;
    padding: 8px 10px 8px 47px!important;
    background-repeat: no-repeat!important;
    background-color: #27ae60!important;
}

.create_polls_btn {
  background: url(/Content/Images/Polls_small_36.png)!important;
    background-position: 5px 1px!important;
    padding: 8px 10px 8px 47px!important;
    background-repeat: no-repeat!important;
    background-color: #27ae60!important;
}
.create_survey_btn {
  background: url(/Content/Images/Surveys_small_36.png)!important;
    background-position: 6px 0px!important;
    padding: 8px 10px 8px 47px!important;
    background-repeat: no-repeat!important;
    background-color: #27ae60!important;
}
.create_game_btn {
  background: url(/Content/Images/Display_small_36.png)!important;
    background-position: 5px 0px!important;
    padding: 8px 10px 8px 47px!important;
    background-repeat: no-repeat!important;
    background-color: #3071a9!important;
}
.modal-title {
    color:#fff!important;

}
.searchCount {
    color:#fff;
}
.margintop12px {
    margin-top:12px;
}
.previewImg {
    width: 30px;
    margin-bottom: 4px;
}
.fontsize11 {
    font-size:11px!important;
}
.paddingtop0px {
    padding-top:0px!important;
}
.charts_label {
  color:#3498db;
  font-size:17px;
}
.bs-example-tooltips{
    display:none;
}
.goSocial {
    color: gainsboro;
    margin-left: 6px;
    white-space: nowrap;
    /* margin-right: 11px; */
    margin-left: -1px;
}
.socialbck {
    background-color:#127abd;
}
.subtitle {
    font-size:14px;
}
.status_date_span {
    font-size: 13px;
    color: white;
    margin-left: 7px;
    margin-top: 11px;
}
.status_panels {
     color:#7f8c8d;
     font-size:12px;
     padding-left:9px;
     margin-bottom:2px;
}