/* Common Styles */
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#phraseLibraryDialog .selectedSection,
#phraseLibraryDialog .selectedPhraseField {
  background: yellow;
}
#phraseLibraryDialog .category {
  padding-right: 5px;
  border: 1px solid silver;
  max-height: 450px;
  overflow-y: auto;
  margin-top: 14px;
}
.inlineGrid table {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}
.inlineGrid table td {
  padding: 4px 5px;
  vertical-align: middle;
}
.inlineGrid table tr td select,
.inlineGrid table textarea,
.inlineGrid table input[type="text"],
.inlineGrid table input[type="password"],
.inlineGrid table input[type="datetime"],
.inlineGrid table input[type="datetime-local"],
.inlineGrid table input[type="date"],
.inlineGrid table input[type="month"],
.inlineGrid table input[type="time"],
.inlineGrid table input[type="week"],
.inlineGrid table input[type="number"],
.inlineGrid table input[type="email"],
.inlineGrid table input[type="url"],
.inlineGrid table input[type="search"],
.inlineGrid table input[type="tel"],
.inlineGrid table input[type="color"],
.inlineGrid table .uneditable-input {
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1px;
  margin-right: 2px;
}
.inlineGrid table .selectedRow label {
  color: #8B8B8B;
  font-size: 13px;
  text-align: left;
}
.my-modal {
  overflow: auto !important;
}
.closeSaveButtonMarginRemove {
  margin-left: 0;
}
/* Form Group in Details Page */
.filter-block .form-group {
  margin-bottom: 0;
}
.filter-block .from-group-filterText {
  margin-right: 0;
}
.form-group .input-group-addon {
  text-decoration: none;
  border: 0;
  cursor: pointer;
}
.form-group .input-group .input-group-addon {
  border: 1px solid #ccc;
}
.my-tabsHeader {
  border: 1px solid silver;
  -moz-box-shadow: 1px 1px 1px silver;
  -webkit-box-shadow: 1px 1px 1px silver;
  box-shadow: 1px 1px 1px silver;
}
.set-filter-margin {
  margin-top: 25px;
  margin-bottom: 25px;
}
/* Form Group in Details Page */
/* Validation Summary */
.validationSummaryContainer .validationSummaryLink {
  margin-left: 15px;
}
.validationSummaryContainer ul {
  padding-left: 20px;
}
.validationSummaryContainer a {
  color: red;
}
.errorFill {
  border: 1px solid red !important;
  background-color: #fdd !important;
}
.errorFillRow {
  border: 3px solid red !important;
}
/* For Elements That use ValidationTooltip + Css: { 'errorFill': someValue } , css should be css: { 'errorFillWithValidation': someValue }  */
.errorFillWithValidation {
  border: 1px solid red !important;
  background-color: #fdd !important;
}
.errorMsgText {
  color: red !important;
  cursor: pointer !important;
}
div#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000000011;
  border: 2px solid #eeeeee;
  font-size: 40px;
  width: 1em;
  height: 1em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  -ms-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top-color: #2eaef0;
}
/* Validation Summary */
/* Selected Row Highlight */
.selectedRow {
  background: lightgray !important;
}
/* Selected Row Highlight */
/* For Cost Centre Input Dialog */
.opaqueLayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background-color: gray;
  z-Index: 9999;
  width: 95% !important;
  height: 100% !important;
}
#innerLayer {
  background: white;
}
#FormulaMatrixLayer {
  background: white;
}
.tabsdescriptions {
  color: #696969;
  margin-bottom: 35px;
  margin-left: 7px;
  margin-top: 35px;
}
.delPhrase {
  display: none;
}
.phraseHover:hover .delPhrase {
  display: block;
}
.graphheaderleft {
  margin-left: 8px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.graphheaderright {
  margin-left: -2px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
/*Custom ON OFF Switch for Store Live*/
.onoffswitchlive {
  position: relative;
  width: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-right: 20px;
}
.onoffswitchlive-checkbox {
  display: none;
}
.onoffswitchlive-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 20px;
}
.onoffswitchlive-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitchlive-inner:before,
.onoffswitchlive-inner:after {
  float: left;
  width: 50%;
  height: 40px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5px;
}
.onoffswitchlive-inner:before {
  content: "LIVE";
  padding-left: 10px;
  background-color: #2ecc71;
  color: #FFFFFF;
}
.onoffswitchlive.onoffswitchlive-success .onoffswitchlive-inner:before {
  background-color: #2ecc71;
}
.onoffswitchlive.onoffswitchlive-danger .onoffswitchlive-inner:before {
  background-color: #e74c3c;
}
.onoffswitchlive.onoffswitchlive-warning .onoffswitchlive-inner:before {
  background-color: #f1c40f;
}
.onoffswitchlive-inner:after {
  content: "OFFLINE";
  padding-right: 10px;
  background-color: #f1c40f;
  color: #FFFFFF;
  text-align: right;
}
.onoffswitchlive-switch {
  width: 26px;
  margin: 7px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 80px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.onoffswitchlive-checkbox:checked + .onoffswitchlive-label .onoffswitchlive-inner {
  margin-left: 0;
}
.onoffswitchlive-checkbox:checked + .onoffswitchlive-label .onoffswitchlive-switch {
  right: 0px;
}
/*Custom ON OFF Flag CSS ends */
/* For Cost Centre Input Dialog */
/* Common Styles */
#productBinding .activeView {
  background-color: #ff7e47;
  color: white;
}
#productBinding .inactiveView {
  background-color: #ffffff;
  color: black;
}
#productBinding #changeViewSection {
  padding-left: 0;
}
#productBinding #gridZoomSlider {
  width: 100%;
}
#productBinding #ListForm th {
  background: #f3f3f3;
  border-right: 1px solid white;
}
#productBinding #ListForm #Top_Cat_ThumbnailPath {
  width: 150px;
  height: 150px;
}
#productBinding #ListForm #productCodeHeader {
  width: 12%;
  max-width: 12%;
}
#productBinding #ListForm #productImageHeader {
  width: 12%;
  max-width: 12%;
}
#productBinding #ListForm #productNameHeader {
  width: 20%;
  max-width: 20%;
}
#productBinding #ListForm #productPriceHeader {
  width: 10%;
  max-width: 10%;
}
#productBinding #ListForm #productCategoriesHeader {
  width: 12%;
  max-width: 12%;
}
#productBinding #ListForm #productPublishedHeader {
  width: 12%;
  max-width: 12%;
}
#productBinding .productIcons {
  display: none;
  margin-top: -38px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  width: 22%;
  background-color: #fffffb;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#productBinding .LCLB:hover .productIcons {
  display: block;
}
#productBinding #pressDialog #pressDialogMainContainer {
  width: 838px;
}
#productBinding #signatureEdit .modal-dialog {
  width: 838px;
}
#productBinding #itemAddonCostCentreDialog #itemAddonCostCentreDialogMainContainer {
  width: 838px;
}
#productBinding .pricetable-itemPriceMatrix tr th#Qty {
  width: 12%;
}
#productBinding .pricetable-itemPriceMatrix tr th#QtyRangeFrom,
#productBinding .pricetable-itemPriceMatrix tr th#QtyRangeTo {
  width: 6%;
}
#productBinding .pricetable-itemPriceMatrix tr th.paperStockType {
  width: 8%;
}
#productBinding #tab-pricetable .form-group #txtDiscountsContainer {
  padding: 0;
}
#productBinding #tab-pricetable .form-group #packagingWeightUnitLabel {
  padding-top: 10px;
}
#productBinding #tab-pricetable .form-group #txtTaxContainer {
  width: 50%;
}
#productBinding #tab-pricetable .form-group #stateTaxSectionLabel {
  font-weight: bold;
}
#productBinding #tab-supplierPrice .labelBold {
  font-weight: bold;
}
#productBinding #tab-supplierPrice #estProductionTimeContainer #txtEstProductionTime {
  width: 30%;
}
#productBinding #tab-supplierPrice #estProductionTimeContainer span {
  width: 30%;
}
#productBinding #tab-supplierPrice #switchAutoCreateGraterContainer {
  padding-left: 0;
  padding-right: 0;
  width: 12%;
}
#productBinding #tab-supplierPrice .deliveryTimeContiner input,
#productBinding #tab-supplierPrice .deliveryTimeContiner span {
  width: 40%;
}
#productBinding #tab-supplierPrice #supplierTabs {
  border: dotted;
  border-width: 1px;
  border-color: lightgray;
}
#productBinding #tab-supplierPrice #qtyLimitLabel {
  width: 17%;
}
#productBinding #tab-supplierPrice #qtyLimitInputContainer {
  width: 15%;
}
#productBinding #tab-supplierPrice #qtyLimitInputContainer input {
  width: 100px;
}
#productBinding #productCategoryDialog ol.dd-list li.dd-item .nested-links {
  margin-top: -3px;
}
#myOrganizationBinding #tab-RegionalSettings #markupTablle th.markupCodeTh {
  width: 10% !important;
}
#myOrganizationBinding #tab-RegionalSettings #markupTablle th.markupRateTh {
  width: 30% !important;
}
#myOrganizationBinding #tab-RegionalSettings #markupTablle th.actionTh {
  width: 20% !important;
}
#myOrganizationBinding #tab-RegionalSettings #markupTablle td.markupCode {
  width: 10%;
}
#myOrganizationBinding #tab-RegionalSettings #markupTablle td.markupRate {
  width: 30%;
}
#myOrganizationBinding #tab-RegionalSettings #markupTablle td.action {
  width: 20%;
}
#storesBinding .cursorShape {
  cursor: pointer;
}
#storesBinding .selectedSection,
#storesBinding .selectedEmailVariable {
  background: yellow;
}
#storesBinding #addStore {
  margin-top: 25px;
}
#storesBinding .modifyVariabletd {
  padding-top: 14px !important;
  padding-bottom: 0px !important;
}
#storesBinding .smartFormArea {
  /*margin-top: 20px;*/
  border: 1px solid silver;
  margin-left: 10px;
  margin-right: 15px;
  min-height: 300px;
}
#storesBinding .smartFormVariableArea {
  border: 1px solid silver;
  /*margin-top: 20px;*/
  min-height: 300px;
}
#storesBinding .smartFormVariableTableArea {
  border: 1px solid silver;
  margin-top: 20px;
  margin-bottom: 5px;
  max-height: 460px;
  overflow-y: auto;
}
#storesBinding #filter {
  height: 62px !important;
}
#storesBinding #topArea {
  margin-bottom: -11px;
}
#storesBinding #tabsHeader {
  border: 1px solid silver;
  box-shadow: 1px 1px 1px silver;
}
#storesBinding .dynamicNameHeading {
  height: 51px;
}
#storesBinding #tabsHeaderSecondarypage {
  border: 1px solid silver;
  box-shadow: 1px 1px 1px silver;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}
#storesBinding #dialgHeaderPadding {
  padding-top: 8px;
  padding-bottom: 8px;
}
#storesBinding .selectedItemRow {
  background: yellow;
}
#storesBinding #itemsForWidgetsDialog .selectedItemRow {
  background: yellow;
}
#storesBinding #productBinding .activeView {
  background-color: #ff7e47;
  color: white;
}
#storesBinding #productBinding #tabsHeader {
  border: 1px solid silver;
  box-shadow: 1px 1px 1px silver;
}
#storesBinding #productBinding .set-filter-margin {
  margin-top: 25px;
  margin-bottom: 25px;
}
#storesBinding #productBinding .inactiveView {
  background-color: #ffffff;
  color: black;
}
#storesBinding #productBinding #changeViewSection {
  padding-left: 0;
}
#storesBinding #productBinding #gridZoomSlider {
  width: 100%;
}
#storesBinding #productBinding #ListForm th {
  background: #f3f3f3;
  border-right: 1px solid white;
}
#storesBinding #productBinding #ListForm #Top_Cat_ThumbnailPath {
  width: 150px;
  height: 150px;
}
#storesBinding #productBinding #ListForm #productCodeHeader {
  width: 12%;
  max-width: 12%;
}
#storesBinding #productBinding #ListForm #productImageHeader {
  width: 12%;
  max-width: 12%;
}
#storesBinding #productBinding #ListForm #productNameHeader {
  width: 20%;
  max-width: 20%;
}
#storesBinding #productBinding #ListForm #productPriceHeader {
  width: 10%;
  max-width: 10%;
}
#storesBinding #productBinding #ListForm #productCategoriesHeader {
  width: 12%;
  max-width: 12%;
}
#storesBinding #productBinding #ListForm #productPublishedHeader {
  width: 12%;
  max-width: 12%;
}
#storesBinding #productBinding .filter-block .form-group {
  margin-bottom: 0;
}
#storesBinding #productBinding .productIcons {
  display: none;
  margin-top: -38px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  width: 22%;
  background-color: #fffffb;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#storesBinding #productBinding .LCLB .PDTC_TL {
  min-height: 100px !important;
}
#storesBinding #productBinding .LCLB .FI_TL {
  max-height: 145px !important;
}
#storesBinding #productBinding .Top_Cat_Body .productText {
  height: 12px;
  line-height: 12px;
  overflow: hidden;
}
#storesBinding #productBinding .LCLB:hover .productIcons {
  display: block;
}
#storesBinding #productDetailBinding .activeView {
  background-color: #ff7e47;
  color: white;
}
#storesBinding #productDetailBinding #tabsHeader {
  border: 1px solid silver;
  box-shadow: 1px 1px 1px silver;
}
#storesBinding #productDetailBinding .set-filter-margin {
  margin-top: 25px;
  margin-bottom: 25px;
}
#storesBinding #productDetailBinding .inactiveView {
  background-color: #ffffff;
  color: black;
}
#storesBinding #productDetailBinding #changeViewSection {
  padding-left: 0;
}
#storesBinding #productDetailBinding #gridZoomSlider {
  width: 100%;
}
#storesBinding #productDetailBinding #ListForm th {
  background: #f3f3f3;
  border-right: 1px solid white;
}
#storesBinding #productDetailBinding #ListForm #Top_Cat_ThumbnailPath {
  width: 150px;
  height: 150px;
}
#storesBinding #productDetailBinding #ListForm #productCodeHeader {
  width: 12%;
  max-width: 12%;
}
#storesBinding #productDetailBinding #ListForm #productImageHeader {
  width: 12%;
  max-width: 12%;
}
#storesBinding #productDetailBinding #ListForm #productNameHeader {
  width: 20%;
  max-width: 20%;
}
#storesBinding #productDetailBinding #ListForm #productPriceHeader {
  width: 10%;
  max-width: 10%;
}
#storesBinding #productDetailBinding #ListForm #productCategoriesHeader {
  width: 12%;
  max-width: 12%;
}
#storesBinding #productDetailBinding #ListForm #productPublishedHeader {
  width: 12%;
  max-width: 12%;
}
#storesBinding #productDetailBinding .filter-block .form-group {
  margin-bottom: 0;
}
#storesBinding #productDetailBinding .productIcons {
  display: none;
  margin-top: -38px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  width: 22%;
  background-color: #fffffb;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#storesBinding #productDetailBinding .LCLB .PDTC_TL {
  min-height: 100px !important;
}
#storesBinding #productDetailBinding .LCLB .FI_TL {
  max-height: 145px !important;
}
#storesBinding #productDetailBinding .Top_Cat_Body .productText {
  height: 12px;
  line-height: 12px;
  overflow: hidden;
}
#storesBinding #productDetailBinding .LCLB:hover .productIcons {
  display: block;
}
#storesBinding #productDetailBinding #stockDialog #stockDialogMainContainer {
  width: 838px;
}
#storesBinding #productDetailBinding #pressDialog #pressDialogMainContainer {
  width: 838px;
}
#storesBinding #productDetailBinding #signatureEdit .modal-dialog {
  width: 838px;
}
#storesBinding #productDetailBinding #itemAddonCostCentreDialog #itemAddonCostCentreDialogMainContainer {
  width: 838px;
}
#storesBinding #productDetailBinding .form-group .input-group-addon {
  text-decoration: none;
  border: 0;
  cursor: pointer;
}
#storesBinding #productDetailBinding .form-group .input-group .input-group-addon {
  border: 1px solid #ccc;
}
#storesBinding #productDetailBinding .pricetable-itemPriceMatrix tr th#Qty {
  width: 12%;
}
#storesBinding #productDetailBinding .pricetable-itemPriceMatrix tr th#QtyRangeFrom,
#storesBinding #productDetailBinding .pricetable-itemPriceMatrix tr th#QtyRangeTo {
  width: 6%;
}
#storesBinding #productDetailBinding .pricetable-itemPriceMatrix tr th.paperStockType {
  width: 8%;
}
#storesBinding #productDetailBinding #tab-pricetable .form-group #txtDiscountsContainer {
  padding: 0;
}
#storesBinding #productDetailBinding #tab-pricetable .form-group #packagingWeightUnitLabel {
  padding-top: 10px;
}
#storesBinding #productDetailBinding #tab-pricetable .form-group #txtTaxContainer {
  width: 50%;
}
#storesBinding #productDetailBinding #tab-pricetable .form-group #stateTaxSectionLabel {
  font-weight: bold;
}
#storesBinding #productDetailBinding #tab-supplierPrice .labelBold {
  font-weight: bold;
}
#storesBinding #productDetailBinding #tab-supplierPrice #estProductionTimeContainer #txtEstProductionTime {
  width: 30%;
}
#storesBinding #productDetailBinding #tab-supplierPrice #estProductionTimeContainer span {
  width: 30%;
}
#storesBinding #productDetailBinding #tab-supplierPrice #switchAutoCreateGraterContainer {
  padding-left: 0;
  padding-right: 0;
  width: 12%;
}
#storesBinding #productDetailBinding #tab-supplierPrice .deliveryTimeContiner input,
#storesBinding #productDetailBinding #tab-supplierPrice .deliveryTimeContiner span {
  width: 40%;
}
#storesBinding #productDetailBinding #tab-supplierPrice #supplierTabs {
  border: dotted;
  border-width: 1px;
  border-color: lightgray;
}
#storesBinding #productDetailBinding #tab-supplierPrice #qtyLimitLabel {
  width: 17%;
}
#storesBinding #productDetailBinding #tab-supplierPrice #qtyLimitInputContainer {
  width: 15%;
}
#storesBinding #productDetailBinding #tab-supplierPrice #qtyLimitInputContainer input {
  width: 100px;
}
#storesBinding #productDetailBinding #productCategoryDialog ol.dd-list li.dd-item .nested-links {
  margin-top: -3px;
}
#storesBinding #tab-products .dd-item {
  height: auto;
  overflow: hidden;
  clear: both;
}
#storesBinding #tab-products .dd-handle-list {
  overflow: hidden;
  margin-top: 6px;
}
#storesBinding #tab-products .dd-handle {
  height: auto;
}
#storesBinding #ops_theme_dropdown {
  z-index: 1000000000000000;
  float: left;
  width: 240px;
}
#storesBinding #ops_theme_dropdown #logo {
  position: relative;
  float: left;
  margin: 0 20px;
}
#storesBinding #ops_theme_dropdown #logo:hover {
  opacity: .75;
}
#storesBinding #ops_theme_dropdown #ops_theme_list {
  float: left;
  position: relative;
  width: 230px;
}
#storesBinding #ops_theme_dropdown #ops_theme_list #ops_theme_select {
  color: black;
}
#storesBinding #ops_theme_dropdown #ops_theme_list #ops_theme_select:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 11px;
  height: 3px;
  width: 15px;
  border-width: 2px 0;
  border-style: solid;
  border-color: #CCCCCC;
  box-shadow: 0 3px 0 #222, 0 5px 0 #ddd;
}
#storesBinding #ops_theme_dropdown #ops_theme_list ul {
  position: absolute;
  display: none;
  width: 238px;
  top: 27px;
  left: -12px;
  z-index: 1000000000000000;
  padding: 0;
  background: white;
  border: 1px solid #e7ebee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#storesBinding #ops_theme_dropdown #ops_theme_list ul li {
  display: block;
}
#storesBinding #ops_theme_dropdown #ops_theme_list ul li a {
  display: block;
  padding: 0 10px 1px;
  color: black;
}
#storesBinding #ops_theme_dropdown #ops_theme_list ul li a .themeType {
  display: inline;
  float: left;
  text-transform: uppercase;
  font-size: 10px;
  background: #0076BF;
  padding: 3px 5px;
}
#storesBinding #ops_theme_dropdown #ops_theme_list ul li .themePreview {
  position: absolute;
  top: 0;
  left: 227px;
  border: 5px solid #171717;
  display: none;
  background: #171717;
}
#storesBinding #ops_theme_dropdown #ops_theme_list ul li:hover a {
  background: #3498db;
  color: white;
}
#storesBinding #ops_theme_dropdown #ops_theme_list ul li:hover .themePreview {
  display: block;
  z-index: 1000000000000000;
}
#storesBinding .form-group-closer {
  margin-bottom: 0px;
}
#storesBinding #productMarketBriefQuestionDialog #addMarketBriefAnswerBtn {
  margin-right: 14px;
}
.store-user-link {
  display: block;
  font-size: 1.25em;
  padding-top: 3px;
}
.profileLabelPadding {
  margin-top: 15px;
}
#columnsAlign {
  table-layout: fixed;
}
.categoryImage {
  min-height: 100Px;
  min-width: 100Px;
}
.storeSubText {
  font-size: 0.875em;
  color: #565050;
}
.archiveButton {
  float: left;
}
.activeProduct {
  color: #00DB3B;
}
.inactiveProduct {
  color: red;
}
#inventoryBinding #addInventory {
  margin-top: 25px;
}
#inventoryBinding #filter {
  height: 62px !important;
}
#inventoryBinding #topArea {
  margin-bottom: -11px;
}
#inventoryBinding #tabsHeader {
  border: 1px solid silver;
  box-shadow: 1px 1px 1px silver;
}
#inventoryBinding .dynamicNameHeading {
  height: 51px;
}
#inventoryBinding #inventoryEditor #tab-CostPrice #costTablle tr th#costTh {
  width: 104px;
}
#inventoryBinding #inventoryEditor #tab-CostPrice #costTablle tr th#fromTh {
  width: 104px;
}
#inventoryBinding #inventoryEditor #tab-CostPrice #costTablle tr th#toTh {
  width: 10%;
}
#inventoryBinding #inventoryEditor #tab-CostPrice #costTablle tr th#packCostTh {
  width: 10%;
}
#paperSheetBinding #filter {
  height: 62px !important;
}
#paperSheetBinding .removeLeftMargin {
  margin-left: 0px;
}
#inventoryCategoriesBinding #addInventory {
  margin-top: 25px;
}
#inventoryCategoriesBinding #filter {
  height: 62px !important;
}
#inventoryCategoriesBinding #topArea {
  margin-bottom: -11px;
}
#inventoryCategoriesBinding #detailArea {
  margin-top: 3px;
}
#stockDialog #stockDialogMainContainer {
  width: 838px;
}
#orderBinding #tab-EstimateHeader .attachmentDownload {
  padding-left: 0px;
  border-left-width: 0px;
  padding-right: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  border-bottom: none;
  height: 31px;
}
#orderBinding #tab-EstimateHeader #orderType {
  font-weight: bold;
  font-size: 15px;
  color: red;
}
#orderBinding #tab-EstimateHeader #orderItemDetailDialog #orderItemDetail {
  width: 1200px;
}
#orderBinding #tab-EstimateHeader #orderSectionDetailDialog #orderSectionDetail {
  width: 1100px;
}
#orderBinding #tab-EstimateHeader #orderStatusSliderContainer {
  background-color: gainsboro;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#orderBinding #tab-EstimateHeader #orderStatusSliderContainer #statusSliderSubContainer {
  background-color: gainsboro;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 100%;
}
#orderBinding #tab-EstimateHeader #orderStatusSliderContainer #statusSliderSubContainer #orderStatusSilderPanel {
  margin-bottom: 60px;
  width: 80%;
}
#orderBinding #tab-EstimateHeader #orderHeaderProductsContainer,
#orderBinding #tab-EstimateHeader #orderHeaderShippingContainer {
  background-color: gainsboro;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#orderBinding #tab-EstimateHeader #orderHeaderAddShippingButton {
  float: left;
  margin-top: 10px;
  margin-left: -8px;
}
#orderBinding .itemSectionName {
  float: right;
  margin-top: -82%;
  margin-right: -6%;
  width: 86%;
  color: #3c9bf6;
}
#orderBinding .phraseLibrayLink {
  padding: 4px 12px;
}
#OrderDialogSection1 {
  -moz-box-shadow: 0 0 8px #808080;
  -webkit-box-shadow: 0 0 8px #808080;
  box-shadow: 0 0 8px #808080;
}
#OrderDialogSection2 {
  -moz-box-shadow: 0 0 8px #808080;
  -webkit-box-shadow: 0 0 8px #808080;
  box-shadow: 0 0 8px #808080;
  margin-left: 5%;
}
#productFromRetailStoreModalDialog {
  width: 1100px;
}
#AddOnHeading {
  font-weight: bold;
}
#SectionDetailImage {
  text-align: center;
}
#SectionDetailButtons {
  float: right;
}
#stockItemRight {
  float: right;
}
.productDialogEmptyHeight {
  min-height: 350px;
  max-height: 350px;
}
.productDialogNonEmptyHeight {
  min-height: 318px;
  max-height: 318px;
}
#left-panel {
  width: 300px;
  height: 360px;
  border: 5px solid #3c9bf6;
  background-color: #ffffff;
  position: fixed;
  top: 274px;
  /*right: -275px;*/
  right: -300px;
  -moz-border-radius: 0 1em 1em 0;
  -webkit-border-radius: 0 1em 1em 0;
  border-radius: 0 1em 1em 0;
  padding: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 9;
}
#left-panel:hover {
  /*right: -250px;*/
}
#left-panel.show {
  right: -5px;
}
#left-panel .controller {
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
}
#left-panel a.controller {
  position: absolute;
  left: 5px;
  top: 5px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#left-panel.show a.controller {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#notes-Button {
  transform: rotate(-90deg);
  float: right;
  position: absolute;
  margin-left: 320px;
}
#panel-heading {
  color: black;
  background-color: #f5f5f5;
  border-bottom: none;
}
#panel-title {
  border-bottom: none;
}
.label-circle-add {
  border-radius: 50%;
  padding: 0 !important;
  background-color: green;
  margin-left: 27px;
  cursor: pointer;
  color: white !important;
  font-weight: bolder;
  position: absolute;
  font-size: 45px;
  bottom: 40px;
}
.label-circle-addsection {
  border-radius: 50%;
  padding: 0 !important;
  background-color: green;
  margin-left: 27px;
  cursor: pointer;
  color: white !important;
  font-weight: bolder;
  position: absolute;
  font-size: 45px;
  top: 80px;
}
.label-circle-minus {
  border-radius: 50%;
  padding: 0 !important;
  background-color: red;
  margin-left: 27px;
  cursor: pointer;
  color: white !important;
  font-weight: bolder;
  position: absolute;
  font-size: 45px;
  bottom: 40px;
}
.font20px {
  font-size: 20px;
  height: 40px;
}
#companySelectorDialog .modal-dialog {
  width: 838px;
}
#companySelectorDialog .filter-body {
  margin-top: 15px;
  margin-bottom: 30px;
  height: 63px;
}
#itemJobStatusBinding .collapsableView {
  margin-right: 3px;
}
#itemJobStatusBinding .collapsableHeight {
  max-height: 374px;
  overflow-y: auto;
  list-style: none;
  min-height: 374px;
}
#itemJobStatusBinding .itemFooterHighlight {
  min-height: 8px;
  background-color: silver;
  margin-right: -23px;
  margin-left: -23px;
}
#itemJobStatusBinding .openBtn {
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  font-size: x-small;
}
#itemJobStatusBinding .formGroupSmaller {
  margin-bottom: 0px;
  font-size: smaller;
}
#itemJobStatusBinding .formGroupSmall {
  margin-bottom: 0px;
  font-size: small;
}
#itemJobStatusBinding .code {
  margin-bottom: 7px;
  font-size: x-small;
}
#itemJobStatusBinding .labelToPadding {
  padding-top: 0px;
}
#itemJobStatusBinding .title {
  font-size: small;
}
/*# sourceMappingURL=MainSite.css.map */