#productBinding .activeView {
  background-color: #ff7e47;
  color: white;
}
#productBinding .inactiveView {
  background-color: #ffffff;
  color: black;
}
#productBinding #changeViewSection {
  padding-left: 0;
}
#productBinding #gridZoomSlider {
  width: 100%;
}
#productBinding #ListForm th {
  background: #f3f3f3;
  border-right: 1px solid white;
}
#productBinding #ListForm #Top_Cat_ThumbnailPath {
  width: 150px;
  height: 150px;
}
#productBinding #ListForm #productCodeHeader {
  width: 12%;
  max-width: 12%;
}
#productBinding #ListForm #productImageHeader {
  width: 12%;
  max-width: 12%;
}
#productBinding #ListForm #productNameHeader {
  width: 20%;
  max-width: 20%;
}
#productBinding #ListForm #productPriceHeader {
  width: 10%;
  max-width: 10%;
}
#productBinding #ListForm #productCategoriesHeader {
  width: 12%;
  max-width: 12%;
}
#productBinding #ListForm #productPublishedHeader {
  width: 12%;
  max-width: 12%;
}
#productBinding .productIcons {
  display: none;
  margin-top: -38px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  width: 22%;
  background-color: #fffffb;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#productBinding .LCLB:hover .productIcons {
  display: block;
}
#productBinding #pressDialog #pressDialogMainContainer {
  width: 838px;
}
#productBinding #signatureEdit .modal-dialog {
  width: 838px;
}
#productBinding #itemAddonCostCentreDialog #itemAddonCostCentreDialogMainContainer {
  width: 838px;
}
#productBinding .pricetable-itemPriceMatrix tr th#Qty {
  width: 12%;
}
#productBinding .pricetable-itemPriceMatrix tr th#QtyRangeFrom,
#productBinding .pricetable-itemPriceMatrix tr th#QtyRangeTo {
  width: 6%;
}
#productBinding .pricetable-itemPriceMatrix tr th.paperStockType {
  width: 8%;
}
#productBinding #tab-pricetable .form-group #txtDiscountsContainer {
  padding: 0;
}
#productBinding #tab-pricetable .form-group #packagingWeightUnitLabel {
  padding-top: 10px;
}
#productBinding #tab-pricetable .form-group #txtTaxContainer {
  width: 50%;
}
#productBinding #tab-pricetable .form-group #stateTaxSectionLabel {
  font-weight: bold;
}
#productBinding #tab-supplierPrice .labelBold {
  font-weight: bold;
}
#productBinding #tab-supplierPrice #estProductionTimeContainer #txtEstProductionTime {
  width: 30%;
}
#productBinding #tab-supplierPrice #estProductionTimeContainer span {
  width: 30%;
}
#productBinding #tab-supplierPrice #switchAutoCreateGraterContainer {
  padding-left: 0;
  padding-right: 0;
  width: 12%;
}
#productBinding #tab-supplierPrice .deliveryTimeContiner input,
#productBinding #tab-supplierPrice .deliveryTimeContiner span {
  width: 40%;
}
#productBinding #tab-supplierPrice #supplierTabs {
  border: dotted;
  border-width: 1px;
  border-color: lightgray;
}
#productBinding #tab-supplierPrice #qtyLimitLabel {
  width: 17%;
}
#productBinding #tab-supplierPrice #qtyLimitInputContainer {
  width: 15%;
}
#productBinding #tab-supplierPrice #qtyLimitInputContainer input {
  width: 100px;
}
#productBinding #productCategoryDialog ol.dd-list li.dd-item .nested-links {
  margin-top: -3px;
}
