@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div>
    
        @
        if ( ViewBag.error == "")
        {
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        }
        else

        {
            <p>ViewBag.error</p>
        }
    
</div>
