@model SMD.Models.IdentityModels.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="input-group">
        <span class="input-group-addon" tabindex="-1"><i class="fa fa-user"></i></span>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" value="Reset Password" class="btn btn-success col-xs-12">
        </div>
    </div>
}

