@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@Html.Partial("_LoginMain")
@section Sidebar{
    <div style="margin-top:120px;text-align:center;" id="registersidebar">
        <h1 style="color:white">The streaming platform <br />run by you!</h1>
        
    </div>
}


@section headerText{

    @*Sign In below using the same account as your Cash4ADs app account.*@


}
