@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@Html.Partial("_LoginMain")
@section Sidebar{
<div style="margin-top:120px;text-align:center;" id="registersidebar">
    <h1 style="color:white">The advertising platform <br />run by you!</h1>
 </div>
}
