@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@Html.Partial("_LoginMain")


@section Sidebar{
    @*<div style="margin-top:60px;"><img style="width:700px;" src="~/Images/Sign_In_Image.png" /></div>*@
}
