@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@Html.Partial("_LoginMain")


@section Sidebar{
   
<div style="margin-top:120px;text-align:center" id="registersidebar">
    <h1>Advertise to mobile users!<br /></h1>
    <img style="width:500px;margin-top:60px;" src="~/Images/New_Register_Image.png" />
    @*<p style="font-style:italic; color:black;margin-top:60px;font-size:1.6em;">We don't do BOTS - people to people advertising platform</p>*@
</div>
}
