
<section style="background:#33d3b4;">

    <div class="container">

        <div id="bal" class="pull-left inner-top-xs" style="padding-left:140px; color:white">
            <div>Your Balance</div>
            <div style="font-size:22px;font-weight:bold">  £ Sign In</div>
        </div>

        <div id="nav" class=" pull-right inner-top-xs" style="padding-right:60px;">
            <button type="button" class="btn btn-lead btn-lg">Cash Out</button>
            <button type="button" class="btn btn-leadActive btn-lg">Swap 4 Vouchers</button>
            <button type="button" class="btn btn-lead btn-lg">2-4-1 Offers</button>

        </div>
    </div>
</section>
