@{
    ViewBag.Title = "Change Password ";
}

<div class="modal fade" id="ChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
    <div style="width: 500px;" class="modal-dialog">
        <div class="modal-content">


            <div class="modal-content partial-contents" style="background-color:#FFFFFF;border-radius:5px;width:790px;margin-left:-168px;margin-top:-1px;" id="phraseLibraryDialog">
                

                <div class="modal-header" id="child-dialog-title">
                    <span class="modal-title Theme_standard_clr" style="font-size:24px;">Change password</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>

                <div class="col-lg-12 clearfix" style="margin-top:8px;">
                    <div class="row" id="user-profile">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-horizontal">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-4 text-right">

                                        <label class="control-label text-right tooltip-float">Current Password</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" data-bind="value: $root.OldPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-4 text-right">

                                        <label class="control-label text-right tooltip-float">New Password</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" data-bind="value: $root.NewPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-4 text-right">

                                        <label class="control-label text-right tooltip-float">Confirm Password</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" data-bind="value: $root.ConfirmPassword">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer col-xs-12">

                    <button type="button" class="btn btn-info" style="margin-left:0px;" data-bind="click: $root.ChangePasswordOk">Change Password</button>
                </div>
                <div class="clearfix">
                </div>

                </div>
            </div>
    </div>
    <div class="clearfix">
    </div>
</div>

@* Wizard Popup ends here*@




