@{
    ViewBag.Title = "Store Details";
}
<div data-bind="visible: $root.isEditorVisible()" style="display: none">
    <div class="col-lg-12">
        @*<div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="#" class="my-navigator">Home</a></li>
                        <li><a href="#" class="my-navigator" >Ad Campaign Approval</a></li>
                    </ol>

                </div>
            </div>*@
        <div class="row" id="user-profile">
            <div class="col-lg-12 col-md-8 col-sm-8" style="padding-bottom: 10px;">
                <div class="clearfix ">
                    <div class="col-xs-12" style="text-align: right; padding-right:0;margin-bottom:1px;margin-top:10px;">

                        <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeEditDialog">Close</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="main-box clearfix" id="tabsHeader">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs" style="display:none;">
                            <li class="active" id="generalInfoTab"><a href="#tab-generalinfo" data-toggle="tab">General Info</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" data-bind="with: $root.selectedCampaign" id="tab-generalinfo">
                                <div class="col-lg-12 form-horizontal">
                                    <h3 class="group-header" style="margin-top:20px;" data-bind="visible:type()==1">
                                   Approve - Reject Vidio Ads
                                    </h3>
                                    <h3 class="group-header" style="margin-top:20px;" data-bind="visible:type()==4">
                                        Approve - Reject Display Ads
                                    </h3>
                                    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom:20px">
                                        <label class="control-label" style="font-size:20px">Account Profile</label>
                                        <div style="padding-left:0px;padding-right:0px;padding-bottom:5px; min-height: 270.90px;background-color:#f9f9f9;">
                                            <div class="col-lg-4 text-left">
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4">
                                                        <label class="control-label" style="padding-top:10px;padding-left:10px;font-weight:bold">Account Holder</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Title:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>Muhammad Abuzar Iqbal</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">E-mail address:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>shanabuzar@yahoo.com</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Mobile no:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>+923247714241</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Date of birth:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>20-jul-1992</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">ID no:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>xxxx125633325222322252223225223322</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 text-left">
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-6">
                                                        <label class="control-label" style="padding-top:10px;padding-left:10px;font-weight:bold">Billing Address</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Billing Address 1:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>Test addressline 1 </label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Billing Address 2:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>Test address line 2</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Billing City:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>Test City</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Billing State:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>Test State</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Billing Country:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>Test Country</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Billing Phone:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>03247714241</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Billing Email:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>shanabuzartestmail.com</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 text-left">
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4">
                                                        <label class="control-label" style="padding-top:10px;padding-left:10px">Business Name:</label>
                                                    </div>
                                                    <div class="col-lg-8" style="padding-top:10px">
                                                        <label>Test Company</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Website:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>www.test.com</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Sale phone no:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>+923247714241</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Billing E-mail:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>shanabuzar@yahoo.com</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Billing phone no:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>+923247714241</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Company Type:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>type</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Company Reg No:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>111221xx2121xx2221121221212</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Sales Tex No:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>111221xx2121xx22211</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-5">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Business Start Date:</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>20-jul-1992</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px">Credit Card</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>yes</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float" data-bind="visible:!$root.isShowCopounMode()">Ad Title</label>
                                                <label class="control-label text-right tooltip-float" data-bind="visible:$root.isShowCopounMode()">Coupon Name</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:campaignName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" style="display:none">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Mode</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:deliveryDays">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" data-bind="visible:false">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">First line</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value: description">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" data-bind="visible:false">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Second line</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value: CampaignDescription">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" data-bind="visible:$root.isShowCopounMode()">
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value: CouponSwapValue">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" data-bind="visible:$root.isShowCopounMode()">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Actual Value</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value: CouponActualValue">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" data-bind="visible:$root.isShowCopounMode()">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Quantity</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value: CouponQuantity">
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-lg-9 marginBottom12" data-bind="visible:imagePath()!=''">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Logo</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <img id="vehicleImage" alt="" style="width: auto;height:80px" data-bind="attr:{src:'/'+ imagePath()}" />
                                                    <h5><span></span></h5>
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="col-lg-9" style="display:none" > @*data-bind="visible:!$root.isShowCopounMode()"*@
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Max Budget</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value: maxBudget">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12" data-bind="visible:!$root.isShowCopounMode()">
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Daily Budget</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value: maxDailyBudget">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 marginBottom12" style="margin-bottom:0px;" data-bind="visible:imagePath()!=''">
                                            <div class="col-md-6">
                                                <label>Logo</label>
                                                <img id="vehicleImage" alt="" style="width: auto;height:80px" data-bind="attr:{src:imagePath()}" />
                                            </div>
                                        </div>
                                    </div>


                                    @*<div class="col-lg-9" data-bind="visible:!$root.isShowCopounMode()">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Max Daily Budget</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:maxDailyBudget">
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="col-lg-9" data-bind="visible:!$root.isShowCopounMode()">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Ad Click</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value: clickRate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" style="display:none">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Currency Symbol</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:'$'">
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-lg-9" data-bind="visible:!$root.isShowCopounMode()" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Type</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value: type()==1 ? 'Video':'Link'">
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="col-lg-9" style="display:none;">
                                        @*Todo::pilot data-bind="visible:!$root.isShowCopounMode()"*@
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Voucher Heading</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value: Voucher1Heading">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" style="display:none;">
                                        @*Todo::pilot data-bind="visible:!$root.isShowCopounMode()"*@
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label class="control-label text-right tooltip-float">Voucher Description</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value: Voucher1Description">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" style="display:none;">
                                        @*Todo::pilot data-bind="visible:!$root.isShowCopounMode()"*@
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label class="control-label text-right tooltip-float">Voucher Value Discount</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:Voucher1Value">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 marginBottom12" style="display:none;">
                                        @*Todo::pilot data-bind="visible:!$root.isShowCopounMode()"*@
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label class="control-label text-right tooltip-float">Voucher Image</label>
                                            </div>
                                            <div class="col-md-6">
                                                <img id="vehicleImage" alt="" style="width: 120px;height:120px" data-bind="attr:{src:'/' + Voucher1ImagePath() }" />
                                                <h5><span></span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" data-bind="visible:type()==2">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float"></label>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="#" target="_blank" data-bind="text:landingLink , attr:{href:landingLink}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9" >
                                        <div class="form-group" data-bind="visible:type()==1">
                                            <div class="col-lg-4 text-right">

                                                <label class="control-label text-right tooltip-float"></label>
                                            </div>
                                            <div class="col-lg-6">
                                                <video controls width="420" height="315" data-bind="attr:{ src:videoLink2 }"></video>
                                                @*<object id="objvideolink" width="420" height="315" data-bind="attr:{data:landingLink}"></object>*@

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Quiz Question</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:verifyQuestion">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Choice 1</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:answer1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Choice 2</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:answer2">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Choice 3</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:answer3">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Correct Answer</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:correctAnswer()==1 ? answer1 :correctAnswer()==2 ? answer2:correctAnswer()==3 ? answer3 :'Any of above'">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-campaign-left  Float-Left">
                                                <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Call for action options</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Call For Action</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:buyItLine1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Landing page url</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:videoUrl">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Button Label</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control" data-bind="value:buyItButtonLabel">
                                            </div>
                                            <div class="col-lg-1">
                                                <a id="displayBrabchlocatuion" target="_blank" data-bind="attr: { href: videoUrl }" style="padding: 4px 8px;" class="btn btn-primary">
                                                    <i class="fa fa-lg"></i>&nbsp;Open Link
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div style="padding-left:0px;padding-right:0px;padding-bottom:5px; padding:15px; min-height: 128.90px;background-color:#f9f9f9">
                                            <div class="col-lg-9" data-bind="visible:!isApproved()">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        @*<div class="bs-example-tooltips tooltip-float-width">
                                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                </a>
                                                            </div>*@
                                                        <label class="control-label text-right tooltip-float">Rejection Reason</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <textarea placeholder="Enter rejection reason " style=" resize: none" class="form-control" data-bind="value: rejectionReason"></textarea>
                                                        @*<input type="text" placeholder="Enter rejection reason " class="form-control" data-bind="value: rejectionReason">*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">

                                                    </div>
                                                    <div class="col-lg-6">
                                                        <button class="btn  btn-success" id="saveBtn" data-bind="click:$root.onApproveCampaign,visible:rejectionReason()==null ||rejectionReason()==''">Approve</button>
                                                        <button class="btn " id="saveBtn" data-bind="click:$root.onRejectCampaign, enable: $root.hasChangesOnCampaign, css: { ' btn-danger': $root.hasChangesOnCampaign }">Reject</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>