

<div data-bind="visible: $root.isAdvertdashboardVisible()" style="display: none;padding-left:0px;" class=" col-lg-12 form-horizontal">
    <div class="main-box main-box-subpage">
        <div class="row">

            <span class="charts_label" style="margin-left: 16px;">Charts & Analytics</span>

            <div id="roor_panel" style="margin-top:11px;">
                <div class="col-lg-6 adsubHeading Theme_standard_clr borderbtmline" style="padding-bottom:10px;padding-left:15px;">
                    Timeline
                </div>
                <div class="col-lg-3 adsubHeading Theme_standard_clr borderbtmline" style="padding-bottom:10px;">
                    <label class="control-label text-right tooltip-float floatNone defaultThemeTxtClr defaultImgUploadImageBtn">Date range </label>
                </div>
                <div class="col-lg-3 adsubHeading Theme_standard_clr borderbtmline" style="padding-bottom:2px;">
                    <select class="form-control" id="ddDateRangeDropDown" data-bind="options: $root.DateRangeDropDown, optionsText: 'name', optionsValue: 'id', value:$root.selecteddateRangeAnalytics, event: { change: $root.getAdsByCampaignIdAnalytics }"></select>
                </div>
            </div>
        </div>
        <div id="ddpanel">
            <div class="col-lg-3"></div>

            <div class="col-lg-2">
                <label style="padding-top:18px;" class="control-label text-right tooltip-float floatNone defaultThemeTxtClr defaultImgUploadImageBtn">Granularity level </label>
            </div>
            <div class="col-lg-3">
                <select class="form-control margin10 pull-left" id="ddGranularityDropDown" data-bind="options: $root.granularityDropDown, optionsText: 'name', optionsValue: 'id', value:$root.selectedGranularityAnalytics, event: { change: $root.getAdsByCampaignIdAnalytics }"></select>
            </div>

            <div class="col-lg-1">
                <label style="padding-top:18px;" class="control-label text-right tooltip-float floatNone defaultThemeTxtClr defaultImgUploadImageBtn">Status </label>
            </div>
            <div class="col-lg-3">
                <select class="form-control margin10 pull-left" id="ddCampaignStatusDropDown" data-bind="options: $root.CampaignStatusDropDown, optionsText: 'name', optionsValue: 'id', value:$root.selectedCampStatusAnalytics, event: { change: $root.getAdsByCampaignIdAnalytics }"></select>
            </div>

        </div>
        <div class="row main-box">
            <div class="col-lg-12">
                <div class=" margin10">
                    <!-- ko if: $root.selectedCampStatusAnalytics() === 1  -->
                    <div style="height:150px;" data-bind="morris: {type: 'Line', data: $root.AdsCampaignAnalyticsData, xkey: 'Granual', ykeys: ['openStats', 'Stats'], labels: ['Open', 'Answered'], yLabelFormat: function(y){return y != Math.round(y)?'':y;}, parseTime:false, setAxisAlignFirstX: true, lineColors: ['blue','green'] }"></div>
                    <!-- /ko -->
                    <!-- ko if: $root.selectedCampStatusAnalytics() === 2  -->
                    <div style="height:150px;" data-bind="morris: {type: 'Line', data: $root.AdsCampaignAnalyticsData, xkey: 'Granual', ykeys: ['openStats', 'Stats'], labels: ['Total Impressions', 'Reffered'], yLabelFormat: function(y){return y != Math.round(y)?'':y;},  parseTime:false, setAxisAlignFirstX: true, lineColors: ['blue','green'] }"></div>
                    <!-- /ko -->
                    <!-- ko if: $root.selectedCampStatusAnalytics() === 3  -->
                    <div style="height:150px;" data-bind="morris: {type: 'Line', data: $root.AdsCampaignAnalyticsData, xkey: 'Granual', ykeys: ['openStats', 'Stats'], labels: ['Total Impressions', 'Skipped'], yLabelFormat: function(y){return y != Math.round(y)?'':y;},  parseTime:false, setAxisAlignFirstX: true, lineColors: ['blue','red'] }"></div>
                    <!-- /ko -->


                </div>
            </div>

        </div>

        <div class="row main-box">
            <div class="col-lg-12">
                <div class=" margin10">
                    <div style="height:150px;" data-bind="morris: {type: 'Line', data: $root.AdsCampaignAnalyticsData, xkey: 'Granual', ykeys: ['avgAdClickStats'], labels: ['Ad Click Charge'], parseTime:false, setAxisAlignFirstX: true, lineColors: ['blue','orange' ,'green'], preUnits:'$' }"></div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="adsubHeading Theme_standard_clr borderbtmline" style="padding-left:16px;">
                <br />
                Landing page conversions vs reward click count
            </div>
        </div>
        <div class="row main-box">

            <div class="col-lg-6">
                <!--ko if: $root.selecteddateRangeAnalytics() == 1 -->
                <div>Date range : Last 30 days </div>
                <!--/ko-->
                <!--ko if: $root.selecteddateRangeAnalytics() == 2 -->
                <div>Date range : All time </div>
                <!--/ko-->

                <div data-bind="morris: {type: 'Donut', data: $root.CampaignRatioAnalyticData, resize:true, colors: ['green', 'blue','orange' ] }" style="width:250px;height:250px;padding-left:50px;cursor: pointer;"></div>

            </div>
            <div class="col-lg-6">
                <table style="margin-top:70px;">
                    <thead>
                        <tr>
                            <th>
                                &nbsp;
                            </th>
                            <th class="padingL15">
                                All time
                            </th>
                            <th class="padingL15">
                                Last 30 days
                            </th>
                        </tr>
                    </thead>
                    <!-- ko template: { name: 'CampaignTblAnalyticsDataTemplate' , foreach: $root.CampaignTblAnalyticsData } -->
                    <!-- /ko -->
                </table>
            </div>

        </div>
        <div class="row">
            <div class="adsubHeading Theme_standard_clr borderbtmline" style="padding-left:16px;">
                <br />
                Campaign ROI
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <table class="roitbl" style="">
                    <!-- ko template: { name: 'CampaignROITblAnalyticsDataTemplate' , foreach: $root.CampaignROItblAnalyticData } -->
                    <!-- /ko -->
                </table>
            </div>

        </div>
        <div class="row">
            <div class="adsubHeading Theme_standard_clr borderbtmline" style="padding-left:16px;">
                <br />
                You can further filter this campaign to reveal deeper insights by :
            </div>
            <div class="col-lg-12">
                Target Filters
             </div>
                <div class="col-lg-12">
                    <table>
                        <tr>
                            <td >
                                <span data-bind="text: $root.QuizQuestionAnalyticData"></span>

                            </td>
                            <td><select class="form-control" id="ddQQCDropDown" data-bind="options: $root.QQChoicesAnalyticsData, optionsText: 'ChoiceDescription', optionsValue: 'ChoiceId', value:$root.selectedQQCAnalytics, event: { change: $root.getQQAnalytic }"></select></td>
                            <td>
                                <span data-bind="text: $root.QQStatsAnalytics"></span>
                            </td>
                        </tr>
                        @*<tr>
                            <td>Gender : </td>
                            <td><select class="form-control" id="ddQQGDropDown" data-bind="options: $root.GenderAnalyticsData, optionsText: 'name', optionsValue: 'id', value:$root.selectedQQGAnalytics, event: { change: $root.getQQAnalytic }"></select></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Age range : </td>
                            <td><select class="form-control" id="ddQQADropDown" data-bind="options: $root.AgeRangeAnalyticsData, optionsText: 'name', optionsValue: 'id', value:$root.selectedQQAAnalytics, event: { change: $root.getQQAnalytic }"></select></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Profession : </td>
                            <td><select class="form-control" id="ddQQPDropDown" data-bind="options: $root.ProfessionAnalyticsData, optionsText: 'name', optionsValue: 'name', value:$root.selectedQQPAnalytics, event: { change: $root.getQQAnalytic }"></select></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>City : </td>
                            <td><select class="form-control" id="ddQQCtDropDown" data-bind="options: $root.CitiesAnalyticsData, optionsText: 'name', optionsValue: 'name', value:$root.selectedQQCtAnalytics, event: { change: $root.getQQAnalytic }"></select></td>
                            <td></td>
                        </tr>*@
                      
                    </table>
                </div>
            </div>
        <div class="clearfix">
        </div>
        <div class="clearfix">
        </div>
    </div>

</div>

<script id="CampaignTblAnalyticsDataTemplate" type="text/html">
    <tr>
        <td><span data-bind="text: label"></span></td>

        <td class="padingL15 text-right">
            <!-- ko if: ordr === 5 ||ordr === 6 -->
            $
            <!-- /ko -->
            <span data-bind="text: All_time"></span>
        </td>
        <td class="padingL15 text-right">
            <!-- ko if: ordr === 5 ||ordr === 6 -->
            $
            <!-- /ko -->
            <span data-bind="text: C30_days"></span>
        </td>
    </tr>
</script>

<script id="CampaignROITblAnalyticsDataTemplate" type="text/html">
    <tr>
        <td><span data-bind="text: label1"></span></td>

        <td class="text-right">
            <span data-bind="text: Stats1"></span>
        </td>
        <td style="background-color: #eee">
            <span data-bind="text: label2"></span>
        </td>

        <td class="text-right" style="background-color: #eee">
            $<span data-bind="text: Stats2"></span>
        </td>
        <td>
            <span data-bind="text: label3"></span>
        </td>

        <td class="text-right">
            <!--ko if: Stats3 != null-->
            <span data-bind="text: Stats3"></span>%
            <!--/ko-->
        </td>

    </tr>
</script>