@{
    ViewBag.Title = "ManageCampaign";
}

@section leftmenue {
}


<div data-bind="visible: $root.isEditorVisible()" style="display: none">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12" id="topArea">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">&nbsp;</a></li>
                </ol>
                <div class="clearfix">
                    <h1 class="pull-left" style="padding-left:0px;">Add Campaign</h1>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-xs-6 pull-left validationSummaryContainer">
                        <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopupForStore', popoverId: 'validationSummaryPopoverBodyForStore' }" style="display: none">Invalid data: Click here to see details.</a>
                        <div class="well well-small validationSummaryModal" id="validationSummaryPopupForStore" style="display: none">
                            <div id="validationSummaryPopoverBodyForStore">
                                <ul data-bind="foreach: $root.errorList">
                                    <li>
                                        <a><span data-bind="text: name"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="pull-right top-page-ui" style="margin-right:5px;margin-bottom:5px;">

                        <div class="col-xs-12" style="text-align: right; padding-right:0;margin-bottom:10px;">
                            <button class="btn  btn-success" id="saveBtn" data-bind="click:$root.submitCampaignData, visible: $root.canSubmitForApproval">Submit for Approvals</button>
                            <button class="btn  btn-warning" id="saveBtn" data-bind="click:$root.saveCampaignData, enable: $root.hasChangesOnQuestion, css: { 'btn-warning': $root.hasChangesOnQuestion }">Save</button>
                            <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeNewCampaignDialog">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="col-lg-12 form-horizontal" data-bind="with: $root.campaignModel" style="padding: 20px;">
                        <div class="tabsdescriptions" style="margin-left:3px;">
                            <div class="col-lg-9" style="padding-left: 0 !important;">
                                <p class="group-header-description" style="margin-top:-1px;">
                                    Manage the basic details of your campaign in this section.
                                </p>
                            </div>
                            <div class="col-lg-3 pull-left" style="margin-top:-9px;padding-right:0px;">
                                <div class="col-lg-5 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label class="control-label">Status</label>
                                </div>
                                <div class="col-lg-6">

                                    <label class="control-label bold" data-bind="text:StatusValue()"></label>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-9">
                            <div class="form-group" style="margin-bottom:14px;">
                                <div class="col-lg-3 text-right">

                                    <label for="txtCampaignName" class="control-label text-right tooltip-float">Campaign Name</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="Campaign Name" class="form-control" id="txtCampaignName" placeholder="Enter Campaign Name" data-bind="value: CampaignName">

                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:14px;">
                                <div class="col-lg-3 text-right" style="padding-top:12px;">

                                    <label for="txtCampaignDisplayName" class="control-label text-right tooltip-float">Campaign Title</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" style="height:60px;" name="Campaign Display Name" class="form-control height60 font24px" id="txtCampaignDisplayName" placeholder="Campaign Display Name" data-bind="value: DisplayTitle,validationTooltip: DisplayTitle, validationOnElement: DisplayTitle">

                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:25px;">
                                <div class="col-lg-3 text-right" style="padding-top:12px;">

                                    <label for="txtCampaignDesc" class="control-label text-right tooltip-float">Ad line 1</label>
                                </div>
                                <div class="col-lg-6">
                                    <textarea class="form-control" id="txtCampaignDesc" rows="5" placeholder="Enter Description" data-bind="value: Description"></textarea>

                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:25px;">
                                <div class="col-lg-3 text-right" style="padding-top:12px;">

                                    <label for="txtCampaignDesc" class="control-label text-right tooltip-float">Ad line 2</label>
                                </div>
                                <div class="col-lg-6">
                                    <textarea class="form-control" id="txtCampaignDesc" rows="5" placeholder="Enter Description" data-bind="value: CampaignDescription"></textarea>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">

                                    <label for="ddpLanguage" class="control-label text-right tooltip-float">Select Language</label>
                                </div>
                                <div class="col-lg-6">
                                    <select id="ddpLanguage" class="form-control" data-bind="options: $root.langs, optionsText: 'LanguageName', optionsValue: 'LanguageId', value: LanguageId" disabled="disabled"></select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:11px;">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label class="control-label text-right tooltip-float">Display Type</label>
                                </div>
                                <div class="col-lg-6">

                                    <div class="radio col-lg-3">
                                        <input type="radio" name="optionsRadiosStoreType" id="optionsRadiosVideos" value="1" data-bind="checked: Type, event:{ change: $root.OnChangeCampaignType }">
                                        <label for="optionsRadiosVideos">
                                            Video
                                        </label>
                                    </div>
                                    <div class="radio col-lg-3">
                                        <input type="radio" name="optionsRadiosStoreType" id="optionsRadiosLink" value="2" data-bind="checked: Type, event:{ change: $root.OnChangeCampaignType }">
                                        <label for="optionsRadiosLink">
                                            URL
                                        </label>
                                        <span class="help-block text-right"></span>
                                    </div>
                                    <div class="radio col-lg-5">
                                        <input type="radio" name="optionsRadiosStoreType" id="optionsRadiosUploadImage" value="3" data-bind="checked: Type, event:{ change: $root.OnChangeCampaignType }">
                                        <label for="optionsRadiosUploadImage">
                                            Flyer / Image
                                        </label>
                                        <span class="help-block text-right"></span>
                                    </div>
                                    <div class="clearfix">

                                    </div>
                                    <div data-bind="visible: Type() != 3 ">

                                        <textarea class="form-control" id="txtLinkOfCampaign" rows="2" placeholder="" data-bind="value: LandingPageVideoLink, validationOnElement: LandingPageVideoLink, attr:{placeholder : $root.campaignTypePlaceHolderValue}"></textarea>

                                    </div>
                                    <div class="col-lg-12" style="margin-left:-10px;" data-bind="visible: Type() == 3">

                                        <div>

                                            <div class="defaultImgUploadImage">

                                                <img style="width:auto;height:80px;max-width:200px;" data-bind="visible: CampaignTypeImagePath() == ''" src="/Content/Images/Company_Default.png" />
                                                <img style="width:auto;height:80px;max-width:200px;" data-bind="visible: CampaignTypeImagePath() != '' ,attr: { src: CampaignTypeImagePath }" />

                                            </div>

                                        </div>

                                        <div class="defaultImgUploadImageBtn">

                                            <div class="col-lg-6" style="text-align:left;">
                                                <div class="fileUpload btn btn-primary">
                                                    <span>Upload </span>
                                                    <input type="file" class="upload" id="campaignType_image_file" data-bind="files: { onLoaded: $root.campaignTypeImageCallback, fileFilter: 'image.*'}" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtAge" class="control-label text-right tooltip-float">Age Range</label>
                                </div>
                                <div class="col-lg-1" style=" padding: 0px !important;     margin-left: 8px;">
                                    <select class="form-control" data-bind="options: $root.ageRange, optionsText: 'text', optionsValue: 'value', value: AgeRangeStart"></select>

                                </div>
                                <div class="pull-left range_dash">
                                    -
                                </div>
                                <div class="col-lg-1" style=" padding: 0px !important;">
                                    <select class="form-control" data-bind="options: $root.ageRange, optionsText: 'text', optionsValue: 'value', value: AgeRangeEnd"></select>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtGender" class="control-label text-right tooltip-float">Gender</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="radio col-lg-3">
                                        <input type="radio" name="optionsRadiosGender" id="optionsRadiosGenderAll" value="1" data-bind="checked: Gender">
                                        <label for="optionsRadiosGenderAll">
                                            All
                                        </label>
                                    </div>
                                    <div class="radio col-lg-3">
                                        <input type="radio" name="optionsRadiosGender" id="optionsRadiosGenderMEn" value="2" data-bind="checked: Gender">
                                        <label for="optionsRadiosGenderMEn">
                                            Men
                                        </label>
                                        <span class="help-block text-right"></span>
                                    </div>
                                    <div class="radio col-lg-5">
                                        <input type="radio" name="optionsRadiosGender" id="optionsRadiosGenderWMEn" value="3" data-bind="checked: Gender">
                                        <label for="optionsRadiosGenderWMEn">
                                            Women
                                        </label>
                                        <span class="help-block text-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtCountries" class="control-label text-right tooltip-float">Locations</label>
                                </div>
                                <div class="col-lg-6">
                                  
                                    <div id="coun_token_cnt">
                                        <!-- ko template: { name: 'AdCampaignLocationTemplate' , foreach: $root.selectedQuestionCountryList } -->
                                        <!-- /ko -->
                                    </div>
                                    <div class="clearfix"></div>
                                    <div id="count_edt">
                                        <div class="coun_in_ex_cnt">
                                            <select id="in_ex_count_opt" class="form-control" data-bind="value: $root.selectedLocationIncludeExclude">
                                                <option value="1">Include</option>
                                                <option value="0">Exclude</option>
                                            </select>
                                        </div>
                                        <div class="sep-line">

                                        </div>
                                        <div class="count_token_opt_cnt">
                                            <input type="text" data-autocomplete="off" class="" id="searchCampaignLocations" placeholder="Add country or city" />
                                            <input type="text" id="us3-radius" placeholder="Radius (meters)" data-bind="value: $root.selectedLocationRadius " class="locRadius locVisibility" />
                                            <button data-bind="click:$root.onAddLocation" class="locVisibility btn btn-info">Add Location</button>

                                        </div>
                                        <div class="count_token_opt_cnt locMap">
                                            <div id="mapContainer" style="width: 400px; height: 200px;"></div>
                                            <div class="clearfix">&nbsp;</div>
                                            <div class="m-t-small" style="display:none;">
                                                <label class="p-r-small col-sm-1 control-label">Lat.:</label>
                                                <div class="col-sm-3"><input type="text" class="form-control" style="width: 110px" id="us3-lat" data-bind="value: $root.selectedLocationLat " /></div>
                                                <label class="p-r-small col-sm-2 control-label">Long.:</label>
                                                <div class="col-sm-3"><input type="text" class="form-control" style="width: 110px" id="us3-lon" data-bind="value: $root.selectedLocationLong " /></div>
                                            </div>
                                        </div>
                                        <div class="clearfix">

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtLanguages" class="control-label text-right tooltip-float">Languages</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>

                                        <div id="lang_token_cnt">
                                            <!-- ko template: { name: 'AdCampaignLanguageTemplate' , foreach: AdCampaignTargetCriterias } -->
                                            <!-- /ko -->
                                        </div>
                                        <div class="clearfix"></div>
                                        <div id="land_edt">
                                            <div class="coun_in_ex_cnt">
                                                <select id="in_ex_count_opt" class="form-control" data-bind="value: $root.selectedLangIncludeExclude">
                                                    <option value="1">Include</option>
                                                    <option value="0">Exclude</option>
                                                </select>
                                            </div>
                                            <div class="sep-line">

                                            </div>
                                            <div class="count_token_opt_cnt">
                                                <input type="text" data-autocomplete="off" class="" id="searchLanguages" placeholder="Enter a language" />
                                            </div>

                                            <div class="clearfix">

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtLanguages" class="control-label text-right tooltip-float">Education</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>

                                        <div id="lang_token_cnt">
                                            <!-- ko template: { name: 'AdCampaignEducationTemplate' , foreach: AdCampaignTargetCriterias } -->
                                            <!-- /ko -->
                                        </div>
                                        <div class="clearfix"></div>
                                        <div id="land_edt">
                                            <div class="coun_in_ex_cnt">
                                                <select id="in_ex_count_opt" class="form-control" data-bind="value: $root.selectedEducationIncludeExclude">
                                                    <option value="1">Include</option>
                                                    <option value="0">Exclude</option>
                                                </select>
                                            </div>
                                            <div class="sep-line">

                                            </div>
                                            <div class="count_token_opt_cnt">
                                                <input type="text" data-autocomplete="off" class="" id="searchEducations" placeholder="Enter an Education" />
                                            </div>

                                            <div class="clearfix">

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtLanguages" class="control-label text-right tooltip-float">Profession</label>
                                </div>
                                <div class="col-lg-6">
                                    <div>

                                        <div id="lang_token_cnt">
                                            <!-- ko template: { name: 'AdCampaignIndustryTemplate' , foreach: AdCampaignTargetCriterias } -->
                                            <!-- /ko -->
                                        </div>
                                        <div class="clearfix"></div>
                                        <div id="land_edt">
                                            <div class="coun_in_ex_cnt">
                                                <select id="in_ex_count_opt" class="form-control" data-bind="value: $root.selectedIndustryIncludeExclude">
                                                    <option value="1">Include</option>
                                                    <option value="0">Exclude</option>
                                                </select>
                                            </div>
                                            <div class="sep-line">

                                            </div>
                                            <div class="count_token_opt_cnt">
                                                <input type="text" data-autocomplete="off" class="" id="searchIndustries" placeholder="Enter an industry" />
                                            </div>

                                            <div class="clearfix">

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtBudget" class="control-label text-right tooltip-float">Max Budget</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" name="Budget" class="form-control" id="txtBudget" data-bind="value: MaxBudget">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtBudget" class="control-label text-right tooltip-float">Schedule</label>
                                </div>
                                <div class="col-sm-6" style="background-color: gainsboro">
                                    <div class="form-group " style="margin-top: 15px;">
                                        <div class="col-sm-4 text-right">
                                            <label for="validFromDate" class="control-label text-right tooltip-float">Start Date</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="validFromDate" data-bind="datetimepicker:StartDateTime">
                                        </div>

                                    </div>
                                    <div class="form-group ">
                                        <div class="col-sm-4 text-right">
                                            <label for="validUptoDate" class="control-label text-right tooltip-float">End Date</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="validUptoDate" data-bind="datetimepicker:EndDateTime">
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="clearfix col-lg-9">
                                <header class="main-box-header clearfix" style="padding-right:0px;">
                                    <div class="filter-block pull-right">
                                        <a href="#" id="addTemplatePageBtn" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg" data-bind="click: $root.addNewSurveyCriteria">
                                            Add Survey Criteria
                                        </a>
                                        <a href="#" id="addTemplatePageBtn" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg" data-bind="click: $root.addNewProfileCriteria">
                                            Add Profile Criteria
                                        </a>
                                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="gridSystemModalLabel">Add Criteria</h4>
                                                    </div>
                                                    <div class="modal-body" data-bind="with:$root.selectedCriteria">
                                                        <div class="row">
                                                            <div class="col-lg-9 marginBottom12">
                                                                <div class="form-group">
                                                                    <div class="col-lg-5 text-right">
                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                            </a>
                                                                        </div>
                                                                        <label class="control-label text-right tooltip-float">Include Criteria</label>
                                                                    </div>
                                                                    <div class="col-lg-5">
                                                                        <div class="onoffswitch" style="margin-right:0px;">
                                                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchToInclude" data-bind="checked: IncludeorExclude">
                                                                            <label class=" onoffswitch-label" for="switchToInclude">
                                                                                <div class="onoffswitch-inner"></div>
                                                                                <div class="onoffswitch-switch"></div>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-bind="visible: Type() == 1">
                                                                <div class="col-lg-9 marginBottom12">
                                                                    <div class="form-group">
                                                                        <div class="col-lg-5 text-right">
                                                                            <div class="bs-example-tooltips tooltip-float-width">
                                                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                </a>
                                                                            </div>
                                                                            <label class="control-label text-right tooltip-float">Select Profile Question Criteria</label>
                                                                        </div>
                                                                        <div class="col-lg-5">
                                                                            <select id="ddprofileQuestion" class="form-control" data-bind="options: $root.profileQuestionList, optionsText: 'Question', optionsValue: 'PqId', optionsCaption: '&lt;' + 'Select Question'+ '&gt;' , value:PQID, event: { change: $root.onChangeProfileQuestion } "></select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div id="profileAnswersContainer" class="col-lg-9 marginBottom12" data-bind="visible: $root.profileAnswerList().length > 0">
                                                                    <div class="form-group">
                                                                        <div class="col-lg-5 text-right">
                                                                            <div class="bs-example-tooltips tooltip-float-width">
                                                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                </a>
                                                                            </div>
                                                                            <label class="control-label text-right tooltip-float">Select Answer</label>
                                                                        </div>
                                                                        <div class="col-lg-5">
                                                                            <select id="ddprofileAnswers" class="form-control" data-bind="options: $root.profileAnswerList,  optionsText: 'Answer', optionsValue: 'PqAnswerId', optionsCaption: '&lt;' + 'Select Answer'+ '&gt;' , value:PQAnswerID"></select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-bind="visible: Type() == 2">
                                                                <div class="col-lg-9 marginBottom12">
                                                                    <div class="form-group">
                                                                        <div class="col-lg-5 text-right">
                                                                            <div class="bs-example-tooltips tooltip-float-width">
                                                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                </a>
                                                                            </div>
                                                                            <label class="control-label text-right tooltip-float">Select Survey Question Criteria</label>
                                                                        </div>
                                                                        <div class="col-lg-5">
                                                                            <select id="ddsurveyQuestion" class="form-control" data-bind="options: $root.surveyQuestionList, optionsText: 'DisplayQuestion', optionsValue: 'SQID', optionsCaption: '&lt;' + 'Select Question'+ '&gt;' , value:SQID, event: { change: $root.onChangeSurveyQuestion } "></select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div id="surveyAnswersContainer" class="col-lg-9 marginBottom12" data-bind="visible: $root.isShowSurveyAns() ==  true">
                                                                    <div class="form-group">
                                                                        <div class="col-lg-5 text-right">
                                                                            <div class="bs-example-tooltips tooltip-float-width">
                                                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                </a>
                                                                            </div>
                                                                            <label class="control-label text-right tooltip-float">Select Answer</label>
                                                                        </div>
                                                                        <div class="col-lg-5">
                                                                            <div class="radio">
                                                                                <input type="radio" name="optionsRadiosSurveyAns" id="optionsRadiosSurveyAnsLeft" value="1" data-bind="checked: SQAnswer">
                                                                                <label for="optionsRadiosSurveyAnsLeft">
                                                                                    <img style="width:100px;height:auto;" data-bind="attr: { src: surveyQuestLeftImageSrc }" />
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio">
                                                                                <input type="radio" name="optionsRadiosSurveyAns" id="optionsRadiosSurveyAnsRight" value="2" data-bind="checked: SQAnswer">
                                                                                <label for="optionsRadiosSurveyAnsRight">
                                                                                    <img style="width:100px;height:auto;" data-bind="attr: { src: surveyQuestRightImageSrc }" />
                                                                                </label>
                                                                                <span class="help-block text-right"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" data-dismiss="modal" class="btn btn-primary" data-bind="click:$root.saveCriteria">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-lg-11"><span>Additional targeting Criteria's</span></th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- ko template: { name: 'answersTemplate', foreach: AdCampaignTargetCriterias } -->
                                            <!-- /ko -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="clearfix">

                            </div>
                            <div class="col-lg-9" data-bind="visible: $root.isEnableVedioVerificationLink">
                                <div>
                                    <h4 class="ad_h4">Verify if the video has been watched by asking a question</h4>

                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>
                                        </div>
                                        <label for="txtVerifyQuestion" class="control-label text-right tooltip-float">Enter your question</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="txtVerifyQuestion" placeholder="Enter your question" data-bind="value: VerifyQuestion">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>
                                        </div>
                                        <label for="txtVerifyAnswer1" class="control-label text-right tooltip-float">Answer 1</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="txtVerifyAnswer1" placeholder="Enter your answer 1" data-bind="value: Answer1">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>
                                        </div>
                                        <label for="txtVerifyAnswer2" class="control-label text-right tooltip-float">Answer 2</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="txtVerifyAnswer2" placeholder="Enter your answer 2" data-bind="value: Answer2">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>
                                        </div>
                                        <label for="txtVerifyAnswer3" class="control-label text-right tooltip-float">Answer 3</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="txtVerifyAnswer3" placeholder="Enter your answer 3" data-bind="value: Answer3">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4 text-right">
                                        <div class="bs-example-tooltips tooltip-float-width">
                                            <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>
                                        </div>
                                        <label for="txtCorrectAnswer" class="control-label text-right tooltip-float">Correct Answer</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <select class="form-control" id="ddpCorrectAns" data-bind="options: $root.correctAnswers, optionsText: 'name', optionsValue: 'id', value: CorrectAnswer"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <div>

                                <div class="clearfix">

                                    <div class="col-lg-12">

                                        <div style="width:210px;text-align:center;">
                                            <img style="width:auto;height:80px;max-width:200px;" data-bind="visible:CampaignImagePath() == ''" src="/Content/Images/Company_Default.png" />
                                            <img style="width:auto;height:80px;max-width:200px;" data-bind="visible:CampaignImagePath() != '' ,attr: { src: CampaignImagePath }" />

                                        </div>

                                    </div>

                                    <div class="col-lg-12" style="margin-top:15px;text-align:center;width:240px;padding-right:0px;">
                                        <div class="col-lg-5" style="padding-right:10px;">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="left" data-html="true" data-content="" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="text-align:left;">
                                            <div class="fileUpload btn btn-primary">
                                                <span>Upload </span>
                                                <input type="file" class="upload" id="campaign_image_files" data-bind="files: { onLoaded: $root.campaignImageCallback, fileFilter: 'image.*'}" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <br />
                            <div style="position:relative;">

                                <div class="aud_cnt">
                                    <h4 class="ad_h4">Audience Definition</h4>

                                    <div class="clearfix _1gab VAGUE">
                                        <div class="_1g9- lfloat">
                                            <div class="_1g9_">
                                                <i class="_1ga0 broad_aud img sp_NQc91B1T0mb sx_f05cb6 meterPin"></i>
                                                <i class="_1ga1 img sp_NQc91B1T0mb3 sx_0eeab0"></i>
                                                <div class="_1ga2 clearfix">
                                                    <div class="_ohe lfloat">
                                                        <span class="_1ga3">Specific</span>
                                                    </div>
                                                    <div class="_ohf rfloat">
                                                        <span class="_1ga3">Broad</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rfloat fsm _1ga4">
                                            <p data-bind="visible: $root.audienceReachMode()  == 1">Your audience is too specific for your ads to be shown. Try making it broader.</p>
                                            <p data-bind="visible: $root.audienceReachMode()  == 3">Your audience selection is fairly broad.</p>
                                            <p data-bind="visible: $root.audienceReachMode()  == 2">Your audience is defined.</p>
                                        </div>
                                        <div class="clearfix">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div>
                                        <span class="ad_h4_noborder">Audience Details:</span>
                                        <ul>
                                            <li class="li-audul" data-bind="visible: $root.campaignModel().AdCampaignTargetLocations().length > 0">
                                                <div class="fsm_bold">Locations:</div>

                                                <ul class="pad-11">
                                                    <!-- ko template: { name: 'targetLocationAudienceTemplate' , foreach: AdCampaignTargetLocations } -->
                                                    <!-- /ko -->
                                                </ul>
                                            </li>
                                            <li class="li-audul" data-bind="visible: $root.visibleTargetAudience(3)  == 1">
                                                <div class="fsm_bold">Languages:</div>
                                                <ul class="pad-11">
                                                    <!-- ko template: { name: 'targetLanguageAudienceTemplate' , foreach: AdCampaignTargetCriterias } -->
                                                    <!-- /ko -->

                                                </ul>
                                            </li>
                                            <li class="li-audul" data-bind="visible: $root.visibleTargetAudience(5)  == 1">
                                                <div class="fsm_bold">Education:</div>
                                                <ul class="pad-11">
                                                    <!-- ko template: { name: 'targetEducationAudienceTemplate' , foreach: AdCampaignTargetCriterias } -->
                                                    <!-- /ko -->

                                                </ul>
                                            </li>
                                            <li class="li-audul" data-bind="visible: $root.visibleTargetAudience(4)  == 1">
                                                <div class="fsm_bold">Profession:</div>
                                                <ul class="pad-11">
                                                    <!-- ko template: { name: 'targetIndustryAudienceTemplate' , foreach: AdCampaignTargetCriterias } -->
                                                    <!-- /ko -->

                                                </ul>
                                            </li>
                                           
                                            <li class="li-audul" data-bind="visible: $root.visibleTargetAudience(1) == 1 || $root.visibleTargetAudience(2)  == 1">
                                                <div class="fsm_bold">ADDITIONAL TARGETING CRITERIA'S:</div>

                                                <ul class="pad-11">
                                                    <!-- ko template: { name: 'targetCriteriasAudienceTemplate', foreach: AdCampaignTargetCriterias } -->
                                                    <!-- /ko -->
                                                </ul>
                                            </li>

                                            <li class="li-audul">
                                                <div class="fsm_bold">Age:</div>
                                                <ul class="pad-11">
                                                    <li>
                                                        <span data-bind="text: $root.campaignModel().AgeRangeStart() +' - '+ $root.campaignModel().AgeRangeEnd()"></span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="li-audul">
                                                <div class="fsm_bold">Gender:</div>
                                                <ul class="pad-11">
                                                    <li>
                                                        <!--ko if:$root.campaignModel().Gender() == 1 -->
                                                        <span class="aud_licontent">All</span>
                                                        <!--/ko-->
                                                        <!--ko if:$root.campaignModel().Gender() == 2 -->
                                                        <span class="aud_licontent">Men</span>
                                                        <!--/ko-->
                                                        <!--ko if:$root.campaignModel().Gender() == 3 -->
                                                        <span class="aud_licontent">Women</span>
                                                        <!--/ko-->
                                                       
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>Price per click: <span data-bind="text: '$' + $root.pricePerclick()"></span></div>
                                    <div>Your Budget: <span data-bind="text: '$' + $root.campaignModel().MaxBudget()"></span></div>
                                    <div>Potential Reach: <span data-bind="text:$root.reachedAudience()">0</span> people</div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script id="answersTemplate" type="text/html">
    <!--ko if:Type() != 3 && Type() != 4 && Type() != 5 -->
    <tr>

        <!--ko if:IncludeorExclude() == '0' -->
        <td class="col-lg-2">
            <!-- ko if:   Type() == "1" -->
            <p style="margin-top: 5px;margin-left: 12px;" data-bind="text: '(Excluded) ' + questionString() + ' = ' + answerString()">
            </p>
            <!-- /ko -->
            <!-- ko if:   Type()  == "2" -->
            <p style="margin-top: 5px;margin-left: 12px;">
                <span data-bind="text: '(Excluded) ' +  questionString() + ' = ' "></span>
                <img data-bind="attr:{src: answerString()}" width="80" />
            </p>
            <!-- /ko -->
        </td>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '1'-->
        <td class="col-lg-2">
            <!-- ko if:   Type() == "1" -->
            <p style="margin-top: 5px;margin-left: 12px;" data-bind="text: '(Included) ' + questionString() + ' = ' + answerString()">
            </p>
            <!-- /ko -->
            <!-- ko if:   Type()  == "2" -->
            <p style="margin-top: 5px;margin-left: 12px;">
                <span data-bind="text: '(Included) ' + questionString() + ' = ' "></span>
                <img data-bind="attr:{src: answerString()}" width="80" />
            </p>
            <!-- /ko -->
        </td>
        <!--/ko-->


        <td class="col-lg-1" style=" padding: 0px !important; text-align:right;">
            <a class="table-link">
                <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse" data-bind="click:$root.onEditCriteria" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
                </span>

            </a>
        </td>
        <td class="col-lg-1" style=" padding: 0px !important;">

            <a class="table-link danger">
                <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse" data-bind="click:$root.onDeleteCriteria"></i>
                </span>

            </a>
        </td>
    </tr>

    <!--/ko-->
</script>
@*<script id="AdCampaignLocationTemplate" type="text/html">
    <div class="count_city_newcnt">
        <!--ko if:CityID() == 0 || CityID() == null-->
        <span class="form-control lang_nr_box areaCity" data-bind="text:Country " style=" "></span>
        <!--/ko-->
        <!--ko if:CityID() != 0 && CityID() != null-->
        <span class="form-control lang_nr_box areaCity" data-bind="text:City " style=" "></span>
        <!--/ko-->
        <!--ko if:Radius() != 0 && Radius() != null && Radius() != undefined-->
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'Included (' + Radius() +')' "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'Excluded (' + Radius() +')' "></span>
        <!--/ko-->
        <!--/ko-->


        <a id="" data-bind="click:$root.onRemoveLocation" title=" delete" class="lang_delSurvey"> <i class="fa fa-times "></i></a>
    </div>
    <div class="clear"></div>
</script>*@
<script id="AdCampaignLanguageTemplate" type="text/html">
    <div class="count_city_newcnt">
        <!--ko if:Type() == 3 -->
        <span class="form-control lang_nr_box areaCity" data-bind="text:Language() " style=" "></span>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Included)' "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Excluded)' "></span>
        <!--/ko-->
        <a id="" data-bind="click:$root.onRemoveLanguage" title=" delete" class="lang_delSurvey"> <i class="fa fa-times "></i></a>
        <!--/ko-->
    </div>
    <div class="clear"></div>
</script>
<script id="AdCampaignIndustryTemplate" type="text/html">
    <div class="count_city_newcnt">
        <!--ko if:Type() == 4 -->
        <span class="form-control lang_nr_box areaCity" data-bind="text:Industry() " style=" "></span>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Included)' "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Excluded)' "></span>
        <!--/ko-->
        <a id="" data-bind="click:$root.onRemoveIndustry" title=" delete" class="lang_delSurvey"> <i class="fa fa-times "></i></a>
        <!--/ko-->
    </div>
    <div class="clear"></div>
</script>
<script id="targetCriteriasAudienceTemplate" type="text/html">
    <!--ko if:Type() != 3 && Type() != 4 && Type() != 5 -->
    <!--ko if:IncludeorExclude() == '0' -->
    <li>
        <!-- ko if:   Type() == "1" -->
        <p class="aud_licontent" data-bind="text: '(Excluded) ' + questionString() + ' = ' + answerString()">
        </p>
        <!-- /ko -->
        <!-- ko if:   Type()  == "2" -->
        <p class="aud_licontent">
            <span data-bind="text: '(Excluded) ' +  questionString() + ' = ' "></span>
            <img data-bind="attr:{src: answerString()}" width="80" />
        </p>
        <!-- /ko -->
    </li>
    <!--/ko-->
    <!--ko if:IncludeorExclude() == '1'-->
    <li>
        <!-- ko if:   Type() == "1" -->
        <p class="aud_licontent" data-bind="text: '(Included) ' + questionString() + ' = ' + answerString()">
        </p>
        <!-- /ko -->
        <!-- ko if:   Type()  == "2" -->
        <p class="aud_licontent">
            <span data-bind="text: '(Included) ' + questionString() + ' = ' "></span>
            <img data-bind="attr:{src: answerString()}" width="80" />
        </p>
        <!-- /ko -->
    </li>
    <!--/ko-->
    <!--/ko-->
</script>
<script id="targetIndustryAudienceTemplate" type="text/html">

    <!--ko if:Type() == 4 -->
    <li>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="aud_licontent" data-bind="text:'(Included)' + Industry() "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="aud_licontent" data-bind="text:'(Excluded)' + Industry() "></span>
        <!--/ko-->
    </li>
    <!--/ko-->


</script>
<script id="targetEducationAudienceTemplate" type="text/html">

    <!--ko if:Type() == 5 -->
    <li>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="aud_licontent" data-bind="text:'(Included)' + Education() "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="aud_licontent" data-bind="text:'(Excluded)' + Education() "></span>
        <!--/ko-->
    </li>
    <!--/ko-->


</script>
<script id="targetLanguageAudienceTemplate" type="text/html">


    <!--ko if:Type() == 3 -->
    <li>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="aud_licontent" data-bind="text:'(Included)' + Language()"></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="aud_licontent" data-bind="text:'(Excluded)' + Language() "></span>
        <!--/ko-->
    </li>
    <!--/ko-->



</script>
<script id="targetLocationAudienceTemplate" type="text/html">
    <li>
        <!--ko if:CityID() == 0 || CityID() == null-->
            <!--ko if:Radius() != 0 && Radius() != null && Radius() != undefined-->
                <!--ko if:IncludeorExclude() == '1'-->

                    <span class="aud_licontent" data-bind="text:'Included (' + Radius() +') ' + Country()"></span>

                <!--/ko-->
                <!--ko if:IncludeorExclude() == '0' -->

                 <span class="aud_licontent" data-bind="text:'Excluded (' + Radius() +') ' + Country()"></span>

                <!--/ko-->
            <!--/ko-->
            <!--ko if:Radius() == null || Radius() == undefined-->
                <!--ko if:IncludeorExclude() == '1'-->

                <span class="aud_licontent" data-bind="text:'(Included) ' + Country()"></span>

                <!--/ko-->
                <!--ko if:IncludeorExclude() == '0' -->

                <span class="aud_licontent" data-bind="text:'(Excluded) ' + Country()"></span>

                <!--/ko-->
            <!--/ko-->
        <!--/ko-->

        <!--ko if:CityID() != 0 && CityID() != null-->
            <!--ko if:Radius() != 0 && Radius() != null && Radius() != undefined-->
                <!--ko if:IncludeorExclude() == '1'-->

                 <span class="aud_licontent" data-bind="text:'Included (' + Radius() +') ' + City() "></span>

                <!--/ko-->
                <!--ko if:IncludeorExclude() == '0' -->

                 <span class="aud_licontent" data-bind="text:'Excluded (' + Radius() +') ' + City()"></span>

                <!--/ko-->
            <!--/ko-->
            <!--ko if:Radius() == null || Radius() == undefined-->
                <!--ko if:IncludeorExclude() == '1'-->

                <span class="aud_licontent" data-bind="text:'(Included) ' + City() "></span>

                <!--/ko-->
                <!--ko if:IncludeorExclude() == '0' -->

                <span class="aud_licontent" data-bind="text:'(Excluded) ' + City()"></span>

                <!--/ko-->
            <!--/ko-->
        <!--/ko-->
    </li>
</script>
<script id="AdCampaignEducationTemplate" type="text/html">
    <div class="count_city_newcnt">
        <!--ko if:Type() == 5 -->
        <span class="form-control lang_nr_box areaCity" data-bind="text:Education() " style=" "></span>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Included)' "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Excluded)' "></span>
        <!--/ko-->
        <a id="" data-bind="click:$root.onRemoveEducation" title=" delete" class="lang_delSurvey"> <i class="fa fa-times "></i></a>
        <!--/ko-->
    </div>
    <div class="clear"></div>
</script>
<script id="AdCampaignLocationTemplate" type="text/html">
    <li>
        <ul class="_53ga">
            <li>
                <div class="_53gb clearfix">
                    <div class="_4bl8 _4bl7">
                        <span class="_47la">
                            <button type="button" title="Remove" class="_50zy _50zz _50z- _5upp _42ft" style="display:none;">
                                <span>Remove</span>
                            </button>
                        </span>
                    </div>
                    <div class="_4bl9">
                        <span class="_3bsr">
                            <span class="_3bss" data-bind="text:name">

                            </span><span></span>
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <ul>
                    <!-- ko template: { name: 'SubAdCampaignLocationTemplate' , foreach: $root.findLocationsInCountry(id) } --><!-- /ko -->

                </ul>
            </li>
        </ul>
    </li>
</script>
<script id="SubAdCampaignLocationTemplate" type="text/html">
    <div class="count_city_newcnt">
        <!--ko if:CityID() == 0 || CityID() == null-->
        <li class="_40m_">
            <div class="clearfix">
                <div class="_4bl7">
                    <!--ko if:IncludeorExclude() == '1'-->
                    <i class="_40n0 img sp_NQc91B1T0mb sx_d7a1cb"></i>
                    <!--/ko-->
                    <!--ko if:IncludeorExclude() == '0' -->
                    <i class="_40n0 img sp_NQc91B1T0mb sx_999ca6"></i>
                    <!--/ko-->

                </div>
                <div class="_4bl8 _4bl7">
                    <span class="_47la">
                        <a type="button" title="Remove" class="lang_delSurvey _42ft" data-bind="click:$root.onRemoveLocation">
                            <i class="fa fa-times "></i>
                        </a>
                    </span>
                </div>
                <div class="_4bl8 _4bl7">
                    <div>

                    </div>
                </div>
                <div class="_4bl9">
                    <div class="fwb">
                        <span class="_3bsr"><span class="_3bss" data-bind="text:Country "></span><span></span></span>
                    </div>
                </div>
            </div>
        </li>
        <!--/ko-->
        <!--ko if:CityID() != 0 && CityID() != null-->
        <li class="_40m_">
            <div class="clearfix">
                <div class="_4bl7">
                    <!--ko if:IncludeorExclude() == '1'-->
                    <i class="_40n0 img sp_NQc91B1T0mb sx_d7a1cb"></i>
                    <!--/ko-->
                    <!--ko if:IncludeorExclude() == '0' -->
                    <i class="_40n0 img sp_NQc91B1T0mb sx_999ca6"></i>
                    <!--/ko-->
                </div>
                <div class="_4bl8 _4bl7">
                    <span class="_47la"><button type="button" title="Remove" class="lang_delSurvey _42ft" data-bind="click:$root.onRemoveLocation">
    <i class="fa fa-times "></i>
</button></span>
                </div>
                <div class="_4bl9">
                    <div class="fwb">
                        <span class="_3bsr">
                            <span style="float:left;">
                                <span data-bind="text:City "></span>
                                <span>
                                    <span>, </span><span data-bind="text:Country "></span>
                                </span>
                            </span>
                            <span style="float:left;">
                                <select class="form-control radius_ddp" data-bind="value: Radius">
                                    <option value="0">No radius</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="40">40</option>
                                    <option value="100">100+</option>
                                </select>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <!--/ko-->



    </div>
    <div class="clear"></div>
</script>
<script>
    var map;
    var center;
    var circles = [];
    function initializeMap(lat, long) {
        // LOCATION IN LATITUDE AND LONGITUDE.
        center = new google.maps.LatLng(long, lat);
        // MAP ATTRIBUTES.
        var mapAttr = {
            center: center,
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        var myLatLng = { lat: parseFloat(lat), lng: parseFloat(long) };
        // THE MAP TO DISPLAY.

        map = new google.maps.Map(document.getElementById("mapContainer"), mapAttr);
        google.maps.event.addDomListener(window, 'load', initialize);



    }
    function addPointer(lat, long, place, radius, include) {
        // LOCATION IN LATITUDE AND LONGITUDE.
        center = new google.maps.LatLng(long, lat);
        var marker = new google.maps.Marker({
            position: center,
            map: map,
            title: place
        });
        addRadius(radius, include)
    }
    function addRadius(radius, include) {
        var clr = '#3B5998';
        if (!include)
            clr = '#C82834';
        var circle = new google.maps.Circle({
            center: center,
            map: map,
            radius: parseInt(radius),          // IN METERS.
            fillColor: clr,
            fillOpacity: 0.3,
            strokeColor: "#FFF",
            strokeWeight: 0         // DON'T SHOW CIRCLE BORDER.
        });
        circles.push(circle);
    }
    function clearRadiuses() {
        $.each(circles, function (key, value) {
            if (value != null)
                value.setMap(null);
        });
    }
    function addCountryMarker(countryName) {
        var code = new google.maps.Geocoder().geocode({ 'address': countryName }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                    title: 'Click for more details'
                });
            } else {
                console.log('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>

