@{
    ViewBag.Title = "ManageCampaign";
}

@section leftmenue {
}


<div data-bind="visible: $root.isEditorVisible()" style="display: none">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12" id="topArea">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">&nbsp;</a></li>
                </ol>
                <div class="clearfix">
                    <h1 class="pull-left" style="padding-left:0px;">Add Campaign</h1>
                </div>
                <div class="row" style="margin-bottom:15px;">

                    <div class="pull-right top-page-ui" style="margin-right:5px;margin-bottom:5px;">

                        <div class="btn-group">
                            <button class="btn  btn-info" id="saveBtn">Save</button>
                            <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeEditDialog">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix" >
                    <div class="col-lg-12 form-horizontal" style="    padding: 20px;">
                        <div class="tabsdescriptions" style="margin-left:3px;">
                            <div class="col-lg-9" style="padding-left: 0 !important;">
                                <p class="group-header-description" style="margin-top:-1px;">
                                    Manage the basic details of your campaign in this section.
                                </p>
                            </div>
                            <div class="col-lg-3 pull-left" style="margin-top:-9px;padding-right:0px;">
                                <div class="col-lg-5 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label class="control-label">Archived</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="onoffswitchlive" style="margin-right:0; margin-top: -4px;">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitchlive-checkbox" id="switchIsAdArchived">
                                        <label class="onoffswitchlive-label" for="switchStoreLive">
                                            <div class="onoffswitchlive-inner"></div>
                                            <div class="onoffswitchlive-switch"></div>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9">
                            <div class="form-group" style="margin-bottom:14px;">
                                <div class="col-lg-3 text-right">

                                    <label for="txtCampaignName" class="control-label text-right tooltip-float">Campaign Name</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="Campaign Name" class="form-control" id="txtCampaignName" placeholder="Enter Campaign Name">

                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:14px;">
                                <div class="col-lg-3 text-right" style="padding-top:12px;">

                                    <label for="txtCampaignDisplayName" class="control-label text-right tooltip-float">Campaign Display Name</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" style="height:60px;" name="Campaign Display Name" class="form-control height60 font24px" id="txtCampaignDisplayName" placeholder="Campaign Display Name">

                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:25px;">
                                <div class="col-lg-3 text-right" style="padding-top:12px;">

                                    <label for="txtCampaignDesc" class="control-label text-right tooltip-float">Campaign Description</label>
                                </div>
                                <div class="col-lg-6">
                                    <textarea class="form-control" id="txtCampaignDesc" rows="5" placeholder="Enter Description"></textarea>

                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:11px;">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label class="control-label text-right tooltip-float">Campaign Type</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12" style="margin-left:-10px;">
                                        <div class="radio">
                                            <input type="radio" name="optionsRadiosStoreType" id="optionsRadiosVideos" value="1" data-bind="checked: $root.CampaignType">
                                            <label for="optionsRadiosVideos">
                                                Video
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="optionsRadiosStoreType" id="optionsRadiosLink" value="2" data-bind="checked: $root.CampaignType">
                                            <label for="optionsRadiosLink">
                                                Link
                                            </label>
                                            <span class="help-block text-right"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="margin-left:-10px;">
                                        <input type="text" class="form-control" id="txtLinkOfCampaign" placeholder="Enter a link">

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtAge" class="control-label text-right tooltip-float">Age</label>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="pull-left" style="width:10px;">
                                   -
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtGender" class="control-label text-right tooltip-float">Gender</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                            <input type="radio" name="genderoptions" id="GALL">All
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="genderoptions" id="GMen">Men
                                        </label>
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="genderoptions" id="GWomen">Women
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtLanguages" class="control-label text-right tooltip-float">Languages</label>
                                </div>
                                <div class="col-lg-6">
                                    <select id="tokenize" multiple="multiple" class="tokenize-sample" data-bind="options: $root.Languages, optionsText: 'LanguageName', optionsValue: 'LanguageId'"></select>
                                    <select style="box-shadow: none;
    border: 1px solid #bfbfbf;
    padding: 2px 10px 4px 10px;    height: 35px;
    width: 150px;
    border-radius: 3px;" data-bind="options: $root.Languages, optionsText: 'LanguageName', optionsValue: 'LanguageId'"></select>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtBudget" class="control-label text-right tooltip-float">Budget</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="Budget" class="form-control" id="txtBudget">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtBudget" class="control-label text-right tooltip-float">Schedule</label>
                                </div>
                                <div class="col-sm-6" style="background-color: gainsboro">
                                    <div class="form-group " style="margin-top: 15px;">
                                        <div class="col-sm-4 text-right">
                                            <label for="validFromDate" class="control-label text-right tooltip-float">Start Date</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="validFromDate" data-bind="datetimepicker:$root.validFromDate">
                                        </div>
                                       
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-sm-4 text-right">
                                            <label for="validUptoDate" class="control-label text-right tooltip-float">End Date</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="validUptoDate" data-bind="datetimepicker:$root.validUptoDate">
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtVerifyQuestion" class="control-label text-right tooltip-float">Enter your question</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="txtVerifyQuestion" placeholder="Enter your question">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtVerifyAnswer1" class="control-label text-right tooltip-float">Answer 1</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="txtVerifyAnswer1" placeholder="Enter your answer 1">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtVerifyAnswer2" class="control-label text-right tooltip-float">Answer 2</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="txtVerifyAnswer2" placeholder="Enter your answer 2">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 text-right">
                                    <div class="bs-example-tooltips tooltip-float-width">
                                        <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                        </a>
                                    </div>
                                    <label for="txtVerifyAnswer3" class="control-label text-right tooltip-float">Answer 3</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="txtVerifyAnswer3" placeholder="Enter your answer 3">

                                </div>
                            </div>
                            @*<div class="col-lg-3 col-md-4 col-sm-4">
                                    <div>

                                        <div class="clearfix">

                                            <div class="col-lg-12">
                                                <!-- ko if: !storeImageFileBinary() && !storeImagePath() -->
                                                <div style="width:210px;text-align:center;">
                                                    <img src="/mis/Content/Images/Company_Default.png">
                                                </div>
                                                <!--/ko-->
                                                <!-- ko if: storeImageFileBinary() || storeImagePath() -->
                                                <img id="idCostcenterimage" style="width: 240px; height: 130px; -o-object-fit: contain; object-fit: contain;" data-bind="visible:storeImageFileBinary()==undefined ,attr: { src: '@Url.Content("~/")' + storeImagePath() }" />
                                                <img style="width: 240px; height: 130px; -o-object-fit: contain; object-fit: contain;" data-bind="visible:storeImageFileBinary()!==undefined,attr: { src: storeImageFileBinary }" />

                                                <!--/ko-->
                                            </div>

                                            <div class="col-lg-12" style="margin-top:15px;text-align:center;width:240px;padding-right:0px;">
                                                <div class="col-lg-5" style="padding-right:10px;">
                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="left" data-html="true" data-content="Theme Yellow :(192px w x 40px h)
                                                                        <br /> Theme Purple :(240px w x 50px h) <br /> Theme Brown :(240px w x 50px h) <br /> Theme Pink :(240px w x 50px h) <br /> Theme Private Store(Saloon) :<br />(240px w x 50px h) <br /> Theme Private Store(RealEstate):<br />(290px w x 70px h) " data-original-title="" title="">
                                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                    </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6" style="text-align:left;">
                                                    <div class="fileUpload btn btn-primary">
                                                        <span>Upload </span>
                                                        <input type="file" class="upload" id="image_files" multiple data-bind="files: { onLoaded: $root.storeImageFilesLoadedCallback, fileFilter: 'image.*'}" />
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-12 ThoumbnailCostCenter" style="text-align:center;margin-top:5px;width:240px;margin-left:5px;">
                                                Store logo dimensions depend upon the selected theme. Upload a logo image (PNG,JPG,SVG) which is reasonably high resolution yet loads quicker.
                                            </div>
                                            <div class="profile-stars">
                                                <span data-bind="value: type"></span>
                                            </div>

                                        </div>





                                    </div>
                                </div>*@
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
