@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section COLOR
{

    <!-- COLOR STYLE CSS -->
    <link rel="stylesheet" href="~/content/sky.css">

}


<!-- Header -->
<section id="header" class="container-fluid text-white">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <h1 class="text-left">
                    <i id="logo" class="fa fa-users fa-2x"></i>
                </h1>
                <h1 class="main_title">Advertise on CrowdCentz</h1>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/A5MkO83mZ9Y" frameborder="0" allowfullscreen></iframe>
                </div>
            <div class="col-md-6 column">
                <h1 class="text-left">
                    <i id="logo" class="fa fa-line-chart fa-2x"></i>
                </h1>
                <h1 class="main_title">Earn on CrowdCentz</h1>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/i3i1Ne4qyZI" frameborder="0" allowfullscreen></iframe>

               
            </div>
        </div>
    </div><!-- /container  -->
</section>
<!-- end header -->