@{
    ViewBag.Title = "Become a Partner   ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section COLOR
{

    <!-- COLOR STYLE CSS -->
    <link rel="stylesheet" href="~/content/sky.css">

}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<section id="promotions" class="container-fluid text-blue inner-xs">
    <div class="container">
        <div class="row clearfix">

            <div class="col-sm-12 col-md-12">
                <h1>Become a Partner    </h1>
                <h3>
                    Welcome to the advertising revolution
                </h3>
                <p>
                    Technology now allows us all to advertise to an engaging audience efficiently.
                    <br />
                    Cash 4 Ads rewards 50% of the ‘ad click’ paid by businesses to deliver ad campaigns to Cash 4 Ads app users.
                </p>
                <h3>
                    Earn an extra 25%
                </h3>
                <p>
                    Earn another 25% commission of the ‘ad click’ by signing up businesses to advertise on Cash 4 Ads.  Simply invite businesses using your unique link and their ad spend is automatically linked to your account and credited, in centz, to your wallet balance.
                    <br />
                    All income and cash out history is available in one simple statement within the app for a hassle free partnership :)
                    <br />
                    Sign up a business using your Link ID and earn 25% commission
                    <br />
                    Or
                    <br />
                    Invite and manage your clients ad campaigns from your Dashboard on cash4ads.com
                    <br />
                    Sign in using the same Facebook of Google account you use for the Cash 4 Ads app.
                    <br />
                    <img style="width:500px;margin-top:60px;" src="http://manage.cash4ads.com/Images/New_Register_Image.png">
                </p>
            </div>
        </div>
    </div> <!-- /container -->
</section>
