@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section COLOR
{

    <!-- COLOR STYLE CSS -->
    <link rel="stylesheet" href="~/content/sky.css">

}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<section id="promotions" class="container-fluid text-blue inner-xs">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-12 ">
                <h1>
                    What’s your marketing objective  
                </h1>
                <p>
                    We’ve listed some of most requested objectives business have when it comes to marketing online and how they can achieve them using the crowdcentz platform.
                </p>
                <h2>
                    Free marketing stuff ;)
                </h2>
                <ul>
                    <li>
                        You only get charged the ‘ad click’ after app users have successfully watched your video in full and answered your video or won a game.  This means you actually increase your branding regardless if app users answer your quiz question or not – free branding.
                    </li>
                    <li>
                        Cash 4 Ads takes no commission for re-directing app users to any of your landing page URL – free conversion.
                    </li>
                    <li>
                        Each ‘Deal’ can have a separate landing page link to highlight different call for actions or simply to take users to the right purchasing, or booking, or check availability page – multiple free conversion.
                    </li>
                </ul>
                <br />
                <br />
                <h2>
                    Important difference between Cash 4 Ads, Facebook and Google ads
                </h2>
                <p>
                    Cash 4 Ads ‘ad click’ charge is not the same as a Google ad word PPC charge or a Facebook ad charge.   
                </p>
                <p>
                    We operate in a very different way. <br />
                    <ul>
                        <li>
                            	Our ads are delivered in a proactive manner
                        </li>
                        <li>
                            Our ads are not intrusive advertising
                        </li>
                        <li>
                            Our ads are not blocked by ad blockers
                        </li>
                        <li>
                            The audience has opted to watch your ads for a reward after answering your survey
                        </li>
                        <li>All our conversions to URLs are free</li>
                        <li>All profiling filters and surveys are directly asked and not guessed or based on censoring algorithms.</li>
                        <li>
                            1 ad click delivers you 100% conversion compared to most other platforms.  In fact we could argue you get more than 500 - 600% conversion ROI for a single click charge e.g.  
                            <br />
                            <ul>
                                <li>
                                    	Show your Logo 3 times before quiz question
                                </li>
                                <li>
                                    Watched a Video in full before without charging for a ad click first
                             

                                </li>
                                <li>
                                    Free landing page referral URL
                                </li>
                                <li>
                                    List your multiple live deals
                                </li>
                            </ul>
                        </li>
                        <li>
                            Cash 4 Ads platform is run by you.  We share up to 75% of the ad click charge with app users and affiliate partners.  Anyone can be an affiliate partner for free.</li>
                    </ul>
                </p>

            </div>
            <div class="col-sm-12 col-md-12 ">
                <h1>
                    FAQ 
                </h1>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">How do I increase my ‘brand’ awareness.   </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create a Video ad campaign if you have a video commercial less than 30 seconds long.
                                <br />
                                If you don’t have a video ad, create a ‘Deal’ promotion or a ‘Game’ campaign instead.  Your logo appears inside ‘Deal’ promotions and sponsoring games.
                                <br />
                                <img style="width:500px;margin-top:60px;" src="http://manage.cash4ads.com/Images/New_Register_Image.png">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">How do I promote a ‘new offer’ to local consumers   </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create a Video ad campaign.  
                                <br />
                                Opt for ‘Yes’ to Landing Page URL  and select the  ‘Buy Now’ button and paste your product website page URL link in the field provided.
                                <br />
                                If you don’t have a video then you can run ’Game’ campaign and opt for the same feature. <br />
                                If you don’t have a video ad, you can also achieve the same desired re direction from ‘Deal’ promotions
                             
                            </div>
                        </div>
                    </div>
                </div>

                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">How do I get qualified buyers to my web site using my video ads</div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create a Video ad campaign. <br />

                                Opt for ‘Yes’ to Landing Page URL  and select the  ‘Buy Now’ button and paste your product website page URL link in the field provided.
                                <br />
                                If you don’t have a video then you can run ’Game’ campaign and opt for the same feature.
                                <br />
                                If you don’t have a video ad, you can also achieve the same desired re direction from ‘Deal’ promotions

                            </div>
                        </div>
                    </div>
                </div>

                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">How do I get more Facebook likes  </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create a Video ad campaign.    <br />
                                Opt for ‘Yes’ to Landing Page URL  and select the  ‘Like us’ button and paste your Facebook page URL link in the field provided.<br />
                                If you don’t have a video then you can run ’Game’ campaign and opt for the same feature.
                            </div>
                        </div>
                    </div>
                </div>


                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">How do I know who likes my two best selling products  </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create a ‘Survey card’ campaign
                                <br />
                                You can use the results of the Survey cards to target users who opted for either card with a specific and separate video ad campaign.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">How to ask people to choose which services they need from me </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">Create a ‘Survey Question’ campaign
                                <br />
                                You can set 2, 4 or 6 answers and then use the results of the Survey question to target users who selected specific answers with a separate video ad campaign.
</div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">I need to promote a nationwide offer across all my branches   </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create a ‘Deal’ campaign.   
                                <br />
                                Deal campaigns are a hybrid of coupons, vouchers and offer all rolled into one with the added benefit of free conversion link to your web site.
                                <br />
                                All your live offers for any given month are listed together.  This makes it easier for app users to choose with offer is more applicable to them.
                                <ul>
                                    <li>
                                        Each Deal can have a separate landing page link to highlight different call for actions or simply to take users to the right purchasing, or booking, or check availability page.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">I want visitors to come to my web site but I don’t have a video  </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create a ‘Game’ campaign    
                                <br />
                                Opt for ‘Yes’ to Landing Page URL  and select the  ‘Call for action’ button and paste your website URL link in the field provided.
                                <br />
                                Brain training ‘Game’ campaigns are a great way to entertain users with positive cognitive results.  Cash 4 Ads is working hard to bring the best brain workout games for you to sponsor and for our app users to enjoy for free.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">How do I reward people for watching my ads    </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create a ‘Video’ or a ‘Game’ ad campaign.
                                <br />
                                Video and Game campaigns, delivered to app users, clearly show your logo on previewing and quiz screens.  If they watch all of your video ad or successfully complete a game task, then they will be prompted to answer a quiz question set by you.  Upon answering this question (correctly, or with a survey answer) they will be rewarded half of your ad rate.  
                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">Where is my logo shown in the apps.    </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Your logo is shown in ‘Video’, ‘Game’ and ‘Deal’ campaigns.   Logos also appear in ‘Deal’ description pages and positive message dialogue boxes.</div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">How to launch a new product or services quickly    </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create a ‘Video’ or a ‘Game’ ad campaign and increase the ad click fee.  
                                <br />
                                The higher the ad click the higher up your ad campaign will be in the app users stack of ads.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">How do I run a market research campaign       </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">Create a ‘Survey Question’ campaign
                                <br />
                              You can set 2, 4 or 6 answers and then use the results of the Survey question to target users who selected specific answers with a separate video ad campaign.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">I have a limited budget to spend on Cash 4 Ads   </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create unlimited Deals campaigns for only $29 /pm.
                                <br />
                                Your deals are available to all app users all within 200 km from your branch locations.
                                <br />
                                Alternatively,
                                <br />
                                If you have a 20 seconds video commercial, then you can deliver that to a target audience based on a pay per confirmed view model (ad click).  
                                <br />
                                e.g.
                                <br />
                                Limit your overall spend to $50 USD.  With a ad click of $0.10 paid per confirmed view (ad click), your video ad will be seen by 500 app users that met your basic filtering criteria. 
                                <br />
                                Or
                                <br />
                                Achieve a reach to 833 app users by running a ‘Game’ campaign for a budget of $50 USD. 
                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">I don’t want to pay if user don’t see my video ad in full ?   </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">Ok, but we don’t charge you if they do see it in full also 
                                <br />
                                You only get charged the ‘ad click’ after app users have successfully watched your video in full AND answered your video or won a game.  
                                <br />
                                This means you actually increase your branding regardless of them answering your quiz question – free branding.
                                <br />

</div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            My video ad campaigns are not being seen fast enough   
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Increase the ad click fee in your Video or Game campaign.
                                <br />
                                The higher the ad click the higher up your ad campaign will be in the app users stack of ads.
                                <br />
                                Remember app users get half of the ad click you pay to show them ads and to play sponsored games.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            I don’t have a video commercial yet, but I want to advertise on Cash 4 Ads today.   
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create a Deal campaign or create a ‘Game’ campaign.
                                <br />
                                Your deals are available to all app users all within 200 km from your branch locations.
                                <br />
                                ’Game’ campaigns have all the features of a video campaign i.e. referral to your website, question questions and display all your deals after your quiz survey.  You also only pay after they successfully answer your survey questions.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            Do my deals get displayed after my Video or Game campaigns ?
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Yes.
                                <br />
                                Cash 4 Ads automatically lists all your live Deals after the app users have watched your video ads or played your sponsored game.  At this pint you haven’t been charged the ad click ;)

                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            I am using Groupon for deals, can I also list my deals on Cash 4 Ads?   
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Yes.
                                <br />
                                Copy your content from Groupon (or Wowcher) and paste it in to sections we provide from your dashboard.  
                                <br />
                                We provide you with great tools like :
                                <br />
                                •	Image library,<br />
                                •	Phrase Library,<br />
                                •	Branch address,<br />
                                •	Invite and Manage users,<br />
                                •	Preview campaign screens,<br />
                                •	Training Tutorials,<br />
                                •	Reporting and analytics and<br />
                                •	Case stories<br />
                                <br />
                                to help you get the best from advertising on Cash 4 Ads.



                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            I want my deals to be seen by people near my branch locations 
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Create a Deal campaigns.  
                                <br />
                                Your deals are available to all app users all within 200 km from your branch locations.
                                <br />
                                Alternatively,
                                <br />
                                If you have a 20 seconds video commercial, then you can deliver that to a target audience based on a pay per confirmed view model (ad click).  
                                <br />
                                ’Game’ campaigns have all the features of a video campaign i.e. referral to your website, question questions and display all your deals after your quiz survey.  You also only pay after they successfully answer your survey questions.
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question">
                                Do I get charged anything when someone buys from my website from a Cash 4 Ads referral?  
                            </div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    No.
                                    <br />
                                    We don’t charge you any commission or take any revenue share.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question">
                                Do I get to know the details of my Video, Game or Deal users?  
                            </div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    No.
                                    <br />
                                    Cash 4 Ads never passes the details of our app community to any third party without their consent.   Once app user leave our app and use your web site then any collection of information is in accordance with your privacy policies.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="faq_container">
                        <div class="faq">
                            <div class="faq_question">
                                Can I advertise in different countries and cities?   
                            </div>
                            <div class="faq_answer_container">
                                <div class="faq_answer">
                                    Any.
                                    <br />
                                    We’ve launched a global advertising platform run by our partners, you ;)
                                </div>
                            </div>
                        </div>

                    </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            Can I offer the deals across all my branch locations 
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                If you don’t see any ads then this could be a great opportunity for you to refer and earn 25% of all revenue coming from businesses that you onboard in your town, city or country that create Video or Game campaigns.
                                <br />
                                Open a draft, live or completed Deal campaign and copy it as a ‘Master template’.  Modify the Template as you want and then assign it to a different , or all branches, saved in your Branch Address book


                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            I have multiple branch location.  Can I list separate Deals for each of my branches ?  
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Yes
                                <br />
                                Create and group your branches by territories.  When you modifying or create a master Deal template, link the deal to the specific branch.  Deals are shown to all app users within 200km of a Branches geo pin location.  Make sure you have this pinned correctly on the map when defining a branch location.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            What’s the difference between Listing dates and an Expiry date ?  
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Listings dates are the dates when your deals are published in the Deals sections.
                                <br />
                                Expiry date is used to delist the Deal in Saved Deals folder.  When the current date (at midnight) is the same as the Expiry date of the Deal, we remove the deal from your Saved folder.
                            </div>
                        </div>
                    </div>

                </div>
                <h1>
                    App FAQs
                </h1>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            Why are there are no Video ads in my app ?  
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                If you don’t see any ads then this could be a great opportunity for you to refer and earn 25% of all revenue coming from businesses that you onboard in your town, city or country that create Video or Game campaigns.
                                <br />
                                Yes, 25% !  Go to you dashboard or from the app, invite business to advertise using your unique referral link, and any Video or Game campaigns they then create, 25% of their spend will be rewarded to you as centz in your app.
                                <br />
                                Remember you can cash out your centz to USD dollars to your PayPal account.  A small transfer and handling fee applies to cover the cost of ensuring we send the money to the right partners.

                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            Why are there are no Deals in my app ?  
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                If you don’t see any deals then this could be a great opportunity for you to refer and earn 25% of all revenue coming from businesses that you onboard in your town, city or country that create Video or Game campaigns.
                                <br />
                                Yes, 25% !  Go to to you dashboard or from the app, invite business to advertise using your unique referral link, and any Video or Game campaigns they then create, 25% of their spend will be rewarded to you as centz in your app.
                                <br />
                                Remember you can cash out your centz to USD dollars to your PayPal account.  A small transfer and handling fee applies to cover the cost of ensuring we send the money to the right partners.

                             </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            I keep getting up to 3 mystery games a day, but no ads.  
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Mystery games are our way of saying Thank you for coming back to the app until more ads are delivered to you shortly.
                                <br />
                                They are also a Big thank you from all the local businesses that have offered deals to save you even more money.
                                <br />
                                You only get mystery games presented to you if there are no more Video ads and no more Game ads campaigns targeted to you at that time.
                                <br />
                                You get up to 3 mystery games presented to you every day provided there are 2 live deals near you that you haven’t already saved or won.


                            </div>
                        </div>
                    </div>

                </div>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            Is upgrading my app account free, and why should I upgrade?   
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Firstly, yes its free to upgrade,  just refer 5 people that successfully sign up using your unique link.
                                <br />
                                Why upgrade? Well, help us to grow our audience for advertisers to target and reward.  As a thank you to upgrading and referring, we are working around the clock to build a richer variety of brain training games with workout routines for all our upgraded app users.


                            </div>
                        </div>
                    </div>

                </div>
              
                 <h1>
                     In app & Web Site secondary Pages
                 </h1>
                <div class="faq_container">
                    <div class="faq">
                        <div class="faq_question">
                            How we work     (web site & app screen)
                        </div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                Advertisers pay a minimum of $0.10 USD* to show you their video ad.

                                <br />
                                50% of their ‘ad click’ is rewarded to you    after you have watched their video ad and   answered their survey question.
                                <br />

                                Cash out by transferring your centz 
                                (cash credits) to your PayPal account.
                                <br />
                                100 centz = $1 USD 
                                <br />

                                We’ve included other sharing ways where 
                                you can earn and save more ;) 
                                <br />
                                Sharing is caring 
                                <br />
                                Advertisers can pay more per ‘ad click’ and 
                                reward you more to prioritize the delivery of their ads. 
                             

                            </div>
                        </div>
                    </div>

                </div>
            </div>
      
        </div>
    </div> <!-- /container -->
</section>

<script>
 $(document).ready(function() {

    $('.faq_question').click(function() {

        if ($(this).parent().is('.open')){
            $(this).closest('.faq').find('.faq_answer_container').animate({'height':'0'},500);
            $(this).closest('.faq').removeClass('open');

            }else{
                var newHeight =$(this).closest('.faq').find('.faq_answer').height() +'px';
                $(this).closest('.faq').find('.faq_answer_container').animate({'height':newHeight},500);
                $(this).closest('.faq').addClass('open');
            }

    });

});
</script>
<style>
    /*FAQS*/
    .faq_question {
        margin: 0px;
        padding: 0px 0px 5px 0px;
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
    }

    .faq_answer_container {
        height: 0px;
        overflow: hidden;
        padding: 0px;
    }
    .faq_container {
       padding-top:20px;
    }
</style>