@{
    ViewBag.Title = "How we work ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section COLOR
{

    <!-- COLOR STYLE CSS -->
    <link rel="stylesheet" href="~/content/sky.css">

}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<section id="promotions" class="container-fluid text-blue inner-xs">
    <div class="container">
        <div class="row clearfix">
         
            <div class="col-sm-12 col-md-12">
                <h1>How we work  </h1>
                <p>
                    Advertisers pay a minimum of $0.10 USD* <br />to show you their video ad.

                    <br />
                    50% of their ‘ad click’ is rewarded to you  <br />  after you have watched their video ad and  <br /> answered their survey question.
                    <br />

                    Cash out by transferring your centz<br />
                    (cash credits) to your PayPal account.
                    <br />
                    100 centz = $1 USD
                    <br />

                    We’ve included other sharing ways where<br />
                    you can earn and save more ;)
                    <br />
                    Sharing is caring
                    <br />
                    Advertisers can pay more per ‘ad click’ and<br />
                    reward you more to prioritize the delivery of their ads.


                </p>
            </div>
        </div>
    </div> <!-- /container -->
</section>
