@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
@section COLOR
{

    <!-- COLOR STYLE CSS -->
    <link rel="stylesheet" href="~/content/sky.css">
}

<!-- Header -->
<section id="header" class="container-fluid text-white homepage-hero-module" style="height: 560px;">
   
    <div class="container" style="padding-top: 70px;position: absolute;z-index: 1000;width: 1170px;margin-left: 13%">
        <h3 class="totalDownloads" style="position:absolute;">Total Downloads : 11001</h3>
        <div class="row clearfix">
          
            <div class="row clearfix text-center">

                <h1 class="main_title" style="margin-bottom:0px;">
                    Advertise to mobile users<br><br></h1>



            </div>


            <div class="row clearfix staff">
                <div class="col-xs-6 col-md-3 column text-center subbox" id="anshowvideo" style="cursor:pointer">

                    <img class="img-circle" alt="140x140" src="/images/team_01.png">
                    <h3 class="">Show video Ads</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox" id="ansaudience" style="cursor:pointer">
                    <img class="img-circle" alt="140x140" src="/images/team_03.png">
                    <h3 class="">Choose your audience</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox" id="anssurvey" style="cursor:pointer">
                    <img class="img-circle" alt="140x140" src="/images/team_02.png">
                    <h3 class="">Run surveys</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox" id="andpromotions" style="cursor:pointer">
                    <img class="img-circle" alt="140x140" src="/images/team_04.png">
                    <h3 class="">List Deals</h3>

                </div>
            </div>

            <div class="row clearfix text-center inner-top-xs ">
                <a href="http://manage.cash4ads.com/Account/Login" class="btn btn-lg btn-success ">Get started now</a>
            </div>

        </div>
    </div>
    <div class="video-container" style="position:absolute;">
   
        <video autoplay="" loop="" class="fillWidth fadeIn animated" style="margin-top: 0px; margin-left: 0px; width: 1583px; height: 791px; top: -23px;">
            <source src="http://dfcb.github.io/BigVideo.js/vids/dock.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
       
    </div>
</section>


<!-- videos -->
<section id="videos" class="container-fluid text-blue inner-xs">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 ">
                        <h2>
                            Show video ads
                        </h2>
                        <h3 style="color:#8aa0ca">
                            Guaranteed commercial views
                        </h3>
                        <p class="text-left">
                            We reward audiences to watch your ads and answers surveys.

                        </p>

                        <h3 style="color:#8aa0ca">
                            Buy Now, Book Now, Check availability
                        </h3>
                        <p class="text-left">
                            Drive users to your landing pages to achieve your marketing objectives
                        </p>

                        <h3 style="color:#8aa0ca">
                            Ad click and daily spend
                        </h3>
                        <p class="text-left">
                            We reward your target audience with 50% of the ad click charge.  You set the ad click, daily spend and maximum ad spend per campaign.
                        </p>

                        <h3 style="color:#8aa0ca">
                            Broadcast daily
                        </h3>
                        <p class="text-left">
                            Show your video commercials on a daily basis to the same audience or one-time views. 
                        </p>

                    </div>
                  
                </div>
                <div class="row clearfix text-left inner-top-xs">
                    <a href="http://manage.cash4ads.com/Account/Login" class="btn btn-lg btn-success " style="margin-left:15px;">Get started now</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 column" style="vertical-align:bottom;text-align:center">
                <img alt="App" class="inner-top-sm img-responsive" src="~/images/phone_in_hands.png" />

                <img alt="Games coming soon" class="img-responsive" src="~/images/games_coming_soon.png" style="text-align:center;display:inline-block" />
            </div>

        </div>
    </div> <!-- /container -->
</section>
<!-- end videos -->

<!-- audience -->
<section id="audience" class="container-fluid text-blue inner-xs">
    <div class="container">
        <div class="row clearfix">

            <div class="col-sm-12 col-md-6 column" style="vertical-align:bottom;text-align:center">
                <img alt="App" class="inner-top-sm img-responsive" src="~/images/audience.png" />


            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 ">
                        <h2>
                            Choose your audience
                        </h2>
                        <h3 style="color:#8aa0ca">
                            Age, Gender, Profession & Location
                        </h3>
                        <p class=" text-left">
                            Know your maximum reach count & cost before running campaigns.
                        </p>

                        <h3 style="color:#8aa0ca">
                            Over 100 other segmentation filters
                        </h3>
                        <p class=" text-left">
                            Fine tune and narrow your audiences further by combining user profiles with specific preferences. 
                        </p>

                        <h3 style="color:#8aa0ca">
                            Create your own surveys
                        </h3>
                        <p class=" text-left">
                            Create survey questions and re-target survey participants with video campaigns.
                        </p>


                    </div>

                </div>
                <div class="row clearfix text-left inner-top-xs">
                    <a href="http://manage.cash4ads.com/Account/Login" class="btn btn-lg btn-success " style="margin-left:15px;">Get started now</a>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>
<!-- end audience -->

<!-- surveys -->
<section id="surveys" class="container-fluid text-blue inner-xs">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 ">
                        <h2>
                            List unlimited deals
                        </h2>
                        <h3 style="color:#8aa0ca">
                            One flat fee - $29 /pm
                        </h3>
                        <p class=" text-left">
                            List as many coupons, vouchers, offers or promotions, we call them all ‘Deals’.
                        </p>

                        <h3 style="color:#8aa0ca">
                            No additional fees or commissions
                        </h3>
                        <p class=" text-left">
                            App users can save and redeem vouchers in store, or purchase directly from your website without you incurring any fees or revenue charging models.
                        </p>

                        <h3 style="color:#8aa0ca">
                            Group offers together
                        </h3>
                        <p class=" text-left">
                            We list all your live promotions together so app users can see the variety of deal.

                        </p>

                        <h3 style="color:#8aa0ca">
                            Notify new deals to app users
                        </h3>
                        <p class=" text-left">
                            We send out daily emails and in-app notifications announcing hot deals near them.
                        </p>

                        <h3 style="color:#8aa0ca">
                            Subscription – Cancel at any time
                        </h3>
                        <p class=" text-left">
                            Create and list as many deals as you like and as long as your subscribed, all your live deals will be listed – How simple is that ;)
                        </p>
                    </div>

                </div>
                <div class="row clearfix text-left inner-top-xs">
                    <a href="http://manage.cash4ads.com/Account/Login" class="btn btn-lg btn-success " style="margin-left:15px;">Get started now</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 column" style="vertical-align:bottom;text-align:center">
                <img alt="App" class="inner-top-sm img-responsive" src="~/images/coupon_promotions.png" />


            </div>

        </div>
    </div> <!-- /container -->
</section>
<!-- end surveys -->


<!-- strategy -->
<section id="strategy" class="container-fluid text-white inner-xs">
    <div class="container">
        <div class="row clearfix">

            <div class="row clearfix text-center">

                <h1 class="main_title" style="margin-bottom:0px;">Compliment your digital marketing strategy<br /><br /></h1>

                @*<a class="popup-youtube" href="http://www.youtube.com/watch?v=i3i1Ne4qyZI" style="font-size:30px;">
                        <i class="fa fa-play-circle-o fa-3x" style="color:white;"></i>
                    </a>*@

            </div>


            <div class="row clearfix staff">
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                    <h3 class="">Simple and clear return on investment</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                    <h3 class="">Cap your daily ad spend</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                    <h3 class="">Create deals and promotions</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                    <h3 class="">Show video ads to a targeted audience</h3>

                </div>
            </div>



            <div class="row clearfix text-center inner-top-xs ">

                <a href="http://manage.cash4ads.com/Account/Login" class="btn btn-lg btn-success ">Get started now</a>

            </div>

        </div>
    </div><!-- /container  -->
</section>

<!-- end strategy -->



<!-- Testimonial -->
<div id="testimonial" class="container text-blue" style="padding-bottom:0px;">

    <div class="row">
        <div class='col-md-12 text-center p_title'>
          
            <h2>The advertising platform run by you</h2>
            
        </div>
    </div>
    <div class='row'>
        <div class=' col-md-12'>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                    <li data-target="#quote-carousel" data-slide-to="3"></li>
                    <li data-target="#quote-carousel" data-slide-to="4"></li>
                </ol>

                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">

                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_1" class="img-circle" src="~/images/feedback_01.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_2" class="img-circle" src="~/images/feedback_02.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_3" class="img-circle" src="~/images/feedback_03.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 4 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_4" class="img-circle" src="~/images/feedback_01.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 5 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_5" class="img-circle" src="~/images/feedback_02.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>

                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class='col-md-12 text-center inner-top-xs'>
            <img src="~/images/kickstarter_support.png" class="img-responsive" style="text-align:center;display:inline-block" />
            

        </div>
    </div>
</div>
<!-- end testimonial -->



<script type="text/javascript">
$(function(){
/** Document Ready Functions **/
/********************************************************************/

$( document ).ready(function() {

    // Resive video
    scaleVideoContainer();

    initBannerVideoSize('.video-container .poster img');
    initBannerVideoSize('.video-container .filter');
    initBannerVideoSize('.video-container video');

    $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
    });

});

/** Reusable Functions **/
/********************************************************************/

function scaleVideoContainer() {

    var height = $(window).height();
    var unitHeight = parseInt(height) + 'px';
   // $('.homepage-hero-module').css('height',unitHeight);

}

function initBannerVideoSize(element){

    $(element).each(function(){
        $(this).data('height', $(this).height());
        $(this).data('width', $(this).width());
    });

    scaleBannerVideoSize(element);

}

function scaleBannerVideoSize(element){

    var windowWidth = $(window).width(),
        windowHeight = $(window).height(),
        videoWidth,
        videoHeight;

    console.log(windowHeight);

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width'),
            windowAspectRatio = windowHeight/windowWidth;

        if (videoAspectRatio > windowAspectRatio) {
            videoWidth = windowWidth;
            videoHeight = videoWidth * videoAspectRatio;
            $(this).css({'top' : -(videoHeight - windowHeight) / 2 + 'px', 'margin-left' : 0});
        } else {
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
            $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});
        }

        $(this).width(videoWidth).height(videoHeight);

        $('.homepage-hero-module .video-container video').addClass('fadeIn animated');


    });
}
});

</script>