@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section COLOR
{

    <!-- COLOR STYLE CSS -->
    <link rel="stylesheet" href="~/content/sky.css">
}

<!-- Header -->
<section id="header" class="container-fluid text-white">
    <div class="container">
        <div class="row clearfix">

            <div class="row clearfix text-center">

                <h1 class="main_title" style="margin-bottom:0px;">Advertise to mobile users<br /><br /></h1>

                @*<a class="popup-youtube" href="http://www.youtube.com/watch?v=i3i1Ne4qyZI" style="font-size:30px;">
                        <i class="fa fa-play-circle-o fa-3x" style="color:white;"></i>
                    </a>*@

            </div>


            <div class="row clearfix staff">
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                    <h3 class="">Show video Ads</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                    <h3 class="">Choose your audience</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                    <h3 class="">Run surveys</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                    <h3 class="">Offer coupon promotions</h3>

                </div>
            </div>



            <div class="row clearfix text-center inner-top-xs ">



                <a href="http://manage.cash4ads.com/Account/Login" class="btn btn-lg btn-success ">Get started now</a>



            </div>

        </div>
    </div><!-- /container  -->
</section>


<!-- videos -->
<section id="videos" class="container-fluid text-blue inner">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 p_title">
                        <h2>
                            Show video ads
                        </h2>
                        <h3 style="color:#7a539b">
                            30 second commercials – Guaranteed views!
                        </h3>
                        <p class="text-left">
                            We reward your target audience with 50% of your Pay Per Confirmed View (PPCV).

                        </p>

                        <h3 style="color:#7a539b">
                            Take them to your landing pages.
                        </h3>
                        <p class="text-left">
                            Call for action – drive users to your landing pages to continue the marketing or purchasing experience.

                        </p>

                        <h3 style="color:#7a539b">
                            You set the PPCV and daily ad spend
                        </h3>
                        <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        </p>

                        <h3 style="color:#7a539b">
                            Broadcast modes
                        </h3>
                        <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        </p>

                    </div>
                  
                </div>
            </div>
            <div class="col-sm-12 col-md-6 column" style="vertical-align:bottom;text-align:center">
                <img alt="App" class="inner-top-sm img-responsive" src="~/images/phone_in_hands.png" />

                <img alt="Games coming soon" class="img-responsive" src="~/images/games_coming_soon.png" style="text-align:center;display:inline-block" />
            </div>

        </div>
    </div> <!-- /container -->
</section>
<!-- end videos -->

<!-- audience -->
<section id="audience" class="container-fluid text-blue inner">
    <div class="container">
        <div class="row clearfix">
            
            <div class="col-sm-12 col-md-6 column" style="vertical-align:bottom;text-align:center">
                <img alt="App" class="inner-top-sm img-responsive" src="~/images/audience.png" />

              
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 p_title">
                        <h2>
                            Choose your audience
                        </h2>
                        <h3 style="color:#7a539b">
                            Age, Gender, Location, Profession segmentation
                        </h3>
                        <p class=" text-left">
                            We reward your target audience with 50% of your Pay Per Confirmed View (PPCV).

                        </p>

                        <h3 style="color:#7a539b">
                            Over 100 personal profile filter
                        </h3>
                        <p class=" text-left">
                            Call for action – drive users to your landing pages to continue the marketing or purchasing experience.

                        </p>

                        <h3 style="color:#7a539b">
                            Advance linking with surveys
                        </h3>
                        <p class=" text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        </p>


                    </div>

                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>
<!-- end audience -->

<!-- surveys -->
<section id="surveys" class="container-fluid text-blue inner">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 p_title">
                        <h2>
                            Run surveys
                        </h2>
                        <h3 style="color:#7a539b">
                            Video ad questions
                        </h3>
                        <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        </p>

                        <h3 style="color:#7a539b">
                            Survey cards
                        </h3>
                        <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        </p>

                        <h3 style="color:#7a539b">
                            Specific profile questions
                        </h3>
                        <p class="text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        </p>

                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-6 column" style="vertical-align:bottom;text-align:center">
                <img alt="App" class="inner-top-sm img-responsive" src="~/images/surveys.png" c />

               
            </div>

        </div>
    </div> <!-- /container -->
</section>
<!-- end surveys -->

<!-- promotions -->
<section id="promotions" class="container-fluid text-blue inner">
    <div class="container">
        <div class="row clearfix">

            <div class="col-sm-12 col-md-6 column" style="vertical-align:bottom;text-align:center">
                <img alt="App" class="inner-top-sm img-responsive" src="~/images/coupon_promotions.png" />


            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 p_title">
                        <h2>
                            Offer coupon promotions
                        </h2>
                        <h3 style="color:#7a539b">
                            Proximity coupons
                        </h3>
                        <p class=" text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        </p>

                        <h3 style="color:#7a539b">
                            Big saving discount vouchers
                        </h3>
                        <p class=" text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        </p>

                        <h3 style="color:#7a539b">
                            2 for 1 deals
                        </h3>
                        <p class=" text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        </p>

                        <h3 style="color:#7a539b">
                            Redeem at multiple branches
                        </h3>
                        <p class=" text-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

                        </p>


                    </div>

                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>
<!-- end audience -->

<!-- Feature -->
<section id="feature" class="text-blue">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">We reward your target audience with 50% of your PPCV</h2>
                <p class="text-center">(Pay Per Confirmed Click)</p>
            </div>
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <!-- RIGHT COLUMN -->
                    <div class="col-sm-4 col-md-4 column text-center">

                        <!-- #1 -->
                        <div class="item-icon ">
                            <i class="fa fa-bicycle fa-2x"></i>
                        </div>

                        <h3>Sharing is Caring</h3>

                        <p>
                            We pay people 50% of your PPCV to watch
                            your ad and to correctly answer your quiz question


                        </p>

                        <!-- #2 -->
                        <div class="item-icon ">
                            <i class="fa fa-cubes fa-2x"></i>
                        </div>

                        <h3>
                            BOG OF!

                        </h3>

                        <p>
                          Create coupons for free and attract new
customers to your stores


                        </p>

                        <!-- #3 -->
                        <div class="item-icon ">
                            <i class="fa fa-line-chart fa-2x"></i>
                        </div>

                        <h3>No video, no problem</h3>

                        <p>
                            Sponsor fun mind games designed to help
                            improve memory and reward winners with cash
                            credits.
                            <br /><br />
                        </p>

                    </div>


                    <!-- IPHONE IMAGE -->
                    <div class="col-sm-4 col-md-4 column ">
                        <img alt="iPhone" class="img-responsive" src="~/images/app_crowdcentz.png" />
                    </div>

                    <!-- LEFT COLUMN -->
                    <div class="col-sm-4 col-md-4 column text-center">

                        <!-- #1 -->
                        <div class="item-icon ">
                            <i class="fa fa-life-ring fa-2x"></i>
                        </div>

                        <h3>Cash Out Super Hero</h3>

                        <p>
                            Contact our team if you would like to offer
                            a super promotion in the apps Cash Out section


                        </p>

                        <!-- #2 -->
                        <div class="item-icon ">
                            <i class="fa fa-laptop fa-2x"></i>
                        </div>

                        <h3>A B Testing</h3>

                        <p>
                            Target and refine your audience quickly and simply
                            Set your daily limit and PPCV caps.


                        </p>

                        <!-- #3 -->
                        <div class="item-icon ">
                            <i class="fa fa-users fa-2x"></i>
                        </div>

                        <h3>Gurus wanted</h3>

                        <p>
                            Are you a digital marketer ?
                            Contact us if your interested in joining our family.


                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-12 column text-center inner-top-xs">
                <h2 class="text-center">Target more accurately by asking direct questions!</h2><br /><br />
                <a href="http://manage.cash4ads.com/Account/Login" class="btn btn-lg btn-success ">Get started now</a>

            </div>
        </div>
    </div> <!-- /container -->
</section>
<!-- end feature -->


<!-- strategy -->
<section id="strategy" class="container-fluid text-white inner">
    <div class="container">
        <div class="row clearfix">

            <div class="row clearfix text-center">

                <h1 class="main_title" style="margin-bottom:0px;">Compliment your digital marketing strategy<br /><br /></h1>

                @*<a class="popup-youtube" href="http://www.youtube.com/watch?v=i3i1Ne4qyZI" style="font-size:30px;">
                        <i class="fa fa-play-circle-o fa-3x" style="color:white;"></i>
                    </a>*@

            </div>


            <div class="row clearfix staff">
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                    <h3 class="">Simple and clear analytics</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                    <h3 class="">Cap your daily ad<br /> spend</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                    <h3 class="">Create proximity coupons</h3>

                </div>
                <div class="col-xs-6 col-md-3 column text-center subbox">
                    <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                    <h3 class="">Link survey results to future promotions</h3>

                </div>
            </div>



            <div class="row clearfix text-center inner-top-xs ">

                <a href="http://manage.cash4ads.com/Account/Login" class="btn btn-lg btn-success ">Get started now</a>

            </div>

        </div>
    </div><!-- /container  -->
</section>

<!-- end strategy -->



<!-- Testimonial -->
<div id="testimonial" class="container text-blue" style="padding-bottom:0px;">

    <div class="row">
        <div class='col-md-12 text-center p_title'>
            <img src="~/images/crowdcentz_logo_whitebg.png" class="img-responsive" />
            <h2>The sharing advertising platform</h2>
            
        </div>
    </div>
    <div class='row'>
        <div class=' col-md-12'>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                    <li data-target="#quote-carousel" data-slide-to="3"></li>
                    <li data-target="#quote-carousel" data-slide-to="4"></li>
                </ol>

                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">

                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_1" class="img-circle" src="~/images/feedback_01.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_2" class="img-circle" src="~/images/feedback_02.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_3" class="img-circle" src="~/images/feedback_03.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 4 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_4" class="img-circle" src="~/images/feedback_01.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 5 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_5" class="img-circle" src="~/images/feedback_02.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>

                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class='col-md-12 text-center p_title'>
            <img src="~/images/kickstarter_support.png" class="img-responsive" style="text-align:center;display:inline-block" />
            

        </div>
    </div>
</div>
<!-- end testimonial -->
