@{
    ViewBag.Title = "Become a Partner   ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section COLOR
{

    <!-- COLOR STYLE CSS -->
    <link rel="stylesheet" href="~/content/sky.css">

}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<section id="promotions" class="container-fluid text-blue inner-xs">
    <div class="container">
        <div class="row clearfix">

            <div class="col-sm-12 col-md-12">
                <h1>Upgrade Cash 4 Ads app     </h1>
                <h4 style="color:red;">
                    (In app page to get users to refer 5 friends)
                </h4>
                <h3>
                    A richer variety of games <br /><br />
                    Brain training workouts
                </h3>
                <p>
                    Your currently limited to basic puzzle games and 3 mystery deal games per day.
                    <br />
                    Refer 5 friends and start balancing your brain training workouts with a rich variety of games and upgrade for free.
                    <br />
                    <ul>
                        <li>
                            	Play brain games you like most
                        </li>
                        <li>
                            	Identify and improve your weakest scores
                        </li>
                        <li>
                            	Unlimited mystery deal games
                        </li>
                    </ul>
                    <br />
                    Simply email or share your unique link to as many friends as you like. Get 5 friends to sign up using your link and start enjoying a richer variety of games.<br />
                    <b>4</b>
                    friends have successfully registered so far.<br />
                    Only 1 more to go :)

                </p>
             
            </div>
        </div>
    </div> <!-- /container -->
</section>
