@{
    ViewBag.Title = "Store Details";
}

<div data-bind="visible: $root.isEditorVisible()" style="display: none;">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#" class="my-navigator">Home</a></li>
                    <li><a href="#" class="my-navigator">Survey Questions</a></li>
                </ol>
                <div class="tab-content dynamicNameHeading" style="height:41px;">
                    <h1 data-bind="text:$root.titleText">Add new survey</h1>
                </div>
            </div>
        </div>
        <div class="row" id="user-profile">
            <div class="col-lg-12 col-md-8 col-sm-8" style="padding-bottom: 10px;">
                <div class="clearfix ">
                    <div class="col-xs-12" style="text-align: right; padding-right:0;margin-bottom:10px;">
                        <button class="btn  btn-success" id="saveBtn" data-bind="click:$root.onSubmitSurveyQuestion, visible: $root.canSubmitForApproval">Submit for Approvals</button>
                        <button class="btn  btn-info" id="saveBtn" data-bind="click:$root.onSaveSurveyQuestion, enable: $root.hasChangesOnQuestion, css: { 'btn-warning': $root.hasChangesOnQuestion }">Save</button>
                        <button class="btn btn-default" id="closeBtn" data-bind="click: $root.closeEditDialog">Close</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" data-bind="with: $root.selectedQuestion">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-box no-header clearfix">
                            <div class="col-lg-12 form-horizontal" style="    padding: 20px;">
                                <div class="tabsdescriptions" style="margin-left:3px;">
                                    <div class="col-lg-9" style="padding-left: 0 !important;">
                                        <p class="group-header-description" style="margin-top:-1px;">
                                            Manage the basic details of your survey in this section.
                                        </p>
                                    </div>
                                    <div class="col-lg-3 pull-left" style="margin-top:-9px;padding-right:0px;">
                                        <div class="col-lg-5 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label class="control-label">Status</label>
                                        </div>
                                        <div class="col-lg-6">

                                            <label class="control-label bold" data-bind="text:StatusValue()">Archived</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-9">
                                    <div class="form-group" style="margin-bottom:14px;">
                                        <div class="col-lg-3 text-right">

                                            <label for="txtSurveyTtile" class="control-label text-right tooltip-float">Survey Title</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" name="Campaign Name" class="form-control" id="txtSurveyTtile" placeholder="Enter Survey title" data-bind="value: Question">

                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:14px;">
                                        <div class="col-lg-3 text-right" style="padding-top:12px;">

                                            <label for="txtDisplayQuestion" class="control-label text-right tooltip-float">Survey Display Question</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" style="height:60px;" name="" class="form-control height60 font24px" id="txtDisplayQuestion" placeholder="Survey Display Question" data-bind="value: DisplayQuestion">

                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:25px;">
                                        <div class="col-lg-3 text-right" style="padding-top:12px;">

                                            <label for="txtSurveyDesc" class="control-label text-right tooltip-float">Survey Description</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" id="txtSurveyDesc" rows="5" placeholder="Enter Description" data-bind="value: Description"></textarea>

                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom:25px;">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-5">
                                            <div class="col-lg-4 text-right" style="padding-top:12px;">

                                                <label for="txtSurveyDesc" class="control-label text-right tooltip-float">Left Answer</label>
                                            </div>
                                            <div class="col-lg-6">

                                                <div class="col-lg-12">

                                                    <div style="width:210px;text-align:center;">
                                                        <img style="width:auto;height:80px;max-width:200px;" data-bind="visible:LeftPictureBytes()==null  ,attr: { src:  LeftPicturePath() }" src="/Content/Images/Company_Default.png" />
                                                        <img style="width:auto;height:80px;max-width:200px;" data-bind="visible:LeftPictureBytes()!=null,attr: { src: LeftPictureBytes }" />

                                                    </div>

                                                </div>

                                                <div class="col-lg-12" style="margin-top:15px;text-align:center;width:240px;padding-right:0px;">
                                                    <div class="col-lg-5" style="padding-right:10px;">
                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="left" data-html="true" data-content="" data-original-title="" title="">
                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6" style="text-align:left;">
                                                        <div class="fileUpload btn btn-primary">
                                                            <span>Upload </span>
                                                            <input type="file" class="upload" id="image_files" data-bind="files: { onLoaded: $root.storeLeftImageCallback, fileFilter: 'image.*'}" />
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-3 text-right" style="padding-top:12px;">

                                                <label for="txtSurveyDesc" class="control-label text-right tooltip-float">Right Answer</label>
                                            </div>
                                            <div class="col-lg-6">

                                                <div class="col-lg-12">

                                                    <div style="width:210px;text-align:center;">
                                                        <img style="width:auto;height:80px;max-width:200px;" data-bind="visible:RightPictureBytes()==null,attr: { src:  RightPicturePath() }" src="/Content/Images/Company_Default.png" />
                                                        <img style="width:auto;height:80px;max-width:200px;" data-bind="visible:RightPictureBytes()!=null,attr: { src: RightPictureBytes }" />
                                                    </div>

                                                </div>

                                                <div class="col-lg-12" style="margin-top:15px;text-align:center;width:240px;padding-right:0px;">
                                                    <div class="col-lg-5" style="padding-right:10px;">
                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="left" data-html="true" data-content="" data-original-title="" title="">
                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6" style="text-align:left;">
                                                        <div class="fileUpload btn btn-primary">
                                                            <span>Upload </span>
                                                            <input type="file" class="upload" id="image_files" data-bind="files: { onLoaded: $root.storeRightImageCallback, fileFilter: 'image.*'}" />
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="txtBudget" class="control-label text-right tooltip-float">Schedule</label>
                                        </div>
                                        <div class="col-sm-6" style="background-color: gainsboro">
                                            <div class="form-group " style="margin-top: 15px;">
                                                <div class="col-sm-4 text-right">
                                                    <label for="validFromDate" class="control-label text-right tooltip-float">Start Date</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="validFromDate" data-bind="datetimepicker:StartDate">
                                                </div>

                                            </div>
                                            <div class="form-group ">
                                                <div class="col-sm-4 text-right">
                                                    <label for="validUptoDate" class="control-label text-right tooltip-float">End Date</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="validUptoDate" data-bind="datetimepicker:EndDate">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="txtAge" class="control-label text-right tooltip-float">Age Range</label>
                                        </div>
                                        <div class="col-lg-1" style=" padding: 0px !important;     margin-left: 8px;">
                                            <select class="form-control" data-bind="options: $root.ageRange, optionsText: 'text', optionsValue: 'value', value: AgeRangeStart"> </select>
                                        </div>
                                        <div class="pull-left range_dash">
                                            -
                                        </div>
                                        <div class="col-lg-1" style=" padding: 0px !important;">
                                            <select class="form-control" data-bind="options: $root.ageRange, optionsText: 'text', optionsValue: 'value',value: AgeRangeEnd"> </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="txtGender" class="control-label text-right tooltip-float">Gender</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="radio  col-lg-3">
                                                <input type="radio" name="optionsRadiosGender" id="optionsRadiosGenderAll" value="1" data-bind="checked: Gender">
                                                <label for="optionsRadiosGenderAll">
                                                    All
                                                </label>
                                            </div>
                                            <div class="radio  col-lg-3">
                                                <input type="radio" name="optionsRadiosGender" id="optionsRadiosGenderMEn" value="2" data-bind="checked: Gender">
                                                <label for="optionsRadiosGenderMEn">
                                                    Men
                                                </label>
                                                <span class="help-block text-right"></span>
                                            </div>
                                            <div class="radio col-lg-5">
                                                <input type="radio" name="optionsRadiosGender" id="optionsRadiosGenderWMEn" value="3" data-bind="checked: Gender">
                                                <label for="optionsRadiosGenderWMEn">
                                                    Women
                                                </label>
                                                <span class="help-block text-right"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="txtCountries" class="control-label text-right tooltip-float">Locations</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <div id="coun_token_cnt">
                                                <!-- ko template: { name: 'SurveyQuestionLocationTemplate' , foreach: SurveyQuestionTargetLocation } -->
                                                <!-- /ko -->
                                            </div>
                                            <div class="clearfix"></div>
                                            <div id="count_edt">
                                                <div class="coun_in_ex_cnt">
                                                    <select id="in_ex_count_opt" class="form-control" data-bind="value: $root.selectedLocationIncludeExclude">
                                                        <option value="1">Include</option>
                                                        <option value="0">Exclude</option>
                                                    </select>
                                                </div>
                                                <div class="sep-line">

                                                </div>
                                                <div class="count_token_opt_cnt">
                                                    <input type="text" data-autocomplete="off" class="" id="searchSurveyLocations" placeholder="Add country or city" />
                                                    <input type="text" id="us3-radius" placeholder="Radius (meters)" data-bind="value: $root.selectedLocationRadius " class="locRadius locVisibility" />
                                                    <button data-bind="click:$root.onAddLocation" class="locVisibility btn btn-info">Add Location</button>

                                                </div>
                                                <div class="count_token_opt_cnt locMap">
                                                    <div id="mapContainer" style="width: 400px; height: 200px;"></div>
                                                    <div class="clearfix">&nbsp;</div>
                                                    <div class="m-t-small" style="display:none;">
                                                        <label class="p-r-small col-sm-1 control-label">Lat.:</label>
                                                        <div class="col-sm-3"><input type="text" class="form-control" style="width: 110px" id="us3-lat" data-bind="value: $root.selectedLocationLat " /></div>
                                                        <label class="p-r-small col-sm-2 control-label">Long.:</label>
                                                        <div class="col-sm-3"><input type="text" class="form-control" style="width: 110px" id="us3-lon" data-bind="value: $root.selectedLocationLong " /></div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="txtLanguages" class="control-label text-right tooltip-float">Languages</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <div>

                                                <div id="lang_token_cnt">
                                                    <!-- ko template: { name: 'SurveyQuestionLanguageTemplate' , foreach: SurveyQuestionTargetCriteria } -->
                                                    <!-- /ko -->
                                                </div>
                                                <div class="clearfix"></div>
                                                <div id="land_edt">
                                                    <div class="coun_in_ex_cnt">
                                                        <select id="in_ex_count_opt" class="form-control" data-bind="value: $root.selectedLangIncludeExclude">
                                                            <option value="1">Include</option>
                                                            <option value="0">Exclude</option>
                                                        </select>
                                                    </div>
                                                    <div class="sep-line">

                                                    </div>
                                                    <div class="count_token_opt_cnt">
                                                        <input type="text" data-autocomplete="off" class="" id="searchLanguages" placeholder="Enter a language" />
                                                    </div>

                                                    <div class="clearfix">

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="txtLanguages" class="control-label text-right tooltip-float">Professions</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <div>

                                                <div id="lang_token_cnt">
                                                    <!-- ko template: { name: 'SurveyQuestionIndustryTemplate' , foreach: SurveyQuestionTargetCriteria } -->
                                                    <!-- /ko -->
                                                </div>
                                                <div class="clearfix"></div>
                                                <div id="land_edt">
                                                    <div class="coun_in_ex_cnt">
                                                        <select id="in_ex_count_opt" class="form-control" data-bind="value: $root.selectedIndustryIncludeExclude">
                                                            <option value="1">Include</option>
                                                            <option value="0">Exclude</option>
                                                        </select>
                                                    </div>
                                                    <div class="sep-line">

                                                    </div>
                                                    <div class="count_token_opt_cnt">
                                                        <input type="text" data-autocomplete="off" class="" id="searchIndustries" placeholder="Enter an industry" />
                                                    </div>

                                                    <div class="clearfix">

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <div class="bs-example-tooltips tooltip-float-width">
                                                <a class="input-group-addon" tabindex="-1" href="#" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                </a>
                                            </div>
                                            <label for="txtLanguages" class="control-label text-right tooltip-float">Educations</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <div>

                                                <div id="lang_token_cnt">
                                                    <!-- ko template: { name: 'SurveyQuestionEducationTemplate' , foreach: SurveyQuestionTargetCriteria } -->
                                                    <!-- /ko -->
                                                </div>
                                                <div class="clearfix"></div>
                                                <div id="land_edt">
                                                    <div class="coun_in_ex_cnt">
                                                        <select id="in_ex_count_opt" class="form-control" data-bind="value: $root.selectedEducationIncludeExclude">
                                                            <option value="1">Include</option>
                                                            <option value="0">Exclude</option>
                                                        </select>
                                                    </div>
                                                    <div class="sep-line">

                                                    </div>
                                                    <div class="count_token_opt_cnt">
                                                        <input type="text" data-autocomplete="off" class="" id="searchEducations" placeholder="Enter an Education" />
                                                    </div>

                                                    <div class="clearfix">

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">

                                            <label for="txtVerifyQuestion" class="control-label text-right tooltip-float">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        </div>

                                    </div>
                                    <div class="clearfix col-lg-9">
                                        <header class="main-box-header clearfix" style="padding-right:0px;">
                                            <div class="filter-block pull-right">
                                                <a href="#" id="addTemplatePageBtn" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg" data-bind="click: $root.addNewSurveyCriteria">
                                                    Add Survey Criteria
                                                </a>
                                                <a href="#" id="addTemplatePageBtn" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg" data-bind="click: $root.addNewProfileCriteria">
                                                    Add Profile Criteria
                                                </a>
                                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="gridSystemModalLabel" data-bind="text:$root.editCriteriaHeading()">Add Criteria</h4>
                                                            </div>
                                                            <div class="modal-body" data-bind="with:$root.selectedCriteria">
                                                                <div class="row">
                                                                    <div class="col-lg-9 marginBottom12">
                                                                        <div class="form-group">
                                                                            <div class="col-lg-5 text-right">
                                                                                <div class="bs-example-tooltips tooltip-float-width">
                                                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                    </a>
                                                                                </div>
                                                                                <label class="control-label text-right tooltip-float">Criteria</label>
                                                                            </div>
                                                                            <div class="col-lg-5">
                                                                                <div class="col-lg-12" style="margin-left:-10px;">
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="optionRadioSelectionCriteria" id="optionIncludeCriteria" value="1" data-bind="checked: IncludeorExclude">
                                                                                        <label for="optionIncludeCriteria">
                                                                                            Include
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="optionRadioSelectionCriteria" id="optionExcludeCriteria" value="0" data-bind="checked: IncludeorExclude ">
                                                                                        <label for="optionExcludeCriteria">
                                                                                            Exclude
                                                                                        </label>
                                                                                        <span class="help-block text-right"></span>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div data-bind="visible: Type() == 1">
                                                                        <div class="col-lg-9 marginBottom12">
                                                                            <div class="form-group">
                                                                                <div class="col-lg-5 text-right">
                                                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <label class="control-label text-right tooltip-float">Select Profile Question Criteria</label>
                                                                                </div>
                                                                                <div class="col-lg-5">
                                                                                    <select id="ddprofileQuestion" class="form-control" data-bind="options: $root.profileQuestionList, optionsText: 'Question', optionsValue: 'PqId', optionsCaption: '&lt;' + 'Select Question'+ '&gt;' , value:PQID, event: { change: $root.onChangeProfileQuestion } "></select>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div id="profileAnswersContainer" class="col-lg-9 marginBottom12" data-bind="visible: $root.profileAnswerList().length > 0">
                                                                            <div class="form-group">
                                                                                <div class="col-lg-5 text-right">
                                                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <label class="control-label text-right tooltip-float">Select Answer</label>
                                                                                </div>
                                                                                <div class="col-lg-5">
                                                                                    <select id="ddprofileAnswers" class="form-control" data-bind="options: $root.profileAnswerList,  optionsText: 'Answer', optionsValue: 'PQAnswerID', optionsCaption: '&lt;' + 'Select Answer'+ '&gt;' , value:$root.selectedCriteria().PQAnswerID"></select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div data-bind="visible: Type() == 2">
                                                                        <div class="col-lg-9 marginBottom12">
                                                                            <div class="form-group">
                                                                                <div class="col-lg-5 text-right">
                                                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <label class="control-label text-right tooltip-float">Select Survey Question Criteria</label>
                                                                                </div>
                                                                                <div class="col-lg-5">
                                                                                    <select id="ddsurveyQuestion" class="form-control" data-bind="options: $root.surveyQuestionList, optionsText: 'DisplayQuestion', optionsValue: 'SQID', optionsCaption: '&lt;' + 'Select Question'+ '&gt;' , value:LinkedSQID, event: { change: $root.onChangeSurveyQuestion } "></select>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div id="surveyAnswersContainer" class="col-lg-9 marginBottom12" data-bind="visible: $root.isShowSurveyAns() ==  true">
                                                                            <div class="form-group">
                                                                                <div class="col-lg-5 text-right">
                                                                                    <div class="bs-example-tooltips tooltip-float-width">
                                                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <label class="control-label text-right tooltip-float">Select Answer</label>
                                                                                </div>
                                                                                <div class="col-lg-5">
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="optionsRadiosSurveyAns" id="optionsRadiosSurveyAnsLeft" value="1" data-bind="checked: LinkedSQAnswer">
                                                                                        <label for="optionsRadiosSurveyAnsLeft">
                                                                                            <img style="width:100px;height:auto;" data-bind="attr: { src: surveyQuestLeftImageSrc }" />
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="optionsRadiosSurveyAns" id="optionsRadiosSurveyAnsRight" value="2" data-bind="checked: LinkedSQAnswer">
                                                                                        <label for="optionsRadiosSurveyAnsRight">
                                                                                            <img style="width:100px;height:auto;" data-bind="attr: { src: surveyQuestRightImageSrc }" />
                                                                                        </label>
                                                                                        <span class="help-block text-right"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" data-dismiss="modal" class="btn btn-primary" data-bind="click:$root.saveCriteria">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-lg-11"><span>Additional targeting Criteria's</span></th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- ko template: { name: 'answersTemplate', foreach: SurveyQuestionTargetCriteria } -->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <div>

                                        <div class="clearfix">


                                            <div style="/*position: fixed;height: 52%;overflow-x: hidden;overflow-y: auto;*/position:relative;">

                                                <div class="aud_cnt">
                                                    <h4 class="ad_h4">Audience Definition</h4>

                                                    <div class="clearfix _1gab VAGUE">
                                                        <div class="_1g9- lfloat">
                                                            <div class="_1g9_">
                                                                <i class="_1ga0 broad_aud img sp_NQc91B1T0mb sx_f05cb6 meterPin"></i>
                                                                <i class="_1ga1 img sp_NQc91B1T0mb3 sx_0eeab0"></i>
                                                                <div class="_1ga2 clearfix">
                                                                    <div class="_ohe lfloat">
                                                                        <span class="_1ga3">Specific</span>
                                                                    </div>
                                                                    <div class="_ohf rfloat">
                                                                        <span class="_1ga3">Broad</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="rfloat fsm _1ga4">
                                                            <p data-bind="visible: $root.audienceReachMode()  == 1">Your audience is too specific for your ads to be shown. Try making it broader.</p>
                                                            <p data-bind="visible: $root.audienceReachMode()  == 3">Your audience selection is fairly broad.</p>
                                                            <p data-bind="visible: $root.audienceReachMode()  == 2">Your audience is defined.</p>
                                                           
                                                        </div>
                                                        <div class="clearfix">
                                                            &nbsp;
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <span class="ad_h4_noborder">Audience Details:</span>
                                                        <ul>
                                                            <li class="li-audul" data-bind="visible: $root.selectedQuestion().SurveyQuestionTargetLocation().length > 0" style="display: none;">
                                                                <div class="fsm_bold">Locations:</div>

                                                                <ul class="pad-11">
                                                                    <!-- ko template: { name: 'targetLocationAudienceTemplate' , foreach: SurveyQuestionTargetLocation } --><!-- /ko -->
                                                                </ul>
                                                            </li>
                                                            <li class="li-audul" data-bind="visible: $root.visibleTargetAudience(4)  == 1" style="display: none;">
                                                                <div class="fsm_bold">Industries:</div>
                                                                <ul class="pad-11">
                                                                    <!-- ko template: { name: 'targetIndustryAudienceTemplate' , foreach: SurveyQuestionTargetCriteria } --><!-- /ko -->

                                                                </ul>
                                                            </li>
                                                            <li class="li-audul" data-bind="visible: $root.visibleTargetAudience(3)  == 1" style="display: none;">
                                                                <div class="fsm_bold">Languages:</div>
                                                                <ul class="pad-11">
                                                                    <!-- ko template: { name: 'targetLanguageAudienceTemplate' , foreach: SurveyQuestionTargetCriteria } --><!-- /ko -->

                                                                </ul>
                                                            </li>
                                                            <li class="li-audul" data-bind="visible: $root.visibleTargetAudience(5)  == 1" style="display: none;">
                                                                <div class="fsm_bold">Educations:</div>
                                                                <ul class="pad-11">
                                                                    <!-- ko template: { name: 'targetIndustryEducationTemplate' , foreach: SurveyQuestionTargetCriteria } --><!-- /ko -->

                                                                </ul>
                                                            </li>
                                                            <li class="li-audul" data-bind="visible: $root.visibleTargetAudience(1) == 1 || $root.visibleTargetAudience(2)  == 1" style="display: none;">
                                                                <div class="fsm_bold">ADDITIONAL TARGETING CRITERIA'S:</div>

                                                                <ul class="pad-11">
                                                                    <!-- ko template: { name: 'targetCriteriasAudienceTemplate', foreach: SurveyQuestionTargetCriteria } --><!-- /ko -->
                                                                </ul>
                                                            </li>

                                                            <li class="li-audul">
                                                                <div class="fsm_bold">Age:</div>
                                                                <ul class="pad-11">
                                                                    <li>
                                                                        <span data-bind="text: $root.selectedQuestion().AgeRangeStart() +' - '+ $root.selectedQuestion().AgeRangeEnd()">13 - 13</span>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="li-audul">
                                                                <div class="fsm_bold">Gender:</div>
                                                                <ul class="pad-11">
                                                                    <li>
                                                                        <!--ko if:$root.selectedQuestion().Gender() == 1 -->
                                                                        <span class="aud_licontent">All</span><!--/ko-->
                                                                        <!--ko if:$root.selectedQuestion().Gender() == 2 -->
                                                                        <span class="aud_licontent">Men</span>
                                                                        <!--/ko-->
                                                                        <!--ko if:$root.selectedQuestion().Gender() == 3 -->
                                                                        <span class="aud_licontent">Women</span><!--/ko-->

                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div>Price per click: <span data-bind="text: $root.userBaseData().CurrencySymbol"></span><span data-bind="text: $root.setupPrice()"></span></div>
                                                    <div>Potential Reach: <span data-bind="text:$root.reachedAudience()">0</span> people</div>

                                                </div>
                                            </div>

                                        </div>





                                    </div>
                                </div>

                                <!--selection criteria templata-->


                            </div>
                            <div class=" text-center">
                                <label data-bind="text:'Modification date : '+ ModifiedDate() , visible: ModifiedDate() != undefined">   </label>
                                <label data-bind="text:'Creation date : '+ CreationDate(), visible: CreationDate() != undefined"></label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script id="SurveyQuestionLocationTemplate" type="text/html">
    <div class="count_city_newcnt">
        <!--ko if:CityID() == 0 || CityID() == null-->
        <span class="form-control lang_nr_box areaCity" data-bind="text:Country " style=" "></span>
        <!--/ko-->
        <!--ko if:CityID() != 0 && CityID() != null-->
        <span class="form-control lang_nr_box areaCity" data-bind="text:City " style=" "></span>
        <!--/ko-->
        <!--ko if:Radius() != 0 && Radius() != null && Radius() != undefined-->
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'Included (' + Radius() +')' "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'Excluded (' + Radius() +')' "></span>
        <!--/ko-->
        <!--/ko-->


        <a id="" data-bind="click:$root.onRemoveLocation" title=" delete" class="lang_delSurvey"> <i class="fa fa-times "></i></a>
    </div>
    <div class="clear"></div>
</script>
<script id="SurveyQuestionLanguageTemplate" type="text/html">
    <div class="count_city_newcnt">
        <!--ko if:Type() == 3 -->
        <span class="form-control lang_nr_box areaCity" data-bind="text:Language() " style=" "></span>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Included)' "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Excluded)' "></span>
        <!--/ko-->
        <a id="" data-bind="click:$root.onRemoveLanguage" title=" delete" class="lang_delSurvey"> <i class="fa fa-times "></i></a>
        <!--/ko-->
    </div>
    <div class="clear"></div>
</script>
<script id="SurveyQuestionIndustryTemplate" type="text/html">
    <div class="count_city_newcnt">
        <!--ko if:Type() == 4 -->
        <span class="form-control lang_nr_box areaCity" data-bind="text:Industry() " style=" "></span>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Included)' "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Excluded)' "></span>
        <!--/ko-->
        <a id="" data-bind="click:$root.onRemoveIndustry" title=" delete" class="lang_delSurvey"> <i class="fa fa-times "></i></a>
        <!--/ko-->
    </div>
    <div class="clear"></div>
</script>
<script id="SurveyQuestionEducationTemplate" type="text/html">
    <div class="count_city_newcnt">
        <!--ko if:Type() == 5 -->
        <span class="form-control lang_nr_box areaCity" data-bind="text:Education() " style=" "></span>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Included)' "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="form-control lang_nr_box langIncludeExclText" data-bind="text:'(Excluded)' "></span>
        <!--/ko-->
        <a id="" data-bind="click:$root.onRemoveIndustry" title=" delete" class="lang_delSurvey"> <i class="fa fa-times "></i></a>
        <!--/ko-->
    </div>
    <div class="clear"></div>
</script>
<script>
    var map;
    var center;
    var circle = null;
    function initializeMap(lat, long, place) {
        // LOCATION IN LATITUDE AND LONGITUDE.
        center = new google.maps.LatLng(long, lat);
        // MAP ATTRIBUTES.
        var mapAttr = {
            center: center,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        var myLatLng = { lat: parseFloat(lat), lng: parseFloat(long) };
        // THE MAP TO DISPLAY.

        map = new google.maps.Map(document.getElementById("mapContainer"), mapAttr);
        google.maps.event.addDomListener(window, 'load', initialize);

        var marker = new google.maps.Marker({
            position: center,
            map: map,
            title: place
        });

    }
    function addRadius(radius) {
        if (circle != null)
            circle.setMap(null);
        circle = new google.maps.Circle({
            center: center,
            map: map,
            radius: parseInt(radius),          // IN METERS.
            fillColor: '#FF6600',
            fillOpacity: 0.3,
            strokeColor: "#FFF",
            strokeWeight: 0         // DON'T SHOW CIRCLE BORDER.
        });

    }


</script>
<script id="answersTemplate" type="text/html">
    <!--ko if:Type() == 1  || Type() == 2 -->
    <tr>

        <!--ko if:IncludeorExclude() == '0' -->
        <td class="col-lg-2">
            <!-- ko if:   Type() == "1" -->
            <p style="margin-top: 5px;margin-left: 12px;" data-bind="text: '(Excluded) ' + questionString() + ' = ' + answerString()">
            </p>
            <!-- /ko -->
            <!-- ko if:   Type()  == "2" -->
            <p style="margin-top: 5px;margin-left: 12px;">
                <span data-bind="text: '(Excluded) ' +  questionString() + ' = ' "></span>
                <img data-bind="attr:{src: answerString()}" width="80" />
            </p>
            <!-- /ko -->
        </td>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '1'-->
        <td class="col-lg-2">
            <!-- ko if:   Type() == "1" -->
            <p style="margin-top: 5px;margin-left: 12px;" data-bind="text: '(Included) ' + questionString() + ' = ' + answerString()">
            </p>
            <!-- /ko -->
            <!-- ko if:   Type()  == "2" -->
            <p style="margin-top: 5px;margin-left: 12px;">
                <span data-bind="text: '(Included) ' +  questionString() + ' = ' "></span>
                <img data-bind="attr:{src: answerString()}" width="80" />
            </p>
            <!-- /ko -->
        </td>
        <!--/ko-->


        <td class="col-lg-1" style=" padding: 0px !important; text-align:right;">
            <a class="table-link">
                <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse" data-bind="click:$root.onEditCriteria" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
                </span>

            </a>
        </td>
        <td class="col-lg-1" style=" padding: 0px !important;">

            <a class="table-link danger">
                <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse" data-bind="click:$root.onDeleteCriteria"></i>
                </span>

            </a>
        </td>
    </tr>

    <!--/ko-->
</script>
<script id="targetCriteriasAudienceTemplate" type="text/html">
    <!--ko if:Type() != 3 && Type() != 4 && Type() != 5 -->
    <!--ko if:IncludeorExclude() == '0' -->
    <li>
        <!-- ko if:   Type() == "1" -->
        <p class="aud_licontent" data-bind="text: '(Excluded) ' + questionString() + ' = ' + answerString()">
        </p>
        <!-- /ko -->
        <!-- ko if:   Type()  == "2" -->
        <p class="aud_licontent">
            <span data-bind="text: '(Excluded) ' +  questionString() + ' = ' "></span>
            <img data-bind="attr:{src: answerString()}" width="80" />
        </p>
        <!-- /ko -->
    </li>
    <!--/ko-->
    <!--ko if:IncludeorExclude() == '1'-->
    <li>
        <!-- ko if:   Type() == "1" -->
        <p class="aud_licontent" data-bind="text: '(Included) ' + questionString() + ' = ' + answerString()">
        </p>
        <!-- /ko -->
        <!-- ko if:   Type()  == "2" -->
        <p class="aud_licontent">
            <span data-bind="text: '(Included) ' + questionString() + ' = ' "></span>
            <img data-bind="attr:{src: answerString()}" width="80" />
        </p>
        <!-- /ko -->
    </li>
    <!--/ko-->
    <!--/ko-->
</script>
<script id="targetIndustryAudienceTemplate" type="text/html">

    <!--ko if:Type() == 4 -->
    <li>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="aud_licontent" data-bind="text:'(Included)' + Industry() "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="aud_licontent" data-bind="text:'(Excluded)' + Industry() "></span>
        <!--/ko-->
    </li>
    <!--/ko-->


</script>
<script id="targetIndustryEducationTemplate" type="text/html">

    <!--ko if:Type() == 5 -->
    <li>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="aud_licontent" data-bind="text:'(Included)' + Education() "></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="aud_licontent" data-bind="text:'(Excluded)' + Education() "></span>
        <!--/ko-->
    </li>
    <!--/ko-->


</script>
<script id="targetLanguageAudienceTemplate" type="text/html">


    <!--ko if:Type() == 3 -->
    <li>
        <!--ko if:IncludeorExclude() == '1'-->
        <span class="aud_licontent" data-bind="text:'(Included)' + Language()"></span>
        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->
        <span class="aud_licontent" data-bind="text:'(Excluded)' + Language() "></span>
        <!--/ko-->
    </li>
    <!--/ko-->



</script>
<script id="targetLocationAudienceTemplate" type="text/html">
    <li>
        <!--ko if:CityID() == 0 || CityID() == null-->
        <!--ko if:Radius() != 0 && Radius() != null && Radius() != undefined-->
        <!--ko if:IncludeorExclude() == '1'-->

        <span class="aud_licontent" data-bind="text:'Included (' + Radius() +') ' + Country()"></span>

        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->

        <span class="aud_licontent" data-bind="text:'Excluded (' + Radius() +') ' + Country()"></span>

        <!--/ko-->
        <!--/ko-->
        <!--ko if:Radius() == null || Radius() == undefined-->
        <!--ko if:IncludeorExclude() == '1'-->

        <span class="aud_licontent" data-bind="text:'(Included) ' + Country()"></span>

        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->

        <span class="aud_licontent" data-bind="text:'(Excluded) ' + Country()"></span>

        <!--/ko-->
        <!--/ko-->
        <!--/ko-->
        <!--ko if:CityID() != 0 && CityID() != null-->
        <!--ko if:Radius() != 0 && Radius() != null && Radius() != undefined-->
        <!--ko if:IncludeorExclude() == '1'-->

        <span class="aud_licontent" data-bind="text:'Included (' + Radius() +') ' + City() "></span>

        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->

        <span class="aud_licontent" data-bind="text:'Excluded (' + Radius() +') ' + City()"></span>

        <!--/ko-->
        <!--/ko-->
        <!--ko if:Radius() == null || Radius() == undefined-->
        <!--ko if:IncludeorExclude() == '1'-->

        <span class="aud_licontent" data-bind="text:'(Included) ' + City() "></span>

        <!--/ko-->
        <!--ko if:IncludeorExclude() == '0' -->

        <span class="aud_licontent" data-bind="text:'(Excluded) ' + City()"></span>

        <!--/ko-->
        <!--/ko-->
        <!--/ko-->
    </li>
</script>