<div class=" col-lg-12"  style=" padding-left:8px;padding-right:8px;">
    <div class="main-box main-box-subpage">
        <div class="row">
            <br />
            <div class="col-lg-3" style="padding-bottom:10px;padding-left:15px;">
                <span class="charts_label" style="margin-left: 16px;">Charts & Analytics</span>
            </div>
            <div class="col-lg-4 " style="padding-bottom:10px;padding-left:15px;">

            </div>
            <div class="col-lg-2 adsubHeading Theme_standard_clr borderbtmline" style="padding-bottom:10px;">
                <label class="control-label text-right tooltip-float floatNone defaultThemeTxtClr defaultImgUploadImageBtn">Date range </label>
            </div>
            <div class="col-lg-3 adsubHeading Theme_standard_clr borderbtmline" style="padding-bottom:2px;">
                <select style="width:73%;" class="form-control" id="ddDateRangeDropDown" data-bind="options: $root.DateRangeDropDown, optionsText: 'name', optionsValue: 'id', value:$root.selecteddateRangeAnalytics, event: { change: $root.getSurvayAnalytics }"></select>
            </div>

        </div>
        <div class="analyticsBox">
            <div class="col-lg-7"></div>

            <div class="col-lg-2">
                <label style="padding-top:18px;" class="control-label text-right tooltip-float floatNone defaultThemeTxtClr defaultImgUploadImageBtn">Granularity level </label>
            </div>
            <div class="col-lg-3">
                <select class="form-control margin10 pull-left" id="ddGranularityDropDown" data-bind="options: $root.granularityDropDown, optionsText: 'name', optionsValue: 'id', value:$root.selectedGranularityAnalytics, event: { change: $root.getSurvayAnalytics }"></select>
            </div>

            @*<div class="col-lg-1">
                    <label style="padding-top:18px;" class="control-label text-right tooltip-float floatNone defaultThemeTxtClr defaultImgUploadImageBtn">Status </label>
                </div>
                <div class="col-lg-3">
                    <select class="form-control margin10 pull-left" id="ddCampaignStatusDropDown" data-bind="options: $root.CampaignStatusDropDown, optionsText: 'name', optionsValue: 'id', value:$root.selectedCampStatusAnalytics, event: { change: $root.getSurvayAnalytics }"></select>
                </div>*@


            <div class="row">
                <div class="col-lg-12">
                    <div class=" margin10">
                        <div style="height:150px;" data-bind="morris: {type: 'Line', data: $root.SQAnalyticsData, xkey: 'Granual', ykeys: ['openStats', 'Stats', 'SkipStats'], labels: ['Total Impressions', 'Answered','Skipped'], parseTime:false, setAxisAlignFirstX: true, lineColors: ['blue','green','red'] }"></div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="analyticsBox" data-bind="visible:$root.hasImpression">
            <div class="row">
                <div class="col-lg-12">
                    <span class="analyticH2 margin10">
                        Card 1 & 2 results
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 margin10">
                    <!--ko if: $root.selecteddateRangeAnalytics() == 1 -->
                    <div>Date range : Last 30 days </div>
                    <!--/ko-->
                    <!--ko if: $root.selecteddateRangeAnalytics() == 2 -->
                    <div>Date range : All time </div>
                    <!--/ko-->
                </div>
                <div class="col-lg-6">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="whiteBox margin10" style="height:230px;">
                        <canvas style=" cursor:pointer;" data-bind="chart: { type: 'pie', data: $root.CampaignRatioData, options: { observeChanges: true, legend: { display: false }, throttle: 1000 } }" width="340"></canvas>
                        @*<div id="donutId" style="height:230px;cursor:pointer;"></div>*@
                    
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="lightgrayBox" style="height:230px;">
                        <table >
                            <tr >
                                <td style="padding-left:20px;padding-top: 25px;">
                                    <img data-bind="attr: { src: $root.Picture1Path()}" style="width:70px;height:140px" />
                                </td>
                                <td style="padding-left:20px;padding-top: 25px;">
                                    <img data-bind="attr: { src:$root.Picture2Path()}" style="width:70px;height:140px" />
                                </td>
                            </tr>
                            <tr>
                                <!-- ko template: { name: 'ROITblAnalyticsDataTemplate' , foreach: $root.CampaignROItblAnalyticData } -->
                                <!-- /ko -->
                            </tr>
                        </table>
                    </div>
               </div>

            </div>
            <div class="row">
                <div class="adsubHeading Theme_standard_clr borderbtmline">
                    <br />  @*Campaign ROI*@
                </div>

            </div>
        </div>
        <br />
        <div class="analyticsBox">
            <div class="row">


                <div class="col-lg-12">
                    <div class="lightgrayBox">
                        <table class="roitbl" style="width:100%;">

                            <thead>
                                <tr>
                                    <th class="col-lg-4">
                                        &nbsp;
                                    </th>
                                    <th class="col-lg-4">
                                        All time
                                    </th>
                                    <th class="col-lg-4">
                                        Last 30 days
                                    </th>
                                </tr>
                            </thead>
                            <!-- ko template: { name: 'CampaignTblAnalyticsDataTemplate' , foreach: $root.CampaignTblAnalyticsData } -->
                            <!-- /ko -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="analyticsBox" data-bind="visible:$root.hasImpression">
            <div class="row">
                <div class="col-lg-12">
                    <span class="analyticH2 margin10">

                        Survey Statistics
                    </span>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="lightgrayBox">
                        <div class="row">
                            <span class="filterH">
                                Target Filters
                            </span>
                            <br />
                        </div>
                        <div class="row">
                            <table style="background-color:white;width:92%;">

                                <tr>
                                    <td class="col-lg-3" style="text-align: -webkit-right;">Gender : </td>
                                    <td class="col-lg-2">
                                        <select class="form-control" id="ddGDropDown" data-bind="options: $root.GenderAnalyticsData, optionsText: 'name', optionsValue: 'id', value:$root.selectedGenderAnalytics, event: { change: $root.getDDAnalytic }"></select>
                                    </td>
                                    <td class="col-lg-1" style="text-align: -webkit-right;">Age :</td>
                                    <td class="col-lg-2">
                                        <select class="form-control" id="ddADropDown" data-bind="options: $root.AgeRangeAnalyticsData, optionsText: 'name', optionsValue: 'id', value:$root.selectedAgeAnalytics, event: { change: $root.getDDAnalytic }"></select>
                                    </td>
                                    <td class="col-lg-3 statsbig">
                                        <span data-bind="text: $root.DDStatsAnalytics"></span>
                                    </td>

                                </tr>


                            </table>
                        </div>


                        @*<div class="col-lg-12">
                                <table class="targetfiltertbl">
                                    <tr>
                                        <td class="col-lg-3">Gender : </td>
                                        <td class="col-lg-3"><select class="form-control" id="ddGDropDown" data-bind="options: $root.GenderAnalyticsData, optionsText: 'name', optionsValue: 'id', value:$root.selectedGenderAnalytics, event: { change: $root.getDDAnalytic }"></select></td>
                                        <td class="col-lg-6">
                                            = <span data-bind="text: $root.DDStatsAnalytics"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-3">Age range : </td>
                                        <td class="col-lg-3"><select class="form-control" id="ddADropDown" data-bind="options: $root.AgeRangeAnalyticsData, optionsText: 'name', optionsValue: 'id', value:$root.selectedAgeAnalytics, event: { change: $root.getDDAnalytic }"></select></td>
                                        <td class="col-lg-6"></td>
                                    </tr>

                                </table>
                            </div>*@
                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix">
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>

<script id="CampaignTblAnalyticsDataTemplate" type="text/html">
    <tr>
        <td class="col-lg-4"><span data-bind="text: label"></span></td>

        <td class="col-lg-4" style="background-color: white">
            <!-- ko if: ordr === 4  -->
            $
            <!-- /ko -->
            <span data-bind="text: All_time"></span>
        </td>
        <td class="col-lg-4">
            <!-- ko if: ordr === 4  -->
            $
            <!-- /ko -->
            <span data-bind="text: C30_days"></span>
        </td>
    </tr>
</script>

<script id="ROITblAnalyticsDataTemplate" type="text/html">
        <td style="padding-left:40px;font-size:small;padding-top:3px;">
       
            <span data-bind="text: value"></span>%
        </td>
</script>