.modal
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 100000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    min-height: 100%;
    width: 100%;
}
.loading
{
    
    font-size: 12px;
   /* border: 5px solid #1b7ebd;*/
    width: 200px;
    height: 100px;
    display: none;
    position: fixed;
    /*background-color: White;*/
    z-index: 100000001;
}
