@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Page Under Construction";
}
@section leftmenue {
     
}
<div class="row">
            <div class="col-xs-12">
                <div id="error-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                Coming 1st June 2015
                            </p>
                            <p>
                                Go back to <a href="~/Dashboard/Index"> Dashboard</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
