

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var couponId = Request.QueryString["id"];
}

<div style="background:#1d7bbb;padding-top: 10px;  " class="text-blue">
    <div class="container">
        <div class="col-lg-12 col-md-8 col-sm-6 hidden-xs hidden-sm content-main-deals content" id="main_copon_cont">

            <div id="back_btn_div" style="margin-top:36px;">
                <div style="float:left;padding-left:12px;">
                    <span id="deal_group_head" style="font-size:28px;color:white;"></span>
                </div>
                <div style="float:right;padding-top:4px;padding-right:16px;">
                    @*<img style="height:40px;cursor:pointer" src="~/images/back-arrow.png" title="Back to Categories" onclick="NavigateBack()" />*@
                    <i class="fa fa-arrow-left" style="font-size: 28px;color: white;cursor:pointer" title="Back to Categories" aria-hidden="true" onclick="NavigateBack()"></i>
                </div>
               
                <div style="clear:both;"></div>
            </div>

            <div class="standard-container" style="padding:0px;margin-top:16px;" id="inner_coupon_cont">

                

                <div id="new_layout">

                    <div class="col-lg-4" style="border-radius:5px;">
                        <div id="banner_logo">
                            <img id="voucMainSliderImg" style="width:100%;"/>
                        </div>

                        <div id="Address_Panel" class="deal_address_pans">
                            <div id="rated_panels">
                                <div class="pull-left" style="padding:10px;">
                                    <img id="listing_comlogo" style="height:48px;">
                                </div>
                                <div class="pull-right" style="padding:10px;">
                                    <div class="pull-left rate_panes">Ratings</div><div class="yel_box_rat_for_deal pull-right"></div>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div id="address_panes">
                                <div style="margin-top: 6px;width:222px;" id="company_desc_panel">
                                    <p id="main_address" style="margin-bottom:2px;"></p>
                                    <p id="loc_city"></p>
                                </div>
                            </div>

                            <div id="contact_no" style="height:69px;background-color:white;">
                                <div class="pull-left" style="padding-left:95px;padding-top:12px;">
                                    <i class="fa fa-phone" aria-hidden="true" style="font-size:19px;color:#53b6e0"></i>
                                    <div id="cellno" style="font-size:12px;color:black;margin-left:-17px;margin-top: 4px;">(042) 111 532 53</div>
                                </div>
                                <div class="pull-left" style="padding-right:44px;padding-top:12px;margin-left:53px;">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true" style="font-size:19px;color:#53b6e0"></i>
                                    <div id="dist_km" style="font-size:12px;color:black;margin-left:-15px;margin-top:4px;">
                                        24 Km away
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="map_div"><div style="height: 100%; width: 100%;"></div></div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div id="deal_lines_box">
                            
                        </div>

                        <div id="highlights_deals" class="deals_white_panel">
                            <div class="h_header">
                                Highlights
                            </div>
                            <div id="hight_deals" class="hh_des">

                            </div>
                        </div>
                        <div id="fineprint_deals" class="deals_white_panel" style="margin-top:7px;">
                            <div class="h_header">Fine Print</div>

                            <div id="Print_deals" class="hh_des">

                            </div>

                            
                        </div>
                        <div id="social_icons" class="deals_white_panel" style="margin-top:7px;min-height:77px;padding-top:20px;text-align:center;">
                            <span class='st_sharethis_large' displaytext='ShareThis'></span>
                            <span class='st_facebook_large' displaytext='Facebook'></span>
                            <span class='st_twitter_large' displaytext='Tweet'></span>
                            <span class='st_linkedin_large' displaytext='LinkedIn'></span>
                            <span class='st_pinterest_large' displaytext='Pinterest'></span>
                            <span class='st_email_large' displaytext='Email'></span>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div id="deals_reviews_ss"></div>
                    </div>
                </div>

                <div id="old_layout" style="display:none;">
                    <div class="unit ctu  js-main-deal selector-620648" data-om=";620648;" data-dealid="620648">
                        <h1 class="mvtest_header_v2 cld" id="couponMainHeading"></h1>


                        <div class="cld pos-r main-deal-data parent-container">
                            <div class="slider">
                                <div class="">
                                    <ul class="slides">
                                        <li class="clone" style="width: 100%; float: left; display: block;">

                                            <a class="main-deal-image-link" style="cursor: pointer;">
                                                <img id="voucMainSliderImg" width="778" height="521" class="picture-slides-image deal-detail-img top" alt="£289 for a PDO threadlift on eye bags, £489 for one facial area of your choice or £985 for the full face at Harley Street Elite Clinic - save up to 59%" title="£289 for a PDO threadlift on eye bags, £489 for one facial area of your choice or £985 for the full face at Harley Street Elite Clinic - save up to 59%">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div id="deal-of-day-esi" class="flt-r">

                                <div class="corner-container ctu-redeem-now main-deal-data"></div>
                                <div class="ctu-pointsCollect main-deal-data">
                                    <span style="color:white">
                                        Collect 28,900
                                        Club Wowcher points when you buy this deal
                                    </span>
                                </div>
                                <div class="ctu-discounted main-deal-data">
                                    <div class="ndod-multiprice" style="padding-top: 35.5px ; ">
                                        <span class="innerColour">

                                            FROM
                                        </span>
                                    </div>
                                    <div class="ndod-price" style="font-size: 64px; margin: 5.5px 0; letter-spacing: -3px">
                                        <span class="inner innerColour">
                                            <span id="currency_symb" class="ndod-currency" style="font-size:25%!important;"></span><span id="couDiscountedVal" class="ndod-amount">289</span>
                                        </span>
                                    </div>
                                    <a href="" target="_blank" class="price-link" rel="nofollow">
                                        <del class="ndod-original-price"><span id="currency_symb" class="ndod-currency"></span><span id="couActualVal" class="ndod-amount"></span></del>
                                    </a>
                                </div><div class="main-deal-data-wrapper">
                                    <div class="ctu-stats-md-topbg"></div>
                                    <div class="ctu-stats main-deal-data">
                                        <div class="yel_box_rat"></div>
                                        <table class="ctu-stats-table ctu-stats-table-full-width">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="stat-bought"><span class="innerColour">Bought</span><strong style="font-size:55px;line-height:48px" id="coupBought">0</strong></div>
                                                    </td>
                                                    <td>
                                                        <div class="stat-save">
                                                            <span class="innerColour">Save </span><span class="innerColour">up to </span><strong style="font-size:52px;line-height:48px" id="coupPerct">59%</strong>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="deal-detail-timer timer-620648">

                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <a title="Buy this deal" class="ctu-buy-big waMultiPrice" data-multibuy="true" onclick="BuyCoupon();" id="mainDealBuy">BUY!</a>

                                        @*<a class="waBuyAsGift js-buy-gift-button-track ctu-buy-gift" href="/payment/620648?gift=1">BUY AS A GIFT</a>*@

                                    </div>




                                    <div class="ctu-stats-md-btmbg"></div>
                                </div><!-- main-deal-data-wrapper END -->

                            </div>
                            <div style="float:left;margin-left:48px;">

                                <div class="yel_box" id="days_left"></div>

                                <div style="float:left;width:127px;">

                                    <img id="listing_comlogo" style="position:relative;top:-11px;height:60px;" />

                                </div>
                                <div style="float:right;margin-top: 6px;margin-left:14px;width:222px;" id="company_desc_panel">
                                    <p id="main_address" style="margin-bottom:2px;"></p>
                                    <p id="loc_city"></p>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>

                    </div>

                    <div class="ctu-details">
                        <div class="twocol">
                            <h2>Highlights</h2>
                            <ul style="margin-left:-15px;">
                                <li class="hl1" style="display:none;"></li>


                            </ul>
                        </div>
                        <div class="twocol">
                            <h2>The Fine Print</h2>
                            <ul>
                                <li class="fp1" style="display:none;"></li>

                            </ul>
                        </div>
                        <div style="clear:both;"></div>
                        <div><h2>Deal Lines</h2></div>

                        <div id="deal_lines" class="col-lg-6" style="padding:0px;">

                        </div>

                        <div class="col-lg-6">

                        </div>
                        <div class="clearfix"></div>

                        <div><h2>Reviews</h2></div>
                        <div class="col-lg-6" style="padding:0px;">
                            <div id="deal_Reviews">
                                @*<div id="Review_1" class="deal_rev">

                            <div class="pull-left col-lg-3">
                                <img src="/Images/08.jpg" style="border-radius: 29px;height:40px">
                            </div>

                            <div class="pull-right col-lg-9" style="padding:0px;">

                                <div class="pull-left">
                                    <div class="Review_heading" style="font-size:14px;color:black">ABC</div>
                                </div>
                                <div class="pull-right" style="padding-right:10px;color:black;font-size:10px;">
                                    <span>16 dec 2016</span>
                                </div>
                                <div class="clearfix"></div>
                                <div class="review_description" style="font-size:10px;color:black">  this is sensational websitdsfsdfsd dsffsdfsdf sdfsdfsd sdfsd fdsfsdfsdfdsf dsfsdfsdfds sdfsdfsdf sdfsdfsdfs sdfsdfsd sdfdsfsdf dfsfdsf sfddsf sdfdsf sdfsdf ssdfsdf e ,and  i really like this.</div>
                                <div id="rating" class="rating_divs"><input type="text" id="rating_id" class="rating rating5" value="2" /></div>

                            </div>

                            <div class="clearfix"></div>
                        </div>*@
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div id="address_panel">
                                <div id="Address" class="deal_fine_print" style="min-height:67px;margin-top:6px;border-bottom: 1px solid grey;">
                                    <div class="headers">Where</div>
                                    <div id="Addressline1" class="highlight_ext">doctor hospital</div>
                                    <div class="highlight_ext" id="deal_city">Lahore</div>
                                    <div class="highlight_ext" id="postal_code">54000</div>

                                </div>
                            </div>

                            <div id="contact_no">
                                <div class="pull-left" style="padding-left:18px;padding-top:18px;">
                                    <i class="fa fa-phone" aria-hidden="true" style="font-size:16px;color:#53b6e0"></i>
                                    <div id="cellno" style="font-size:10px;color:black;margin-left:-17px;margin-top: 4px;">0247714241</div>
                                </div>
                                <div class="pull-left" style="padding-right:44px;padding-top:18px;margin-left:27px;">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true" style="font-size:16px;color:#53b6e0"></i>
                                    <div id="dist_km" style="font-size:10px;color:black;margin-left:-15px;margin-top:4px;">
                                        24 Km away
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="map_div" style="width:100%;height:228px; border:2px solid"><div style="height: 100%; width: 100%;"></div></div>


                        </div>

                        <br class="clearing">



                        <div class="deal-detail-fullview-btmbg"></div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    </div>
<div id="deals_below_panel" class="container" style="height:300px;">
    <div class="col-lg-12">
        <div>other Deals Near You for "Lunch"</div>

    </div>

</div>
<div class="loading" align="center" id="modalSending">

    @*<img src="images/rloader.gif" width="200px" />*@
    <img src="images/abcLoader.gif" />

</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_N_x3UhG5IHl8GUZ4y5Lj_QkNhGUh91I" type="text/javascript"></script>
<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({ publisher: "07d8436f-4e58-49e3-8fa7-0ad00462833c", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
    <link rel="stylesheet" href="~/content/green.css">
    <link href="~/Content/loadingLoader.css" rel="stylesheet" />
    <script>
        var Couponid = '@couponId';
        ShowSendingProgress();
        LoadCoupon();
        $('.rating').rating();
        function LoadCoupon() {
            
            var Copurl = 'http://manage.cash4ads.com/Api_Mobile/getcouponbyid/?couponId=' + Couponid + '&UserId=7ed5d090-2055-4cf6-ac80-586e44c711ce&Lat=25.197613&Lon=55.274887';
            
            $.ajax({
                dataType: "json",
                url: Copurl,
                cache: false,
                success: function (response) {
                    
                    $("#couponMainHeading").html(response.CouponTitle + '<span class="mvtest_header_v1">' + '' + '</span><div class="btm-header-bg"></div>');
                    $("#voucMainSliderImg").attr('src', response.CouponImage1);

                    $("#couDiscountedVal").html(response.Savings);
                    $("#couActualVal").html(response.Price);


                    $("#deal_group_head").text(response.CouponTitle);


                    $("#coupPerct").text(100 - parseInt((parseFloat(response.Savings) / parseFloat(response.Price)) * 100) + '%');
                    // $("#coupBought").text(couponObj[0].CouponTakenValue);
                    $("#mainDealBuy").attr('data-couponId', response.CouponId);

                    if (response.HighlightLine1 != null) {
                        $(".hl1").css('display', 'block');
                        $(".hl1").text(response.HighlightLine1);
                    }
                    if (response.FinePrintLine1 != null) {
                        $(".fp1").css('display', 'block');
                        $(".fp1").text(response.FinePrintLine1);
                    }
                    $("#hight_deals").text(response.HighlightLine1);
                    $("#Print_deals").text(response.FinePrintLine1);

                    $("#currency_symb").text(response.CurrencyCode);
                    $("#couDiscountedVal").text(response.Savings);
                    $("#couActualVal").text(response.Price);

                    $("#Addressline1").text(response.LocationLine1);
                    $("#deal_city").text(response.LocationCity);
                    $("#postal_code").text(response.LocationZipCode);


                    $("#main_address").text(response.LocationLine1);
                    $("#loc_city").text(response.LocationCity);

                    if (response.DaysLeft == 1) {
                        $("#days_left").text(response.DaysLeft + ' day left');
                    }
                    else {
                        $("#days_left").text(response.DaysLeft + ' days left');
                    }

                    $(".yel_box_rat").text(response.OverAllStarRating);
                    $(".yel_box_rat_for_deal ").text(response.OverAllStarRating);

                    $("#listing_comlogo").attr('src', response.LogoUrl);


                    googleAddressMap(response);
                    //VoucherCode

                    $("#cellno").text(response.LocationPhone);

                    $(response.CouponPriceOptions).each(function (i, val) {
                     
                        var dayLeft = response.DaysLeft + ' Days Left';
                        var Saving = response.CurrencySymbol + '' + val.Savings;
                        var Price = response.CurrencySymbol + '' + val.Price;
                        var urlg=val.URL;
                        
                        //$("#deal_lines").append('<div style="margin-top:11px;"> <div style="float:left;padding:0px;" class="deal_lines col-lg-9">' + val.Description + '</div><div style="float:right" class="col-lg-3"><a title="Buy this deal" class="ctu-buy-big waMultiPrice" data-multibuy="true" onclick="BuyCoupon(' + val.CouponId + ');" id="mainDealBuy">Buy It!</a></div><div style="clear:both"></div></div>')
                        $("#deal_lines_box").append('<div id="line_box" class="line_box"><div class="line_header">' + val.Description + '</div><div><div class="pull-left"><div id="days_left_div" class="ppl_delas">' + dayLeft + '</div></div><div class="pull-right" style="padding-top:15px;"><div><div class="pull-left" style="font-size:12px;"><span id="saving_costs" class="striketrough">' + Saving + '</span> </div> <div class="pull-right strfont" style="margin-right:16px;"><span id="Price_costs">' + Price + '</span></div> <div class="clearfix"></div></div></div> <div class="clearfix"></div> </div><div style=" margin-left: 18px;margin-top: 9px;"><input type="button"  value="Save 33% - Shop Now" class="save_percent_cls" name=' + val.URL + ' onclick="PriceApiCall(this,' + response.CouponId + ');"/></div><div style="clear:both;"></div><div style="text-align: center;margin-top: 7px;"><span style="color:#848484;font-size:12px">Use coupon code:ABCD123</span></div></div>')
                    });


                    $(response.CouponRatingReviewResponses).each(function (i, val) {

                        var d = new Date(val.RatingDateTime);
                        var day = d.getDate();

                        var month = d.getMonth() + 1;
                        var year = d.getFullYear();

                        if (month < 10) {
                            month = "0" + month;
                        }
                        var ReqDate = day + ' ' + GetMonthNameByID(month) + ' ' + year;

                        $("#deals_reviews_ss").append('<div id="Review_1" class="deal_rev"><div class="pull-left col-lg-2"><img src=' + val.ProfileImage + ' style="border-radius: 29px;height:40px"/><div class="pos_rel"><i class="fa fa-heart heart_clr" aria-hidden="true"></i></div></div><div class="pull-right col-lg-10" style="padding:0px;"><div class="pull-left"><div class="Review_heading" style="font-size:14px;color:black">' + val.FullName + '</div></div><div class="pull-right" style="padding-right:10px;color:black;font-size:10px;"> <span>' + ReqDate + '</span></div><div class="clearfix"></div><div class="review_description" style="font-size:10px;color:black">' + val.Review + ' </div></div><div class="clearfix"><div id="rating" class="rating_divs" style="display:none"><input type="text" id="rating_id" class="rating rating5" value="2" /></div></div></div>')

                    });
                    StopProgress();
                }
            });

            GetMonthNameByID = function (monthId) {

                var month = new Array();
                month[1] = "January";
                month[2] = "February";
                month[3] = "March";
                month[4] = "April";
                month[5] = "May";
                month[6] = "June";
                month[7] = "July";
                month[8] = "August";
                month[9] = "September";
                month[10] = "October";
                month[11] = "November";
                month[12] = "December";
                var m = month[monthId];
                return m;
            }
        }

        function NavigateBack() {
            var url = "/Home";
            window.location.href = url;
        }

        function googleAddressMap(Response) {

            initializeGeoLocation();
            setCompanyAddress(Response);
            google.maps.event.addDomListener(window, 'load', initializeGeoLocation);
        }
        function initializeGeoLocation() {

            geocoderComp = new google.maps.Geocoder();
            var latlngComp = new google.maps.LatLng(-34.397, 150.644);
            var mapOptions = {
                zoom: 15,
                center: latlngComp,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            compMap = new google.maps.Map(document.getElementById('map_div'), mapOptions);

            //map = new google.maps.Map($('#map-canvasCompany'), mapOptions);

        }
        function setCompanyAddress(Response) {

            //var fulladdress = AddressLine1().toLowerCase() + ' ' + CompanyCity() + ' ' + companyzipcode() + ' ' + companystate().toLowerCase();
            var fulladdress = null;

            if (Response.LocationLine1 != null) {
                fulladdress = Response.LocationLine1.toLowerCase() + ' ' + Response.LocationCity + ' ' + Response.LocationZipCode + ' ' + Response.LocationState.toLowerCase();
            } else {

            }

            //fulladdress = "doctor hospital lahore 54000 punjab";

            geocoderComp.geocode({
                'address': fulladdress
            }, function (results, status) {



                if (status == google.maps.GeocoderStatus.OK) {

                    compMap.setCenter(results[0].geometry.location);

                    var marker = new google.maps.Marker({
                        map: compMap,
                        position: results[0].geometry.location
                    });


                    google.maps.event.addListener(compMap, 'click', function (event) {
                        //  selectedCompany().branchLocationLat(event.latLng.lat());
                        //   selectedCompany().branchLocationLong(event.latLng.lng());
                        var geocoder = new google.maps.Geocoder();
                        geocoder.geocode({
                            "latLng": event.latLng
                        }, function (results, status) {

                            console.log(results, status);
                            if (status == google.maps.GeocoderStatus.OK) {
                                console.log(results);
                                var lat = results[0].geometry.location.lat(),
                                    lng = results[0].geometry.location.lng(),
                                    placeName = results[0].address_components[0].long_name,
                                    latlng = new google.maps.LatLng(lat, lng);
                                moveMarker(placeName, latlng);
                            }
                        });
                    });
                    function moveMarker(placeName, latlng) {
                        marker.setIcon(image);
                        marker.setPosition(latlng);
                        infowindow.setContent(placeName);
                        infowindow.open(map, marker);
                    }


                } else {
                    // toastr.error("Failed to Search Address,please add valid address and search it . Error: " + status);
                    // isMapVisible(false);

                }
            });

        }

        function PriceApiCall(gval,CouponId)
        {
           
            var userId = 'webuser';
            var bburl = 'http://manage.cash4ads.com//Api_Mobile/UserPurchasedCoupon/{AuthenticationToken}/?UserId=' + userId + '&CouponId=' + CouponId + '&SwapCost=0';

            $.ajax({
                
                dataType: "json",
                url: bburl,
                cache: false,
                success: function (response) {
                    window.open(gval.name, '_blank');
                }
            });

        }
        
        function ShowSendingProgress() {
            var modal = $('<div  />');
            modal.addClass("modal");
            modal.attr("id", "modalSending");
            $('body').append(modal);
            var loading = $("#modalSending.loading");
            loading.show();
            var top = '215px';
            var left = '560px';
            loading.css({ top: top, left: left, color: '#ffffff' });
        }


        function StopProgress() {

            $("div.modal").hide();

            var loading = $(".loading");
            loading.hide();
        }

    </script>
