<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear/>
  <add name="DefaultConnection" connectionString="Data Source=www.myprintcloud.com,9998;Initial Catalog=MPC;user id=mpcmissa;password=p@ssw0rd@mis2o14;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.myprintcloud.com,9998;initial catalog=MPC;user id=mpcmissa;password=p@ssw0rd@mis2o14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="Logging" connectionString="Data Source=www.myprintcloud.com,9998;Initial;Initial Catalog=Logging;user id=mpcmissa;password=p@ssw0rd@mis2o14;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>