@{
    ViewBag.Title = "Store Details";
}

<div data-bind="visible: $root.isEditorVisible()" style="display: none">
    <div class="col-lg-12">
        @*<div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="#" class="my-navigator">Home</a></li>
                        <li><a href="#" class="my-navigator" >Ad Campaign Approval</a></li>
                    </ol>

                </div>
            </div>*@
        <div class="row" id="user-profile">
            <div class="col-lg-12 col-md-8 col-sm-8" style="padding-bottom: 10px;">
                <div class="clearfix ">
                    <div class="col-xs-12" style="text-align: right; padding-right:0;margin-bottom:10px;">

                        <button class="btn btn-default" id="saveBtn" data-bind="click:$root.closeEditDialog">Close</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="main-box clearfix" id="tabsHeader">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs" style="display:none;">
                            <li class="active" id="generalInfoTab"><a href="#tab-generalinfo" data-toggle="tab">General Info</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-generalinfo">
                                <div class="col-lg-12 form-horizontal" data-bind="with:selectedProfileQuestion">
                                    <h3 class="group-header" style="margin-top:20px;">
                                        Coupon General Info
                                    </h3>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Coupon Title</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Coupon listing mode</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 marginBottom12">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Logo</label>
                                            </div>
                                            <div class="col-md-6">
                                                <img id="vehicleImage" alt="" style="width: auto;height:150px;width:300px;" />
                                                <h5><span></span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-campaign-left  Float-Left">
                                                    <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Highlights & Saving</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Highlight # 1</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Highlight # 2</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Highlight # 3</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Highlight # 4</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Highlight # 5</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label text-right tooltip-float">Currency Symbol</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                @*<div class="bs-example-tooltips tooltip-float-width">
                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                            </a>
                        </div>*@
                                                <label class="control-label text-right tooltip-float">Rejection Reason</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" placeholder="Enter rejection reason " class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                            </div>
                                            <div class="col-lg-6">
                                                <button class="btn  btn-success" id="saveBtn">Approve</button>
                                                <button class="btn " id="saveBtn">Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
