@{
    ViewBag.Title = "Store Details";
}
@section leftmenue {
}

<div data-bind="visible: $root.isEditorVisible()" style="display: none">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#" class="my-navigator">Home</a></li>
                    <li><a href="#" class="my-navigator">Profile Questions</a></li>
                </ol>
                <div class="tab-content dynamicNameHeading" style="height:41px;">
                    <h1>Details</h1>
                </div>
            </div>
        </div>
        <div class="row" id="user-profile">
            <div class="col-lg-12 col-md-8 col-sm-8" style="padding-bottom: 10px;">
                <div class="clearfix ">
                    <div class="col-xs-12" style="text-align: right; padding-right:0;margin-bottom:10px;">
                        <button class="btn  btn-info" id="saveBtn" data-bind="click:$root.onSaveProfileQuestion @*enable: $root.hasChangesOnStore, css: { 'btn-warning': $root.hasChangesOnStore }*@">Save</button>
                        <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeEditDialog">Close</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="main-box clearfix" id="tabsHeader">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active" id="generalInfoTab"><a href="#tab-generalinfo" data-toggle="tab">General Info</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" data-bind="with: $root.selectedQuestion" id="tab-generalinfo">
                                <div class="col-lg-12 form-horizontal">
                                    <h3 class="group-header" style="margin-top:20px;">
                                        Profile Question General Info
                                    </h3>
                                    <p class="group-header-description">Enter information below </p>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label  class="control-label text-right tooltip-float">Question</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control"  data-bind="value: questionString">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label  class="control-label text-right tooltip-float">Language</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.langs, optionsText: 'LanguageName', optionsValue: 'LanguageId', optionsCaption: '&lt;' + 'Select Language'+ '&gt;' , value:languageId"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label  class="control-label text-right tooltip-float">Country</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.countries, optionsText: 'CountryName', optionsValue: 'CountryId', optionsCaption: '&lt;' + 'Select Country'+ '&gt;' , value:countryId"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label  class="control-label text-right tooltip-float">Profile Group</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.qGroup, optionsText: 'ProfileGroupName', optionsValue: 'ProfileGroupId', optionsCaption: '&lt;' + 'All'+ '&gt;' , value:profileGroupId"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label  class="control-label text-right tooltip-float">Priority</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.priorityList, optionsCaption: '&lt;' + 'All'+ '&gt;' , value:priority"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label  class="control-label text-right tooltip-float">Question Type</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.questiontype, optionsText: 'typeName', optionsValue: 'typeId', optionsCaption: '&lt;' + 'All'+ '&gt;' , value:type"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label  class="control-label text-right tooltip-float">Refresh Time</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: refreshTime">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label class="control-label text-right tooltip-float">Skipped Count</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" readonly="" class="form-control"  data-bind="value: skippedCount">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label  class="control-label text-right tooltip-float">Creation Date</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: creationDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label  class="control-label text-right tooltip-float">Modified Date</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control"  data-bind="value: modifiedDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label class="control-label text-right tooltip-float">Penality For Not Answering</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" data-bind="value: penalityForNotAnswering">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label  class="control-label text-right tooltip-float">Active</label>
                                            </div>
                                            <div class="col-lg-3">
                                                <div>
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchA" data-bind="checked: status()=='1'">
                                                        <label class="onoffswitch-label" for="switchA">
                                                            <div class="onoffswitch-inner"></div>
                                                            <div class="onoffswitch-switch"></div>
                                                        </label>
                                                    </div>
                                                    <span class="help-block text-right"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label  class="control-label text-right tooltip-float">Has Linked Questions?</label>
                                            </div>
                                            <div class="col-lg-3">
                                                <div>
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchB" data-bind="checked: hasLinkedQuestions">
                                                        <label class="onoffswitch-label" for="switchB">
                                                            <div class="onoffswitch-inner"></div>
                                                            <div class="onoffswitch-switch"></div>
                                                        </label>
                                                    </div>
                                                    <span class="help-block text-right"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 form-horizontal">
                                        @*<div class="tabsdescriptions" style="margin-top:25px;margin-left:2px;">
                                            <p class="group-header-description">All possible answers to the question. </p>
                                        </div>*@

                                        <div class="col-lg-12" @*data-bind="with: template"*@ style="padding-left:3px;padding-right:0px;">
                                            <div class="clearfix">
                                                <header class="main-box-header clearfix" style="padding-right:0px;">
                                                    <div class="filter-block pull-right">

                                                        <a href="#" id="addTemplatePageBtn" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg" data-bind="click: $root.addNewAnswer">
                                                            Add Answer
                                                        </a>
                                                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                        <h4 class="modal-title" id="gridSystemModalLabel">Add Question's Answer</h4>
                                                                    </div>
                                                                    <div class="modal-body" data-bind="with:$root.selectedAnswer">
                                                                        <div class="row">
                                                                            <div class="col-lg-9 marginBottom12">
                                                                                <div class="form-group">
                                                                                    <div class="col-lg-4 text-right">
                                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                            </a>
                                                                                        </div>
                                                                                        <label  class="control-label text-right tooltip-float">Answer Type</label>
                                                                                    </div>
                                                                                    <div class="col-lg-6">
                                                                                        <div class="radio" style="padding-left:0px;">
                                                                                            <input type="radio" name="optionsRadios" value="1" id="optionYesForProduct" data-bind="checked:type">
                                                                                            <label for="optionYesForProduct">
                                                                                                Text
                                                                                            </label>
                                                                                        </div>
                                                                                        <div class="radio" style="padding-left:0px;">
                                                                                            <input type="radio" name="optionsRadios" value="2" id="optionNoForProduct" data-bind="checked:type">
                                                                                            <label for="optionNoForProduct">
                                                                                                Image
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-9 marginBottom12" data-bind="visible:type()=='1'">
                                                                                <div class="form-group">
                                                                                    <div class="col-lg-4 text-right">
                                                                                        <div class="bs-example-tooltips tooltip-float-width">
                                                                                            <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                            </a>
                                                                                        </div>
                                                                                        <label  class="control-label text-right tooltip-float">Answer String</label>
                                                                                    </div>
                                                                                    <div class="col-lg-6">
                                                                                        <input type="text" class="form-control"  data-bind="value: answerString">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-9 marginBottom12" data-bind="visible:type()=='2'">
                                                                                <div class="form-group">
                                                                                    <div class="col-md-4">
                                                                                        <input type="file" class="form-control" id="vehicleLandingLogo" name="file" onchange="readPhotoURL(this);" />
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <img id="vehicleImage" alt="" style="width: 120px;height:120px" data-bind="attr:{src:imagePath }" />
                                                                                        <h5>Answer Image<span></span></h5>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div id="questionContainer" data-bind="visible:$root.selectedQuestion().hasLinkedQuestions()">
                                                                                <div class="col-lg-9 marginBottom12">
                                                                                    <div class="form-group">
                                                                                        <div class="col-lg-4 text-right">
                                                                                            <div class="bs-example-tooltips tooltip-float-width">
                                                                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                                </a>
                                                                                            </div>
                                                                                            <label class="control-label text-right tooltip-float">Linked Question 1</label>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <select class="form-control" data-bind="options: $root.linkedQuestions, optionsText: 'Question', optionsValue: 'PqId', optionsCaption: '&lt;' + 'Select Question'+ '&gt;' , value:linkedQuestion1Id"></select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-lg-9 marginBottom12">
                                                                                    <div class="form-group">
                                                                                        <div class="col-lg-4 text-right">
                                                                                            <div class="bs-example-tooltips tooltip-float-width">
                                                                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                                </a>
                                                                                            </div>
                                                                                            <label class="control-label text-right tooltip-float">Linked Question 2</label>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <select class="form-control" data-bind="options: $root.linkedQuestions,  optionsText: 'Question', optionsValue: 'PqId', optionsCaption: '&lt;' + 'Select Question'+ '&gt;' , value:linkedQuestion2Id"></select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-lg-9 marginBottom12">
                                                                                    <div class="form-group">
                                                                                        <div class="col-lg-4 text-right">
                                                                                            <div class="bs-example-tooltips tooltip-float-width">
                                                                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                                </a>
                                                                                            </div>
                                                                                            <label  class="control-label text-right tooltip-float">Linked Question 3</label>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <select class="form-control" data-bind="options: $root.linkedQuestions,  optionsText: 'Question', optionsValue: 'PqId',  optionsCaption: '&lt;' + 'Select Question'+ '&gt;' , value:linkedQuestion3Id"></select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-lg-9 marginBottom12">
                                                                                    <div class="form-group">
                                                                                        <div class="col-lg-4 text-right">
                                                                                            <div class="bs-example-tooltips tooltip-float-width">
                                                                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                                </a>
                                                                                            </div>
                                                                                            <label  class="control-label text-right tooltip-float">Linked Question 4</label>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <select class="form-control" data-bind="options: $root.linkedQuestions,  optionsText: 'Question', optionsValue: 'PqId',  optionsCaption: '&lt;' + 'Select Question'+ '&gt;' , value:linkedQuestion4Id"></select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-lg-9 marginBottom12">
                                                                                    <div class="form-group">
                                                                                        <div class="col-lg-4 text-right">
                                                                                            <div class="bs-example-tooltips tooltip-float-width">
                                                                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                                </a>
                                                                                            </div>
                                                                                            <label  class="control-label text-right tooltip-float">Linked Question 5</label>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <select class="form-control" data-bind="options: $root.linkedQuestions,  optionsText: 'Question', optionsValue: 'PqId',  optionsCaption: '&lt;' + 'Select Question'+ '&gt;' , value:linkedQuestion5Id"></select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-lg-9 marginBottom12">
                                                                                    <div class="form-group">
                                                                                        <div class="col-lg-4 text-right">
                                                                                            <div class="bs-example-tooltips tooltip-float-width">
                                                                                                <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                                                    <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                                                </a>
                                                                                            </div>
                                                                                            <label  class="control-label text-right tooltip-float">Linked Question 6</label>
                                                                                        </div>
                                                                                        <div class="col-lg-6">
                                                                                            <select class="form-control" data-bind="options: $root.linkedQuestions,  optionsText: 'Question', optionsValue: 'PqId',  optionsCaption: '&lt;' + 'Select Question'+ '&gt;' , value:linkedQuestion6Id"></select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" data-dismiss="modal" class="btn btn-primary" data-bind="click:$root.onSaveNewAnswer">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </header>
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-lg-11"><span>Answers</span></th>
                                                                <th>&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- ko template: { name: 'answersTemplate', foreach: $root.selectedQuestion().answers } -->
                                                            <!-- /ko -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Template Page Template *@
        <script id="answersTemplate" type="text/html">
            <tr>
                <td>
                    <p  id="txtPages" data-bind="text: answerString">
                   
                </td>
                <td>
                    <a class="table-link" style="float: right">
                        <span class="fa-stack" >
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse" data-bind="click:$root.onEditQuestionAnswer" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
                        </span>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-times fa-stack-1x fa-inverse" data-bind="click:$root.onDeleteQuestionAnswer"></i>
                        </span>
                    </a>
                </td>
            </tr>
            <tr data-bind="visible:linkedQustionsCount()>0 && $root.selectedQuestion().hasLinkedQuestions()">
                <td style="padding-top: 7px; padding-bottom: 0px">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="profileQuestionLVTable">
                            <thead>
                                <tr>
                                    <th class="col-lg-8 th-pointer"><span id="1">Linked Questions</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-bind="visible:question1String()!=undefined">
                                    <td style=" padding: 0px;">
                                        <p style="margin-top: 5px;margin-left: 12px;" data-bind="text: question1String">
                                    </td>
                                </tr>

                                <tr data-bind="visible:question2String()!=undefined">
                                    <td style=" padding: 0px;">
                                        <p style="margin-top: 5px;margin-left: 12px;" data-bind="text: question2String">
                                    </td>
                                </tr>
                                <tr data-bind="visible:question3String()!=undefined">
                                    <td style=" padding: 0px;">
                                        <p style="margin-top: 5px;margin-left: 12px;" data-bind="text: question3String">
                                    </td>
                                </tr>

                                <tr data-bind="visible:question4String()!=undefined">
                                    <td style=" padding: 0px;">
                                        <p style="margin-top: 5px;margin-left: 12px;" data-bind="text: question4String">
                                    </td>
                                </tr>
                                <tr data-bind="visible:question5String()!=undefined">
                                    <td style=" padding: 0px;">
                                        <p style="margin-top: 5px;margin-left: 12px;" data-bind="text: question5String">
                                    </td>
                                </tr>

                                <tr data-bind="visible:question6String()!=undefined">
                                    <td style=" padding: 0px;">
                                        <p style="margin-top: 5px;margin-left: 12px;" data-bind="text: question6String">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </script>
    </div>
   
</div>