@{
    ViewBag.Title = "Store Details";
}
@section leftmenue {
}

<div data-bind="visible: $root.isEditorVisible()" style="display: none">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#" class="my-navigator">Home</a></li>
                    <li><a href="#" class="my-navigator">Profile Questions</a></li>
                </ol>
                <div class="tab-content dynamicNameHeading" style="height:41px;">
                    <h1>Details</h1>
                </div>
            </div>
        </div>
        <div class="row" id="user-profile">
            <div class="col-lg-12 col-md-8 col-sm-8" style="padding-bottom: 10px;">
                <div class="clearfix ">
                    <div class="col-xs-12" style="text-align: right; padding-right:0;margin-bottom:10px;">
                        <button class="btn  btn-info" id="saveBtn" data-bind="click:$root.saveStore, enable: $root.hasChangesOnStore, css: { 'btn-warning': $root.hasChangesOnStore }">Save</button>
                        <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeEditDialog">Close</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="main-box clearfix" id="tabsHeader">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active" id="generalInfoTab"><a href="#tab-generalinfo" data-toggle="tab">General Info</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" data-bind="with: $root.selectedQuestion" id="tab-generalinfo">
                                <div class="col-lg-12 form-horizontal">
                                    <h3 class="group-header" style="margin-top:20px;">
                                        Profile Question General Info
                                    </h3>
                                    <p class="group-header-description">Enter information below </p>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Question</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="txtFacebookURL" placeholder="Enter Facebook URL" data-bind="value: questionString">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Language</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.langs, optionsText: 'LanguageName', optionsValue: 'LanguageId', optionsCaption: '&lt;' + 'Select Language'+ '&gt;' , value:languageId"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Country</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.countries, optionsText: 'CountryName', optionsValue: 'CountryId', optionsCaption: '&lt;' + 'Select Country'+ '&gt;' , value:countryId"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Profile Group</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.qGroup, optionsText: 'ProfileGroupName', optionsValue: 'ProfileGroupId', optionsCaption: '&lt;' + 'All'+ '&gt;' , value:profileGroupId"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Priority</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.priorityList, optionsCaption: '&lt;' + 'All'+ '&gt;' , value:priority"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Question Type</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.questiontype, optionsText: 'typeName', optionsValue: 'typeId', optionsCaption: '&lt;' + 'All'+ '&gt;' , value:type"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Refresh Time</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="txtFacebookURL" placeholder="Enter Facebook URL" data-bind="value: refreshTime">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Skipped Count</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="txtFacebookURL" placeholder="Enter Facebook URL" data-bind="value: skippedCount">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Creation Date</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="txtFacebookURL" placeholder="Enter Facebook URL" data-bind="value: creationDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Modified Date</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="txtFacebookURL" placeholder="Enter Facebook URL" data-bind="value: modifiedDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Penality For Not Answering</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="txtFacebookURL" placeholder="Enter Facebook URL" data-bind="value: penalityForNotAnswering">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtFacebookURL" class="control-label text-right tooltip-float">Active</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="txtFacebookURL" placeholder="Enter Facebook URL" data-bind="value: status">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style type="text/css" media="screen">
    #editor {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>
