@{
    ViewBag.Title = "Profile Questions";
}

<div class="row" id="ProfileQuestionBindingSpot">
    
</div>
@section Scripts{
    <script type="text/javascript">
        require(["pQuestion/pQuestion.view"]);
    </script>

}
