@{
    ViewBag.Title = "Survey Questions";


}


<div class="row" id="Heading_div">
    <div class="col-lg-12" style="padding-left: 16px;padding-right:0px;padding-bottom:10px;">
        <div style="width:450px;" class="pull-left">

            <label id="headlabel" style="font-size:24px;color:#fff!important;margin-top:7px;">System Profile Questions</label>

        </div>
        <div style="width:5px;">

        </div>

        <div style="width:698px" class="pull-left">
            @*<label id="headdesc" style="color:#fff;font-size:14px;margin-top:17px;">Run a 2, 4 or 6 Q & A survey to a target audience.</label>*@
            <img class="pull-right closecls" src="~/Content/Images/Close_Button.png" style="margin-top:15px;" onclick="GotoHome();" />
            <div class="clearfix"></div>
        </div>
        <div class="clearfix;"></div>
    </div>
</div>

 

<div class="row" id="ProfileQuestionBindingSpot" style="margin-top:5px;margin-left:0px;">
    <div class="col-lg-12" data-bind="visible: !$root.isEditorVisible()" style="padding-right:24px;padding-left:8px;">

        <!-- ko stopBinding: true -->
        @Html.Partial("~/Areas/Common/Views/Shared/_StripeChargeCustomerDialog.cshtml")
        <!-- /ko -->
        <!-- ko template: { name: 'filterTemplate' } -->
        <!-- /ko -->
        <div class="col-lg-12 margintop13">
            <div class="row main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="profileQuestionLVTable">
                            <thead>
                                <tr>
                                    <th class="col-lg-6 th-pointer"><span class="GridHeaderFont_size" id="2">Survey Question<span></span></span></th>
                                    <th class="col-lg-2 th-pointer" style="display:none;"><span class="GridHeaderFont_size" id="1">Group<span class="icon-up"></span></span></th>
                                    <th class="col-lg-2 th-pointer"><span class="GridHeaderFont_size" id="1">Start Date<span class="icon-up"></span></span></th>
                                    <th class="col-lg-2 th-pointer"><span class="GridHeaderFont_size" id="1">Answered</span></th>
                                    <th class="col-lg-2 th-pointer"><span class="GridHeaderFont_size" id="1">Delivered%</span></th>
                                    <th class="col-lg-2 th-pointer"><span style="display:none;" class="GridHeaderFont_size" id="1">SkippedCount</span></th>
                                    <th class="col-lg-2 th-pointer"><span class="GridHeaderFont_size" id="1">Status</span></th>

                                    <th class="col-lg-1 th-pointer" style="display:none;"><span class="GridHeaderFont_size" id="3">Priority<span></span></span></th>
                                    <th id="hasLinkedtableHeader" style="display:none;" class="col-lg-1 th-pointer"><span class="GridHeaderFont_size" id="4">Has Link Q<span></span></span></th>
                                    <th class="col-lg-1">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko template: { name: 'ProfileQuestionTemplate' , foreach: questions } -->
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="pagerDivForStore" class="pull-right">
                <!-- ko with: pager -->
                @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                <!-- /ko -->
            </div>
        </div>

        <script id="ProfileQuestionTemplate" type="text/html">
            <tr style="cursor: pointer">
                <td>
                    <a class="store-user-link" data-bind="text:questionString,click:$root.onEditProfileQuestion"></a>
                </td>
                <td style="padding-left:9px;display:none;">
                    <p data-bind="text:profileGroupName"></p>
                </td>
                <td style="padding-left:9px;">
                    <p data-bind="dateString:creationDate,datePattern: 'DD/MM/YYYY'"></p>
                </td>
                <td style="padding-left:9px;">
                    <p data-bind="text:answerCount"></p>
                </td>
                <td style="padding-left:9px;">
                    <p data-bind="text:createdBy"></p>
                </td>
                <td style="padding-left:11px;">
                    <p style="display:none;" data-bind="text:skippedCount"></p>
                </td>
                <td style="padding-left:11px;">
                    <!-- ko if: status() == 1-->
                    <div class="text-left statusbg" style="background:#6D6EFA;    width: 149px;">
                        <span data-bind="text: statusValue">
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: status() == 2-->
                    <div class="text-left statusbg" style="background:#fc0;width: 149px">
                        <span data-bind="text: statusValue">
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if:  status() == 3-->
                    <div class="text-left statusbg" style="background:#37c675;    width: 149px;">
                        <span data-bind="text: statusValue">
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: status() == 4-->
                    <div class="text-left statusbg" style="background:#fd008e;width: 149px">
                        <span data-bind="text: statusValue">
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: status() == 5-->
                    <div class="text-left statusbg" style="background:#c8e392;width: 149px">
                        <span data-bind="text: statusValue">
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: status() == 6-->
                    <div class="text-left statusbg" style="background:red;width: 149px">
                        <span data-bind="text: statusValue">
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: status() == 7-->
                    <div class="text-left statusbg" style="background:red;width: 149px">
                        <span data-bind="text:'Remove'">
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: status() == 8-->
                    <div class="text-left statusbg" style="background:#fc0;width: 149px">
                        <span data-bind="text: statusValue">
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: status() == 9-->
                    <div class="text-left statusbg" style="background:red;width: 149px">
                        <span data-bind="text: statusValue">
                        </span>
                    </div>
                    <!-- /ko -->

                </td>


                <td style="display:none;">
                    <p data-bind="text:priority"></p>
                </td>
                <td style="display:none;" class="hasLinkedQuestions">
                    <div class="type">
                        <span data-bind="text:hasLinkedQuestions()==true ? 'YES' : 'NO',css: { 'label-success': hasLinkedQuestions(), 'label-danger': !hasLinkedQuestions() }" class="label">YES</span>
                    </div>
                </td>
                @*<td>
                        <p id="IsLInkedQuestionParah" data-bind="text:hasLinkedQuestions()==true ? 'YES' : 'NO',css: { 'label-success': hasLinkedQuestions(), 'label-danger': !hasLinkedQuestions() }"></p>
                    </td>*@
                <td>
                    @*<p data-bind="text:Status"></p>*@
                </td>
                <td>
                    <!-- ko if: status() == 1 ||  status() == 4|| status() ==  6-->
                    <a class="table-link danger" style="float: right">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse " data-bind="click:$root.terminateCampaign"></i>
                        </span>
                    </a>
                    <!-- /ko -->
                </td>
            </tr>
        </script>


        <script id="filterTemplate" type="text/html">
            <div class="filter-body" id="filter">

                <div class="row" style="display:none;">


                    <div class="col-sm-12" style="float: left; margin-bottom:20px;">
                       <br />
                        <div>
                            <span style="font-size:18px;float:left;color:#81d3dc!important;">Run a 2, 4 or 6 Q & A survey.</span>
                            
                            <button style=" float:right;margin-top:-17px;" class="btn btn-primary" data-bind="click:$root.addNewProfileQuestion">
                                Create Survey Questions
                            </button>
                        </div>

                        <div style="clear:both;"></div>
                        @*<span class="red bold rightAlign" style="display:none;"> Watch Video <img src="/Images/youtube_play.JPG" height="25px" /> </span>   </span><br />*@
                        <span style="font-size: 14px;" class="Theme_subheading-Clr ">Run a question and answer survey and create new target audience groups <br />that can be used in any of your video or display ads campaigns.  .</span>
                    </div>


                </div>

                <div class="row">


                    <form data-bind="submit:$root.filterProfileQuestion">
                        <div class="col-sm-2" style="float:left;">

                            <div class="filter-block" style="margin-right: -10px;margin-top:10px;">
                                <div class="form-group ">
                                    <input type="text" class="form-control " placeholder="Search..." data-bind="value: $root.filterValue">
                                    <i class="fa fa-search search-icon" data-bind="click: $root.filterProfileQuestion"></i>
                                </div>

                            </div>
                            <div class="clearfix"></div>

                        </div>

                        <div class="col-sm-2" style="float:left;margin-top:10px;">
                            <select id="ddlStatus" class="form-control" style="float:right;height:36px;margin-top:2px;" data-bind="options: $root.qGroup, optionsText: 'ProfileGroupName', optionsValue: 'ProfileGroupId', optionsCaption:'All' , value:$root.qGroupfilterValue,event:{ change: $root.getQuestionsByFilter}">
                                @*<option value="0">All Statuses</option>*@
                            </select>
                        </div>
                    </form>
                    <div class="col-sm-8" style="float:right;padding:0px;padding-top: 13px;padding-right: 15px; text-align:right">
                     
                        <button class="btn btn-primary create_survey_btn" data-bind="click:$root.addNewProfileQuestion">
                            Create Survey 
                        </button>

                    </div>
                    <div class="clearfix">

                    </div>
                </div>

            </div>
        </script>
    </div>
    @{
        Html.RenderPartial("~/Areas/ProfileQuestion/Views/Manage/_ProfileQuestionEditor.cshtml");
    }
</div>
<script>
    
    $("#surveysheading").css("cssText", "color:#fff!important;");

</script>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section Scripts{
    <script type="text/javascript">
        require(["pQuestion/pQuestion.view", "common/confirmation.view", "common/stripeChargeCustomer.view"]);
     //   $("#MainSpan").css("display", "none");
        $("#btnSurveyQuestion").css("background-color", "#34b9c7");
        $("#btnManageApprov").css("background-color", "#34b9c7");
        $("#main_btnPannels").css("display", "none");
        $("#MarketobjDiv").css("display", "none");
        $(".hideInCoupons").css("display", "none");
        $("#topArea").css("display", "none");
        $("#divApprove").css("display", "none");
        $(".dash_slide_panel").css("display", "none");
    </script>

}
