@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section COLOR
{

    <!-- COLOR STYLE CSS -->
<link rel="stylesheet" href="~/content/sky.css">

}

  
    <!-- Header -->
    <section id="header" class="container-fluid text-white">
        <div class="container">
            <div class="row clearfix">
                <div class="scroll col-md-6 column">
                    @*<h1 class="text-left">

                        <img src="~/images/White_wallet.svg" style="width:60px;" />
                    </h1>*@
                    <h1 class="main_title">Qualified Clicks    <br />40¢ per targeted Ad </h1>
                    <p class="text-left lead">
                        Only pay for Ads that your have targeted upfront and not delivered by guess work keywords.
                        <br /><br />Advertise now to your targeted audience.
                    </p>
                    <a href="#download" class="btn btn-lg btn-submit">Sign up Now</a>

                    <a href="#download" class="btn btn-lg btn-submit">Sign In</a>
                </div>
                <div class="col-md-6 column">
                    <div id="main-slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img class="img-responsive" src="~/images/Advert_Slider_1.png" alt="Slide One">
                            </li>
                            <li>
                                <img class="img-responsive" src="~/images/Advert_Slider_2.png" alt="Slide Two">
                            </li>
                            <li>
                                <img class="img-responsive" src="~/images/Advert_Slider_3.png" alt="Slide Three">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /container  -->
    </section>
    <!-- end header -->
    <!-- Feature -->
    <section id="feature" class="text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column p_title">
                    <h2 class="text-center">Happy Customers</h2>
                    <p class="text-center lead">50% of your fixed click fee to deliver targeted ad goes to people that have volunteered their data to be targeted.</p>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <!-- RIGHT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-bicycle fa-2x"></i>
                            </div>

                            <h3>Increase Conversions</h3>

                            <p>
                                Run campaigns that match profile preferences
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-cubes fa-2x"></i>
                            </div>

                            <h3>Match Count</h3>

                            <p>
                                You know how many consumers match your criteria before running campaigns.
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-line-chart fa-2x"></i>
                            </div>

                            <h3>Cap your Bill</h3>

                            <p>
                                Sample the count of consumers you want to target up front.
                            </p>

                        </div>


                        <!-- IPHONE IMAGE -->
                        <div class="col-sm-4 col-md-4 column ">
                            <img alt="iPhone" class="img-responsive" src="~/images/Advert_Phone_1.png" />
                        </div>

                        <!-- LEFT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-life-ring fa-2x"></i>
                            </div>

                            <h3>Video or Landing Page</h3>

                            <p>
                                Drive customers to buy online
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-laptop fa-2x"></i>
                            </div>

                            <h3>Conduct Surveys</h3>

                            <p>
                                Find out consumer preferences and then refine your next campaign.
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-users fa-2x"></i>
                            </div>

                            <h3>Sponsor Games</h3>

                            <p>
                                Increase your brand awareness.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
    <!-- end feature -->
    <!-- Image -->
    <section id="image" class="container-fluid text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-12 col-md-6 column">
                    <img alt="iPhone-5c" class="img-responsive" src="~/images/iPhone-5c.png" />
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 p_title">
                            <h2>Don’t waste your advertising budget on unqualified pay per clicks.

</h2>
                            <p class="lead text-left">
                                Ever thought about how the big boys place ads in apps and browsers?  They guess the users preferences and likes by data mining habits and click thrus.  It’s not an exact science.
                            </p>
                            <p class="lead text-left">
                                Moreover keywords searches often deliver expensive conversion rates due to inadequate qualifying nature of searching audience.
                            </p>
                            <p class="lead text-left">
                                Why not target your audience first and know who you want to view your ad.  And why not reward them for being matched to you 
                            </p>
                            <p class="lead text-left">
                                Advertise now to your targeted audience.


                            </p>
                        </div>
                        <div class="scroll col-sm-12 col-sm-12 col-md-8">
                            <a href="#download" class="btn btn-lg btn-lead-b ">Sign Up Now</a>

                            <a href="#download" class="btn btn-lg btn-lead-b ">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
    <!-- end image -->
    <!-- About -->
    <div id="about" class="container text-blue">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">Why not advertise your business the same way - Aha !</h2>
                <p class="lead text-center">Know how many consumers match your filtering criteria before running your Ad campaigns or Marketing Surveys.</p>
            </div>
        </div>
        <div class="row clearfix staff">
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                <h3 class="">Increase Conversions</h3>
                <span>Run campaigns with Profile matches.</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                <h3 class="">Fixed rate per click</h3>
                <span>Lower PPC costs with direct call for action.</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                <h3 class="">Run Surveys</h3>
                <span>Further refine your audience in conjunction with A/B Testing.</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                <h3 class="">Sponsor Games</h3>
                <span>Increase brand awareness and reward Winners.
</span>
            </div>
        </div>
    </div> <!-- container -->
    <!-- end about -->
    <!-- Video -->
    <section id="video" class="container-fluid text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column p_title">
                    <h2 class="text-center">Target Advertising made easy  - Yey !</h2>
                    <p class="lead text-center">Compliment your ad campaigns on Google or Facebook with Targeting advertising using our “Share the Love’ approach.  Pay consumers to watch your Ads because it’s relevant to them and they get paid to do so.
                    <br /><br />
Set profile matching filters using our powerful tools and starting targeting happy customers waiting to see your Ads.
</p>
                </div>
                <div class="col-md-offset-2 col-md-8 ipad">
                    <a class="popup-vimeo" href="http://player.vimeo.com/video/78554894?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff">
                        <i class="fa fa-play-circle-o fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end vodeo -->

  <!-- Testimonial -->
<div id="testimonial" class="container text-blue">
    <div class="row">
        <div class='col-md-12 text-center p_title'>
            <h2>Advertise within your Budget</h2>
            <p class="lead text-center">You’ll know immediately how many consumers match your targeting criteria before running Ad campaigns.  Hence you can determine your budget upfront and deliver to a subset of the target audience.</p>
        </div>
    </div>
    
</div>
<!-- end testimonial -->


 <!-- Video -->
<section id="video" class="container-fluid text-blue">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">Conduct your own Marketing Surveys</h2>
                <p class="lead text-center">
                    Create simple survey questions and use the results to further refine your targeting filters and target more accurately.
                    <br /><br />
                    Use A/B Testing methods to really home in on your audience before going all out.
                    <br /><br />
                    Its that simple and theirs no upfront costs other than submit Surveys for approval and download survey demographic results. 


                </p>
            </div>
            <div class="col-md-offset-2 col-md-8 ipad">
                <a class="popup-vimeo" href="http://player.vimeo.com/video/78554894?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff">
                    <i class="fa fa-play-circle-o fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end vodeo -->



    <!-- Testimonial -->
    <div id="testimonial" class="container text-blue">
        <div class="row">
            <div class='col-md-12 text-center p_title'>
                <h2>Happy Advertisers testimonials</h2>
                <p class="lead text-center">Its is easy to reach out to local consumers and drive your promotions to real business.</p>
            </div>
        </div>
        <div class='row'>
            <div class=' col-md-12'>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>
                        <li data-target="#quote-carousel" data-slide-to="3"></li>
                        <li data-target="#quote-carousel" data-slide-to="4"></li>
                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">

                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_1" class="img-circle" src="~/images/feedback_01.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_2" class="img-circle" src="~/images/feedback_02.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_3" class="img-circle" src="~/images/feedback_03.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 4 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_4" class="img-circle" src="~/images/feedback_01.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 5 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_5" class="img-circle" src="~/images/feedback_02.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>

                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end testimonial -->
   


    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="text-center">Target Profiles with known preferences</h2>
                <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Hobbies</a></li>
                    <li><a href="#" data-filter=".animation">Profession</a></li>
                    <li><a href="#" data-filter=".Business">Life Style</a></li>
                    <li><a href="#" data-filter=".art">Travel</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item animation">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/01.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 1</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">
                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


                <div class="portfolio-item Business art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/02.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 2</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">
                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/03.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 3</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/04.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 4</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/05.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/06.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/07.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 7</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/08.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/09.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->