@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section COLOR
{

    <!-- COLOR STYLE CSS -->
<link rel="stylesheet" href="~/content/sky.css">

}

  
    <!-- Header -->
    <section id="header" class="container-fluid text-white">
        <div class="container">
            <div class="row clearfix">

                <div class="row clearfix text-center">

                    <h1 class="main_title">Target 1000s of customers<br /><br /></h1>
                   
                </div>


                    <div class="row clearfix staff">
                        <div class="col-xs-6 col-md-3 column text-center">
                            <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                            <h3 class="" style="color:black">Pay less to advertise</h3>
                            <span>Target more accurately and pay less per click 
</span>
                        </div>
                        <div class="col-xs-6 col-md-3 column text-center">
                            <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                            <h3 class="" style="color:black">Instant & Local</h3>
                            <span>Be proactive with advertising and
reach out to local consumers
</span>
                        </div>
                        <div class="col-xs-6 col-md-3 column text-center">
                            <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                            <h3 class="" style="color:black">Share the love</h3>
                            <span>Reward your target audience with
Cash or Discount Vouchers
</span>
                        </div>
                        <div class="col-xs-6 col-md-3 column text-center">
                            <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                            <h3 class="" style="color:black">100% conversion</h3>
                            <span>
                               You only pay per click when viewer has played your ads.


                            </span>
                        </div>
                    </div>



                <div class="row clearfix text-center inner-top-xs">

                    <p class="text-center lead">
                        Reward your target audience with 50% of your advertising budget.</p>
                        <h1 class="main_title">Get started today!</h1>

                        <a href="http://create.cash4ads.com/Account/Register" class="btn btn-lg btn-submit" >Sign up Now</a>

                        <a href="http://create.cash4ads.com/" class="btn btn-lg btn-submit" >Sign In</a>
</div>
                    
                </div>
        </div><!-- /container  -->
    </section>
    <!-- end header -->
    <!-- Feature -->
    <section id="feature" class="text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column p_title">
                    <h2 class="text-center">Happy Customers are waiting to watch your Ads – Yay !</h2>
                    <p class="text-center lead">Get proactive with your advertising.</p>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <!-- RIGHT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-bicycle fa-2x"></i>
                            </div>

                            <h3>Target your audience</h3>

                            <p>
                                Run Ad campaigns to people that only match your profile matches
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-cubes fa-2x"></i>
                            </div>

                            <h3>Know your reach upfront

</h3>

                            <p>
                                Cap your bill and match your criteria before running campaigns.
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-line-chart fa-2x"></i>
                            </div>

                            <h3>Test and Tweak</h3>

                            <p>
                                Run your campaigns to a subset audience.
                            </p>

                        </div>


                        <!-- IPHONE IMAGE -->
                        <div class="col-sm-4 col-md-4 column ">
                            <img alt="iPhone" class="img-responsive" src="~/images/Advert_Phone_1.png" />
                        </div>

                        <!-- LEFT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-life-ring fa-2x"></i>
                            </div>

                            <h3>Instant and Local</h3>

                            <p>
                                Be proactive and run your targeted promotions today.
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-laptop fa-2x"></i>
                            </div>

                            <h3>Videos, Websites or Leaflets </h3>

                            <p>
                                Its easy to start advertising today to the right audience.
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-users fa-2x"></i>
                            </div>

                            <h3>Sponsor Games</h3>

                            <p>
                                Increase your brand awareness and reward people to solve puzzles.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
    <!-- end feature -->
    <!-- Image -->
    <section id="image" class="container-fluid text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-12 col-md-6 column">
                    <img alt="iPhone-5c" class="img-responsive" src="~/images/iPhone-5c.png" />
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 p_title">
                            <h2>Don’t waste your advertising budget on unqualified and unwanted clicks.<br />

</h2>
                            <p class="lead text-left">
                                Reduce your Ad campaign costs by targeting profiles directly and only pay for qualified clicks / views.
                            </p>
                         
                        </div>
                        <div class="scroll col-sm-12 col-sm-12 col-md-8">
                            <a href="http://create.cash4ads.com/Account/Register" class="btn btn-lg btn-lead-b ">Sign Up Now</a>

                            <a href="http://create.cash4ads.com/" class="btn btn-lg btn-lead-b ">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
    <!-- end image -->
    <!-- About -->
    <div id="about" class="container text-blue">
        
        <div class="row clearfix staff">
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                <h3 class="">Accurate Targeting</h3>
                <span>Run campaigns with Profile matches.</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                <h3 class="">Share the love</h3>
                <span>Match and reward consumers that have volunteered to be target accurately.</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                <h3 class="">Run Surveys</h3>
                <span>Refine your audience further by conducting marketing campaigns.</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                <h3 class="">Sponsor Games</h3>
                <span>Increase brand awareness and reward
Winners.

</span>
            </div>
        </div>
    </div> <!-- container -->
    <!-- end about -->
    <!-- Video -->
    <section id="video" class="container-fluid text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column p_title">
                    <h2 class="text-center">We are different<br />

</h2>
                    <p class="lead text-center">Compliment your Google and Facebook campaigns with a proactive approach.<br />
Use our powerful profile matching tools and to target happy customers.


</p>
                </div>
              
            </div>
        </div>
    </section>
    <!-- end vodeo -->

  <!-- Testimonial -->
<div id="testimonial" class="container text-blue">
    <div class="row">
        <div class='col-md-12 text-center p_title'>
            <h2>Advertise within your Budget<br /></h2>
            <p class="lead text-center">You’ll know immediately how many customers match your targeting criteria before running Ad campaigns. <br />Cap your budget and reach count upfront and deliver to a subset of the target audience.</p>
        </div>
    </div>
    
</div>
<!-- end testimonial -->

<section id="image" class="container-fluid text-blue">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-6 column">
                <img alt="iPhone-5c" class="img-responsive" src="~/images/iPhone-5c.png" />
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 p_title">
                        <h2>
                            Sponsor Games<br />

                        </h2>
                        <p class="lead text-left">
                            Increase your brand awareness by sponsoring games and reward winners to complete fun puzzles.

                          

                        </p>
                        <p class="lead text-left">
                            All games are designed to improve memory mind mapping techniques.
                            </p>
</div>
                    <div class="scroll col-sm-12 col-sm-12 col-md-8">
                        <a href="http://create.cash4ads.com/Account/Register" class="btn btn-lg btn-lead-b ">Sign Up Now</a>

                        <a href="http://create.cash4ads.com/" class="btn btn-lg btn-lead-b ">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>




    <!-- Testimonial -->
    <div id="testimonial" class="container text-blue">

        <div class="row">
            <div class='col-md-12 text-center p_title'>
                <h2>Happy Advertisers</h2>
                <p class="lead text-center">Reward and reach out to local consumers.</p>
            </div>
        </div>
        <div class='row'>
            <div class=' col-md-12'>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>
                        <li data-target="#quote-carousel" data-slide-to="3"></li>
                        <li data-target="#quote-carousel" data-slide-to="4"></li>
                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">

                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_1" class="img-circle" src="~/images/feedback_01.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_2" class="img-circle" src="~/images/feedback_02.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_3" class="img-circle" src="~/images/feedback_03.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 4 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_4" class="img-circle" src="~/images/feedback_01.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 5 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_5" class="img-circle" src="~/images/feedback_02.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>

                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end testimonial -->
   


    <!-- Video -->
<section id="video" class="container-fluid text-blue">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">Lets get Disruptive</h2>
                
            </div>
            <div class="col-md-offset-2 col-md-8 ipad">
                <a class="popup-vimeo" href="http://player.vimeo.com/video/78554894?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff">
                    <i class="fa fa-play-circle-o fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end vodeo -->