@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section COLOR
{

   <!-- COLOR STYLE CSS -->
    <link rel="stylesheet" href="~/content/orange.css">
}

   

   
  
    <!-- Header -->
    <section id="header" class="container-fluid text-white">
        <div class="container">
            <div class="row clearfix">
                <div class="scroll col-md-6 column">
                    
                    <h1 class="main_title">
                        Double Up to 20%<br />Refer business owners 
                    </h1>
                    <p class="text-left lead">
                        If all your referrals deliver more than 1000 ads per month, then your commission gets bumped up to 20%. 

                    </p>
                   

                    <a href="http://create.cash4ads.com/Account/Register" class="btn btn-lg btn-submit">Sign up Now</a>

                    <a href="http://create.cash4ads.com/" class="btn btn-lg btn-submit">Sign In</a>
                </div>
                <div class="col-md-6 column">
                    <div id="main-slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img class="img-responsive" src="~/images/Affiliate_SLider_1.png" alt="Slide One">
                            </li>
                            <li>
                                <img class="img-responsive" src="~/images/Affiliate_SLider_2.png" alt="Slide Two">
                            </li>
                            <li>
                                <img class="img-responsive" src="~/images/Affiliate_SLider_3.png" alt="Slide Three">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /container  -->
    </section>
    <!-- end header -->
    <!-- Feature -->
    <section id="feature" class="text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column p_title">
                    <h2 class="text-center">Your own online recurring business</h2>
                    <p class="text-center lead">Simply refer local and national business* to advertise on Cash4Ads and build your monthly commission to 20% of their advertising spend.</p>
                    <h2 class="text-center">Hassle free – Monthly Statements</h2>
                    <p class="text-center lead">Your commission is itemised and paid directly into your online wallet each month.</p>

                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <!-- RIGHT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-bicycle fa-2x"></i>
                            </div>

                            <h3>Digital Gurus</h3>

                            <p>
                                Upsell your digital media and advertising expertise.
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-cubes fa-2x"></i>
                            </div>

                            <h3>Earn 20%</h3>

                            <p>
                                Double up when your referrals hit 1000ads /pm.
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-line-chart fa-2x"></i>
                            </div>

                            <h3>Monthly Statements</h3>

                            <p>
                                Commissions are paid directly to your online wallet.
                            </p>

                        </div>


                        <!-- IPHONE IMAGE -->
                        <div class="col-sm-4 col-md-4 column ">
                            <img alt="iPhone" class="img-responsive" src="~/images/Affiliate_Phone_1.png" />
                        </div>

                        <!-- LEFT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-life-ring fa-2x"></i>
                            </div>

                            <h3>Refer Businesses</h3>

                            <p>
                                Earn up to 20% of their advertising spend.
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-laptop fa-2x"></i>
                            </div>

                            <h3>We Promote you</h3>

                            <p>
                                We will list you when advertisers need Digital Marketing experts
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-users fa-2x"></i>
                            </div>

                            <h3>Franchise</h3>

                            <p>
                                Opportunities exist for affiliates to take on a whole countries 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
    <!-- end feature -->
    <!-- Image -->
    <section id="image" class="container-fluid text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-12 col-md-6 column">
                    <img alt="iPhone-5c" class="img-responsive" src="~/images/iPhone-5c.png" />
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 p_title">
                            <h2>Ideal for Digital Media Gurus</h2>
                            <p class="lead text-left">
                                Are you an adverting, marketing or digital media expert ?
                            </p>
                            <p class="lead text-left">
                                Refer businesses to advertise on cash4Ads.  When your referrals deliver more than 1000 ads per month, then your commission gets bumped up to 20% for that month 
                            </p>
                            <p class="lead text-left">
                                Your referrals are automatically linked to your account by the email address you provided, and provided they haven’t already been registered, you’ll see your share of their advertising spend paid in to your monthly statement.
                            </p>
                            <p class="lead text-left">
                                Start earning - Refer business owners 

                            </p>
                        </div>
                        <div class="scroll col-sm-12 col-sm-12 col-md-8">
                            <a href="http://create.cash4ads.com/Account/Register" class="btn btn-lg btn-lead-b btn-block"><span class="fa fa-money" style="margin-right:10px;"></span>Sign Up Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
    <!-- end image -->
    <!-- About -->
    <div id="about" class="container text-blue">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">Everyone Wins – Yey !</h2>
                <p class="lead text-center">Simply refer your existing customers and friends from the App or from your platform account and  we’ll educate them the benefits of:</p>
                <p class="lead text-center">
                    1. Target marketing<br />
                    2. Paying only for Qualified Clicks<br />
                    3. Giving 50% of their advertising spend to happy consumers.

                </p>
            </div>
        </div>
        <div class="row clearfix staff">
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                <h3 class="">Marketing Campaign</h3>
                <span>Manage campaigns for your customers</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                <h3 class="">Your own business</h3>
                <span>No hassle referral administration and payments</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                <h3 class="">Up Sell your Services</h3>
                <span>Create Landing Pages & Videos for clients</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                <h3 class="">We Promote You</h3>
                <span>Get listed as a local Digital Media Guru</span>
            </div>
        </div>
    </div> <!-- container -->
    <!-- end about -->
    <!-- Video -->
    <section id="video" class="container-fluid text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column p_title">
                    <h2 class="text-center">Lets get Disruptive</h2>
                    <p class="lead text-center">It’s not a Data Privacy issue anymore.<br />
Consumers are ready to volunteer their profiles, be targeted and get paid for their online data / profile.<br />

Why should the big boys profit and not share the love. 

</p>
                </div>
                <div class="col-md-offset-2 col-md-8 ipad">
                    <a class="popup-vimeo" href="http://player.vimeo.com/video/78554894?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff">
                        <i class="fa fa-play-circle-o fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end vodeo -->
    <!-- Screenshot -->
    <div class="container text-blue" id="screenshots">
        <div class="row">
            <div class="col-md-12 p_title text-center">
                <h2 class="text-center">Want to take on a country?</h2>
                <p class="lead text-center">Contact us if your up for the challenge to bootstrap an entire country and join the cash4ads team.  Franchise opportunities exist for the right partners with a disruptive mind set. </p>
                <a class="text-center" href="#">Contact the team</a>
            </div>
        </div>
        <div class="row ">
            <ul id="owl-screenshot" class="owl-carousel text-center">
                <li><img class="" src="~/images/uk.png" alt="Image" width="240px"></li>
                <li><img class="" src="~/images/us.png" alt="Image" width="240px"></li>
                <li><img class="" src="~/images/au.png" alt="Image" width="240px"></li>
                <li><img class="" src="~/images/de.png" alt="Image" width="240px"></li>
               
            </ul>
            <p>* Referring contact email addresses are linked to your cahs4ads.com account and it is from their cash4ads.com account that pay out of commissions are calculated.</p>
        </div>

    </div><!--.container-->
    <!-- end screenshot -->



