@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section COLOR
{

   <!-- COLOR STYLE CSS -->
<link rel="stylesheet" href="~/content/green.css">
}

@Html.Partial("~/Views/Shared/voucherbar.cshtml")


  <section style="background:#33d3b4;    padding-top: 10px;" class="text-blue inner-bottom">
    <div id="sense" class="container text-blue">
        <div class="row clearfix inner-bottom-md">


            <div class="col-sm-12">
                <h1 class="main_title text-white" style="margin-bottom:0px;">Cash out to your <b>Paypal</b> account</h1>
            </div>

            <div class="row inner-top-xs">

                <div class=" col-sm-12" >


                    <h2 class="main_title text-white" >Transfer <input type="text" class="" placeholder="" value="£7.45" style="    font-size: 30px;
    float: none;
    display: inline;
    width: 167px;
    height: 59px;
    margin: 16px;
    color: gray;
    padding-left: 21px;" /> into my paypal account id : xxxxx@paypal.com</h2>
                    <br />
                    <p class="text-center"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/ppcredit-logo-large.png" alt="PayPal Credit" /></p>
                    




                    

                </div>

                

            </div>
            </div>
        </div>
</section>
  <!-- Header -->









        <!-- Testimonial -->
<div id="testimonial" class="container text-blue" style="padding-top:20px;padding-bottom:20px;">
   
    <div class="row">
        <div class='col-md-12 text-center p_title' style="margin-bottom:5px;">
            <h2>It's easier with</h2>
           
        </div>
    </div>
    <div class='row'>
        <div class=' col-md-12'>
            <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_74x46.jpg" border="0" alt="PayPal Logo"></a></td></tr></table><!-- PayPal Logo -->
        </div>
    </div>
</div>
<!-- end testimonial -->


    <!-- Video -->
<section id="video" class="container-fluid text-blue" style="display:none">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">Lets get Disruptive</h2>
                
            </div>
            <div class="col-md-offset-2 col-md-8 ipad">
                <a class="popup-youtube" href="http://www.youtube.com/watch?v=sE_YY8E1JMs">
                    <i class="fa fa-play-circle-o fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- end vodeo -->
<script src="~/Scripts/jquery-2.1.4.min.js"></script>

