@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section COLOR
{

   <!-- COLOR STYLE CSS -->
<link rel="stylesheet" href="~/content/green.css">
}
  
  <!-- Header -->
<section id="header"  class="container-fluid text-white">
    <div class="container">
        <div class="row clearfix">

            <div class="row clearfix text-center">

                <h1 class="main_title" style="margin-bottom:0px;">Get paid to watch Ads - $$<br /><br /></h1>

                <a class="popup-youtube" href="http://www.youtube.com/watch?v=i3i1Ne4qyZI" style="font-size:30px;">
                    <i class="fa fa-play-circle-o fa-3x" style="color:white;"></i>
                </a>

            </div>


            <div class="row clearfix staff">
                <div class="col-xs-6 col-md-3 column text-center">
                    <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                    <h3 class="" style="color:black">Cash Pay Out</h3>
                    <span>
                        Minimum pay out of 10p to watch
                        a video or click to a website

                    </span>
                </div>
                <div class="col-xs-6 col-md-3 column text-center">
                    <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                    <h3 class="" style="color:black">Discount Vouchers</h3>
                    <span>
                        Choose higher value voucher offers
                        instead of cash pay outs

                    </span>
                </div>
                <div class="col-xs-6 col-md-3 column text-center">
                    <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                    <h3 class="" style="color:black">Play Games</h3>
                    <span>
                        Get paid to play games
                        and train your brain

                    </span>
                </div>
                <div class="col-xs-6 col-md-3 column text-center">
                    <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                    <h3 class="" style="color:black">Get Matched</h3>
                    <span>
                        Increase your value and get
                        paid more from advertisers



                    </span>
                </div>
            </div>



            <div class="row clearfix text-center inner-top-xs">

                <p class="text-center lead">
                    We pay directly into your account for every ad you watch.
                </p>

                <h1 class="main_title">Free App</h1>

                <a href="#download" class="btn btn-lg btn-submit"><span class="fa fa-android"></span> Download App</a>

                <a href="http://mobile.cash4ads.com" class="btn btn-lg btn-submit"><span class="fa fa-apple"></span> Coming Soon</a>

            </div>

        </div>
    </div><!-- /container  -->
</section>

<section id="feature" class="text-blue">
    <div id="sense" class="container text-blue">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">
                    Share the love<br />
                </h2>
                <p class="lead text-center">Advertisers pay 50% of their advertising spend on Cash 4 Ads to the people that watch their Ads.</p>
                <p class="lead text-center"><span class="fa fa-heart" style="color:red"></span> </p>
                <p class="lead text-center">This sharing approach allows local advertisers to promote their businesses and give back to the local community.</p>
            </div>
        </div>
    </div>
    </section>


  <!-- Image -->
<section id="image" class="container-fluid text-blue inner-bottom">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-6 column">
                <img alt="Friends" class="img-responsive" src="~/images/friends.png" />
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 p_title">
                        <h2>
                            Train your Brain with paid games<br />
                        </h2>
                        <p class="lead text-left">
                            We’re aiming to deliver Ads from advertisers to you on a regular basis. In the meantime play games and complete simple puzzles.
                        </p>
                        <p class="lead text-left">
                            All games and puzzles are designed to help train your brain and improve memory mapping techniques.
                        </p>
                      
                    </div>
                    <div class="scroll col-sm-12 col-sm-12 col-md-8">
                        <a href="#download" class="btn btn-lg btn-submit"><span class="fa fa-android"></span> Download App</a>

                        <a href="http://mobile.cash4ads.com" class="btn btn-lg btn-submit"><span class="fa fa-apple"></span> Coming Soon</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>
<!-- end image -->

    <!-- Feature -->
    <section id="feature" class="text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column p_title">
                    <h2 class="text-center">Increase your value.</h2>
                    <p class="text-center lead">Build up your profile by answering questions and playing brain training games.

</p>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <!-- RIGHT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-bicycle fa-2x"></i>
                            </div>

                            <h3>Get paid per Ad</h3>

                            <p>
                                Your data is out there, why not get paid for it!
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-cubes fa-2x"></i>
                            </div>

                            <h3>Paid Online</h3>

                            <p>
                                We pay directly into your  PayPal or Google account.
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-line-chart fa-2x"></i>
                            </div>

                            <h3>Increase Your Value</h3>

                            <p>
                                Build up your profile and get targeted today.
                            </p>

                        </div>


                        <!-- IPHONE IMAGE -->
                        <div class="col-sm-4 col-md-4 column ">
                            <img alt="iPhone" class="img-responsive" src="~/images/iPhone.png" />
                        </div>

                        <!-- LEFT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-life-ring fa-2x"></i>
                            </div>

                            <h3>Play Brain Games</h3>

                            <p>
                                Cash rewards for completing puzzles.
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-laptop fa-2x"></i>
                            </div>

                            <h3>No Spamming</h3>

                            <p>
                                Your data is never disclosed or shared with third parties.
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-users fa-2x"></i>
                            </div>

                            <h3>Cash or Vouchers</h3>

                            <p>
                               Opt for higher value voucher rewards from advertisers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
    <!-- end feature -->
       <!-- Video -->
<section id="video" class="container-fluid text-blue">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">Get matched with Advertisers. <br /></h2>
                <p class="lead text-center">
                    Earn more per ad by answering your profile questions.
                    <br /><br />
                    <span class="fa fa-heart" style="color:white"></span>
                    <br /><br />
                    We allow advertisers to run campaigns that match user profiles.  The more targeted their matching criteria, the more they pay out.
                    <br /><br />


                </p>
            </div>

        </div>
    </div>
</section>
<!-- end vodeo -->

    <div id="about" class="container text-blue">
       
        <div class="row clearfix staff">
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                <h3 class="">Cash 4 Ads</h3>
                <span>Get paid for watching relevant Ads.</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                <h3 class="">Get Targeted</h3>
                <span>Increase your value by building your profile</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                <h3 class="">Play Games</h3>
                <span>Cash rewards for completing games and puzzles.</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                <h3 class="">Cash or Vouchers</h3>
                <span>Opt for higher value voucher rewards from advertisers.</span>
            </div>
        </div>
    </div> <!-- container -->
    <!-- end about -->









        <!-- Testimonial -->
<div id="testimonial" class="container text-blue" style="padding-top:20px;">
   
    <div class="row">
        <div class='col-md-12 text-center p_title'>
            <h2>Happy Clickers</h2>
           
        </div>
    </div>
    <div class='row'>
        <div class=' col-md-12'>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                    <li data-target="#quote-carousel" data-slide-to="3"></li>
                    <li data-target="#quote-carousel" data-slide-to="4"></li>
                </ol>

                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">

                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_1" class="img-circle" src="~/images/feedback_01.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_2" class="img-circle" src="~/images/feedback_02.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_3" class="img-circle" src="~/images/feedback_03.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 4 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_4" class="img-circle" src="~/images/feedback_01.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 5 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_5" class="img-circle" src="~/images/feedback_02.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>

                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- end testimonial -->


    <!-- Video -->
<section id="video" class="container-fluid text-blue" style="display:none">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">Lets get Disruptive</h2>
                
            </div>
            <div class="col-md-offset-2 col-md-8 ipad">
                <a class="popup-youtube" href="http://www.youtube.com/watch?v=sE_YY8E1JMs">
                    <i class="fa fa-play-circle-o fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- end vodeo -->
<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<script>
    var Coupons = [];
    $(document).ready(function () {
        var couponFId = 0;
        $.ajax({
            dataType: "json",
            url: 'http://manage.cash4ads.com/Api_Mobile/GetAllCoupons/8667e1a9-60af-4d99-8013-a241b81fa550',
            cache: false,
            success: function (response) {
               

                Coupons = response;
                if (couponFId == 0) {
                    couponFId = response[0].CouponId;
                }
                var htmlToBindAllVoucher = [];
                $(response).each(function (i, val) {
                   
                    var discountedValPer = 100 - parseInt((parseFloat(val.CouponDiscountedValue) / parseFloat(val.CouponActualValue)) * 100);
                    $("#bonus-deals-side").append(' <div class="ndod-view-mini ndod-view-mini-nodesc"><div class="ndod-deal-header"><h2>' + val.CouponTitle + '</h2>               </div><div class="ndod-deal-content"><a class="" href="#"><img class="ndod-deal-image  js-show" data-original="' + val.CouponImage + '" src="' + val.CouponImage + '" alt="" /></a><div class="ndod-redeem-now"></div><div class="ndod-business-logo-wrapper"><div class="ndod-business-logo"><img class="" data-original="http://manage.cash4ads.com/images/vLogo.png" src="http://manage.cash4ads.com/images/vLogo.png" width="70" height="28" /> </div><div class="btm-header-bg-business-logo"></div></div><div class="ndod-discount"><div class="ndod-multiprice" style="padding-top: 22.0px ; "><span class="innerColour">NOW</span></div><div class="ndod-price" style="font-size: 36px; margin: 2.0px 0 -1.0px;"><span class="inner innerColour"><span class="ndod-currency">£</span><span class="ndod-amount">' + val.CouponDiscountedValue + '</span></span></div><del class="ndod-original-price"><span class="ndod-currency">£</span><span class="ndod-amount">' + val.CouponActualValue + '</span></del></div></div><div class="ndod-deal-footer-wrapper">  <div class="ndod-deal-footer cld"> <p class="ndod-bought bonus-bought"><span class="ndod-label innerColour">Bought</span><span class="ndod-amount">' + val.CouponTakenValue + '</span>      </p><p class="ndod-savings"><span class="ndod-label innerColour">Save <span>up to </span></span><span class="ndod-abount">' + discountedValPer + '<span class="ndod-percent-sign">%</span></span>            </p><a href="#" onclick="LoadSelectedVoucher(' + val.CouponId + ')" class="ndod-button-small waViewButton">    <span class="outer"><span class="inner">VIEW!</span></span>     </a>        </div>         <div class="ndod-deal-footer-btmbg"></div>    </div>    </div></div>');
                });
                LoadSelectedVoucher(couponFId);
            }
        });
       
    });
  
    function LoadSelectedVoucher(CouponId) {
      
        var couponObj = $.grep(Coupons, function (n, i) {
            return (n.CouponId == CouponId);
        });
        if (couponObj != null) {
            $("#couponMainHeading").html(couponObj[0].CouponTitle + '<span class="mvtest_header_v1">' + couponObj[0].Firstline + ' ' + couponObj[0].SecondLine + '</span><div class="btm-header-bg"></div>');
            $("#voucMainSliderImg").attr('src', couponObj[0].CouponImage);

            $("#couDiscountedVal").html(couponObj[0].CouponDiscountedValue);
            $("#couActualVal").html(couponObj[0].CouponActualValue);

            $("#coupPerct").text(100 - parseInt((parseFloat(couponObj[0].CouponDiscountedValue) / parseFloat(couponObj[0].CouponActualValue)) * 100) + '%');
            $("#coupBought").text(couponObj[0].CouponTakenValue);
        }
      
    }
</script>