@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section COLOR
{

   <!-- COLOR STYLE CSS -->
<link rel="stylesheet" href="~/content/sky.css">
}
  
  <!-- Header -->
<section id="header"  class="container-fluid text-white">
    <div class="container">
        <div class="row clearfix">

            <div class="row clearfix text-center">

                <h1 class="main_title" style="margin-bottom:0px;">Earn up to $1 to watch a 30 sec commercial<br /><br /></h1>

                @*<a class="popup-youtube" href="http://www.youtube.com/watch?v=i3i1Ne4qyZI" style="font-size:30px;">
                    <i class="fa fa-play-circle-o fa-3x" style="color:white;"></i>
                </a>*@

            </div>


            <div class="row clearfix staff">
                <div class="col-xs-6 col-md-3 column text-center">
                    <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                    <h3 class="" style="color:black">$100 Pay Outs</h3>
                    <span>
                        Build up your cash credit wallet by
                        watching ads for a few minutes a day
                        as part of your daily app routine


                    </span>
                </div>
                <div class="col-xs-6 col-md-3 column text-center">
                    <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                    <h3 class="" style="color:black">Earn More</h3>
                    <span>
                        Advertisers reward you more as you
                        answer more profile questions
                        so that you get targeted better


                    </span>
                </div>
                <div class="col-xs-6 col-md-3 column text-center">
                    <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                    <h3 class="" style="color:black">Play Games</h3>
                    <span>
                        Play brain games and get free coupons
                        redeemable at restaurants, health clubs,
                        hotels etc ...


                    </span>
                </div>
                <div class="col-xs-6 col-md-3 column text-center">
                    <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                    <h3 class="" style="color:black">2 for 1 Deals</h3>
                    <span>
                        Save BIG by trading cash credits
                        for coupons at local outlets,
                        restaurants, beauty salons etc ...




                    </span>
                </div>
            </div>



            <div class="row clearfix text-center inner-top-xs">

              

                <h1 class="main_title">Download the app</h1>

                <a href="#download" class="btn btn-lg btn-black"><span class="fa fa-android"></span> Download App</a>

                <a href="http://mobile.cash4ads.com" class="btn btn-lg btn-black"><span class="fa fa-apple"></span> Coming Soon</a>

            </div>

        </div>
    </div><!-- /container  -->
</section>
<!-- Feature -->
<section id="feature" class="text-blue">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">Advertise your business online or create coupons today !</h2>

            </div>
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <!-- RIGHT COLUMN -->
                    <div class="col-sm-4 col-md-4 column text-center">

                        <!-- #1 -->
                        <div class="item-icon ">
                            <i class="fa fa-bicycle fa-2x"></i>
                        </div>

                        <h3>Target your audience</h3>

                        <p>
                            Run Ad campaigns to people that match
                            your targeting criteria or market segmentation

                        </p>

                        <!-- #2 -->
                        <div class="item-icon ">
                            <i class="fa fa-cubes fa-2x"></i>
                        </div>

                        <h3>
                            Know your reach upfront

                        </h3>

                        <p>
                            Cap your bill and tweak your marketing
                            segmentation count before running campaigns

                        </p>

                        <!-- #3 -->
                        <div class="item-icon ">
                            <i class="fa fa-line-chart fa-2x"></i>
                        </div>

                        <h3>Payless to advertise</h3>

                        <p>
                            No BOTS – 100% real app users who are
                            Securely incentivised to watch your Ads

                        </p>

                    </div>


                    <!-- IPHONE IMAGE -->
                    <div class="col-sm-4 col-md-4 column ">
                        <img alt="iPhone" class="img-responsive" src="~/images/Advert_Phone_1.png" />
                    </div>

                    <!-- LEFT COLUMN -->
                    <div class="col-sm-4 col-md-4 column text-center">

                        <!-- #1 -->
                        <div class="item-icon ">
                            <i class="fa fa-life-ring fa-2x"></i>
                        </div>

                        <h3>Proximity coupons</h3>

                        <p>
                            Create coupons that appear when viewers
                            Enter shopping malls or other places of interest

                        </p>

                        <!-- #2 -->
                        <div class="item-icon ">
                            <i class="fa fa-laptop fa-2x"></i>
                        </div>

                        <h3>Sharing is caring</h3>

                        <p>
                            We reward your target audience with 50% of
                            Your Pay Per Confirmed View (PPCV)

                        </p>

                        <!-- #3 -->
                        <div class="item-icon ">
                            <i class="fa fa-users fa-2x"></i>
                        </div>

                        <h3>Verified video view</h3>

                        <p>
                            You only pay your click rate (PPCV) when your
                            The user correctly answers your video question

                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-12 column ">
                <h2 class="text-center">Happy customers are waiting to watch your Ads !</h2>
                <p class="text-center">Get proactive with your advertising</p>

            </div>
        </div>
    </div> <!-- /container -->
</section>
<!-- end feature -->
<!-- Image -->
<section id="image" class="container-fluid text-blue">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-6 column" style="vertical-align:bottom">
                <img alt="iPhone-5c" class="img-responsive" src="~/images/iPhone-5c.png" />
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 p_title">
                        <h2>
                            Increase your conversions<br /><br />
                            Don’t waste your advertising budget on
                            Intrusive, unqualified and unwanted clicks.


                        </h2>
                        <p class="lead text-left">
                            Reduce your Ad campaign costs by targeting profiles
                            directly and only pay for qualified clicks (PPCV)
                            when your video ad has been watched and your
                            question/survey has been answered correctly.

                        </p>

                    </div>
                    <div class="scroll col-sm-12 col-sm-12 col-md-8">
                        <a href="http://create.cash4ads.com/Account/Register" class="btn btn-lg btn-lead-b ">Get started now</a>


                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</section>
<!-- end image -->
<!-- Testimonial -->
<div id="testimonial" class="container text-blue">

    <div class="row">
        <div class='col-md-12 text-center p_title'>
            <h2>Sharing is caring</h2>
            <p class="lead text-center">Reward your target audience with 50% of your Paid Per Confirmed View (PPCV).</p>
        </div>
    </div>
    <div class='row'>
        <div class=' col-md-12'>
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                    <li data-target="#quote-carousel" data-slide-to="3"></li>
                    <li data-target="#quote-carousel" data-slide-to="4"></li>
                </ol>

                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">

                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_1" class="img-circle" src="~/images/feedback_01.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_2" class="img-circle" src="~/images/feedback_02.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_3" class="img-circle" src="~/images/feedback_03.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 4 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_4" class="img-circle" src="~/images/feedback_01.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 5 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img alt="quote_5" class="img-circle" src="~/images/feedback_02.png" />
                                </div>
                                <div class="col-sm-9">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                    <small>Someone famous</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>

                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- end testimonial -->
