@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section COLOR
{

    <!-- COLOR STYLE CSS -->
    <link rel="stylesheet" href="~/content/sky.css">

}


<!-- Header -->
<section id="header" class="container-fluid text-white">
    <div class="container">
        <div class="row clearfix">

            <div class="row clearfix text-center">

                <h1 class="main_title" style="margin-bottom:0px;">Sharing is caring<br /><br /></h1>

            </div>


            <div class="row clearfix staff">
                <div class="col-xs-12 col-md-5 column text-center">
                    <a href="@Url.Action("advertisers", "Home")">
                        <img class="img-circle" alt="140x140" src="~/images/orange-circle.svg" style="width:100%;position:relative" />

                        <div style="position:absolute;top: 28%;left: 10%;width: 80%;">
                            <h3 class="" style="color:black;font-size:62px;font-style:italic">Advertise for free</h3>
                            <p style="font-size:32px;font-style:italic;color:white">
                                Get started today
                            </p>

                            <i class="fa fa-arrow-right" aria-hidden="true" style=" font-size: 40px;color:black "></i>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-md-2 column text-center">
                    <div class="visible-md visible-lg visible-sm"  style="margin-top:250px;font-size:2em;font-style:italic">or</div>
                    <div class="visible-xs" style="margin-top:8px;font-size:2em;font-style:italic">or</div>
                </div>
                <div class="col-xs-12 col-md-5 column text-center">
                    <a class="scroll-link" href="@Url.Action("get_paid_watch_ads", "Home")">
                        <img class="img-circle" alt="140x140" src="~/images/blue-circle.svg" style="width:100%;position:relative" />
                        <div style="position:absolute;top: 28%;left: 10%;width: 80%;">
                            <h3 class="" style="color:black;font-size:62px;font-style:italic">Get paid to watch ads</h3>
                            <p style="font-size:32px;font-style:italic;color:white">
                                Download the app
                            </p>
                            <i class="fa fa-android" aria-hidden="true" style=" font-size: 40px;color:black "></i><i class="fa fa-apple" aria-hidden="true" style=" font-size: 40px;color:black;margin-left:5px; "></i>
                        </div>
                        </a>
</div>

            </div>



            <div class="row clearfix text-center inner-top-xs">

                <p class="text-center lead" style="color:black;font-style:italic;font-size:33px">
                    We don't do BOTS - people to people advertising platform
                </p>
              
            </div>

        </div>
    </div><!-- /container  -->
</section>