@{
    Layout = null;
}
<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Cash4Ads</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP STYLE -->
    <link rel="stylesheet" href="~/content/bootstrap.min.css">

    <!-- GENERAL STYLE CSS -->
    <link rel="stylesheet" href="~/content/style.css">

    <!-- COLOR STYLE CSS -->
    <link rel="stylesheet" href="~/content/green.css">

    <!-- FLEXSLIDER -->
    <link href="~/content//flexslider.css" rel="stylesheet" />

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="~/content//owl.carousel.css">

    <!-- Default Theme -->
    <link rel="stylesheet" href="~/content//owl.theme.css">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="~/content//magnific-popup.css">

    <script src="~/scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a class="navbar-brand" href="/">Logo</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-navbar-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="scroll-link" href="#how-it-works">Advertisers</a></li>
                    <li><a class="scroll-link" href="#how-it-works">Help Center</a></li>
                    <li><a class="scroll-link" href="#testimonials">Blog</a></li>
                    <li><a class="scroll-link" href="#testimonials">Sign In</a></li>

                </ul>
            </div>
        </div>
    </nav>

   
  
    <!-- Header -->
    <section id="header" class="container-fluid text-white">
        <div class="container">
            <div class="row clearfix">
                <div class="scroll col-md-6 column">
                    <h1 class="text-left">

                        <img src="~/images/White_wallet.svg" style="width:60px;" />
                    </h1>
                    <h1 class="main_title">Earn 20¢ for every Ad you watch.</h1>
                    <p class="text-left lead">
                        We pay directly into your PayPal or Google Wallet account
                        for every ad you watch. Buld up your profile to increase
                        your value and start getting targeted by advertisers today.
                    </p>
                    <a href="#download" class="btn btn-lg btn-submit"><span class="fa fa-android"></span> Download App</a>

                    <a href="#download" class="btn btn-lg btn-submit"><span class="fa fa-apple"></span> Sign up now</a>
                </div>
                <div class="col-md-6 column">
                    <div id="main-slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img class="img-responsive" src="~/images/mockup-iphone6.png" alt="Slide One">
                            </li>
                            <li>
                                <img class="img-responsive" src="~/images/mockup-iphone6_2.png" alt="Slide Two">
                            </li>
                            <li>
                                <img class="img-responsive" src="~/images/mockup-ipad-air.png" alt="Slide Three">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /container  -->
    </section>
    <!-- end header -->
    <!-- Feature -->
    <section id="feature" class="text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column p_title">
                    <h2 class="text-center">Get paid to watch Ads</h2>
                    <p class="text-center lead">Build up your profile and increase your value by playing games and answering surveys</p>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <!-- RIGHT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-bicycle fa-2x"></i>
                            </div>

                            <h3>Profile Builder</h3>

                            <p>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-cubes fa-2x"></i>
                            </div>

                            <h3>Get Paid Online</h3>

                            <p>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-line-chart fa-2x"></i>
                            </div>

                            <h3>Create your own Ads</h3>

                            <p>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>

                        </div>


                        <!-- IPHONE IMAGE -->
                        <div class="col-sm-4 col-md-4 column ">
                            <img alt="iPhone" class="img-responsive" src="~/images/iPhone.png" />
                        </div>

                        <!-- LEFT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-life-ring fa-2x"></i>
                            </div>

                            <h3>Refer a friend - 10%</h3>

                            <p>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-laptop fa-2x"></i>
                            </div>

                            <h3>No Spamming</h3>

                            <p>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-users fa-2x"></i>
                            </div>

                            <h3>Data Privacy</h3>

                            <p>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
    <!-- end feature -->
    <!-- Image -->
    <section id="image" class="container-fluid text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-12 col-md-6 column">
                    <img alt="iPhone-5c" class="img-responsive" src="~/images/iPhone-5c.png" />
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 p_title">
                            <h2>Refer a friend and earn 10% of all their advertising spend - Yey!</h2>
                            <p class="lead text-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis.
                            </p>
                        </div>
                        <div class="scroll col-sm-12 col-sm-12 col-md-8">
                            <a href="#download" class="btn btn-lg btn-lead-b btn-block"><span class="fa fa-money" style="margin-right:10px;"></span>Earn 10% for Life</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
    <!-- end image -->
    <!-- About -->
    <div id="about" class="container text-blue">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">Why not advertise your business the same way - Aha !</h2>
                <p class="lead text-center">Know how many consumers match your filtering criteria before running your Ad campaigns or Marketing Surveys.</p>
            </div>
        </div>
        <div class="row clearfix staff">
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                <h3 class="">Increase Conversions</h3>
                <span>Lead Designer</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                <h3 class="">Lower PPC</h3>
                <span>Lead Designer</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                <h3 class="">Run Surveys</h3>
                <span>Lead Designer</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                <h3 class="">Sponsor Games</h3>
                <span>Lead Designer</span>
            </div>
        </div>
    </div> <!-- container -->
    <!-- end about -->
    <!-- Video -->
    <section id="video" class="container-fluid text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column p_title">
                    <h2 class="text-center">Wow - Target Advertising made easy !</h2>
                    <p class="lead text-center">Cap your bill and know up front how many consumers match your filtering criteria before running Ad campaigns.</p>
                </div>
                <div class="col-md-offset-2 col-md-8 ipad">
                    <a class="popup-vimeo" href="http://player.vimeo.com/video/78554894?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff">
                        <i class="fa fa-play-circle-o fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end vodeo -->
    <!-- Testimonial -->
    <div id="testimonial" class="container text-blue">
        <div class="row">
            <div class='col-md-12 text-center p_title'>
                <h2>Conduct your own Marketing Surveys</h2>
                <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class='row'>
            <div class=' col-md-12'>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>
                        <li data-target="#quote-carousel" data-slide-to="3"></li>
                        <li data-target="#quote-carousel" data-slide-to="4"></li>
                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">

                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_1" class="img-circle" src="~/images/feedback_01.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_2" class="img-circle" src="~/images/feedback_02.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_3" class="img-circle" src="~/images/feedback_03.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 4 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_4" class="img-circle" src="~/images/feedback_01.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 5 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img alt="quote_5" class="img-circle" src="~/images/feedback_02.png" />
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>

                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end testimonial -->
    <!-- Download -->
    <section id="download" class="text-white">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column text-center">
                    <h2 class="text-center">Are you ready for qualified leads ?</h2>
                    <p class="lead text-center">Create Ad campaigns using our powerful profile filtering tools and increase your website conversion rates.</p>
                </div>
                <div class="col-md-12 text-center">
                    <a target="_blank" href="https://wrapbootstrap.com/theme/ultimate-flat-onepage-template-WB0353FX3" class="btn btn-lg btn-lead"><span class="glyphicon glyphicon-pencil"></span> Create an Ad Campaign</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end download -->
    <!-- Screenshot -->
    <div class="container text-blue" id="screenshots">
        <div class="row">
            <div class="col-md-12 p_title">
                <h2 class="text-center">Be disruptive - Become an Affiliate Partner and earn 10%</h2>
                <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="row ">
            <ul id="owl-screenshot" class="owl-carousel text-center">
                <li><img class="" src="~/images/01.jpg" alt="Image" width="240px"></li>
                <li><img class="" src="~/images/02.jpg" alt="Image" width="240px"></li>
                <li><img class="" src="~/images/03.jpg" alt="Image" width="240px"></li>
                <li><img class="" src="~/images/04.jpg" alt="Image" width="240px"></li>
                <li><img class="" src="~/images/05.jpg" alt="Image" width="240px"></li>
                <li><img class="" src="~/images/06.jpg" alt="Image" width="240px"></li>
                <li><img class="" src="~/images/07.jpg" alt="Image" width="240px"></li>
                <li><img class="" src="~/images/08.jpg" alt="Image" width="240px"></li>
            </ul>
        </div>
    </div><!--.container-->
    <!-- end screenshot -->






    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="text-center">Examples of Profiles & Survey Questions</h2>
                <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Age Range</a></li>
                    <li><a href="#" data-filter=".animation">Profession</a></li>
                    <li><a href="#" data-filter=".Business">Lifestyle</a></li>
                    <li><a href="#" data-filter=".art">Travel</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item animation">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/01.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 1</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">
                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


                <div class="portfolio-item Business art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/02.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 2</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">
                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/03.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 3</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/04.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 4</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/05.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/06.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/07.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 7</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/08.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->
    <!-- Social -->
    <section id="social" class="container-fluid text-white">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center ">
                    <ul class="social-icons list-unstyled list-inline">
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook" class="green-tooltip">
                                <div class="social-icon text-center"><i class="fa fa-facebook-official fa-lg"></i></div>
                            </a>
                        </li>

                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter" class="green-tooltip">
                                <div class="social-icon text-center"><i class="fa fa-twitter fa-lg"></i></div>
                            </a>
                        </li>

                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Whatsapp" class="green-tooltip">
                                <div class="social-icon text-center"><i class="fa fa-whatsapp fa-lg"></i></div>
                            </a>
                        </li>

                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram" class="green-tooltip">
                                <div class="social-icon text-center"><i class="fa fa-instagram fa-lg"></i></div>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:author@company.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" class="green-tooltip">
                                <!-- Change to your own email address -->
                                <div class="social-icon text-center"><i class="fa fa-envelope fa-lg"></i></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end social -->
    <!-- Neswsletter -->
    <section id="newsletter" class="container-fluid text-white">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column text-center p_title">

                    <h2>Subscribe Now</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-12 text-center">
                    <form name="contact-form" method="post" action="sendemail.php" class="form-horizontal">
                        <fieldset>

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <input id="email" type="email" name="email" placeholder="Enter Email Here" class="form-control input-lg" required="">
                                </div>
                            </div>


                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="submit"></label>
                                <div class="col-md-12 text-center">
                                    <button id="submit" name="submit" class="btn btn-lg btn-submit btn-wide">Submit</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <p class="text-center text-blue">
                        <small><a href="#">Privacy Policy</a> <a href="#">Terms & Conditions</a></small>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- end newsletter -->

    <script src="~/scripts/jquery-2.1.4.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/scripts/jquery-2.1.4.min.js"><\/script>')</script>

    <script src="~/scripts/bootstrap.min.js"></script>

    <script src="~/scripts/main.js"></script>

    <!-- FLEXSLIDER -->
    <script src="~/scripts/jquery.flexslider-min.js"></script>

    <!-- Include js plugin -->
    <script src="~/scripts/owl.carousel.js"></script>

    <!-- Magnific Popup core JS file -->
    <script src="~/scripts/jquery.magnific-popup.js"></script>

    <!-- Isotope JS file -->
    <script src="~/scripts/jquery.isotope.min.js"></script>


   
</body>
</html>
