@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section COLOR
{

   <!-- COLOR STYLE CSS -->
<link rel="stylesheet" href="~/content/green.css">
}
  
    <!-- Header -->
    <section id="header" class="container-fluid text-white">
        <div class="container">
            <div class="row clearfix">
                <div class="scroll col-md-6 column">
                    <h1 class="text-left">
                        Earn Cash    
                        @*<img src="~/images/White_wallet.svg" style="width:60px;" />*@
                    </h1>
                    <h1 class="main_title">20¢ for every Ad you watch.</h1>
                    <p class="text-left lead">
                        We pay directly into your online Wallet account
                        for every ad you watch.

                    </p>
                    <a href="#download" class="btn btn-lg btn-submit"><span class="fa fa-android"></span> Download App</a>

                    <a href="http://create.cash4ads.com/Account/Register" class="btn btn-lg btn-submit"><span class="fa fa-apple"></span> Sign up now</a>
                </div>
                <div class="col-md-6 column">
                    <div id="main-slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img class="img-responsive" src="~/images/Earn_Slider_1.png" alt="Slide One">
                            </li>
                            <li>
                                <img class="img-responsive" src="~/images/Earn_Slider_2.png" alt="Slide Two">
                            </li>
                            <li>
                                <img class="img-responsive" src="~/images/Earn_Slider_3.png" alt="Slide Three">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /container  -->
    </section>
    <!-- end header -->
    <!-- Feature -->
    <section id="feature" class="text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column p_title">
                    <h2 class="text-center">Get paid to watch targeted Ads</h2>
                    <p class="text-center lead">Increase your value by building up your profile, playing games and answering simple surveys.</p>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <!-- RIGHT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-bicycle fa-2x"></i>
                            </div>

                            <h3>20¢ per Ad</h3>

                            <p>
                                Your data is out there, so why not get paid for it!
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-cubes fa-2x"></i>
                            </div>

                            <h3>Get Paid Online</h3>

                            <p>
                                Set up your PayPal, Apple Pay or Google Wallet.
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-line-chart fa-2x"></i>
                            </div>

                            <h3>Profile Builder</h3>

                            <p>
                                Increase your value and get targeted by advertisers.
                            </p>

                        </div>


                        <!-- IPHONE IMAGE -->
                        <div class="col-sm-4 col-md-4 column ">
                            <img alt="iPhone" class="img-responsive" src="~/images/iPhone.png" />
                        </div>

                        <!-- LEFT COLUMN -->
                        <div class="col-sm-4 col-md-4 column text-center">

                            <!-- #1 -->
                            <div class="item-icon ">
                                <i class="fa fa-life-ring fa-2x"></i>
                            </div>

                            <h3>Refer a Friend</h3>

                            <p>
                                Earn up to 20% of their advertising spend.
                            </p>

                            <!-- #2 -->
                            <div class="item-icon ">
                                <i class="fa fa-laptop fa-2x"></i>
                            </div>

                            <h3>No Spamming</h3>

                            <p>
                                Watch Ads safely within the App or Browser.
                            </p>

                            <!-- #3 -->
                            <div class="item-icon ">
                                <i class="fa fa-users fa-2x"></i>
                            </div>

                            <h3>Data Privacy</h3>

                            <p>
                                Your details are never disclosed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
    <!-- end feature -->
    <!-- Image -->
    <section id="image" class="container-fluid text-blue inner-bottom">
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-12 col-md-6 column">
                    <img alt="Friends" class="img-responsive" src="~/images/friends.png" />
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 p_title">
                            <h2>Refer a friend and earn up to 20% of all their advertising spend - Yey!
</h2>
                            <p class="lead text-left">
                                When you refer a friend or a business and they then advertise on Cash4Ads, you will receive up to 10% of what they spent on their entire Ad campaigns forever.
                            </p>
                            <p class="lead text-left">
                                If all your referrals advertise and reach out to more than 1000 ads per month, then your referral commission gets bumped up to 20% for that month 
                            </p>
                            <p class="lead text-left">
                                Your referrals are automatically linked to your account by the email address you provided, and provided they haven’t already been registered, you’ll see your share of their advertising spend paid in to your monthly statement.

                            </p>
                        </div>
                        <div class="scroll col-sm-12 col-sm-12 col-md-8">
                            <a href="#download" class="btn btn-lg btn-submit"><span class="fa fa-android"></span> Download App</a>

                            <a href="http://create.cash4ads.com/Account/Register" class="btn btn-lg btn-submit"><span class="fa fa-apple"></span> Sign up now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
    <!-- end image -->
    <!-- About -->
    <div id="about" class="container text-blue">
        <div class="row clearfix">
            <div class="col-md-12 column p_title">
                <h2 class="text-center">Businesses make better sense

</h2>
                <p class="lead text-center">Refer businesses that you know to target consumers directly with accurate profile matching.  You’ll help them to increase their conversions  and accelerate your potential commission earning.</p>
            </div>
        </div>
        <div class="row clearfix staff">
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_01.png" />
                <h3 class="">20¢ per Ad</h3>
                <span>Run campaigns with Profile filtering</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_03.png" />
                <h3 class="">Get Targeted</h3>
                <span>Increase your value by building your profile</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_02.png" />
                <h3 class="">Play Games</h3>
                <span>Get Cash rewards for completing sponsored games</span>
            </div>
            <div class="col-xs-6 col-md-3 column text-center">
                <img class="img-circle" alt="140x140" src="~/images/team_04.png" />
                <h3 class="">Refer a Friend</h3>
                <span>Earn up to 20% of their adverting spend</span>
            </div>
        </div>
    </div> <!-- container -->
    <!-- end about -->
    <!-- Video -->
    <section id="video" class="container-fluid text-blue">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column p_title">
                    <h2 class="text-center">Earn cash in your spare time.  </h2>
                    <p class="lead text-center">Whether your at home, travelling or have a few minutes in between meetings, watch Ads and bank that cash.!
                    <br /><br />
You’ll be paid monthly directly into your online wallet – Yey !
</p>
                </div>
                <div class="col-md-offset-2 col-md-8 ipad">
                    <a class="popup-vimeo" href="http://player.vimeo.com/video/78554894?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff">
                        <i class="fa fa-play-circle-o fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end vodeo -->








    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="text-center">Increase your value and watch more Ads</h2>
                <p class="lead text-center">The more profile questions you answer, the more Ads you’ll get to watch.
                <br /><br />
Building up your profile by answering questions and playing games.
                <br /><br />
You can skip questions and your data is never disclosed or shared with third parties.

</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">Hobbies</a></li>
                    <li><a href="#" data-filter=".animation">Profession</a></li>
                    <li><a href="#" data-filter=".Business">Life Style</a></li>
                    <li><a href="#" data-filter=".art">Travel</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item animation">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/01.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 1</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">
                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->


                <div class="portfolio-item Business art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/02.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 2</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">
                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/03.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 3</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/04.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 4</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/05.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/06.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item animation art">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/07.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 7</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/08.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item Business">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="~/images/09.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            <a class="preview" href="~/images/full.jpg">
                                <img src="~/images/expand.png" alt="">

                            </a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->

