         <div data-bind="visible: $root.isAdvertdashboardDealVisible()" style="display: none" class=" col-lg-9 form-horizontal" >
             <div class="main-box main-box-subpage">
                 <div class="row">
                     <div class="adsubHeading Theme_standard_clr borderbtmline">
                         <br />
                         Deal group timeline
                     </div>
                 </div>
                 <div>
                     <div class="col-lg-6"></div>
                     <div class="col-lg-6">
                         <select class="form-control margin10 pull-left" style="width:43%!important;" id="ddGranularityDropDown" data-bind="options: $root.granularityDropDown, optionsText: 'name', optionsValue: 'id', value:$root.selectedGranularityAnalytics, event: { change: $root.getDealsAnalytics }"></select>
                         <select class="form-control margin10 pull-left" style="width:43%!important;" id="ddDateRangeDropDown" data-bind="options: $root.DateRangeDropDown, optionsText: 'name', optionsValue: 'id', value:$root.selecteddateRangeAnalytics, event: { change: $root.getDealsAnalytics }"></select>

                     </div>

                 </div>

                 <div class="row main-box">
                     <div class="col-lg-12">
                         <div class=" margin10">
                             <div class="margin-Top-30" data-bind="morris: {type: 'Line', data: $root.DealsAnalyticsData, xkey: 'Granual', ykeys: ['openStats', 'ConvrsionStats'], labels: ['Total Impressions', 'Referred'], parseTime:false, setAxisAlignFirstX: true, lineColors: ['blue','red'] }"></div>
                            
                         </div>
                     </div>

                 </div>
                 <div class="row">
                     <div class="adsubHeading Theme_standard_clr borderbtmline">
                         <br />
                         Deal group campaign by opened vs conversion
                     </div>
                 </div>

                 <div class="row main-box">

                     <div class="col-lg-7">
                         <div class="margin-Top-30" data-bind="morris: {type: 'Donut', data: $root.CampaignRatioAnalyticData, resize:true }" style="width:400px;height:400px;"></div>
                         <!--ko if: $root.selecteddateRangeAnalytics() == 1 -->
                         <div>Date range : Last 30 days </div>
                         <!--/ko-->
                         <!--ko if: $root.selecteddateRangeAnalytics() == 2 -->
                         <div>Date range : All time </div>
                         <!--/ko-->
                     </div>
                     <div class="col-lg-5">
                         <span style="margin-top:70px;">Listing Expiry Date : </span>
                         <span data-bind="text:$root.dealExpirydate"> </span>
                     </div>
                 </div>
                 <div class="clearfix">
                 </div>
                 <div class="clearfix">
                 </div>
             </div>

        </div>


