         <div data-bind="visible: $root.isAdvertdashboardDealVisible()" style="display: none" class=" col-lg-9 form-horizontal" >
             <div class="main-box main-box-subpage">
                 <div class="row">
                     
                         <br />
                     <div class="col-lg-6 adsubHeading Theme_standard_clr borderbtmline" style="padding-bottom:10px;">
                         Group timeline
                     </div>
                         <div class="col-lg-3 adsubHeading Theme_standard_clr borderbtmline" style="padding-bottom:10px;">
                             <label class="control-label text-right tooltip-float floatNone defaultThemeTxtClr defaultImgUploadImageBtn" >Date range </label> 
                             </div>
                     <div class="col-lg-3 adsubHeading Theme_standard_clr borderbtmline" style="padding-bottom:2px;">
                         <select class="form-control"  id="ddDateRangeDropDown" data-bind="options: $root.DateRangeDropDown, optionsText: 'name', optionsValue: 'id', value:$root.selecteddateRangeAnalytics, event: { change: $root.getDealsAnalytics }"></select>
                     </div>
                        
                        
                     
                 </div>
                 <div>
                     <div class="col-lg-6"></div>
                     <div class="col-lg-3">
                         <label class="control-label text-right tooltip-float floatNone defaultThemeTxtClr defaultImgUploadImageBtn">Granularity level </label> 
                         </div>
                     <div class="col-lg-3">
                         <select class="form-control margin10 pull-left" id="ddGranularityDropDown" data-bind="options: $root.granularityDropDown, optionsText: 'name', optionsValue: 'id', value:$root.selectedGranularityAnalytics, event: { change: $root.getDealsAnalytics }"></select>


                     </div>

                 </div>

                 <div class="row main-box">
                     <div class="col-lg-12">
                         <div class=" margin10">
                             <div style="height:150px;" data-bind="morris: {type: 'Line', data: $root.DealsAnalyticsData, xkey: 'Granual', ykeys: ['openStats', 'ConvrsionStats'], labels: ['Opened', 'Click thru'], yLabelFormat: function(y){return y != Math.round(y)?'':y;} , parseTime:false, setAxisAlignFirstX: true, lineColors: ['blue','green'] }"></div>
                            
                         </div>
                     </div>

                 </div>
                 <div class="row">
                     <div class="adsubHeading Theme_standard_clr borderbtmline">
                         <br />
                         Group campaign by opened vs conversion
                     </div>
                 </div>

                 <div class="row main-box">
                     <div class="col-lg-3">
                         <!--ko if: $root.selecteddateRangeAnalytics() == 1 -->
                         <div>Date range : Last 30 days </div>
                         <!--/ko-->
                         <!--ko if: $root.selecteddateRangeAnalytics() == 2 -->
                         <div>Date range : All time </div>
                         <!--/ko-->
                       
                     </div>
                     <div class="col-lg-9">
                        
                         <div data-bind="morris: {type: 'Donut', data: $root.CampaignRatioAnalyticData, resize:true, colors: ['green', 'blue' ] }" style="width:250px;height:250px;cursor:pointer;"></div>
                         
                     </div>
                     @*<div class="col-lg-5">
                         <span style="margin-top:70px;">Listing Expiry Date : </span>
                         <span data-bind="text:$root.dealExpirydate"> </span>
                     </div>*@
                 </div>
                 <div class="clearfix">
                 </div>
                 <div class="clearfix">
                 </div>
             </div>

        </div>


