@{
    ViewBag.Title = "Store Details";
}
<div data-bind="visible: $root.isEditorVisible()" style="display: none">
    <div class="col-lg-12">
        @*<div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="#" class="my-navigator">Home</a></li>
                        <li><a href="#" class="my-navigator" >Ad Campaign Approval</a></li>
                    </ol>

                </div>
            </div>*@
        <div class="row" id="user-profile">
            <div class="col-lg-12 col-md-8 col-sm-8" style="padding-bottom: 10px;">
                <div class="clearfix ">
                    <div class="col-xs-12" style="text-align: right; padding-right:23px;margin-bottom:3px;margin-top:10px;">
                        <div style="float:right;margin-top:-9px;"><img data-bind="click: $root.closeEditDialog" src="/Content/Images/Close_Button.png" style="width:20px;height:20px;float:right;cursor:pointer;"></div>
                        @*<button class="btn btn-default" id="saveBtn" data-bind="click:$root.closeEditDialog">Close</button>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:8px;padding-right:41px;">
                <div class="main-box clearfix" id="tabsHeader">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs" style="display:none;">
                            <li class="active" id="generalInfoTab"><a href="#tab-generalinfo" data-toggle="tab">General Info</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-generalinfo">
                                <div class="col-lg-12 form-horizontal">
                                    <h3 class="group-header" style="margin-top:20px;">
                                        Approve - Reject Deal
                                    </h3>
                                    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom:20px" data-bind="with:$root.selectedCompany">
                                        <div style="padding-left:0px;padding-right:0px;padding-bottom:5px; min-height: 318.90px;background-color:#f9f9f9;">
                                            <div class="col-lg-4 text-left">
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4">
                                                        <label class="control-label" style="padding-top:10px;padding-left:10px;font-weight:bold">Account Profile</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Title:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:FirstName" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">E-mail address:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:Email" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Gender:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:Gender==1?'Male':'Female'" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right" style="font-size:11px">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Mobile no:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:Mobile" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right" style="font-size:11px">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Date of birth:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="dateString:DateOfBirth,datePattern: 'DD/MM/YYYY'" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">ID no:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:PassportNumber" style="font-size:small"></label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-4 text-left">
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:10px;padding-left:10px;font-size:11px;font-size:11px;color:lightgray">Business Name:</label>
                                                    </div>
                                                    <div class="col-lg-8" style="padding-top:10px;">
                                                        <label data-bind="text:CompanyName" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;font-size:11px;color:lightgray">Website:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <a data-bind="text:WebsiteLink,attr: { href: WebsiteLink }" target="_blank" style="font-size:11px"></a>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;font-size:11px;color:lightgray">Sale phone no:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:SalesPhone" style="font-size:small"></label>
                                                    </div>
                                                </div>

                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Company Type:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:$root.company()" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;font-size:11px;font-size:11px;color:lightgray">Company Reg No:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:CompanyRegistrationNo" style="font-size: small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Sales Tex No:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:VatNumber" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">B.Start Date:</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label data-bind="dateString:BusinessStartDate,datePattern: 'DD/MM/YYYY'" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Credit Card:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:StripeCustomerId==null ?'No':'Yes'" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 text-left">
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-6">
                                                        <label class="control-label" style="padding-top:10px;padding-left:10px;font-weight:bold">Billing Address</label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing Address 1:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:BillingAddressLine1" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing City:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:BillingCity" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing State:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:BillingState" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing Country:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label style="font-size:small" data-bind="text:BillingCountryName"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing E-mail:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:BillingEmail" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing phone no:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label data-bind="text:BillingPhone" style="font-size:small"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class=" col-lg-4 text-right">
                                                        <label style="font-size:11px;color:lightgray">Logo:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <img id="vehicleImage" alt="" style="width:60%;height:auto" data-bind="attr:{src:Logo!=null && Logo.startsWith('http') ? Logo : '/' + Logo }" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-bind="with: $root.selectedCoupon">
                                        <div class="col-lg-12">
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float">Deal Title</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" readonly class="form-control" data-bind="value:title">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 marginBottom12" style="margin-bottom:0px;display:none">
                                                <div class="col-md-6">
                                                    <label>Logo</label>
                                                    <img id="vehicleImage" alt="" style="width: auto;height:80px" data-bind="attr:{src:logoUrl()}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-2">

                                            </div>
                                            <div class="col-lg-12" style="margin-top:20px; margin-left:80px;">
                                                <div class="col-lg-9 borderPanel " style="margin-bottom:20px;">
                                                    <header class="main-box-header clearfix" style="padding-right:0px;padding-left:0px">

                                                        <div class="filter-block pull-left">
                                                            <div class="pull-left">
                                                                <span>Deal headlines</span>
                                                            </div>
                                                            <div class="pull-right" style="margin-left:17px;">
                                                                <span>All deal lines are listed inside the group deal listing.<br />Create upto 20 deal lines in order of appearer of appearance.</span>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>

                                                    </header>
                                                    <div class="clearfix">
                                                        <div class="table-responsive">
                                                            <table id="subCategoriesTable" class="table table-striped table-hover">
                                                                <thead>
                                                                    <tr>

                                                                        <th class="col-lg-4 GridHeaderFont_size" style="padding-left:7px;"><span>Deal Headline</span></th>
                                                                        <th class="col-lg-2 GridHeaderFont_size"> <span>Now&nbsp;<span data-bind="text:$root.currencyCode"></span><span></span></span></th>
                                                                        <th class="col-lg-1 GridHeaderFont_size"> <span>Was&nbsp;<span data-bind="text:$root.currencyCode"></span></span></th>
                                                                        <th class="col-lg-2 GridHeaderFont_size"> <span>Url<span></span></span></th>
                                                                        <th class="col-lg-2 GridHeaderFont_size"> <span>Expiry<span></span></span></th>
                                                                    
                                                                        @*<th class="col-lg-1"></th>
                                                                        <th class="col-lg-2">&nbsp;</th>*@

                                                                    </tr>
                                                                </thead>
                                                                <tbody data-bind="foreach: $root.couponsPriceOption">
                                                                    <tr>

                                                                        <td data-bind="text: Description"></td>
                                                                        <td data-bind="text: Price"></td>
                                                                        <td data-bind="text: Savings"></td>
                                                                        <td data-bind="text: URL"></td>
                                                                        <td data-bind="dateString:ExpiryDate,datePattern: 'DD/MM/YYYY'"></td>
                                                                       
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        @*<div class="col-lg-9">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float">Deal Title</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" readonly class="form-control" data-bind="value:title">
                                                    </div>
                                                </div>
                                            </div>*@
                                        <div class="col-lg-9">
                                            <div class="form-group" style="display:none">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Deal listing mode</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:couponListingMode">
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-lg-9 marginBottom12">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float">Logo</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:150px;width:300px;" data-bind="attr:{src:logoUrl()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                            </div>*@
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-campaign-left  Float-Left">
                                                        <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Deal Group</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 text-right" style="display:none">
                                                    <label class="control-label text-right tooltip-float">Deal Summary</label>
                                                </div>
                                                <div class="col-lg-6" style="display:none">
                                                    <textarea readonly class="form-control" rows="4" style="resize:none" data-bind="value:redeemLine2"></textarea>
                                                    @*<input type="text" readonly class="form-control" data-bind="value:highlight1">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Highlights</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <textarea readonly class="form-control" rows="4" style="resize:none" data-bind="value:highlight1"></textarea>
                                                    @*<input type="text" readonly class="form-control" data-bind="value:highlight2">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="form-group" style="display:none">
                                                    <div class="col-lg-4 text-campaign-left  Float-Left">
                                                        <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Fine print & Redeem</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Fine Print</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <textarea readonly class="form-control" rows="4" style="resize:none" data-bind="value:printLine1"></textarea>
                                                    @*<input type="text" readonly class="form-control" data-bind="value:printLine1">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Highlight # 3</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:highlight3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Highlight # 4</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:highlight4">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Highlight # 5</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:highlight5">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Currency Symbol</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:currencyId">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Price</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:price">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Saving</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:savings">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Submission Date</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    @*<input type="text" readonly class="form-control" data-bind="value:expireDate">*@
                                                    <label class="form-control" data-bind="dateString:submissionDate,datePattern: 'DD/MM/YYYY'">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-campaign-left  Float-Left">
                                                    <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Listing & Keywords</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Deal Categories</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:categories">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Deal Search Keywords</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    @*<input type="text" readonly class="form-control" data-bind="value:coSearchKeywords">*@
                                                    <textarea readonly class="form-control" style="resize:none" data-bind="value:coSearchKeywords"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style=" display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Deal can be issued</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:couponQtyPerUser">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style=" display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Month any year to list this coupon</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:coMonthYear">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Fine print # 2</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:printLine2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Fine print # 3</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:printLine3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Fine print # 4</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:printLine4">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Fine print # 5</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:printLine5">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">How to redeem # 1</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:redeemLine1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">How to redeem # 2</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:redeemLine2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">How to redeem # 3</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:redeemLine3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">How to redeem # 4</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:redeemLine4">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">How to redeem # 5</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:redeemLine5">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-campaign-left  Float-Left">
                                                        <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Slider Images</label>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:couponImage1()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:couponImage2()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:couponImage3()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:couponImage4()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:couponImage5()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:couponImage6()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-campaign-left  Float-Left">
                                                    <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Call for action options</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Landing Page Url</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:buyitLandingPageUrl">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Button Label</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:buyItBtnLabel">
                                                </div>

                                                <div class="col-lg-1">
                                                    <a id="displayBrabchlocatuion" target="_blank" data-bind="attr: { href: buyitLandingPageUrl }" style="padding: 4px 8px;" class="btn btn-primary">
                                                        <i class="fa fa-lg"></i>&nbsp;Open Link
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9" style="display:none">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Branch Title</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:locationTitle">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-campaign-left  Float-Left">
                                                        <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Branch Address</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 text-right">
                                                    <label style="display:none" class="control-label text-right tooltip-float">Branch Address</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label id="lblAddressline1" data-bind="text:locationLine1"></label>
                                                    @*<input type="text" readonly class="form-control" data-bind="value:printLine1">*@
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="col-lg-9">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float">Branch Address</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label id="lblAddressline1" data-bind="value:locationLine1"></label>
                                                        <input type="text" readonly class="form-control" data-bind="value:locationLine1">
                                                    </div>
                                                </div>
                                            </div>*@
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-4 text-right">
                                                    <label style="display:none" class="control-label text-right tooltip-float">optional</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <lable id="lbloptional" data-bind="text:locationLine2"></lable>
                                                    @*<input style="display:none" type="text" readonly class="form-control" data-bind="value:locationLine2">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-4 text-right">
                                                    <label style="display:none" class="control-label text-right tooltip-float">City</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <lable id="lblcity" data-bind="text:locationCity"></lable>
                                                    @*<input style="display:none" type="text" readonly class="form-control" data-bind="value:locationCity">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-4 text-right">
                                                    <label style="display:none" class="control-label text-right tooltip-float">State</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <lable id="lblState" data-bind="text:locationState"></lable>
                                                    @*<input type="text" readonly class="form-control" data-bind="value:locationState">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-4 text-right">
                                                    <label style="display:none" class="control-label text-right tooltip-float">Zip</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <lable id="lblZip" data-bind="text:locationZipCode"></lable>
                                                    @*<input type="text" readonly class="form-control" data-bind="value:locationZipCode">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-4 text-right">
                                                    <label style="display:none" class="control-label text-right tooltip-float">Geo location Lat</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <lable id="lblLat" data-bind="text:locationLAT"></lable>
                                                    @*<input type="text" readonly class="form-control" data-bind="value:locationLAT">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-4 text-right">
                                                    <label style="display:none" class="control-label text-right tooltip-float">Geo location Long</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <lable id="lblLong" data-bind="text:locationLON"></lable>
                                                    @*<input type="text" readonly class="form-control" data-bind="value:locationLON">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label style="display:none" class="control-label text-right tooltip-float">Phone no</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <lable id="lblPhone" data-bind="text:locationPhone"></lable>
                                                    @*<input type="text" readonly class="form-control" data-bind="value:locationPhone">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div style="padding-left:0px;padding-right:0px;padding-bottom:5px;padding:15px; min-height: 128.90px;background-color:#f9f9f9">
                                                <div class="col-lg-9">
                                                    <div class="form-group">
                                                        <div class="col-lg-4 text-right">
                                                            @*<div class="bs-example-tooltips tooltip-float-width">
                                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="Facebook URL for social media icons displayed on the store (https://www.facebook.com/MyPrintCloud)" data-original-title="" title="">
                                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                                    </a>
                                                                </div>*@
                                                            <label class="control-label text-right tooltip-float">Rejection Reason</label>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <textarea placeholder="Enter rejection reason " style="resize: none" data-bind="value:rejectedReason" class="form-control"></textarea>
                                                            @*<input type="text" placeholder="Enter rejection reason " data-bind="value:rejectedReason" class="form-control">*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="form-group">
                                                        <div class="col-lg-4 text-right">

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button class="btn  btn-success" id="saveBtn" data-bind="click:$root.onApproveCoupon,visible:rejectedReason()==null ||rejectedReason()==''">Approve</button>
                                                            <button class="btn " id="saveBtn" data-bind="click:$root.onRejectCoupon,enable: $root.hasChangesOnCoupon, css: { ' btn-danger': $root.hasChangesOnCoupon }">Reject</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
