@{
    ViewBag.Title = "Cash4ads.com - CouponReview";
    string adminClasses = "";
    string userClasses = "";
}
@if (!User.IsInRole("User"))
{
    userClasses = "displayNone";
}
else
{
    adminClasses = "displayNone";
}


<div class="row" id="Heading_div">
    <div class="col-lg-12 padding0px" style="padding-left: 0px;">
        <div style="width:181px;" class="pull-left">

            <label id="headlabel" class="home_pagefontsize" style="font-size:24px!important;color:#fff!important;margin-top:7px;">Manage Reviews</label>

        </div>
        <div style="width:5px;">

        </div>

        <div style="width:971px" class="pull-left">
            <label id="headdesc" class="fontitalic" style="color:#fff;font-size:14px;margin-top:17px;margin-left:10px;">Publish or hide deal reviews.</label>
            <img class="pull-right closecls" src="~/Content/Images/Close_Button.png" style="margin-top:15px;" onclick="GotoHome();" />
            <div class="clearfix"></div>
        </div>
        <div class="clearfix;"></div>
    </div>
</div>



<div class="row" id="couponReviewBindingRoot" style="margin-top: 5px;">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12" style="padding-left:0px;padding-right:9px;">
                <div class="row ">

                    <div class="col-sm-4" style="text-align:right !important;">
                    </div>
                </div>
                <div class="filter-body" id="filter">

                    <div class="row">
                        <form>
                            <div class="col-sm-2 filterbloclkspos" style="float:left;">
                                <select class="form-control" style="float:right;height:36px;" id="selectStatus" data-bind="value : status, event:{ change: $root.getCouponReviews}">
                                    <option value="1">To Be Reviewed</option>
                                    <option value="2">Published</option>
                                    <option value="3">Hide</option>
                                </select>
                            </div>
                        </form>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
                <div class="margintop13">
                    <div class="col-lg-12" style="margin-left:-7px;">
                        <div class="main-box no-header clearfix" style="padding-top:0px;margin-right:-15px;">
                            <div class="main-box-body clearfix" style="padding-left:20px;padding-right:22px;">
                                <div class="tabsdescriptions" style="margin-left:0px;">
                                    <p class="group-header-description"></p>
                                </div>
                                <div class="table-responsive" style="margin-right:-4px;">
                                    <table class="table table-striped table-hover" id="couponReviewTable">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-2">
                                                    <span class="GridHeaderFont_size"></span>
                                                </th>
                                                <th class="col-sm-2">
                                                    <span class="GridHeaderFont_size">

                                                    </span>
                                                </th>
                                                <th class="col-sm-2">
                                                    <span class="GridHeaderFont_size">Preview Text</span>
                                                </th>
                                                <th class="col-sm-2">
                                                    <span class="GridHeaderFont_size">Date</span>
                                                </th>
                                                <th class="col-sm-1">
                                                    <span class="GridHeaderFont_size">Action</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- ko template: { name: 'advertsTemplate',foreach:couponReview } -->
                                            <!-- /ko -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="pagerDivForStore" class="pull-right">
                            <!-- ko with: pager -->
                            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-3" style="float:left;">
        </div>
        <div class="col-lg-2 col-sm-2" style="float:left;">
        </div>
    </div>
</div>

<script id="advertsTemplate" type="text/html">
    <tr style="cursor: pointer">
        <td class="col-sm-2">
            <img style="border-radius:50px" height="80" width="80" />
        </td>
        <td class="col-sm-2">
            <span data-bind="text:fullName"></span>
        </td>

        <td class="col-sm-4">
            <span data-bind="text:review"></span>
        </td>
        <td class="col-sm-2">
            <span data-bind="dateString:reviewDate,datePattern: 'DD/MM/YYYY'"></span>
        </td>                                                                                   
        <td class="col-sm-2">
            <button class="btn  btn-success" data-bind="visible:status()==1||status()==3,click: $root.onPublishCoupon" id="saveBtn">Publish</button>
            <button class="btn btn-danger " style="margin-left:10px;" data-bind="visible:status()==1||status()==2,click: $root.onhideCoupon" id="saveBtn">Hide</button>
        </td>
    </tr>

</script>
<script>
    $("#deal_heading").css("cssText", "color:#fff!important;");

    $("#main_btnPannels").css("display", "none");
    $("#MarketobjDiv").css("display", "none");
    $(".hideInCoupons").css("display", "none");


</script>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section Scripts{
    <script src="~/Scripts/jquery.tokenize.js"></script>
    <script type="text/javascript">
        require(["Coupons/couponReview.view", "common/confirmation.view"]);
        $("#panelArea").css("display", "block");
        $("#main_btnPannels").css("display", "none");
        $("#MarketobjDiv").css("display", "none");
        $(".hideInCoupons").css("display", "none");
        $("#topArea").css("display", "none");
        $("#divApprove").css("display", "none");
        $(".dash_slide_panel").css("display", "none");
    </script>
    <script>
        function PageScroll() {
            $('html, body').animate({ scrollTop: 0 }, 800);

        }

    </script>
}
