@{
    ViewBag.Title = "Cash4ads.com - Deals";
    string adminClasses = "";
    string userClasses = "";
}

@if (!User.IsInRole("User"))
{
    userClasses = "displayNone";
}
else
{
    adminClasses = "displayNone";
}

<div class="row" id="Heading_div">
    <div class="col-lg-12" style="padding-left: 0px;">
        <div style="width:201px;" class="pull-left">

            <label id="headlabel" class="home_pagefontsize" style="font-size:24px!important;color:#fff!important;margin-top:7px;">Post deals for free</label>

        </div>
        <div style="width:5px;">

        </div>

        <div style="width:600px" class="pull-left">
            <label id="headdesc" style="color:#fff;font-size:14px;margin-top:17px;">Use short and inspiring titles that state your deal clearly.</label>
        </div>
        <div class="clearfix;"></div>
    </div>
</div>

        @*<div class="row filter-body" id="HeadlinesDiv" style="margin-top:5px;display:none;">
            <div class="col-lg-12">

                <div class="no-header clearfix  form-horizontal">
                    <div class="row">
                        <label style="font-size:18px;">Group & post your deals</label>
                    </div>

                    <div class=" col-lg-8">
                        <div class="col-lg-2" style="text-align:right;">
                            <label>Slider Images</label>
                        </div>
                        <div class="col-lg-2" style="padding:0px;">
                            <div style="margin-top:5px;    text-align: center;cursor:pointer;">

                                <img style="height:70px;" data-bind="visible: couponImage1() != '' ,attr: { src: couponImage1 }" id="bannerImage1" data-toggle="modal" data-target="#damModel" onclick="changeIframeSrc(2)" src="/images/default-placeholder.png">
                                <div style="    padding-top: 10px;    text-align: center;    font-size: 12px;    color: gray;display:none;">
                                    (450 x 300 pixels)
                                </div>
                            </div>
                            <br>
                            <div class="fileUpload btn btn-primary" style="display:none;">
                                <span>Upload </span>
                                <input type="file" class="upload" id="campaignType_image_file1" data-bind="files: { onLoaded: $root.couponImage1Callback, fileFilter: 'image.*'}">
                            </div>
                        </div>

                        <div class="col-lg-2" style="padding:0px;">
                            <div style="margin-top:5px;    text-align: center;cursor:pointer;">

                                <img style="height:70px;" data-bind="visible: CouponImage2() != '' &amp;&amp; CouponImage2() != null ,attr: { src: CouponImage2 }" data-toggle="modal" data-target="#damModel" id="bannerImage2" onclick="changeIframeSrc(3)" src="/images/default-placeholder.png">
                                <div style=" display:none;   padding-top: 10px;    text-align: center;    font-size: 12px;    color: gray;">
                                    (450 x 300 pixels)
                                </div>
                            </div>
                            <br>
                            <div class="fileUpload btn btn-primary" style="display:none;">
                                <span>Upload </span>
                                <input type="file" class="upload" id="campaignType_coupon_file2" data-bind="files: { onLoaded: $root.CouponImage2Callback, fileFilter: 'image.*'}">
                            </div>
                        </div>
                        <div class="col-lg-2" style="padding:0px;">
                            <div style="margin-top:5px;    text-align: center;cursor:pointer;">

                                <img style="height:70px;" data-bind="visible: CouponImage3() != '' &amp;&amp; CouponImage3() != null,attr: { src: CouponImage3 }" id="bannerImage3" data-toggle="modal" data-target="#damModel" onclick="changeIframeSrc(4)" src="/images/default-placeholder.png">
                                <div style="display:none;    padding-top: 10px;    text-align: center;    font-size: 12px;    color: gray;">
                                    (450 x 300 pixels)
                                </div>
                            </div>
                            <br>
                            <div class="fileUpload btn btn-primary" style="display:none;">
                                <span>Upload </span>
                                <input type="file" class="upload" id="campaignType_coupon_file3" data-bind="files: { onLoaded: $root.CouponImage3Callback, fileFilter: 'image.*'}">
                            </div>
                        </div>
                        @*<div class="col-lg-2">
                                <label for="txtVerifyAnswer1" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn">Upload Logo</label>
                            </div>
                        <div class="col-lg-3" style="padding:0px;">
                            <div style="float:left;">
                                <label for="txtVerifyAnswer1" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn">Logo</label>

                            </div>


                            <div style="float:right;padding-right:8px;">

                                <div style="margin-top:5px;    text-align: center;cursor:pointer;">


                                    <img style="    margin-left: 24px;height:70px;" data-bind="visible: LogoImageBytes() != '' &amp;&amp;  LogoImageBytes() != null ,attr: { src: LogoImageBytes() }" id="imgLogo" data-toggle="modal" data-target="#damModel" onclick="changeIframeSrc(1)" src="/images/default-placeholder.png">
                                    <div style="    padding-top: 10px;padding-left:24px;    text-align: center;    font-size: 12px;    color: gray;">
                                        (300 x 150 pixels)
                                    </div>
                                </div>
                                <br>
                                <div class="fileUpload btn btn-primary" style="display:none;">
                                    <span data-toggle="modal" data-target="#damModel" onclick="changeIframeSrc(1)">Upload </span>

                                </div>
                            </div>

                            <div style="clear:both"></div>

                        </div>

                    </div>

                    <div class=" col-lg-8">
                        <div class="col-lg-2">
                            <label style="text-align:right">Group headlines</label>
                        </div>
                        <div class="col-lg-6" style="padding-left:24px;">
                            <textarea maxlength="32" style="height:34px;width:317px!important;" name="Coupon Display Name" class="form-control  " id="txtCampaignDisplayName" placeholder="Deal title (32 characters)" data-bind="value: CouponTitle,click: $root.selectJobDescription"></textarea>

                        </div>

                    </div>

                </div>
            </div>
        </div>*@
        


        <div class="row" id="CouponsBinding" style="margin-top: 5px;">
            <div class="col-lg-12" data-bind="visible: $root.isListVisible()">

                <div class="row">
                    <div class="col-lg-12" style="padding-left:0px;padding-right:0px;">
                        <!-- ko template: { name: 'filterTemplate' } -->
                        <!-- /ko -->
                        <div class="margintop13" data-bind="visible: $root.campaignGridContent().length > 0">
                            <div class="main-box no-header clearfix" style="padding-top:0px;">
                                <div class="main-box-body clearfix" style="padding-left:20px;padding-right:22px;">
                                    <div class="tabsdescriptions" style="margin-left:0px;">
                                        <p class="group-header-description"></p>
                                    </div>
                                    <div class="table-responsive" style="margin-right:-4px;">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="col-sm-3"><span class="GridHeaderFont_size">Deal Group</span></th>
                                                    <th class="col-sm-2">
                                                        <span class="GridHeaderFont_size">
                                                            Deals in group
                                                        </span>
                                                    </th>
                                                    <th class="col-sm-2" style="display:none;">
                                                        <span class="GridHeaderFont_size">
                                                            Participating Branches
                                                        </span>
                                                    </th>
                                                    <th class="col-sm-1">
                                                        <span class="GridHeaderFont_size">Viewed</span>
                                                    </th>
                                                    <th class="col-sm-1">
                                                        <span class="GridHeaderFont_size">Referred</span>
                                                    </th>
                                                    <th class="col-sm-1">
                                                        <span class="GridHeaderFont_size" style="display:none;">Redeemed</span>
                                                    </th>
                                                    <th class="col-sm-1"><span class="GridHeaderFont_size">Status</span></th>
                                                    <th class="col-sm-1"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- ko template: { name: 'advertsTemplate' , foreach: $root.campaignGridContent } -->
                                                <!-- /ko -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="pagerDivForStore" class="pull-right">
                                <!-- ko with: pager -->
                                @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                <!-- /ko -->
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                        <div data-bind="visible: $root.campaignGridContent().length == 0" style="display:none;">
                            <div class="main-box no-header clearfix" style="padding:20px;">
                                No coupon found.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3 col-sm-3" style="float:left;">

                    </div>
                    <div class="col-lg-6 col-sm-6" style="float:left;padding-left:50px; display:none;">
                        <button class="btn  btn-success btnAdsCampaign" style="width:24%;float:left;padding:0px;" id="btnSubmitForApproval" data-bind="click:$root.ShowCouponPromotions">Deal</button>
                        <button class="btn  btn-success btnAdsCampaign @adminClasses" style="width:24%;float:left;padding:0px;" id="btnSubmitForApproval" data-bind="click:gotoManageUsers">Manage Users</button>
                        <button class="btn  btn-success btnAdsCampaign" style="width:24%;float:left;padding:0px;" id="btnSubmitForApproval" data-bind="click:gotoProfile">Marketing Info</button>
                    </div>

                    <div class="col-lg-2 col-sm-2" style="float:left;">
                    </div>
                </div>
            </div>
            @{
                Html.RenderPartial("~/Areas/Coupons/Views/Coupons/ManageCoupon.cshtml");
            }
        </div>
        <script id="advertsTemplate" type="text/html">
            <tr style="cursor: pointer">
                <td class="col-sm-4">
                    <a href="#" class="store-user-link" data-bind="text: CouponTitle,click:$root.onEditCampaign"></a>
                </td>
                <td class="col-sm-2">
                    <span data-bind="text: ApprovalDateTime"></span>
                </td>
                <td class="col-sm-2" style="display:none;">
                    <span>Special Branches : 1</span>
                </td>
                <td class="col-sm-2">
                    <span data-bind="text: CouponViewCount"></span>
                </td>
                <td class="col-sm-2">
                    <span data-bind="text: CouponIssuedCount"></span>
                </td>
                <td class="col-sm-1">
                    <span style="display:none;" data-bind="text: CouponRedeemedCount"></span>
                </td>
                <td class="col-sm-2">
                    <!-- ko if: Status() === 1-->
                    <div class="text-left statusbg" style="background:#6D6EFA;width:125px;">
                        <span>
                            Draft
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: Status() === 2-->
                    <div class="text-left statusbg" style="background:#fc0; width: 125px;">
                        <span>
                            Pending Approval
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if:  Status() === 3-->
                    <div class="text-left statusbg" style="background:#37c675;    width: 125px;">
                        <span>
                            Live
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: Status() === 4-->
                    <div class="text-left statusbg" style="background:#fd008e; width: 125px;">
                        <span>
                            Paused
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: Status() === 5-->
                    <div class="text-left statusbg" style="background:#c8e392; width: 125px;">
                        <span>
                            Completed
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: Status() === 6-->
                    <div class="text-left statusbg" style="background:red; width: 125px;">
                        <span>
                            Approval Rejected
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: Status() === 7-->
                    <div class="text-left statusbg" style="background:red; width: 125px;">
                        <span>
                            Remove
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: Status() === 8-->
                    <div class="text-left statusbg" style="background:#fc0; width: 125px;">
                        <span>
                            Completed
                        </span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: Status() === 9-->
                    <div class="text-left statusbg" style="background:red; width: 125px;">
                        <span>
                            Archived
                        </span>
                    </div>
                    <!-- /ko -->
                </td>


                <td class="col-sm-1">
                    <!-- ko if: Status() == 1 ||  Status() == 4|| Status() ==  6-->
                    <a class="table-link danger" style="float: right" >
                        <span class="fa-stack" style="height:1em;">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse" data-bind="click:$root.terminateCampaign"></i>
                        </span>
                    </a>
                    <!-- /ko -->
                    &nbsp;
                </td>

            </tr>
        </script>
        @* Filter Template *@
        <script id="filterTemplate" type="text/html">
            <!-- heading-->
            <div class="row ">


                <div class="col-sm-4" style="text-align:right !important;">

                </div>

            </div>
            <div class="filter-body" id="filter">
                <div class="row" style="display:none;">
                    <div class="col-sm-12" style="float: left;">
                        
                        <div>
                            <span style="font-size: 18px;float:left;color:#81d3dc!important;margin-top:15px;" class="Theme_standard_clr">Deals - List for free !</span>
                           
                           
                            <div style="clear:both;"></div>
                        </div>
                        <div style="width:641px;word-wrap:break-word;">
                            <span style="font-size: 14px;" class="Theme_subheading-Clr ">
                                Use short and inspiring titles that state your deal clearly.<br /> Note : All your deals are listed inside the Group headline
                            </span>
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
                <div class="row">
                    <form data-bind="submit: $root.getCampaignByFilter">
                        <div class="col-sm-2" style="float:left;">
                            <div class="filter-block filterbloclkspos" style="margin-right: -10px">
                                <div class="form-group ">
                                    <input type="text" class="form-control " placeholder="Search..." data-bind="value: $root.searchFilterValue">
                                    <i class="fa fa-search search-icon" data-bind="click: $root.getCampaignByFilter"></i>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-sm-2 filterbloclkspos" style="float:left;">
                            <select class="form-control" style="float:right;height:36px;">
                                <option value="0">All Value</option>
                            </select>
                        </div>
                    </form>
                    <div class="col-sm-3" style="float:right;padding-top:3px; text-align:right">
                        <img class="dealsImage" src="/Content/Images/Dealsuicon.png">
                        <button class="btn btn-primary" data-bind="click:$root.addNewCampaign">
                                Create Deal
                            </button>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </script>
      <script>
          $("#deal_heading").css("cssText", "color:#fff!important;");
      </script>
        <!-- ko stopBinding: true -->
        @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
        <!-- /ko -->
        <!-- ko stopBinding: true -->
        @Html.Partial("~/Areas/Common/Views/Shared/_StripeChargeCustomerDialog.cshtml")
        <!-- /ko -->
        @section Scripts{
            <script src="~/Scripts/jquery.tokenize.js"></script>
            <script type="text/javascript">
                require(["Coupons/Coupons.view", "common/stripeChargeCustomer.view", "common/confirmation.view", "PhraseLibrary/phraseLibrary.view"]);
                $("#btnCoupons").css("background-color", "#34b9c7");

                $("#panelArea").css("display", "block");
            </script>
        }
