@{
    ViewBag.Title = "ManageCampaign";
    string adminClasses = "";
    string userClasses = "";
}
@if (!User.IsInRole("User"))
{
    userClasses = "displayNone";
}
else
{
    adminClasses = "displayNone";
}
<div data-bind="visible: $root.isEditorVisible()" style="display: none">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12" id="topArea">
                
                <ol class="breadcrumb">
                    <li><a href="/Dashboard/Index" class="my-navigator">Home</a></li>
                    <li><a data-bind="click:$root.CloseCouponsView" class="my-navigator">Coupon Promotion</a></li>
                </ol>
                <div class="clearfix">
                    <span class="pull-left Theme_standard_clr" style="padding-left: 0px; font-size: 28px;" data-bind="text: $root.CouponTitle"></span>
                    <span class="control-label bold heading-style pull-left" style="margin-top: 6px;margin-left: 40px;" data-bind="text: $root.StatusValue"></span>
                    <div style="float:right;margin-top:-5px;"><button data-bind="click: $root.CloseCouponsView" class="btn btn-default">Close</button></div>
                </div>
                
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-xs-6 pull-left validationSummaryContainer">
                        <ul data-bind="foreach: $root.errorList">
                            <li>
                                <a><span data-bind="text: name"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right top-page-ui" style="margin-right:5px;margin-bottom:5px;">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div style="">
                    <div class="no-header clearfix col-lg-9 form-horizontal" data-bind="with: $root.couponModel">
                        <div class="main-box" style="padding: 20px;">
                            <div class="col-lg-11" style="margin:auto;float:none !important">
                                <div class="pull-left ads-numbering-main">
                                    <div class="ads-numbering-box" data-bind="css: $root.previewScreenNumber() == 1 ? 'ads-selected-numbering-box' : '',click: $root.gotoScreen.bind(null,1)">
                                        1
                                    </div>

                                    <br />
                                    <span data-bind="css: $root.previewScreenNumber() == 1 ? 'ads-selected-numbering-text' : ''">Highlights <br /> & Saving</span>
                                </div>
                                <div class="pull-left ads-numbering-linebar" data-bind="css: $root.previewScreenNumber() == 6 ? 'ads-selected-numbering-box' : ''">

                              
                                </div>
                                <div class="pull-left ads-numbering-main">
                                    <div class="ads-numbering-box" data-bind="css: $root.previewScreenNumber() == 2 ? 'ads-selected-numbering-box' : '',click: $root.gotoScreen.bind(null,2)">
                                        2
                                    </div>

                                    <br />
                                    <span data-bind="css: $root.previewScreenNumber() == 2 ? 'ads-selected-numbering-text' : ''">Listing <br /> & Keywords</span>
                                </div>
                                <div class="pull-left ads-numbering-linebar" data-bind="css: $root.previewScreenNumber() == 6 ? 'ads-selected-numbering-box' : ''">

                                </div>
                                <div class="pull-left ads-numbering-main">
                                    <div class="ads-numbering-box" data-bind="css: $root.previewScreenNumber() == 3 ? 'ads-selected-numbering-box' : '',click: $root.gotoScreen.bind(null,3)">
                                        3
                                    </div>

                                    <br />
                                    <span data-bind="css: $root.previewScreenNumber() == 3  ? 'ads-selected-numbering-text' : ''">Fine print <br /> & Redeem</span>
                                </div>
                                <div class="pull-left ads-numbering-linebar" data-bind="css: $root.previewScreenNumber() == 6 ? 'ads-selected-numbering-box' : ''">

                                </div>
                                <div class="pull-left ads-numbering-main">
                                    <div class="ads-numbering-box" data-bind="css: $root.previewScreenNumber() == 4 ? 'ads-selected-numbering-box' : '',click: $root.gotoScreen.bind(null,4)">
                                        4
                                    </div>

                                    <br />
                                    <span data-bind="css: $root.previewScreenNumber() == 4 ? 'ads-selected-numbering-text' : ''">Branch <br /> & Images</span>
                                </div>
                                <div class="pull-left" style="width: 172px;">
                                    &nbsp;
                                </div>
                                <div class="pull-left ads-numbering-main">
                                    <a data-toggle="modal" data-target=".model_quizQ_ph">


                                        <div class="ads-numbering-box" style="background: rgb(104,179,89);">

                                            <img src="~/Content/Images/AD_Campaign_mobileStencil.png"  width="20px"/>
                                        </div>

                                        <br />
                                        <span>Preview</span>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <div class="main-box" style="padding: 20px;">
                            <div class="adsubHeading Theme_standard_clr"  data-bind="visible: $root.previewScreenNumber() == 1">
                                Attach new business using 2-for-1 or Discount offers
                            </div>
                            <div class="adsubHeading Theme_standard_clr" data-bind="visible: $root.previewScreenNumber() == 2">
                                Customers can redeem in store or in person
                            </div>
                            <div class="adsubHeading Theme_standard_clr" data-bind="visible: $root.previewScreenNumber() == 3">
                                Stipulate your terms
                            </div>
                            <div class="adsubHeading Theme_standard_clr" data-bind="visible: $root.previewScreenNumber() == 4">
                                Its all about image
                            </div>
                            <div class="col-lg-11" style="margin:auto;float:none !important;" data-bind="visible: $root.previewScreenNumber() == 1">
                              
                              
                               <div class="form-group" >
                                    <div class="col-lg-2" >
                                        <label for="txtCampaignDisplayName" class="control-label text-right tooltip-float floatNone defaultThemeTxtClr defaultImgUploadImageBtn" >Coupon Title</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea maxlength="36" style="height:34px;" name="Coupon Display Name" class="form-control  " id="txtCampaignDisplayName" placeholder="Coupon title (80 characters)" data-bind="value: CouponTitle,click: $root.selectJobDescription"></textarea>
</div>
                                   <div class="col-lg-1">
                                       <a id="P0" data-bind="visible:$root.selectedJobDescription()=== 'txtCampaignDisplayName',click:$root.openPhraseLibrary" style="padding: 4px 8px;display:none;" class="btn btn-primary pull-right">
                                           <i class="fa fa-lg"></i>&nbsp;....
                                       </a>
                                   </div>
                                    <div class="col-lg-2">
                                        <div class="bs-example-tooltips tooltip-float-width tooltip">
                                            <a class="input-group-addon" tabindex="-1" href="#" data-toggle="tooltip" title="" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;    padding: 0px;
                                             padding-top: 5px;" data-container="body" data-placement="right" data-content="Add a city" data-original-title="Hooray!">

                                                <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                            </a>
                                            <i class="fa fa-chevron-up" aria-hidden="true" style="color:#68b359;"></i>
                                            <span class="tooltiptext">Tooltip text</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn">Highlight # 1 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="highlightedfield1" rows="1" placeholder="max 72 characters" data-bind="value:HighlightLine1, click: $root.selectJobDescription" maxlength="72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P1" data-bind="visible:$root.selectedJobDescription()=== 'highlightedfield1',click:$root.openPhraseLibrary" style="padding: 4px 8px;display:none;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn">Highlight # 2 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="highlightedfield2" rows="1" placeholder="max 72 characters" data-bind="value: HighlightLine2, click: $root.selectJobDescription" maxlength=" 72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P2" data-bind="visible:$root.selectedJobDescription()=== 'highlightedfield2',click:$root.openPhraseLibrary" style="padding: 4px 8px;display:none;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn">Highlight # 3 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="highlightedfield3" rows="1" placeholder="max 72 characters" data-bind="value: HighlightLine3, click: $root.selectJobDescription" maxlength=" 72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P3" data-bind="visible:$root.selectedJobDescription()=== 'highlightedfield3',click:$root.openPhraseLibrary" style="padding: 4px 8px;display:none;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn">Highlight # 4 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="highlightedfield4" rows="1" placeholder="max 72 characters" data-bind="value: HighlightLine4, click: $root.selectJobDescription" maxlength=" 72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P4" data-bind="visible:$root.selectedJobDescription()=== 'highlightedfield4',click:$root.openPhraseLibrary" style="padding: 4px 8px;display:none;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn">Highlight # 5 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="highlightedfield5" rows="1" placeholder="max 72 characters" data-bind="value: HighlightLine5, click: $root.selectJobDescription" maxlength=" 72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P5" data-bind="visible:$root.selectedJobDescription()=== 'highlightedfield5',click:$root.openPhraseLibrary" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn">Currency Symbol </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <select class="form-control" style="width:50%!important;" id="ddpCorrectAns" data-bind="options: $root.CurrencyDropDown, optionsText: 'CurrencyName', optionsValue: 'CurrencyId', value: CurrencyId"></select>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn">Price</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="txtCampaignDesc" rows="1" placeholder="max 36 characters" data-bind="value: Price"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn"> Saving </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="txtCampaignDesc" rows="1" placeholder="max 36 characters" data-bind="value: Savings"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn" style="white-space:nowrap;"> Coupon expiry date</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" id="validFromDate" data-bind="datepicker:CouponExpirydate">
                                        @*<textarea class="form-control" id="txtCampaignDesc" rows="1" placeholder="max 36 characters" data-bind="datetimepicker:StartDateTime"  data-bind="value: CouponExpirydate"></textarea>*@
                                    </div>
                                </div>
                            </div>
                     
                            <div class="col-lg-11" style="margin:auto;float:none !important;    " data-bind="visible: $root.previewScreenNumber() == 2">
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn"> Coupon category</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="row">
                                            <div>
                                                <a href="#" id="couponCategorySelectorLink" class="btn btn-warning" style="margin-left:0px;" data-bind="click: $root.openProductCategoryDialog">
                                                    <i class="fa fa-lg"></i>&nbsp;Select Coupon Categories
                                                </a>
                                            </div>
                                            <div>
                                                <!-- ko template: { name: 'ListOfSelectedCouponCats' , foreach: $root.couponCategories } -->
                                                <!-- /ko -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn"> Coupon search keywords</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="txtCampaignDesc" rows="3"  placeholder="Type in keyword searches to help users find your coupon offer. Seperate with a comma " data-bind="value: SearchKeywords"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn"> Coupon can be issued</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="txtCampaignDesc" rows="1"  data-bind="value: CouponQtyPerUser" style=" width:50px; float: left; margin-right: 16px;" maxlength="2"></textarea>
                                        at this branch per user
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn"> Coupon listing mode</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="radio col-lg-12" style="text-align: left;">
                                            <input type="radio" name="optionsRadiosDelvTypes" value="1" id="optionsRadiosApplyFilterFree" data-bind="checked: CouponListingMode">
                                            <label for="optionsRadiosApplyFilterFree">
                                                <span style="color:red; font-weight:bold;">FREE</span> - Auto remove after 10 coupons issued or listed for 5 days
                                              
                                            </label>
                                            <span class="help-block text-right"></span>
                                        </div>
                                        <div class="radio col-lg-12" style="text-align: left;">
                                            <input type="radio" name="optionsRadiosDelvTypes" value="2" id="optionsRadiosApplyFilterOnce" data-bind="checked:CouponListingMode ">
                                            <label for="optionsRadiosApplyFilterOnce">
                                                <span class="defaultThemeTxtClr defaultImgUploadImageBtn" style="margin-left:0px;">UNLIMITED</span> - Listed for 30 days and issue unlimited coupons.
                                            </label>
                                            <span class="help-block text-right"></span>
                                        </div>
                                        <div class=" col-lg-12" style="text-align: left;    padding-left: 35px;">
                                         
                                            <label for="">
                                                <span class="defaultThemeTxtClr"></span>Select month any year to list this coupon
                                                <br /><br />   
                                                <select class="form-control" id="yearDropDown" data-bind="options: $root.YearRangeDropDown, optionsText: 'name', optionsValue: 'id', value: CouponActiveMonth,event:{ change: $root.OnchangeDateDD}"></select> 

                                            </label>
                                            <span class="help-block text-right"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-11" style="margin:auto;float:none !important;" data-bind="visible: $root.previewScreenNumber() == 3">
                                @*<div class="form-group formcontrol-bg" data-bind="visible: $root.isEnableVedioVerificationLink">
                                    <div class="col-lg-11">*@
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn wrapspace">Fine print # 1 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="fineprint1" rows="1" placeholder="max 72 characters" data-bind="value: FinePrintLine1,click:$root.selectJobDescription" maxlength=" 72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P0" data-bind="visible:$root.selectedJobDescription()=== 'fineprint1',click:$root.openPhraseLibrary" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn wrapspace">Fine print # 2 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="fineprint2" rows="1" placeholder="max 72 characters" data-bind="value: FinePrintLine2,click:$root.selectJobDescription" maxlength="72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P1" data-bind="visible:$root.selectedJobDescription()=== 'fineprint2',click:$root.openPhraseLibrary" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn wrapspace">Fine print # 3 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="fineprint3" rows="1" placeholder="max 72 characters" data-bind="value: FinePrintLine3,click:$root.selectJobDescription" maxlength="72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P2" data-bind="visible:$root.selectedJobDescription()=== 'fineprint3',click:$root.openPhraseLibrary" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn wrapspace">Fine print # 4 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="fineprint4" rows="1" placeholder="max 72 characters" data-bind="value: FinePrintLine4,click:$root.selectJobDescription" maxlength="72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P3" data-bind="visible:$root.selectedJobDescription()=== 'fineprint4',click:$root.openPhraseLibrary" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn wrapspace">Fine print # 5 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="fineprint5" rows="1" placeholder="max 72 characters" data-bind="value: FinePrintLine5,click:$root.selectJobDescription" maxlength="72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P4" data-bind="visible:$root.selectedJobDescription()=== 'fineprint5',click:$root.openPhraseLibrary" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn wrapspace" style=" font-size: 12px; ">How to redeem # 1 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="redeemline1" rows="1" placeholder="max 72 characters" data-bind="value: HowToRedeemLine1,click:$root.selectJobDescription" maxlength="72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P5" data-bind="visible:$root.selectedJobDescription()=== 'redeemline1',click:$root.openPhraseLibrary" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn wrapspace" style=" font-size: 12px; ">How to redeem # 2 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="redeemline2" rows="1" placeholder="max 72 characters" data-bind="value: HowToRedeemLine2,click:$root.selectJobDescription" maxlength="72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P6" data-bind="visible:$root.selectedJobDescription()=== 'redeemline2',click:$root.openPhraseLibrary" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn wrapspace" style=" font-size: 12px; ">How to redeem # 3 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="redeemline3" rows="1" placeholder="max 72 characters" data-bind="value: HowToRedeemLine3,click:$root.selectJobDescription" maxlength="72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P7" data-bind="visible:$root.selectedJobDescription()=== 'redeemline3',click:$root.openPhraseLibrary" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn wrapspace" style=" font-size: 12px; ">How to redeem # 4 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="redeemline4" rows="1" placeholder="max 72 characters" data-bind="value: HowToRedeemLine4,click:$root.selectJobDescription" maxlength="72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P8" data-bind="visible:$root.selectedJobDescription()=== 'redeemline4',click:$root.openPhraseLibrary" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-lg-2">
                                        <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn wrapspace" style=" font-size: 12px; ">How to redeem # 5 </label>
                                    </div>
                                    <div class="col-lg-7">
                                        <textarea class="form-control" id="redeemline5" rows="1" placeholder="max 72 characters" data-bind="value: HowToRedeemLine5,click:$root.selectJobDescription" maxlength="72"></textarea>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="P8" data-bind="visible:$root.selectedJobDescription()=== 'redeemline5',click:$root.openPhraseLibrary" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                            <i class="fa fa-lg"></i>&nbsp;....
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-11" style="margin:auto;float:none !important;   " data-bind="visible: $root.previewScreenNumber() == 4">
                                <div class="clearfix">
                                    
                                </div><br />
                                <div class="row">
                                    <div class="form-group" style="margin-top:10px;">
                                        <div class="col-lg-2">
                                            <label for="txtVerifyAnswer1" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn">Banner Images</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="col-lg-4">
                                                <div style="margin-top:5px;    text-align: center;cursor:pointer;">
                                                    @*<img style="height:90px;" data-bind="visible: couponImage1() == '' || couponImage1() == null"  src="/Content/Images/placeholder.png" onclick="showCouponDialog4();" />*@
                                                    <img style="height:90px;" data-bind="visible: couponImage1() != '' ,attr: { src: couponImage1 }" id="bannerImage1" data-toggle="modal" data-target="#damModel" onclick="changeIframeSrc(2)" />
                                                    <div style="    padding-top: 10px;    text-align: center;    font-size: 12px;    color: gray;">
                                                        (200 x 200 pixels)
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="fileUpload btn btn-primary" style="display:none;">
                                                    <span>Upload </span>
                                                    <input type="file" class="upload" id="campaignType_image_file1" data-bind="files: { onLoaded: $root.couponImage1Callback, fileFilter: 'image.*'}" />
                                                </div>
                                            </div>
                                          
                                            <div class="col-lg-4">
                                                <div style="margin-top:5px;    text-align: center;cursor:pointer;">
                                                    @*<img style="height:90px;" data-bind="visible: CouponImage2() == '' || CouponImage2() == null" src="/Content/Images/placeholder.png" onclick="showCouponDialog2();" />*@
                                                    <img style="height:90px;" data-bind="visible: CouponImage2() != '' && CouponImage2() != null ,attr: { src: CouponImage2 }" data-toggle="modal" data-target="#damModel" id="bannerImage2" onclick="changeIframeSrc(3)" />
                                                    <div style="    padding-top: 10px;    text-align: center;    font-size: 12px;    color: gray;">
                                                        (200 x 200 pixels)
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="fileUpload btn btn-primary" style="display:none;">
                                                    <span>Upload </span>
                                                    <input type="file" class="upload" id="campaignType_coupon_file2" data-bind="files: { onLoaded: $root.CouponImage2Callback, fileFilter: 'image.*'}" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div style="margin-top:5px;    text-align: center;cursor:pointer;">
                                                    @*<img style="height:90px;" data-bind="visible: CouponImage3() == '' || CouponImage3() == null" src="/Content/Images/placeholder.png" onclick="showCouponDialog3();" />*@
                                                    <img style="height:90px;" data-bind="visible: CouponImage3() != '' && CouponImage3() != null,attr: { src: CouponImage3 }" id="bannerImage3" data-toggle="modal" data-target="#damModel" onclick="changeIframeSrc(4)" />
                                                    <div style="    padding-top: 10px;    text-align: center;    font-size: 12px;    color: gray;">
                                                        (200 x 200 pixels)
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="fileUpload btn btn-primary" style="display:none;">
                                                    <span>Upload </span>
                                                    <input type="file" class="upload" id="campaignType_coupon_file3" data-bind="files: { onLoaded: $root.CouponImage3Callback, fileFilter: 'image.*'}" />
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group" style="margin-top:10px;">
                                        <div class="col-lg-2">
                                            <label for="txtVerifyAnswer1" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn">Upload Logo</label>
                                        </div>
                                        <div class="col-lg-8">
                                              <div class="col-lg-4">
                                                <div style="margin-top:5px;    text-align: center;cursor:pointer;">
                                                    @*<img style="height:90px;" data-bind="visible: LogoImageBytes() == '' || LogoImageBytes() == null" src="/Content/Images/placeholder.png" onclick="showCouponDialog1();" />*@
                                                    @*<img style="height:90px;" data-bind="visible: LogoImageBytes() != '' &&  LogoImageBytes() != null ,attr: { src: LogoImageBytes() }" onclick="showCouponDialog1();" />*@
                                                    <img style="height:90px;" data-bind="visible: LogoImageBytes() != '' &&  LogoImageBytes() != null ,attr: { src: LogoImageBytes() }" id="imgLogo" data-toggle="modal" data-target="#damModel" onclick="changeIframeSrc(1)" />
                                                    <div style="    padding-top: 10px;    text-align: center;    font-size: 12px;    color: gray;">
                                                        (200 x 200 pixels)
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="fileUpload btn btn-primary" style="display:none;">
                                                    <span>Upload </span>
                                                    <input type="file" class="upload" id="campaignType_coupon_file1" data-bind="files: { onLoaded: $root.campaignImageCallback, fileFilter: 'image.*'}" />
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                               <div class="row">
                                   <div class="form-group">
                                       <div class="col-lg-2">
                                           <label for="txtCampaignDesc" style="margin-right:21px!important;margin-top:3px!important;" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn padding_top">Select Branch Address </label>
                                       </div>
                                       <div class="col-lg-7 padding_left19">
                                           <select class="form-control" id="yearDropDown" data-bind="options: $root.branchLocations, optionsText: 'BranchTitle', optionsValue: 'BranchId', value: LocationBranchId, event:{ change: $root.locationChanged}"></select>
                                       </div>

                                       <div class="col-lg-1">
                                           <a id="displayBrabchlocatuion" data-bind="click:$root.openBranchLocation" style="padding: 4px 8px;" class="btn btn-primary pull-right">
                                               <i class="fa fa-lg"></i>&nbsp;....
                                           </a>
                                       </div>






                                       <div class="col-lg-2">
                                          
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <div class="col-lg-2">
                                           <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn padding_top">Branch Address </label>
                                       </div>
                                       <div class="col-lg-7 padding_left19">
                                           <label id="txtCampaignDesc" data-bind="text: LocationLine1"></label>
                                           @*<textarea class="form-control" id="txtCampaignDesc" rows="1" placeholder="max 72 characters" data-bind="value: LocationLine1" maxlength="72" readonly="readonly"></textarea>*@
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <div class="col-lg-2">
                                           <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn padding_top">optional </label>
                                       </div>
                                       <div class="col-lg-7 padding_left19">
                                           <label id="txtCampaignDesc" data-bind="text: LocationLine2"></label>
                                           @*<textarea class="form-control" id="txtCampaignDesc" rows="1" placeholder="max 72 characters" data-bind="value: LocationLine2" maxlength="72" readonly="readonly"></textarea>*@
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <div class="col-lg-2">
                                           <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn padding_top">City </label>
                                       </div>
                                       <div class="col-lg-7 padding_left19">
                                           <label id="txtCampaignDesc" data-bind="text:LocationCity"></label>
                                           @*<textarea class="form-control" id="txtCampaignDesc" rows="1" placeholder="max 36 characters" data-bind="value: LocationCity" maxlength="36" readonly="readonly"></textarea>*@
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <div class="col-lg-2">
                                           <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn padding_top">State </label>
                                       </div>
                                       <div class="col-lg-7 padding_left19">
                                           <label id="txtCampaignDesc" data-bind="text: LocationState"></label>
                                           @*<textarea class="form-control" id="txtCampaignDesc" rows="1" placeholder="max 36 characters" data-bind="value: LocationState" maxlength="36" readonly="readonly"></textarea>*@
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <div class="col-lg-2">
                                           <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn padding_top">Zip </label>
                                       </div>
                                       <div class="col-lg-7 padding_left19">
                                           <label id="txtCampaignDesc" data-bind="text: LocationZipCode"></label>
                                           @*<textarea class="form-control" id="txtCampaignDesc" rows="1" placeholder="max 36 characters" data-bind="value: LocationZipCode" maxlength="36" readonly="readonly"></textarea>*@
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <div class="col-lg-2">
                                           <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn padding_top">Geo location Lat</label>
                                       </div>
                                       <div class="col-lg-7 padding_left19">
                                           <label id="txtCampaignDesc" data-bind="text: LocationLAT"></label>
                                           @*<textarea class="form-control" id="geolocation" rows="1" placeholder="max 72 characters" data-bind="value: LocationLAT" readonly="readonly" maxlength="72"></textarea>*@
                                       </div>
                                    

                                   </div>
                                   <div class="form-group">
                                       <div class="col-lg-2">
                                           <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn padding_top">Geo location Long</label>
                                       </div>
                                       <div class="col-lg-7 padding_left19">
                                           <label id="txtCampaignDesc" data-bind="text:LocationLON"></label>
                                           @*<textarea class="form-control" id="geolocationlong" rows="1" placeholder="max 72 characters" data-bind="value: LocationLON" readonly="readonly" maxlength="72"></textarea>*@
                                       </div>
                                   
                                   </div>
                                   <div class="form-group">
                                       <div class="col-lg-2">
                                           <label for="txtCampaignDesc" class="control-label text-right tooltip-float floatNone defaultImgUploadImageBtn padding_top">Phone no </label>
                                       </div>
                                       <div class="col-lg-7 padding_left19">
                                           <label id="txtCampaignDesc" data-bind="text:LocationPhone"></label>
                                           @*<textarea class="form-control" id="txtCampaignDesc" rows="1" placeholder="max 36 characters" data-bind="value: LocationPhone" readonly="readonly"></textarea>*@
                                       </div>
                                   </div>
                               </div>

                            </div>
                       
                            <div class="clearfix">

                            </div>

                            <div class="next-back-btns col-lg-11" style="margin:auto;float:none !important">
                                <div class="form-group">
                                    <div class="col-lg-3">
                                        &nbsp;
                                    </div>
                                    <div class="col-lg-5">
                                        &nbsp;
                                    </div>

                                    <div class="col-lg-2 pull-right">
                                        <button class="btn  btn-success gtild-color" id="btnNext" data-bind="visible:$root.previewScreenNumber() < 4,click:$root.nextPreviewScreen">Next</button>
                                    </div>
                                    <div class="col-lg-2 pull-right text-right">
                                        <button class="btn  btn-success gtild-color" id="btnBack" data-bind="visible:$root.previewScreenNumber() > 1, click:$root.backScreen">Back</button>
                                    </div>
                                    <div class="clearfix">

                                    </div>
                                </div>

                            </div>
                            <div class="clearfix">

                            </div>
                           
                        </div>
                    </div>

                    <div class="col-lg-3 form-horizontal main-box" style="    padding: 20px;    height: 1027px;    background: rgb(220,220,220);
    margin-left: 0px !important;">
                        <div class="col-xs-12" style="text-align: right; padding-right:0;margin-bottom:10px;">
                            <div class="pull-left" style="    width: 85%;
    text-align: left;">
                                <button class="btn  btn-success btnSubmitApproval" id="btnSubmitForApproval2" data-bind="click:$root.submitCampaignData, visible: $root.isNewCampaign() " style="width:80%;">Submit for Approval</button>


                                <button class="btn  btn-info " id="btnStopAndTerminate" data-bind=" click:$root.terminateCampaign,visible: $root.isTerminateBtnVisible " style="width: 80%;margin-bottom:10px;margin-top:7px;">Stop & Terminate Early</button>

                                <button class="btn  btn-danger " id="btnArchive" data-bind=" click:$root.ArchiveCampaign,visible: $root.isShowArchiveBtn " style="width: 80%;margin-bottom:10px;">Archive Campaign</button>

                                <button class="btn  btn-info " id="btnCopyCampaign" data-bind=" click:$root.copyCampaign  " style="display:none;">Create Copy - New Campaign</button>@*visible: $root.isNewCampaignVisible*@
                                <button class="btn  btn-success" id="btnPauseCampaign" data-bind="click:$root.changeStatus(4)" style="display:none;">Pause</button>
                                <button class="btn  btn-success" id="btnResumeCampagin" data-bind="click:$root.changeStatus(3)" style="display:none;">Resume</button>
                            </div>

                            @*<button class="btn  btn-warning" id="saveBtn" data-bind="click:$root.saveCampaignData, enable: $root.hasChangesOnQuestion, css: { 'btn-warning': $root.hasChangesOnQuestion }">Save</button>*@
                            <button class="crossbtn pull-right" id="btnCancel" data-bind="click: $root.closeNewCampaignDialog">X</button>
                            <div class="clearfix"></div>
                        </div>


                        <div class="clearfix">
                        </div>


                    </div>
                    <div class="clearfix">

                    </div>
                </div>

            </div>
       
        </div>
    </div>

</div>
@Html.Partial("~/Areas/Coupons/Views/Coupons/_addEditCouponCategories.cshtml")


<script id="ListOfSelectedCouponCats" type="text/html">
    <!--ko if:IsSelected == true-->
    <span data-bind="text: Name">
    </span>
    <span>, </span>
    <!--/ko-->
</script>
<script>

    

    function showUploadDialog() {
        $("#logo_image_file").click();

    }
    function showCouponDialog1() {
        $("#campaignType_coupon_file1").click();

    }
    function showCouponDialog2() {
        $("#campaignType_coupon_file2").click();

    }
    function showCouponDialog3() {
        $("#campaignType_coupon_file3").click();

    }
    function showCouponDialog4() {
        $("#campaignType_image_file1").click();

    }
    var logoImage = "";
    var bannerImage1 = "";
    var bannerImage2 = "";
    var bannerImage3 = "";
    var mode = 1;
    function changeIframeSrc(mode1) {
        $("#iframe").attr("src", "/DamImages?mode=" + mode1);
        mode = mode1;
        console.log(mode);
    }
    function iframeLoaded() {
        var iframeBody = $('body', $('#iframe')[0].contentWindow.document);
        $(iframeBody).on('click', 'img', function (event) {
            console.log(mode);
            if (mode == 1) {
                $("#imgLogo").attr("src", this.src).change();
                logoImage = this.src;
                $(".close").click();
            } else if (mode == 2) {
                $("#bannerImage1").attr("src", this.src).change();
                bannerImage1 = this.src;
                $(".close").click();
            } else if (mode == 3) {
                $("#bannerImage2").attr("src", this.src).change();
                bannerImage2 = this.src;
                $(".close").click();
            } else if (mode == 4) {
                $("#bannerImage3").attr("src", this.src).change();
                bannerImage3 = this.src;
                $(".close").click();
            }
        });
    }

</script>

<!-- Modal -->
<div class="modal fade" id="damModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
            </div>
            <div class="modal-body">
                <iframe src="~/DamImages?mode=1" style="width:100%;height:600px;border:none;" id="iframe"></iframe>
            </div>
            <div class="modal-footer">
              </div>
        </div>
    </div>
</div>