@{
    ViewBag.Title = "Store Details";
}
<div data-bind="visible: $root.isEditorVisible()" style="display: none">
    <div class="col-lg-12">
        <div class="row" id="user-profile">
            <div class="col-lg-12 col-md-8 col-sm-8" style="padding-bottom: 10px;">
                <div class="clearfix ">
                    <div class="col-xs-12" style="text-align: right; padding-right:23px;margin-bottom:3px;margin-top:10px;">
                        <div style="float:right;margin-top:-9px;"><img src="/Content/Images/Close_Button.png" data-bind="click:$root.closeEditDialog" style="width:20px;height:20px;float:right;cursor:pointer;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:8px;padding-right:41px;">
                <div class="main-box clearfix" id="tabsHeader">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs" style="display:none;">
                            <li class="active" id="generalInfoTab"><a href="#tab-generalinfo" data-toggle="tab">General Info</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-generalinfo">
                                <div class="col-lg-12 form-horizontal">
                                    <h3 class="group-header" style="margin-top:20px;">
                                        Marketing Deal & Stories
                                    </h3>
                                    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom:20px">
                                        @*<div style="padding-left:0px;padding-right:0px;padding-bottom:5px; min-height: 318.90px;background-color:#f9f9f9;">*@
                                            @*<div class="col-lg-4 text-left">
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4">
                                                            <label class="control-label" style="padding-top:10px;padding-left:10px;font-weight:bold">Account Profile</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Title:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:FirstName" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">E-mail address:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:Email" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Gender:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:Gender==1?'Male':'Female'" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right" style="font-size:11px">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Mobile no:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:Mobile" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right" style="font-size:11px">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Date of birth:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="dateString:DateOfBirth,datePattern: 'DD/MM/YYYY'" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">ID no:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:PassportNumber" style="font-size:small"></label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-lg-4 text-left">
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:10px;padding-left:10px;font-size:11px;font-size:11px;color:lightgray">Business Name:</label>
                                                        </div>
                                                        <div class="col-lg-8" style="padding-top:10px;">
                                                            <label data-bind="text:CompanyName" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;font-size:11px;color:lightgray">Website:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <a data-bind="text:WebsiteLink,attr: { href: WebsiteLink }" target="_blank" style="font-size:11px"></a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;font-size:11px;color:lightgray">Sale phone no:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:SalesPhone" style="font-size:small"></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Company Type:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:$root.company()" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;font-size:11px;font-size:11px;color:lightgray">Company Reg No:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:CompanyRegistrationNo" style="font-size: small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Sales Tex No:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:VatNumber" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">B.Start Date:</label>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label data-bind="dateString:BusinessStartDate,datePattern: 'DD/MM/YYYY'" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Credit Card:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:StripeCustomerId==null ?'No':'Yes'" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 text-left">
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-6">
                                                            <label class="control-label" style="padding-top:10px;padding-left:10px;font-weight:bold">Billing Address</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing Address 1:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:BillingAddressLine1" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing City:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:BillingCity" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing State:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:BillingState" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing Country:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label style="font-size:small" data-bind="text:BillingCountryName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing E-mail:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:BillingEmail" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="col-lg-4 text-right">
                                                            <label class="control-label" style="padding-top:0px;padding-left:10px;font-size:11px;color:lightgray">Billing phone no:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <label data-bind="text:BillingPhone" style="font-size:small"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class=" col-lg-4 text-right">
                                                            <label style="font-size:11px;color:lightgray">Logo:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <img id="vehicleImage" alt="" style="width:60%;height:auto" data-bind="attr:{src:Logo!=null && Logo.startsWith('http') ? Logo : '/' + Logo }" />
                                                        </div>
                                                    </div>
                                                </div>*@
                                        @*</div>*@
                                    </div>
                                    <div data-bind="with: $root.selectedCoupon">

                                        <div class="col-lg-12">
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                        <label class="control-label text-right tooltip-float">Deal Title</label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" readonly class="form-control" data-bind="value:title">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-2">

                                            </div>
                                            <div class="col-lg-12" style="margin-top:20px; margin-left:80px;">
                                                <div class="col-lg-9 borderPanel " style="margin-bottom:20px;">
                                                    <header class="main-box-header clearfix" style="padding-right:0px;padding-left:0px">

                                                        <div class="filter-block pull-left">
                                                            <div class="pull-left">
                                                                <span>Deal headlines</span>
                                                            </div>
                                                            <div class="pull-right" style="margin-left:17px;">
                                                                <span>All deal lines are listed inside the group deal listing.<br />Create upto 20 deal lines in order of appearer of appearance.</span>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>

                                                    </header>
                                                    <div class="clearfix">
                                                        <div class="table-responsive">
                                                            <table id="subCategoriesTable" class="table table-striped table-hover">
                                                                <thead>
                                                                    <tr>

                                                                        <th class="col-lg-4 GridHeaderFont_size" style="padding-left:7px;"><span>Deal Headline</span></th>
                                                                        <th class="col-lg-2 GridHeaderFont_size"> <span>Now&nbsp;<span data-bind="text:$root.currencyCode"></span><span></span></span></th>
                                                                        <th class="col-lg-1 GridHeaderFont_size"> <span>Was&nbsp;<span data-bind="text:$root.currencyCode"></span></span></th>
                                                                        <th class="col-lg-2 GridHeaderFont_size"> <span>Url<span></span></span></th>
                                                                        <th class="col-lg-2 GridHeaderFont_size"> <span>Expiry<span></span></span></th>

                                                                        @*<th class="col-lg-1"></th>
                                        <th class="col-lg-2">&nbsp;</th>*@

                                                                    </tr>
                                                                </thead>
                                                                <tbody data-bind="foreach: $root.couponsPriceOption">
                                                                    <tr>

                                                                        <td data-bind="text: Description"></td>
                                                                        <td data-bind="text: Price"></td>
                                                                        <td data-bind="text: Savings"></td>
                                                                        <td data-bind="text: URL"></td>
                                                                        <td data-bind="dateString:ExpiryDate,datePattern: 'DD/MM/YYYY'"></td>

                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-campaign-left  Float-Left">
                                                        <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Deal Group</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Highlights</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <textarea readonly class="form-control" rows="4" style="resize:none" data-bind="value:highlightLine1"></textarea>
                                                    @*<input type="text" readonly class="form-control" data-bind="value:highlight2">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Fine Print</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <textarea readonly class="form-control" rows="4" style="resize:none" data-bind="value:finePrintLine1"></textarea>
                                                    @*<input type="text" readonly class="form-control" data-bind="value:printLine1">*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Submission Date</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="form-control" data-bind="dateString:submissionDate,datePattern: 'DD/MM/YYYY'">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-campaign-left  Float-Left">
                                                    <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Listing & Keywords</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Deal Categories</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:categories">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Deal Search Keywords</label>
                                                </div>
                                                <div class="col-lg-6">

                                                    <textarea readonly class="form-control" style="resize:none" data-bind="value:searchKeywords"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-campaign-left  Float-Left">
                                                        <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Slider Images</label>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:couponimage1()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:CouponImage2()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:CouponImage3()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:CouponImage4()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:CouponImage5()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-right">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img id="vehicleImage" alt="" style="width: auto;height:auto;width:400px;" data-bind="attr:{src:CouponImage6()}" />
                                                        <h5><span></span></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-4 text-campaign-left  Float-Left">
                                                    <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Call for action options</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Landing Page Url</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:buyitLandingPageUrl">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-4 text-right">
                                                    <label class="control-label text-right tooltip-float">Button Label</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" readonly class="form-control" data-bind="value:buyitBtnLabel">
                                                </div>

                                                <div class="col-lg-1">
                                                    <a id="displayBrabchlocatuion" target="_blank" data-bind="attr: { href: buyitLandingPageUrl }" style="padding: 4px 8px;" class="btn btn-primary">
                                                        <i class="fa fa-lg"></i>&nbsp;Open Link
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="form-group">
                                                    <div class="col-lg-4 text-campaign-left  Float-Left">
                                                        <label class="control-label text-right tooltip-float font20 floatNone" style="float:left !important;    margin-left: 6px; ">Branch Address</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 text-right">
                                                    <label style="display:none" class="control-label text-right tooltip-float">Branch Address</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label id="lblAddressline1"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-6">
                                                    <lable id="lbloptional"></lable>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-6">
                                                    <lable id="lblcity"></lable>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-6">
                                                    <lable id="lblState"></lable>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-6">
                                                    <lable id="lblZip"></lable>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-6">
                                                    <lable id="lblLat"></lable>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="col-lg-6">
                                                    <lable id="lblLong"></lable>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <div class="col-lg-6">
                                                    <lable id="lblPhone"></lable>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div style="padding-left:0px;padding-right:0px;padding-bottom:5px;padding:15px; min-height: 128.90px;background-color:#f9f9f9">
                                                <div class="col-lg-9">
                                                    <div class="form-group">
                                                        <div class="col-lg-4 text-right">

                                                            <label class="control-label text-right tooltip-float">Marked for Marketing & Stories</label>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            
                                                                <div class="form-group" style="margin-left:0;margin-top:6px;">
                                                                    <div class="checkbox-nice ">
                                                                        <input type="checkbox" name="chkreceiveDeals" data-bind="checked:IsMarketingStories" id="chkreceiveDeals">
                                                                        <label for="chkreceiveDeals">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="form-group">
                                                        <div class="col-lg-4 text-right">

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button class="btn  btn-success" id="saveBtn" data-bind="click:$root.onSaveCoupon">Save Changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
